    #dashBoardPage {
        h2 {
            font-size: 12px;
            color: maroon;
            font-weight: 600
        }
    }
    
    #dashBoardPage {
        .scrolldashboard {
            height: 356px;
            overflow-y: scroll;
            min-height: 350px;
        }
    }
    
    #dashBoardPage {
        .date {
            img {
                width: 54px;
                height: 48px;
            }
        }
    }