<div class="right_col">
    <div class="panel-group">
        <div class="panel-collapse collapse in">
            <div class="panel-default regValheader" style="margin-top: -12px;box-shadow: 2px 2px 6px #ccc;" is-open="page.model.opendiv">
                <div class="panel-heading" style="padding: 13px 0px 30px;color: rgb(160, 2, 1);border: 1px solid #ccc">
                    <div class="col-lg-2" style="font-size: 17px;font-weight: bold;cursor:pointer;" ng-click="page.model.panelbodyhide=!page.model.panelbodyhide">
                        No profile grading <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
                    </div>
                    <div class="col-lg-3" style="color:black;">
                        <div style="font-size:13px;" class="col-lg-10">
                            <md-radio-group ng-change="page.model.panelbodyhide=true" name="rbtnGender" layout="row" ng-model="page.model.paidType" class="md-block" flex-gt-sm>
                                <md-radio-button value="N" class="md-primary">No grade</md-radio-button>
                                <md-radio-button value="E" class="md-primary">Edit grade</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="col-lg-1">
                            <img src="src\images\straightline.png" style="height:33px;margin: -5px;color: maroon;"></img>
                        </div>
                    </div>
                    <div class="col-lg-3" style="color:black;">
                        <div style="font-size:13px;" class="col-lg-10">
                            <md-radio-group name="rbtnGender" ng-change="page.model.panelbodyhide=true" layout="row" ng-model="page.model.rbtnGender" class="md-block" flex-gt-sm>
                                <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                <md-radio-button value="1" class="md-primary">Male</md-radio-button>
                                <md-radio-button value="2">Female</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="col-lg-1" style="margin-left: 5%;">
                            <img src="src\images\straightline.png" style="height:33px;margin: -5px;color: maroon;"></img>
                        </div>
                    </div>
                    <div class="col-lg-3" style="color:black;">
                        <div style="font-size:13px;" class="col-lg-10">
                            <md-radio-group name="rbtnGender" ng-change="page.model.panelbodyhide=true" layout="row" ng-model="page.model.rbtnPaymentStatus" class="md-block" flex-gt-sm>
                                <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                <md-radio-button value="372" class="md-primary">Paid</md-radio-button>
                                <md-radio-button value="373">Unpaid</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="col-lg-1" style="margin-left: 5%;">
                            <img src="src\images\straightline.png" style="height:33px;margin: -5px;color: maroon;"></img>
                        </div>
                    </div>
                    <div class="col-lg-1" style="color:black;">
                        <md-checkbox ng-change="page.model.panelbodyhide=true" ng-model="page.model.ApplicationStatus">Active</md-checkbox>
                    </div>
                </div>
                <div class="panel-body" ng-show="page.model.panelbodyhide">
                    <div class="row">
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Profile ID</label>
                            <div>
                                <input type="text" class="form-control" ng-model="page.model.profileID">
                            </div>
                        </div>
                        <!-- <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Application status 	</label>
                            <div>
                                <select multiselectdropdown class="smalldropdown" ng-model="page.model.ApplicationStatus" multiple ng-options="item.value as item.label for item in page.model.applicationStatusarray"></select>
                            </div>
                        </div> -->
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Grading Type</label>
                            <div>
                                <select multiselectdropdown class="smalldropdown" ng-model="page.model.gradingType" multiple ng-options="item.value as item.label for item in page.model.gradingTypeArr"></select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Grading</label>
                            <div>
                                <select multiselectdropdown class="smalldropdown" ng-model="page.model.grading" ng-options="item.value as item.label for item in page.model.profileGrade"></select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Region</label>
                            <div>
                                <select multiselectdropdown ng-change="page.model.regionChange(page.model.Region);" class="smalldropdown" ng-model="page.model.Region" multiple typeofdata="'Regionofbranches'"></select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Branch</label>
                            <div>
                                <select multiselectdropdown pagetype="'search'" class="smalldropdown" ng-model="page.model.branch" multiple ng-options="item.value as item.label for item in page.model.Brancharray"></select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Caste</label>
                            <div>
                                <select multiselectdropdown class="smalldropdown" ng-model="page.model.caste" multiple ng-options="item.value as item.label for item in page.model.Castearray"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <br>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Owner of profile</label>
                            <div>
                                <select multiselectdropdown class="smalldropdown" ng-model="page.model.ProfileOwner" multiple ng-options="item.value as item.label for item in page.model.ProfileOwnerarray"></select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">DOR from</label>
                            <div>
                                <custom-datepicker name="date" ng-model="page.model.dorFrom" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">DOR to</label>
                            <div>
                                <custom-datepicker name="date" ng-model="page.model.dorTo" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="col-lg-3 form-group">
                            <md-checkbox style="margin-top: 9%;" ng-model="page.model.isConfidential">IsConfidential</md-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <input type="button" class="btn btn-danger" style="margin-top: 11%;" value="Submit" ng-click="page.model.getNogradingprofiles(1);">
                            <input type="button" class="btn btn-default" style="margin-top: 11%;margin-left: 11%;" value="Reset" ng-click="page.model.reset();">
                        </div>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
    <complex-grid-new gid="'id1'" model="page.model.grid1" config="page.model.grid1"></complex-grid-new>

</div>
<script type="text/ng-template" id="gradingPopup.html">
    <div class="modal-header header">
        <center>To view Profile <a href="javascript:void(0);" ng-click="page.model.ViewProfile(page.model.profileIDpopup);">{{page.model.profileID}}</a></center>
        <div class="pull-right">
            <a href="javascript:void(0);" ng-click="page.model.closemainpopup();" style="padding:7px;font-size: 18px;
            font-weight: bold;">X</a>
        </div>
    </div>
    <div class="modal-body" style="line-height: 35px;">
        <div class="row">
            <div class="col-lg-4"> <label for="photoGrade" class="control-label pull-right">Family Grade</label></div>
            <div class="col-lg-6">
                <select multiselectdropdown class="smalldropdown" ng-model="page.model.Familygrading" ng-options="item.value as item.label for item in page.model.profileGrade"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"> <label for="photoGrade" class="control-label pull-right">Photo Grade</label> </div>
            <div class="col-lg-6">
                <select multiselectdropdown class="smalldropdown" ng-model="page.model.photoGrading" ng-options="item.value as item.label for item in page.model.profileGrade"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"> <label for="photoGrade" class="control-label pull-right">Education Grade</label> </div>
            <div class="col-lg-6">
                <select multiselectdropdown class="smalldropdown" ng-model="page.model.educationGrading" ng-options="item.value as item.label for item in page.model.profileGrade"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"> <label for="photoGrade" class="control-label pull-right">Profesion Grade</label> </div>
            <div class="col-lg-6">
                <select multiselectdropdown class="smalldropdown" ng-model="page.model.professionGrading" ng-options="item.value as item.label for item in page.model.profileGrade"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"> <label for="photoGrade" class="control-label pull-right">Property Grade</label> </div>
            <div class="col-lg-6">
                <select multiselectdropdown class="smalldropdown" ng-model="page.model.propertyGrading" ng-options="item.value as item.label for item in page.model.profileGrade"></select>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <input type="button" class="btn btn-danger" name="submit" value="Submit" ng-click="page.model.updateGrades();">
        <input type="button" class="btn btn-default" name="Cancel" value="Cancel" ng-click="page.model.closemainpopup();">
    </div>
</script>

<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .heightcls {
        height: 230px;
    }
    
    .sno {
        width: 83px;
    }
    
    .header {
        background-color: #eaf35e;
        font-weight: 800;
    }
</style>