<div class="right_col myprofile" role="main" id="marketingverification">
    <div class="panel-group">
        <div class="panel-collapse collapse in">
            <div class="panel-default regValheader" is-open="page.model.opendiv">
                <div class="panel-heading" style=" color: rgb(160, 2, 1);">
                    <h4 class="panel-title"> Market Ticket Verification
                    </h4>
                </div>
                <form accessible-form name="marketingverificationid" novalidate role="form" ng-submit="page.model.submitmarktingreports();">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="All Profileid" class="classlabelverify">Region</label>
                                <div>
                                    <md-radio-group name="rbtnregional" layout="row" ng-model="page.model.rbtnregional" class="md-block" flex-gt-sm>
                                        <md-radio-button value="" class="md-primary">All</md-radio-button>
                                        <md-radio-button value="408"> Ap</md-radio-button>
                                        <md-radio-button value="409"> TN</md-radio-button>
                                        <md-radio-button value="410">KT</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label for="All Profileid" class="classlabelverify">Branch</label>
                                <div>
                                    <select name="ticketowner" class="smalldropdown col-lg-5" typeofdata="'Branch'" multiple ng-model="page.model.tmarketingbranch" multiselectdropdown>   
                               </select>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <label for="All Profileid" class="classlabelverify">Employee</label>
                                <div>
                                    <select name="ticketowner" class="smalldropdown col-lg-5" typeofdata="'EmpNames'" multiple ng-model="page.model.ticketmarketowner" multiselectdropdown>   
                               </select>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <label for="All Profileid" class="classlabelverify">Mkt Ticket Verified Ticket</label>
                                <div>
                                    <md-radio-group name="mkttktverified" layout="row" ng-model="page.model.mkttktverified" class="md-block" flex-gt-sm>
                                        <md-radio-button value="1"> Yes</md-radio-button>
                                        <md-radio-button value="0">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="All Profileid" class="classlabelverify">Marketed </label>
                                <div>
                                    <md-radio-group name="marktedvalue" layout="row" ng-model="page.model.marktedvalue" class="md-block" flex-gt-sm>
                                        <md-radio-button value="1"> Yes</md-radio-button>
                                        <md-radio-button value="0">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                <label for="All Profileid" class="classlabelverify">Amount</label>
                                <div>
                                    <input type="text" style="width:200px" class="form-control" ng-model="page.model.txtmarketingamount"></input>
                                </div>
                            </div> -->
                        </div>
                        <br>
                        <div class="form-group text-center" style="border-top: 1px solid #ddd;padding-top: 1%;">
                            <button type="submit" class="button_custom" style="display:initial;">Submit</button>
                            <input type="reset" class="button_custom button_custom_reset resetCls" value="Reset" ng-click="page.model.resetmarketverification();">
                        </div>
                        <br>
                    </div>
                </form>

                <br>
                <div>
                    <complex-grid ng-show="page.model.data.length>0" model="page.model" config="page.model"></complex-grid>
                </div>
            </div>
        </div>
    </div>
</div>