.test {
  height: 20px; }

#marketingverification .smalldropdown {
  width: 200px !important;
  height: 33px;
  cursor: pointer;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  text-overflow: ellipsis;
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1px; }
#marketingverification .resetCls {
  display: initial;
  margin-left: 2%; }
#marketingverification .regValheader {
  margin-top: -12px;
  box-shadow: 2px 2px 6px #ccc;
  border: 1px solid #ccc; }
#marketingverification .panel-title {
  color: #b10c0c; }
#marketingverification input[type="text"],
#marketingverification .multiselect {
  color: #000 !important;
  border: 1px solid #ADA2A2 !important;
  max-width: 300px;
  width: 100%; }
#marketingverification label {
  margin-bottom: 0px; }
#marketingverification .panel-body {
  padding: 1% 3% 0 3%; }
#marketingverification .spanHdr {
  padding-left: 4%; }
#marketingverification .settled {
  background-color: #17F067; }
#marketingverification .Deleted {
  background-color: #BCC3BE; }
#marketingverification .closed {
  background-color: #C8E6E6; }
#marketingverification .input[type=image]::before {
  content: "Read this -"; }
#marketingverification .backtoSearchCls {
  color: #ffffff;
  background-color: #28a4c9;
  margin-left: 7%; }
#marketingverification .linkdisabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6; }
#marketingverification .arrow::after {
  content: '-->';
  margin-left: 16%; }
#marketingverification .Sno {
  width: 78px; }
#marketingverification .Counts {
  width: 111px; }

.myregvaliprofile .edit_page_details_item_descsearch {
  padding: 4px 0;
  background-size: 522px auto;
  background-position: -29% center;
  position: relative; }
.myregvaliprofile .edit_page_details_item_descsearch h6 {
  float: left;
  width: 30%;
  position: relative;
  color: #7a7a7a;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 20px;
  text-align: left; }
.myregvaliprofile .edit_page_details_item_descsearch h6:after {
  content: ":";
  position: absolute;
  right: 10px; }
.myregvaliprofile .edit_page_details_item_descsearch h5 {
  float: left;
  color: #000;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.myprofileheaderpopup {
  background-color: rgba(197, 205, 50, 0.42);
  margin-bottom: 10px;
  margin-top: -10px; }

.closecls {
  padding-right: 1% !important; }

.myprofilepopupdesign {
  margin-left: 60px;
  margin-right: 60px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f6f3ea; }

.myprofilefooterlinks {
  font-size: 14px;
  padding: 4px;
  line-height: 2.1; }

#marketingverification .ProfileOwner {
  width: 210px; }
#marketingverification .TicketHistoryID {
  width: 114px; }
#marketingverification .headerStyles {
  font-size: 14px; }
#marketingverification .ProfileID {
  width: 130px; }
#marketingverification .plusiconshow {
  width: 33px; }
#marketingverification .DOR {
  width: 98px; }

.modalclassdashboardphotopopup {
  z-index: 999999999 !important;
  top: 0%;
  left: 0%; }

.modalclassdashboardphotopopup .modal-dialog.modal-md {
  width: 70%; }

.modalclassdashboardphotopopup .md-tab {
  padding: 14px 15px; }

.modalclassdashboardphotopopup .pop_label_left {
  width: 40%; }

.myregvaliprofile {
  z-index: 999999 !important;
  top: 0%;
  left: 0%; }

.modalclassdashboardremainder {
  z-index: 99999999999999 !important;
  top: 0%;
  left: 0%; }

.classlabelverify {
  font-weight: bold !important;
  /* background-color: white; */
  color: #6b6b64; }

.hdrCls {
  font-size: 15px; }

.panel-default .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  border-bottom: 1px solid #ccc; }

.panel-title {
  color: #b10c0c; }

.btn-success-outline {
  color: #23527c;
  background-color: transparent;
  background-image: none;
  border-color: #23527c;
  margin-bottom: 11%; }

.multiselect {
  margin: 0; }

input[type="text"],
textarea,
select {
  color: #000 !important;
  border: 1px solid #ADA2A2 !important; }

span.multiselect-selected-text {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden; }

.checkbox input[type=checkbox] {
  position: relative; }

.maroon {
  color: maroon; }

#marketingdivid {
  color: gray !important; }
  #marketingdivid div#myCarousel.carousel.slide {
    color: gray; }
  #marketingdivid .pauseBtns {
    text-align: center; }
  #marketingdivid .carousel-control {
    width: 4%; }
  #marketingdivid .imgCls {
    border: 1px solid gray; }
  #marketingdivid .width, #marketingdivid .smalldropdown.btn-group {
    width: 100% !important; }
  #marketingdivid .smalldropdown.btn-group {
    max-width: 70px !important; }
  #marketingdivid .pop_label_left {
    text-align: left;
    width: 28% !important; }
  #marketingdivid .pop_controls_right > .btn-group {
    width: 73% !important; }
  #marketingdivid button.multiselect.dropdown-toggle.btn.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope {
    width: 100%; }
  #marketingdivid .pop_controls_right > input {
    width: 73% !important; }
  #marketingdivid .ticketpopuppopupheader {
    margin-top: -10px;
    border: 1px solid rgba(103, 58, 183, 0.3);
    border-radius: 10px; }
  #marketingdivid .md-padding {
    padding: 0 !important; }
  #marketingdivid .dashboardticketpopup {
    color: #673AB7; }
  #marketingdivid .rightdiv {
    border: 1px solid;
    border-color: orange;
    border-radius: 20px; }
  #marketingdivid .servicedate {
    font-size: 13px;
    font-weight: bold; }
  #marketingdivid .linkdisabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6; }
  #marketingdivid .nologinCls {
    border: 1px solid;
    border-color: orange;
    border-radius: 20px;
    width: 83%; }
  #marketingdivid .fa-check-circle:before {
    color: green; }
  #marketingdivid .carousel-indicators {
    display: none; }
  #marketingdivid market-histry {
    color: gray !important; }
  #marketingdivid .feeCls {
    margin-left: 6%;
    font-weight: bold;
    font-size: 16px; }
  #marketingdivid .feeInputClass {
    width: 50%;
    float: left; }
  #marketingdivid .subHdrSpan {
    padding-left: 1%; }
  #marketingdivid .submainhdr {
    color: black; }
  #marketingdivid md-next-button,
  #marketingdivid md-prev-button {
    display: none; }
  #marketingdivid md-tabs-canvas.md-paginated {
    margin: 0 !important; }
  #marketingdivid .md-tab {
    padding: 9px 17px; }
  #marketingdivid .md-tab.md-ink-ripple.md-active {
    background-color: rgba(178, 111, 151, 0.25); }
  #marketingdivid md-pagination-wrapper {
    height: 36px; }
  #marketingdivid md-tabs-canvas {
    height: 36px; }

.Setlemainclss {
  font-size: 16px;
  line-height: 28px; }

.reminderCls {
  z-index: 9999999 !important;
  top: 0%;
  left: 0%; }
  .reminderCls .pop_controls_right > input,
  .reminderCls .selectCls {
    width: 73% !important; }
  .reminderCls .doublesmalldropdown {
    margin-left: -25px !important; }

.vertical-text {
  transform: rotate(-15deg);
  font-weight: bold;
  position: absolute;
  padding: 15px;
  /*background-color: rgb(160, 2, 1);*/
  color: white; }

.modalclassdashboardremainder {
  z-index: 99999999999999 !important;
  top: 0%;
  left: 0%; }

.modalclassdashboardphotopopup {
  z-index: 999999 !important;
  top: 0%;
  left: 0%; }

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

body {
  color: none;
  background: none;
  font-family: arial; }

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px; }

#loginnewid .login {
  background: none;
  padding-top: 130px;
  background: url("images/header.png") top left repeat-x; }
#loginnewid .clear:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }
#loginnewid .clean-margin {
  margin: 0px !important; }
#loginnewid .clean-padding {
  padding: 0px !important; }
#loginnewid ul.standard.clean-padding {
  padding: 0 0 0 16px !important; }
#loginnewid ol.standard.clean-padding {
  padding: 0 0 0 22px !important; }
#loginnewid .hidden {
  display: none; }
#loginnewid .display {
  display: block; }
#loginnewid .half {
  width: 48% !important; }
#loginnewid .trio {
  width: 31% !important; }
#loginnewid .quad {
  width: 23% !important; }
#loginnewid .full {
  width: 100%; }
#loginnewid .size-80 {
  width: 80px; }
#loginnewid .size-120 {
  width: 120px; }
#loginnewid .size-150 {
  width: 150px; }
#loginnewid .size-170 {
  width: 170px; }
#loginnewid .size-200 {
  width: 200px; }
#loginnewid .fl {
  float: left; }
#loginnewid .fr {
  float: right; }
#loginnewid .fl-space {
  float: left;
  margin-right: 5px; }
#loginnewid .fr-space {
  float: right;
  margin-left: 5px; }
#loginnewid .fl-space2 {
  float: left;
  margin-right: 10px; }
#loginnewid .fr-space2 {
  float: right;
  margin-left: 10px; }
#loginnewid .bt-space0 {
  margin-bottom: 0px !important; }
#loginnewid .bt-space5 {
  margin-bottom: 5px !important; }
#loginnewid .bt-space10 {
  margin-bottom: 10px !important; }
#loginnewid .bt-space15 {
  margin-bottom: 0px !important; }
#loginnewid .bt-space20 {
  margin-bottom: 20px !important; }
#loginnewid .bt-space30 {
  margin-bottom: 30px !important; }
#loginnewid .bt-space40 {
  margin-bottom: 40px !important; }
#loginnewid .ln-normal {
  line-height: normal !important; }
#loginnewid .ln-22 {
  line-height: 22px !important; }
#loginnewid .left {
  text-align: left !important; }
#loginnewid .center {
  text-align: center !important;
  margin: auto !important; }
#loginnewid .right {
  text-align: right !important; }
#loginnewid .block {
  text-align: justify; }
#loginnewid img.block {
  display: block; }
#loginnewid a {
  color: #00A5C4;
  text-decoration: none; }
#loginnewid a:hover {
  color: #00A5C4;
  text-decoration: underline; }
#loginnewid .button {
  display: inline-block;
  line-height: 16px;
  border-width: 0px;
  font-size: 11px;
  font-family: arial;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  background: url("images/button_glas1.png") center center repeat-x #333333;
  padding: 3px 13px 3px 13px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  text-align: center; }
#loginnewid input.button {
  display: inline-block;
  line-height: 13px;
  /* IE8 hack */
  line-height: 16px\0;
  border-width: 0px;
  font-size: 11px;
  font-family: arial;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  background: url("images/button_glas1.png") center center repeat-x #333333;
  padding: 3px 10px 3px 10px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }
#loginnewid .button:hover {
  color: #FFFFFF;
  text-decoration: none; }
#loginnewid .button.green {
  background-color: #4DB800; }
#loginnewid .button.red {
  background-color: #D80017; }
#loginnewid .button.blue {
  background-color: #00A5C4; }
#loginnewid .button.grey {
  background-color: #BBBBBB; }
#loginnewid strong {
  color: #333333; }
#loginnewid small {
  font-size: 11px;
  line-height: 14px;
  display: block; }
#loginnewid code {
  color: #333333;
  font-family: "Courier New", Courier, monospace, sans-serif; }
#loginnewid q {
  background: url("images/quote.png") no-repeat 7px 8px #FFFFFF;
  color: #333333;
  display: block;
  font-family: "Times New Roman", arial;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  min-height: 42px;
  padding: 10px 10px 10px 32px;
  quotes: "" "";
  font-style: italic;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }
#loginnewid q cite {
  color: #959595;
  display: block;
  font-size: 12px;
  padding-top: 5px;
  font-family: arial; }
#loginnewid del {
  color: #FF001C;
  text-decoration: line-through; }
#loginnewid .rule {
  padding-top: 2px;
  padding-bottom: 20px;
  background: url("images/rule.gif") 0px 0px repeat-x; }
#loginnewid .rule2 {
  padding-top: 4px;
  padding-bottom: 20px;
  background: url("images/rule2.gif") 0px 0px repeat-x; }
#loginnewid .sidebar .rule {
  padding-bottom: 15px; }
#loginnewid .cr-help {
  cursor: help; }
#loginnewid .login-box {
  width: 550px;
  margin: 0px auto;
  margin-bottom: 30px;
  background: url("images/bck_white_10.png");
  border: 1px solid #666666;
  text-align: left;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
#loginnewid .login-border {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
#loginnewid .login-style {
  border: 2px solid #FFFFFF;
  background: url("images/login.jpg") center center no-repeat;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
#loginnewid .login-header {
  height: 71px;
  background: url("images/login_header.png") left bottom no-repeat;
  padding: 15px 15px 0px 15px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px; }
#loginnewid .login-header .logo {
  width: auto;
  margin: 0px;
  padding-top: 0px; }
#loginnewid .login-header .logo .text {
  color: #333333; }
#loginnewid .login-inside {
  height: 240px;
  padding-top: 35px;
  border-bottom: 1px solid #bbbbbb;
  background: url("images/gear.png") 325px bottom no-repeat; }
#loginnewid .login-inside p {
  text-align: center;
  padding-bottom: 10px; }
#loginnewid .login-data {
  width: 362px;
  padding: 22px 9px 17px 58px;
  background: url("images/bck_white_50.png");
  margin: 0px auto;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px; }
#loginnewid .login-data label {
  display: block;
  width: 90px;
  float: left;
  line-height: 22px;
  text-align: right;
  margin-right: 10px; }
#loginnewid .login-data input.text {
  width: 140px; }
#loginnewid .login-data .row {
  padding-bottom: 10px; }
#loginnewid .login-data .button {
  margin-left: 80px; }
#loginnewid .login-footer {
  border-top: 1px solid #FFFFFF;
  background: url("images/bck_black_70.png");
  height: 22px;
  padding: 9px 15px 23px 16px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px; }
#loginnewid .login-footer .remember {
  color: #FFFFFF;
  line-height: 22px;
  display: block;
  float: left;
  font-weight: bold; }
#loginnewid .login-footer .remember label {
  margin-left: 3px; }
#loginnewid .login-links {
  color: #bbbbbb;
  font-size: 12px;
  margin-left: 31%; }
#loginnewid .login-links strong {
  font-weight: normal;
  color: #FFFFFF; }
#loginnewid .login-links a {
  color: #FFFFFF;
  text-decoration: none; }
#loginnewid .login-links a:hover {
  color: #FFFFFF;
  text-decoration: underline; }
#loginnewid .pagesize {
  width: 1000px;
  margin: 0px auto;
  text-align: left; }
#loginnewid .pagetop {
  width: 100%;
  min-width: 1000px;
  background: url("images/header.png") top center repeat-x #333333;
  border-bottom: 4px solid #55CC00;
  position: relative;
  z-index: 100; }
#loginnewid .head {
  padding: 0px 0px 0px 0px;
  background: url("images/gear.png") 500px bottom no-repeat; }
#loginnewid .head_top {
  position: relative;
  min-height: 114px; }
#loginnewid .main-wrap {
  width: 100%;
  padding-top: 10px; }
#loginnewid .page {
  padding-bottom: 50px; }
#loginnewid .logo {
  padding-top: 20px; }
#loginnewid .logo a {
  text-decoration: none; }
#loginnewid .logo .picture {
  float: left;
  margin-right: 10px; }
#loginnewid .logo .textlogo {
  float: left; }
#loginnewid .logo .title {
  display: block;
  font-family: arial;
  font-size: 31px;
  color: #bf2b2b;
  font-weight: bold;
  margin-top: 5px;
  letter-spacing: -0.02em; }
#loginnewid .logo .text {
  display: block;
  font-weight: bold;
  color: #BBBBBB;
  position: relative;
  top: -2px; }
#loginnewid .breadcrumb {
  width: 100%;
  height: 29px;
  background: url("images/breadcrumb.png") top left repeat-x; }
#loginnewid .breadcrumb .bread-links {
  line-height: 26px;
  font-size: 11px; }
#loginnewid .breadcrumb li {
  float: left;
  margin-right: 5px; }
#loginnewid .breadcrumb li.first {
  padding-left: 16px;
  background: url("images/ball_yellow_13.png") 0px 7px no-repeat; }
#loginnewid .breadcrumb li span {
  padding-left: 5px; }

.dashboardheaderpopup {
  background-color: rgba(197, 205, 50, 0.42);
  margin-bottom: 10px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px; }

.modalclassdashboard {
  z-index: 99999 !important;
  top: 0%;
  left: 0%; }

.modalclassdashboard .modal-dialog.modal-md {
  width: 835px !important; }
.modalclassdashboard th.profileid.headerStyles {
  width: 160px; }
.modalclassdashboard th.commisionamt.headerStyles {
  width: 160px; }
.modalclassdashboard th.PaidAmount.headerStyles {
  width: 160px; }
.modalclassdashboard th.ticketid.headerStyles {
  width: 160px; }
.modalclassdashboard th.TicketName.headerStyles {
  width: 160px; }

.unpaid {
  color: red;
  font-weight: 700; }

.paidclass {
  color: #16713d;
  font-weight: 700; }

/*# sourceMappingURL=style.css.map */
