

    <div class="edit_pages_content_main clearfix">

        <page-review dispaly-name="'Property details'" sectionid="'34'" custid="page.model.CustID"></page-review>

        <div class="edit_page_item">
            <div id="upppp">

                <div class="edit_page_item_head clearfix">
                    <h4>Property Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #08CFD2" ng-show="page.model.propertymodifiedby!=null && page.model.propertymodifiedby!=='' && page.model.propertymodifiedby!==undefined">ModifiedBy :{{page.model.propertymodifiedby}}</span>
                    </h4>
                    <div class="edit_page_item_ui clearfix" ng-if="page.model.propertyArr.length===0">
                        <a class="edit_page_add_button" href="javascript:void(0);" ng-click="page.model.populateProperty()">Add</a>
                    </div>
                </div>

            </div>

            <div class="edit_page_details_item">

                <div id="reviewdiv" ng-class="item.reviewstatus===false?'edit_page_details_item_desc clearfix reviewCls':'edit_page_details_item_desc clearfix'" ng-if="page.model.propertyArr" ng-repeat="item in page.model.propertyArr">

                    <div>
                        <div id="uplFamilyStatus" class="edit_page_details_item_desc clearfix">

                            <h6>
                                <span id="lblfamilystatus" style="font-weight: bold;">Family Status</span></h6>
                            <h5>
                                <span id="lblfmstatus">{{(item.FamilyStatus!=null && item.FamilyStatus!="")?item.FamilyStatus:"Not Specified" }}</span></h5>
                        </div>
                        <div ng-if="page.model.propertyArr.length>0" class="edit_page_item_ui clearfix">
                            <a id="lnkedittt" class="edit_page_edit_button" href="javascript:void(0);" ng-click="page.model.populateProperty(item)">Edit</a>
                        </div>
                    </div>
                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="lblproperty" style="font-weight: bold;">Property Value</span></h6>
                        <h5>
                            <span id="lblpropertyval">{{((item.PropertyValue!=null && item.PropertyValue!="")?item.PropertyValue+" Lakhs":"")}}</span>
                        </h5>
                    </div>

                    <div id="isproperty" class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblpropertysharedproperty" style="font-weight: bold;">Property Type</label></h6>
                        <h5>
                            <span id="lblisProperty">{{((item.isProperty!=null && item.isProperty!="")?item.isProperty:"Not Specified") }}</span></h5>
                    </div>
                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="lblpropdet" style="font-weight: bold;">Property Details</span></h6>
                        <h5>
                            <span id="lblpropertydetails">{{(item.PropertyDetails!=null && (item.PropertyDetails!=""))?item.PropertyDetails:""}}</span></h5>

                    </div>

                </div>
                <hr>
            </div>
        </div>

        <script type="text/ng-template" id="propertyContent.html">
            <slide-popup model="page.model" eventtype="page.model.eventType">
            </slide-popup>
        </script>

    </div>
