<div class="right_col" id="unassignphotoID">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="page.model.opendiv">
            <uib-accordion-heading style="color: rgb(160, 2, 1);">
                Unassigned photos <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
            </uib-accordion-heading>
            <div class="bodyclsnew">
                <div class="row">

                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">Profile ID</label>
                        <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.profileID"></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">Caste</label>
                        <div class="col-lg-6"> <select multiselectdropdown pagetype="'search'" class="smalldropdown" ng-model="page.model.caste" multiple typeofdata="'caste'">   
                              </select></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-4">Region</label>
                        <div class="col-lg-6"> <select multiselectdropdown pagetype="'search'" ng-model="page.model.region" multiple typeofdata="'Regionofbranches'">   
                              </select></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">Photos uploaded from</label>
                        <div class="col-lg-6">
                            <custom-datepicker name="date" style="padding-right: 0px;" ng-model="page.model.uploadedFrom" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">Photos uploaded to</label>
                        <div class="col-lg-6">
                            <custom-datepicker name="date" style="padding-right: 0px;" ng-model="page.model.uploadedTo" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-4">Branch</label>
                        <div class="col-lg-6"> <select multiselectdropdown pagetype="'search'" class="smalldropdown" ng-model="page.model.branch" multiple typeofdata="'Branch'">   
                              </select></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="photoAssigned" class="col-lg-5 control-label">Photo assigned</label>
                        <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-model="page.model.photoAssigned" class="md-block col-lg-6" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="2" class="md-primary">Both</md-radio-button>
                            <md-radio-button value="1"> Yes</md-radio-button>
                            <md-radio-button value="0"> No</md-radio-button>
                        </md-radio-group>
                    </div>
                    <!-- <div class="col-lg-4" ng-hide="true">
                        <label for="Gender" class="col-lg-4 control-label">Gender</label>
                        <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-model="page.model.rbtGender" class="md-block col-lg-6" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="0" class="md-primary">Both</md-radio-button>
                            <md-radio-button value="1"> Male</md-radio-button>
                            <md-radio-button value="2"> Female</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-lg-4" ng-hide="true">
                        <label for="Gender" class="col-lg-4 control-label">Photo status</label>
                        <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-model="page.model.PhotoStatus" class="md-block col-lg-6" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="1" class="md-primary">Accept</md-radio-button>
                            <md-radio-button value="0"> Reject</md-radio-button>
                        </md-radio-group>
                    </div> -->
                </div>
                <div class="row">
                    <div style="border-top: 1px solid #ddd;padding-top: 1%;"></div>
                    <div class="col-lg-5">
                        <button class="button_custom  pull-right" type="submit" ng-disabled="page.model.isDisabledsubmit" ng-click="page.model.isDisabledsubmit=true;page.model.getUnassigndata();">Submit</button>
                    </div>
                    <div class="col-lg-4">
                        <input type="reset" class="button_custom button_custom_reset" value="Reset" ng-click="page.model.reset();">
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>

    <div ng-if="page.model.data.length>0" class="row">
        <div class="col-lg-3">
            <label for="totalRecords">Total records : {{page.model.totalRecords}}</label>
        </div>
        <div class="col-lg-2">
            <md-checkbox type="checkbox" ng-model="page.model.chkAll" ng-change="page.model.checkAll(page.model.chkAll);">Check All
        </div>
        <div class="col-lg-6">
            <div class="col-lg-6"> <label for="selectEmployee" class="control-label pull-right">Select Employee To Assign</label></div>
            <div class="col-lg-6"> <select multiselectdropdown pagetype="'search'" ng-model="page.model.AssignEmp" typeofdata="'EmpNames'">   
                              </select></div>
        </div>
        <div class="col-lg-1">
            <input type="button" value="Assign" class="btn btn-success" ng-click="page.model.assignPhoto();">
        </div>

    </div>
    <complex-grid-new ng-show="page.model.data" model="page.model" config="page.model"></complex-grid-new>
</div>


<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
</style>