<div class="right_col">

    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="page.model.opendiv">
            <uib-accordion-heading style="color: rgb(160, 2, 1);">
                No Matches <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
            </uib-accordion-heading>
            <div class="bodyclsnew">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="photoAssigned" class="col-lg-3 control-label">Region</label>
                        <md-radio-group ng-change="page.model.onchangebranch()" ng-required="true" name="rbtnregional" layout="row" ng-model="page.model.rbtnregional" class="md-block col-lg-9" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="" class="md-primary">All</md-radio-button>
                            <md-radio-button value="408"> Ap</md-radio-button>
                            <md-radio-button value="409"> TN</md-radio-button>
                            <md-radio-button value="410">KT</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-3">Branch</label>
                        <div class="col-lg-9">
                            <select name="ticketowner" multiple class="smalldropdown col-lg-5" ng-options="item.value as item.label for item in page.model.Brancharray" ng-model="page.model.tmarketingbranch" multiselectdropdown>   
                                    </select></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-3">Employees</label>
                        <div class="col-lg-9">
                            <select name="ticketowner" multiple class="smalldropdown col-lg-5" ng-options="item.value as item.label for item in page.model.Brancharray" ng-model="page.model.tmarketingbranch" multiselectdropdown>   
                                        </select></div>
                    </div>
                </div>
                <div class="row">
                    <div style="border-top: 1px solid #ddd;padding-top: 1%;"></div>
                    <div class="col-lg-5">
                        <button class="button_custom pull-right" type="submit">Search</button>
                    </div>
                    <div class="col-lg-4">
                        <input type="reset" class="button_custom button_custom_reset" value="Reset" ng-click="page.model.resetreports();">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </uib-accordion>
</div>