<div>



    <table class="Datatable table table-fixed table-hover table-bordered mainTableCls">
        <thead>
            <tr>
                <th ng-if="!inneritem.isDetail && config.showplus" class="headerStyles plusiconshow"></th>
                <th ng-click="sort(item.key)" class="{{item.key}} headerStyles" ng-repeat="item in model.columns">{{item.text}}
                    <span class="glyphicon sort-icon" ng-show="sortKey==item.key" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="inneritem.rowtype" ng-repeat-start="inneritem in model.sdata |orderBy:sortKey:reverse | filter: searchKeyword |startFrom:currentPage*pageSize | limitTo:pageSize">
                <td ng-if="!inneritem.isDetail && config.showplus">
                    <a class="detail-icon" ng-click="plus(inneritem)" href="javascript:"><i class="glyphicon glyphicon-play icon-play"></i></a>
                </td>
                <td ng-if="inneritem.isDetail">
                    <a class="detail-icon" ng-click="minus(inneritem)" href="javascript:"><i class="glyphicon glyphicon-pause icon-pause"></i></a>
                </td>
                <td ng-repeat="colitem in model.columns">
                    <span ng-if="colitem.type==='label'"> {{inneritem[colitem.key]}}</span>
                    <input ng-if="colitem.type==='textbox'" type="text" class="form-control" ng-readonly="inneritem.optionType==='label'" ng-model="model[colitem.model+inneritem.sno]">
                    <a href="#" ng-if="colitem.type==='link'" ng-click="colitem.method(inneritem)">{{inneritem[colitem.key]}}</a>
                    <span ng-if="colitem.type==='custom'" ng-bind-html="colitem.templateUrl(inneritem)"></span>
                    <span ng-if="colitem.type==='customlink'" ng-bind-html="colitem.templateUrl(inneritem)" ng-click="colitem.method(inneritem)"></span>
                    <span ng-if="colitem.type==='morelinks'" compile="colitem.templateUrl(inneritem)"></span>
                    <span ng-if="colitem.type==='play'"><a class="detail-icon" ng-click="colitem.method(inneritem)" href="javascript:void(0);"><i class="glyphicon glyphicon-play icon-play"></i></a></span>
                </td>
            </tr>
            <tr ng-repeat-end="">
                <td ng-if="inneritem.isDetail"></td>
                <td colspan="24" ng-if="inneritem.isDetail">
                    <table class="Datatable table table-hover table-bordered subtable SubTableCls">
                        <thead>
                            <tr>
                                <th class={{detailitem.key}} style="min-width: 80px;background-color: rgba(99, 56, 31, 0.46);" ng-repeat="detailitem in inneritem.detailcolumns">{{detailitem.text}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detailinneritem in inneritem.detaildata">
                                <td ng-repeat="detailcolitem in inneritem.detailcolumns">
                                    <span ng-if="detailcolitem.type==='label'"> {{detailinneritem[detailcolitem.key]}}</span>
                                    <a href="#" ng-if="detailcolitem.type==='link'" ng-click="detailcolitem.method(detailinneritem)">{{ detailcolitem.key!==''?detailinneritem[detailcolitem.key]:'View'}}</a>
                                    <span ng-if="detailcolitem.type==='custom'" ng-bind-html="detailcolitem.templateUrl(detailinneritem)"></span>
                                    <span ng-if="detailcolitem.type==='customlink'" ng-bind-html="detailcolitem.templateUrl(inneritem)" ng-click="detailcolitem.method(inneritem)"></span>
                                    <span ng-if="detailcolitem.type==='morelinks'" compile="detailcolitem.templateUrl(detailinneritem)"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr ng-if="model.sdata.length===0">
                <td colspan="14">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    .subtable {
        display: block;
        overflow-x: auto;
    }
    
    .mainDiv {
        margin-bottom: 11px;
    }
    
    .headerStyles {
        width: auto;
        background-color: #fdca52;
    }
    
    .mainTableCls {
        min-width: 400px;
        overflow-x: scroll;
    }
    
    .SubTableCls {
        width: 600px;
        max-width: 600px;
    }
    
    .SubTableheaderCls {
        min-width: 80px;
        background-color: rgba(99, 56, 31, 0.46);
    }
    
    .totalrecordCls {
        margin-top: 10px;
    }
    
    .RegistrationDate {
        min-width: 110px !important;
    }
    
    .HoroScopeImage {
        width: 35px;
    }
    /*table tbody {
       overflow-y: scroll;
        overflow-x: scroll;
    }*/
</style>