<div class="right_col">
    <div class="panel-group">
        <div class="panel-collapse collapse in">
            <div class="panel-default regValheader" style="margin-top: -12px;box-shadow: 2px 2px 6px #ccc;" is-open="page.model.opendiv">
                <div class="panel-heading" style="padding: 13px 0px 30px;color: rgb(160, 2, 1);border: 1px solid #ccc">
                    <div class="col-lg-2" style="font-size: 17px;font-weight: bold;cursor:pointer;" ng-click="page.model.panelbodyhide=!page.model.panelbodyhide">
                        Settlement <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
                    </div>
                    <div class="col-lg-6" style="color:black;">
                        <label for="All Profileid" class="col-lg-1 classlabelverify">Paid</label>
                        <div class="col-lg-11" style="font-size:13px;">
                            <md-radio-group name="paidType" ng-change="page.model.panelbodyhide = true" layout="row" ng-model="page.model.paidType" class="md-block" flex-gt-sm>
                                <md-radio-button value="" class="md-primary">Not paid</md-radio-button>
                                <md-radio-button value="575" class="md-primary">Partial paid</md-radio-button>
                                <md-radio-button value="574" class="md-primary">Full paid</md-radio-button>
                                <md-radio-button value="577">Not int to paid</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="col-lg-4" style="color:black;">
                        <label for="All Profileid" class="col-lg-2 classlabelverify">Gender</label>
                        <div class="col-lg-9" style="font-size:13px;">
                            <md-radio-group name="rbtnGender" ng-change="page.model.panelbodyhide = true" layout="row" ng-model="page.model.rbtnGender" class="md-block" flex-gt-sm>
                                <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                <md-radio-button value="1" class="md-primary">Male</md-radio-button>
                                <md-radio-button value="2">Female</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-show="page.model.panelbodyhide">
                    <div class="row">
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Region</label>
                            <div>
                                <select multiselectdropdown ng-change="page.model.regionChange(page.model.Region);" class="smalldropdown" ng-model="page.model.Region" multiple typeofdata="'Regionofbranches'"></select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Branch</label>
                            <div>
                                <select multiselectdropdown class="smalldropdown" ng-model="page.model.Branch" multiple ng-options="item.value as item.label for item in page.model.BranchNameArr"></select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Profile owner</label>
                            <div>
                                <select multiselectdropdown class="smalldropdown" ng-model="page.model.ProfileOwner" multiple typeofdata="'EmpNames'"></select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Settled from</label>
                            <div>
                                <custom-datepicker name="date" ng-model="page.model.fromDate" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>

                        <div class="col-lg-2 form-group">
                            <label for="" class="control-label lbl">Settled to</label>
                            <div>
                                <custom-datepicker name="date" ng-model="page.model.toDate" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <input type="button" class="btn btn-danger" style="margin-top: 29%;" value="Submit" ng-click="page.model.submit(1,100);">
                        </div>

                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>

    <complex-grid-new gid="'id3'" model="page.model.grid3" config="page.model.grid3"></complex-grid-new>

</div>
<script type="text/ng-template" id="aboutpayment.html">
    <form class="EditViewClass" name="uploadForm" novalidate role="form" ng-submit="page.model.insertSettleAmount()">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Description </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <textarea rows="" cols="" class="form-control" ng-model="page.model.txtdescription"></textarea>
        </div>
        <div class="modal-footer">
            <input value="Cancel" class="button_custom button_custom_reset" ng-click="page.model.close();" type="button">
            <input value="Submit" class="button_custom" type="submit">
        </div>
    </form>
</script>
<script type="text/ng-template" id="duplicataProfilesPopup.html">
    <div class="modal-header">History Info
        <div class="pull-right">
            <a href="javascript:void(0);" ng-click="page.model.closemainpopup()" style="padding:7px;"> <i class="fa fa-times" aria-hidden="true" style="fill:#c73e5f;font-size: 16pt;"></i></a>
        </div>
    </div>
    <div>
        <single-grid model="page.model.singlegrid1" config="page.model"></single-grid>
    </div>
</script>
<style>
    .headerStyles {
        font-size: 16px;
    }
    
    .lbl {
        margin-top: 3%;
    }
    
    tr:nth-child(even) {
        background: #f5ecef;
    }
    
    tr:nth-child(odd) {
        background: #FFF;
    }
    
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .GroomCaste {
        width: 240px;
    }
    
    .GroomName {
        width: 100px;
    }
    
    .BrideCaste {
        width: 100px;
    }
    
    .BrideName {
        width: 180px;
    }
    
    .linkcls {
        margin-left: 2%;
    }
</style>