<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">NO-SERVICE FROM LAST 1 MONTH</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Last Service Date</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Last Service Date</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Last Service Date</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Last Service Date</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Last Service Date</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>

                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">NEAR BY OFFLINE EXPIRY</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NEAR BY OFFLINE EXPIRY</a>
                                <p>310910220 EXPIRY on 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NEAR BY OFFLINE EXPIRY</a>
                                <p>310910220 EXPIRY on 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NEAR BY OFFLINE EXPIRY</a>
                                <p>310910220 EXPIRY on 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NEAR BY OFFLINE EXPIRY</a>
                                <p>310910220 EXPIRY on 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NEAR BY OFFLINE EXPIRY</a>
                                <p>310910220 EXPIRY on 20-08-1992</p>
                            </div>
                        </article>

                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">OFFLINE EXPIRED CUSTOMERS</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">OFFLINE EXPIRED CUSTOMERS</a>
                                <p>310910220 EXPIRED on 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">OFFLINE EXPIRED CUSTOMERS</a>
                                <p>310910220 EXPIRED on 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">OFFLINE EXPIRED CUSTOMERS</a>
                                <p>310910220 EXPIRED on 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">OFFLINE EXPIRED CUSTOMERS</a>
                                <p>310910220 EXPIRED on 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">OFFLINE EXPIRED CUSTOMERS</a>
                                <p>310910220 EXPIRED on 20-08-1992</p>
                            </div>
                        </article>

                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">UN-PAID CUSTOMERS</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">UN-PAID CUSTOMERS</a>
                                <p>310910220 Is UnPaid</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">UN-PAID CUSTOMERS</a>
                                <p>310910220 Is UnPaid</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">UN-PAID CUSTOMERS</a>
                                <p>310910220 Is UnPaid</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">UN-PAID CUSTOMERS</a>
                                <p>310910220 Is UnPaid</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">UN-PAID CUSTOMERS</a>
                                <p>310910220 Is UnPaid</p>
                            </div>
                        </article>
                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">INACTIVE CUSTOMER</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">INACTIVE CUSTOMER</a>
                                <p>310910220 inactive</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">INACTIVE CUSTOMER</a>
                                <p>310910220 inactive</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">INACTIVE CUSTOMER</a>
                                <p>310910220 inactive</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">INACTIVE CUSTOMER</a>
                                <p>310910220 inactive</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">INACTIVE CUSTOMER</a>
                                <p>310910220 inactive</p>
                            </div>
                        </article>

                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">TODAY REMAINDERS</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">TODAY REMAINDERS</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">TODAY REMAINDERS</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">TODAY REMAINDERS</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">TODAY REMAINDERS</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">TODAY REMAINDERS</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>

                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">NOT-VIEWED SERVICES</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NOT-VIEWED SERVICES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NOT-VIEWED SERVICES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NOT-VIEWED SERVICES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NOT-VIEWED SERVICES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NOT-VIEWED SERVICES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>

                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">NO UPDATE ON MFT</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NO UPDATE ON MFT</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NO UPDATE ON MFT</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NO UPDATE ON MFT</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NO UPDATE ON MFT</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">NO UPDATE ON MFT</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>

                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size: 12px;color:maroon;font-weight:600">YESTERDAY PROCESSING PROFILES</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="title" title="Excel" style="color:black" href="javascript:void(0)"> <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="title" title="Slideshow" ng-click="slideshowfunction()" href="javascript:void(0)" style="color:black">Slideshow</a>
                            </li>


                            <li><a class="close-link" title="Close"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">PROCESSING PROFILES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">PROCESSING PROFILES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">PROCESSING PROFILES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">PROCESSING PROFILES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date">
                                <img src="src/images/profilepic.png"></img>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">PROCESSING PROFILES</a>
                                <p>310910220 Service In 20-08-1992</p>
                            </div>
                        </article>

                    </div>
                    <article class="media event">
                        <div class="pull-right">
                            <a class="title" ng-click="slideshowfunction()" href="javascript:void(0)">LoadMore</a>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="build/js/custom.js" type="text/javascript"></script>