<div ng-class="'EditViewClass'" class="right_col" style="padding-top: 6%;padding-left: 1%;">
    <div ng-include="'templates/sideMenu.html'">
    </div>
    <div class="edit_pages_content_main clearfix">
        <div class="edit_page_item">
            <div class="edit_page_item_head clearfix">
                <h4>Profile Settings
                </h4>
            </div>
            <div ng-if="page.model.profileSettingArr" class="edit_page_details_item" ng-repeat="item in page.model.profileSettingArr">
                <div id="fullupdatefatherbrother">
                    <div>
                        <div class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span font-bold="true">Application Status</span>
                                </h6>
                                <h5>
                                    <span>{{item.ProfileStatus}}</span>
                                    <span ng-if="item.ProfileStatus==='MMSerious'" class="p-l-7"><a href="javascript:void(0);" ng-click="page.model.makeActive(item);">make active</a></span>
                                </h5>
                            </div>
                        </div>
                        <div class="edit_page_item_ui clearfix">
                            <a href="javascript:void(0);" class="edit_page_edit_button" ng-click="page.model.showprofilepopup('profileSetting',item);" allow-admin-management>Edit</a>
                        </div>
                        <div>
                            <div class="edit_page_details_item_desc clearfix" visible={{item.EmployeeName !="" && Eval( "EmployeeName")!=null?true:false }}>
                                <h6>
                                    <span font-bold="true">Application Status ModifiedBy</span>
                                </h6>
                                <h5>
                                    <span class="red">{{item.EmployeeName}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="inactivediv" ng-show="item.ProfileStatusID==='55' || item.ProfileStatusID===55">
                            <div id="divtotalinactive">
                                <div class="edit_page_details_item_desc clearfix">
                                    <div>
                                        <h6>
                                            <span font-bold="true">No of Days to be inactivated </span>
                                        </h6>
                                        <h5>
                                            <span>{{item.NoofDaysinactivated}}
                                    </span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="edit_page_details_item_desc clearfix">
                                    <div>
                                        <h6>
                                            <span font-bold="true">Reason for InActive</span>
                                        </h6>
                                        <h5>
                                            <span id="lblReason4InActive">{{item.Reason4InActive}}
                                    </span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="edit_page_details_item_desc clearfix">
                                    <div>
                                        <h6>
                                            <span font-bold="true">Requested By</span>
                                        </h6>
                                        <h5>
                                            <span id="lblRequestedBy">{{item.RequestedBy}}
                                    </span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <span id="profilegrade" font-bold="true">Profile Grade</span>
                                </h6>
                                <h5>
                                    <span id="lblprofilegrade">{{item.ProfileGrade}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="Updatelblprofilegrademodifyby">
                            <div class="edit_page_details_item_desc clearfix" ng-show="item.ProfileGradeModifiedByEmp !=='' && item.ProfileGradeModifiedByEmp!=null">
                                <h6>
                                    <span id="lblprofilegrademodifyby" font-bold="true">Profile Grade ModifiedBy</span>
                                </h6>
                                <h5>
                                    <span id="ProfileGradeModifiedByEmp">{{item.ProfileGradeModifiedByEmp}}</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit_page_item" id="divconfidential">
            <div class="edit_page_item_head clearfix">
                <h4>Confidential status
                </h4>
            </div>
            <div ng-if="page.model.ConfidentialArr" class="edit_page_details_item" ng-repeat="item in page.model.ConfidentialArr">
                <div>
                    <div>
                        <div class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span font-bold="true">isConfidential</span>
                                </h6>
                                <h5>
                                    <span>{{item.ConfindentialStatus}}</span>
                                </h5>
                            </div>
                        </div>
                        <div class="edit_page_item_ui clearfix">
                            <a href="javascript:void(0);" class="edit_page_edit_button" ng-click="page.model.showprofilepopup('confidential',item);" allow-admin-management>Edit</a>
                        </div>
                        <div class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span font-bold="true">Very High Confidential</span>
                                </h6>
                                <h5>
                                    <span>{{item.HighConfidentialStatus}}</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit_page_item" id="divcprofiledisplaysettings" ng-show="page.model.Managementid==='true'">
            <div class="edit_page_item_head clearfix">
                <h4>Profile Display Settings
                </h4>
            </div>
            <div class="edit_page_details_item" ng-if="page.model.profileDisplayArr" ng-repeat="item in page.model.profileDisplayArr">
                <div>
                    <div>
                        <div class="edit_page_item_ui clearfix">
                            <a href="javascript:void(0);" class="edit_page_edit_button" ng-click="page.model.showprofilepopup('profileDisplay',item);">Edit</a>
                        </div>
                        <div class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span font-bold="true">Display In</span>
                                </h6>
                                <h5>
                                    <span>{{item.ProfileDisplayName}}</span>
                                </h5>

                            </div>

                        </div>
                        <div class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="lblprofileloginstatus" font-bold="true">Profile Current Login Status Is</span>
                                </h6>
                                <h5>
                                    <span id="lblprofileloginstatusis">{{item.LoginStatusName}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="divBlockdisplay" visible={{item.Blockflag=="1" ? true: false }}>
                            <div id="uplblcreateblockeddate" class="edit_page_details_item_desc clearfix">
                                <div>
                                    <h6>
                                        <span id="lblcreatedate">{{item.LoginStatusName == "Blocked" ? "Blocked Date": "Allowed Date" }}</span>
                                    </h6>
                                    <h5>
                                        <span id="lblcreateblockeddate" class="red">{{item.BlockDate}}</span>
                                    </h5>
                                </div>

                            </div>
                            <div id="uplblblockedempname" class="edit_page_details_item_desc clearfix">
                                <div>
                                    <h6>
                                        <span id="lblblockedempname">{{item.LoginStatusName == "Blocked" ? "Blocked By": "Allowed By" }}</span>
                                    </h6>
                                    <h5>
                                        <span id="span2" class="red">{{item.BlockEmapName}}</span>
                                    </h5>
                                </div>
                            </div>
                            <div id="upblockedreason" class="edit_page_details_item_desc clearfix">
                                <div>
                                    <h6>
                                        <span id="lblreason">{{item.LoginStatusName == "Blocked" ? "Reason For Blocked": "Reason For Allowed" }}</span>
                                        <h5>
                                            <span id="lblBlockedReason">{{item.ProfileBlockReason}}</span>
                                        </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit_page_item">
            <div class="edit_page_item_head clearfix">
                <h4>Grade Selections
                </h4>
                <div id="updatecontenGrade">
                    <div id="divAddGrade" visible="false">
                        <div class="edit_page_item_ui clearfix">
                            <div ng-if="page.model.gradeSelectionArr.length===0">
                                <a class="edit_page_add_button" href="javascript:void(0);" ng-click="page.model.showprofilepopup('grading');">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit_page_details_item" ng-if="page.model.gradeSelectionArr" ng-repeat="item in page.model.gradeSelectionArr">
                <div id="UpdatePanel14">
                    <div>
                        <div id="UpdatePanelGrade" class="edit_page_item_ui clearfix">
                            <a href="javascript:void(0);" class="edit_page_edit_button" ng-click="page.model.showprofilepopup('grading',item);">Edit</a>
                        </div>
                        <div id="UpdatepanelEdu" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="lblEducationGradeText" font-bold="true">Education</span>
                                </h6>
                                <h5>
                                    <span id="lblEducationGrade">{{item.EducationGrade}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="UpdatePanelProfession" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="lblprofessionGradeText" font-bold="true">Profession</span>
                                </h6>
                                <h5>
                                    <span id="lblprofessionGrade">{{item.ProfileGrade}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="updateproperty" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="lblpropertyGradeText">Property</span>
                                </h6>
                                <h5>
                                    <span id="lblpropertyGrade">{{item.PropertyGrade}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="updatefamily" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="lblfamilyGradeText">Family</span>
                                </h6>
                                <h5>
                                    <span id="lblfamilyGrade">{{item.FamilyGrade}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="updatePhoto" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="lblPhotoGradeText">Photo</span>
                                </h6>
                                <h5>
                                    <span id="lblPhotoGrade">{{item.PhotoGrade}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="UpdatePaneCreatedBYEmp" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="lblCreatedBYEmp">Created By</span> </h6>
                                <h5>
                                    <span id="lblCreatedBYEmpGrade" class="red">{{item.CreatedBYEmp}}</span>
                                </h5>
                            </div>
                        </div>
                        <div id="UpdateCreatedDateGrade" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="lblCreatedDateGrade">CreatedDate</span> </h6>
                                <h5>
                                    <span id="lblCreatedDatedisplay" class="red">{{item.CreatedDate}}</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="edit_page_item">
            <div class="edit_page_item_head clearfix">
                <h4> Customer login
                </h4>
            </div>
            <div class="edit_page_details_item">
                <div>
                    <h6>
                        <span font-bold="normal">click here to <a href="javascript:void(0);"  ng-click="page.model.showprofilepopup('empCustlogin');">Customer site login</a></span>
                    </h6>
                </div>
                <br>

                <div ng-if="page.model.CustLoginArr[0].SeenbyEmp!==null">
                    <div><label class="col-lg-4">Total Records : {{page.model.sdata.length}}</label>Previous logged Employees</div>
                    <!--<complex-grid model="page.model" config="page.model"></complex-grid>-->
                    <single-grid model="page.model" config="page.model"></single-grid>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="commonProfileSettingpopup.html">
        <slide-popup model="page.model" eventtype="page.model.eventType">
        </slide-popup>
    </script>
</div>

<style>
    th.SeenbyEmp.headerStyles {
        width: 172px;
    }
    
    th.SeenbyEmpdate.headerStyles {
        width: 227px;
    }
</style>


<script src="build/js/custom.js" type="text/javascript"></script>