.subColumnClass {
    line-height: 40px;
}

.panel-title {
    color: #b10c0c;
}

.bacg {
    background-color: #f0f0cc !important;
}

.colorforcontrols {
    button {
        background-color: #f0f0cc !important;
    }
}

.unpaid {
    color: red;
    font-weight: 700;
}

.paidclass {
    color: #16713d;
    font-weight: 700;
}

.smalldropdowngrid {
    width: 150px;
}

th.ReviewedEmpID.headerStyles {
    width: 150px;
}

.btn.smalldropdowngrid {
    width: 125px !important;
}

#rreviewpendings {
    .smalldropdown {
        width: 270px;
    }
    .hasDatepicker {
        width: 270px;
    }
    input {
        width: 270px;
    }
    .headerStyles {
        font-size: 14px;
    }
    .DOR {
        width: 110px;
    }
}