body {
  text-align: center;
  margin: 0px;
  font-family: arial;
  font-size: 12px;
  color: #000;
  background: #333333; }

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px; }

#loginnewid .login {
  background: none;
  padding-top: 130px;
  background: url("images/header.png") top left repeat-x; }
#loginnewid .clear:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }
#loginnewid .clean-margin {
  margin: 0px !important; }
#loginnewid .clean-padding {
  padding: 0px !important; }
#loginnewid ul.standard.clean-padding {
  padding: 0 0 0 16px !important; }
#loginnewid ol.standard.clean-padding {
  padding: 0 0 0 22px !important; }
#loginnewid .hidden {
  display: none; }
#loginnewid .display {
  display: block; }
#loginnewid .half {
  width: 48% !important; }
#loginnewid .trio {
  width: 31% !important; }
#loginnewid .quad {
  width: 23% !important; }
#loginnewid .full {
  width: 100%; }
#loginnewid .size-80 {
  width: 80px; }
#loginnewid .size-120 {
  width: 120px; }
#loginnewid .size-150 {
  width: 150px; }
#loginnewid .size-170 {
  width: 170px; }
#loginnewid .size-200 {
  width: 200px; }
#loginnewid .fl {
  float: left; }
#loginnewid .fr {
  float: right; }
#loginnewid .fl-space {
  float: left;
  margin-right: 5px; }
#loginnewid .fr-space {
  float: right;
  margin-left: 5px; }
#loginnewid .fl-space2 {
  float: left;
  margin-right: 10px; }
#loginnewid .fr-space2 {
  float: right;
  margin-left: 10px; }
#loginnewid .bt-space0 {
  margin-bottom: 0px !important; }
#loginnewid .bt-space5 {
  margin-bottom: 5px !important; }
#loginnewid .bt-space10 {
  margin-bottom: 10px !important; }
#loginnewid .bt-space15 {
  margin-bottom: 0px !important; }
#loginnewid .bt-space20 {
  margin-bottom: 20px !important; }
#loginnewid .bt-space30 {
  margin-bottom: 30px !important; }
#loginnewid .bt-space40 {
  margin-bottom: 40px !important; }
#loginnewid .ln-normal {
  line-height: normal !important; }
#loginnewid .ln-22 {
  line-height: 22px !important; }
#loginnewid .left {
  text-align: left !important; }
#loginnewid .center {
  text-align: center !important;
  margin: auto !important; }
#loginnewid .right {
  text-align: right !important; }
#loginnewid .block {
  text-align: justify; }
#loginnewid img.block {
  display: block; }
#loginnewid a {
  color: #00A5C4;
  text-decoration: none; }
#loginnewid a:hover {
  color: #00A5C4;
  text-decoration: underline; }
#loginnewid .button {
  display: inline-block;
  line-height: 16px;
  border-width: 0px;
  font-size: 11px;
  font-family: arial;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  background: url("images/button_glas1.png") center center repeat-x #333333;
  padding: 3px 13px 3px 13px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  text-align: center; }
#loginnewid input.button {
  display: inline-block;
  line-height: 13px;
  /* IE8 hack */
  line-height: 16px\0;
  border-width: 0px;
  font-size: 11px;
  font-family: arial;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  background: url("images/button_glas1.png") center center repeat-x #333333;
  padding: 3px 10px 3px 10px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }
#loginnewid .button:hover {
  color: #FFFFFF;
  text-decoration: none; }
#loginnewid .button.green {
  background-color: #4DB800; }
#loginnewid .button.red {
  background-color: #D80017; }
#loginnewid .button.blue {
  background-color: #00A5C4; }
#loginnewid .button.grey {
  background-color: #BBBBBB; }
#loginnewid strong {
  color: #333333; }
#loginnewid small {
  font-size: 11px;
  line-height: 14px;
  display: block; }
#loginnewid code {
  color: #333333;
  font-family: "Courier New", Courier, monospace, sans-serif; }
#loginnewid q {
  background: url("images/quote.png") no-repeat 7px 8px #FFFFFF;
  color: #333333;
  display: block;
  font-family: "Times New Roman", arial;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  min-height: 42px;
  padding: 10px 10px 10px 32px;
  quotes: "" "";
  font-style: italic;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }
#loginnewid q cite {
  color: #959595;
  display: block;
  font-size: 12px;
  padding-top: 5px;
  font-family: arial; }
#loginnewid del {
  color: #FF001C;
  text-decoration: line-through; }
#loginnewid .rule {
  padding-top: 2px;
  padding-bottom: 20px;
  background: url("images/rule.gif") 0px 0px repeat-x; }
#loginnewid .rule2 {
  padding-top: 4px;
  padding-bottom: 20px;
  background: url("images/rule2.gif") 0px 0px repeat-x; }
#loginnewid .sidebar .rule {
  padding-bottom: 15px; }
#loginnewid .cr-help {
  cursor: help; }
#loginnewid .login-box {
  width: 550px;
  margin: 0px auto;
  margin-bottom: 30px;
  background: url("images/bck_white_10.png");
  border: 1px solid #666666;
  text-align: left;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
#loginnewid .login-border {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
#loginnewid .login-style {
  border: 2px solid #FFFFFF;
  background: url("images/login.jpg") center center no-repeat;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
#loginnewid .login-header {
  height: 71px;
  background: url("images/login_header.png") left bottom no-repeat;
  padding: 15px 15px 0px 15px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px; }
#loginnewid .login-header .logo {
  width: auto;
  margin: 0px;
  padding-top: 0px; }
#loginnewid .login-header .logo .text {
  color: #333333; }
#loginnewid .login-inside {
  height: 240px;
  padding-top: 35px;
  border-bottom: 1px solid #bbbbbb;
  background: url("images/gear.png") 325px bottom no-repeat; }
#loginnewid .login-inside p {
  text-align: center;
  padding-bottom: 10px; }
#loginnewid .login-data {
  width: 362px;
  padding: 22px 9px 17px 58px;
  background: url("images/bck_white_50.png");
  margin: 0px auto;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px; }
#loginnewid .login-data label {
  display: block;
  width: 70px;
  float: left;
  line-height: 22px;
  text-align: right;
  margin-right: 10px; }
#loginnewid .login-data input.text {
  width: 140px; }
#loginnewid .login-data .row {
  padding-bottom: 10px; }
#loginnewid .login-data .button {
  margin-left: 80px; }
#loginnewid .login-footer {
  border-top: 1px solid #FFFFFF;
  background: url("images/bck_black_70.png");
  height: 22px;
  padding: 9px 15px 23px 16px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px; }
#loginnewid .login-footer .remember {
  color: #FFFFFF;
  line-height: 22px;
  display: block;
  float: left;
  font-weight: bold; }
#loginnewid .login-footer .remember label {
  margin-left: 3px; }
#loginnewid .login-links {
  color: #bbbbbb;
  font-size: 12px; }
#loginnewid .login-links strong {
  font-weight: normal;
  color: #FFFFFF; }
#loginnewid .login-links a {
  color: #FFFFFF;
  text-decoration: none; }
#loginnewid .login-links a:hover {
  color: #FFFFFF;
  text-decoration: underline; }
#loginnewid .pagesize {
  width: 1000px;
  margin: 0px auto;
  text-align: left; }
#loginnewid .pagetop {
  width: 100%;
  min-width: 1000px;
  background: url("images/header.png") top center repeat-x #333333;
  border-bottom: 4px solid #55CC00;
  position: relative;
  z-index: 100; }
#loginnewid .head {
  padding: 0px 0px 0px 0px;
  background: url("images/gear.png") 500px bottom no-repeat; }
#loginnewid .head_top {
  position: relative;
  min-height: 114px; }
#loginnewid .main-wrap {
  width: 100%;
  padding-top: 10px; }
#loginnewid .page {
  padding-bottom: 50px; }
#loginnewid .logo {
  padding-top: 20px; }
#loginnewid .logo a {
  text-decoration: none; }
#loginnewid .logo .picture {
  float: left;
  margin-right: 10px; }
#loginnewid .logo .textlogo {
  float: left; }
#loginnewid .logo .title {
  display: block;
  font-family: arial;
  font-size: 31px;
  color: #fedc01;
  font-weight: bold;
  margin-top: 5px;
  letter-spacing: -0.02em; }
#loginnewid .logo .text {
  display: block;
  font-weight: bold;
  color: #BBBBBB;
  position: relative;
  top: -2px; }
#loginnewid .breadcrumb {
  width: 100%;
  height: 29px;
  background: url("images/breadcrumb.png") top left repeat-x; }
#loginnewid .breadcrumb .bread-links {
  line-height: 26px;
  font-size: 11px; }
#loginnewid .breadcrumb li {
  float: left;
  margin-right: 5px; }
#loginnewid .breadcrumb li.first {
  padding-left: 16px;
  background: url("images/ball_yellow_13.png") 0px 7px no-repeat; }
#loginnewid .breadcrumb li span {
  padding-left: 5px; }

/*# sourceMappingURL=style.css.map */
