    .edit_page_details_item_desc {
        padding: 1px 0;
        background-size: 522px auto;
        background-position: -29% center;
        position: relative;
    }
    
    .edit_page_details_item_desc h6 {
        float: left;
        width: 30%;
        position: relative;
        color: #7a7a7a;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 1px;
    }
    
    .edit_page_details_item_desc h6:after {
        content: ":";
        position: absolute;
        right: 10px;
    }
    
    .edit_page_details_item_desc h5 {
        float: left;
        // width: 64%;
        color: #000;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
        line-height: 1px;
    }
    
    .carousel-control {
        width: 6%;
    }
    
    .carousel-control.left {
        background-repeat: repeat-x;
        background-image: linear-gradient(to right, #fff 0, #fff 100%);
    }
    
    .carousel-control.right {
        right: 0;
        left: auto;
        background-repeat: repeat-x;
        background-image: linear-gradient(to right, #fff 0, #fff 100%);
    }
    
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px;
        color: black;
    }
    
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-next {
        margin-right: -15px;
        color: black;
    }
    
    .usernameemployee {
        border: 1px solid #808080 !important;
        border-radius: 4px !important;
    }
    
    ////////
    select[disabled],
    select[readonly] {
        cursor: not-allowed;
        background-color: #eee
    }
    
    select:focus:invalid {
        color: #b94a48;
        border-color: #ee5f5b
    }
    
    select:focus:invalid:focus {
        border-color: #e9322d;
        -webkit-box-shadow: 0 0 6px #f8b9b7;
        -moz-box-shadow: 0 0 6px #f8b9b7;
        box-shadow: 0 0 6px #f8b9b7
    }
    
    .caret {
        content: ""
    }
    
    .dropdown .caret {
        margin-top: 8px;
        margin-left: 2px
    }
    
    .dropup .caret,
    .navbar-fixed-bottom .dropdown .caret {
        content: ""
    }
    
    .btn .caret,
    .nav {
        margin-left: 0
    }
    
    .btn-group>.btn,
    .btn-group>.dropdown-menu,
    .btn-group>.popover {
        font-size: 14px
    }
    
    .btn .caret {
        // margin-top: 8px
    }
    
    .btn-large .caret {
        margin-top: 6px;
        border-top-width: 5px;
        border-right-width: 5px;
        border-left-width: 5px
    }
    
    .btn-danger.active,
    .btn-danger.disabled,
    .btn-danger:active,
    .btn-danger:hover,
    .btn-danger[disabled],
    .btn-group.open .btn-danger.dropdown-toggle {
        background-color: #DC4E3B
    }
    
    .multiselect-container {
        width: 95%!important;
        max-height: 200px;
        overflow-y: scroll
    }
    
    .multiselect-container>li {
        margin: -4px 0 0!important;
        padding: 0!important
    }
    
    .multiselect-container>li.active,
    .multiselect-container>li:hover {
        background: #d42e02!important
    }
    
    .multiselect-container>li>a {
        display: block;
        padding: 0!important;
        background: 0 0!important
    }
    
    .multiselect-container>li>a label {
        padding: 8px 14px!important;
        color: #717171!important;
        font-size: 12px!important;
        font-weight: 400!important
    }
    
    .multiselect-container>li>a label.checkbox input[type=checkbox] {
        margin: 4px 10px 0 0!important;
        width: auto!important
    }
    
    .multiselect-container>li.active a label,
    .multiselect-container>li:hover a label {
        color: #fff!important
    }
    
    .multiselect {
        margin: 4px 0 0;
        border-radius: 3px!important;
        height: 34px;
        background: 0 0!important;
        text-align: left;
        box-shadow: none!important;
        display: block;
        border: 1px solid #ccc!important;
        width: 220px;
    }
    
    .caret {
        position: absolute;
        right: 8px;
        top: 44%
    }
    
    .multiselect-container {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0
    }
    
    .multiselect-container .input-group {
        margin: 5px
    }
    
    .multiselect-container>li>a.multiselect-all label {
        font-weight: 700
    }
    
    .multiselect-container>li.multiselect-group label {
        margin: 0;
        padding: 3px 20px;
        height: 100%;
        font-weight: 700
    }
    
    .multiselect-container>li>a>label {
        margin: 0;
        height: 100%;
        cursor: pointer;
        font-weight: 400;
        padding: 3px 20px 3px 40px
    }
    
    .multiselect-container>li>a>label.checkbox,
    .multiselect-container>li>a>label.radio {
        margin: 0
    }
    
    .multiselect-container>li>a>label>input[type=checkbox] {
        margin-bottom: 5px
    }
    
    .labelred {
        color: red;
        font-size: 12px;
    }
    
    .textallign {
        text-align: center;
    }
    
    .allignmiddle {
        top: 20%;
        left: 0%;
        z-index: 99999999 !important;
    }
    
    .currendate {
        color: #377937;
    }
    
    .colorlogin {
        color: maroon;
    }
    
    .colorpaid {
        color: green;
    }
    
    .colorunpaid {
        color: red;
    }
    
    .inputcontainer {
        margin: 0px 0 !important;
    }
    
    @media (min-width: 768px) {
        .allignmiddle {
            .modal-dialog {
                width: 513px;
                margin: 30px auto;
            }
        }
    }
    
    #logindivheader {
        .md-input-focused {
            font-size: 14px;
        }
    }
    
    .alllinkscolor {
        color: #3030d8;
    }
    
    #loginnewidcc {
        .login {
            background: none;
            background: url('images/header.png') top left repeat-x;
            padding-top: 16px;
        }
        .clear:after {
            content: ".";
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;
            visibility: hidden;
        }
        .clean-margin {
            margin: 0px !important;
        }
        .clean-padding {
            padding: 0px !important;
        }
        ul.standard.clean-padding {
            padding: 0 0 0 16px !important;
        }
        ol.standard.clean-padding {
            padding: 0 0 0 22px !important;
        }
        .hidden {
            display: none;
        }
        .display {
            display: block;
        }
        .half {
            width: 48% !important;
        }
        .trio {
            width: 31% !important;
        }
        .quad {
            width: 23% !important;
        }
        .full {
            width: 100%;
        }
        .size-80 {
            width: 80px;
        }
        .size-120 {
            width: 120px;
        }
        .size-150 {
            width: 150px;
        }
        .size-170 {
            width: 170px;
        }
        .size-200 {
            width: 200px;
        }
        .fl {
            float: left;
        }
        .fr {
            float: right;
        }
        .fl-space {
            float: left;
            margin-right: 5px;
        }
        .fr-space {
            float: right;
            margin-left: 5px;
        }
        .fl-space2 {
            float: left;
            margin-right: 10px;
        }
        .fr-space2 {
            float: right;
            margin-left: 10px;
        }
        .bt-space0 {
            margin-bottom: 0px !important;
        }
        .bt-space5 {
            margin-bottom: 5px !important;
        }
        .bt-space10 {
            margin-bottom: 10px !important;
        }
        .bt-space15 {
            margin-bottom: 0px !important;
        }
        .bt-space20 {
            margin-bottom: 20px !important;
        }
        .bt-space30 {
            margin-bottom: 30px !important;
        }
        .bt-space40 {
            margin-bottom: 40px !important;
        }
        .ln-normal {
            line-height: normal !important;
        }
        .ln-22 {
            line-height: 22px !important;
        }
        .left {
            text-align: left !important;
        }
        .center {
            text-align: center !important;
            margin: auto !important;
        }
        .right {
            text-align: right !important;
        }
        .block {
            text-align: justify;
        }
        img.block {
            display: block;
        }
        a {
            color: #00A5C4;
            text-decoration: none;
        }
        a:hover {
            color: #00A5C4;
            text-decoration: underline;
        }
        .button {
            display: inline-block;
            line-height: 16px;
            border-width: 0px;
            font-size: 11px;
            font-family: arial;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            background: url('images/button_glas1.png') center center repeat-x #333333;
            padding: 3px 13px 3px 13px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
            text-align: center;
        }
        input.button {
            display: inline-block;
            line-height: 13px;
            /* IE8 hack */
            line-height: 16px\0;
            border-width: 0px;
            font-size: 11px;
            font-family: arial;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            background: url('images/button_glas1.png') center center repeat-x #333333;
            padding: 3px 10px 3px 10px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
        }
        .button:hover {
            color: #FFFFFF;
            text-decoration: none;
        }
        .button.green {
            background-color: #4DB800;
        }
        .button.red {
            background-color: #D80017;
        }
        .button.blue {
            background-color: #00A5C4;
        }
        .button.grey {
            background-color: #BBBBBB;
        }
        strong {
            // color: #333333;
        }
        small {
            font-size: 11px;
            line-height: 14px;
            display: block;
        }
        code {
            // color: #333333;
            font-family: "Courier New", Courier, monospace, sans-serif;
        }
        q {
            background: url("images/quote.png") no-repeat 7px 8px #FFFFFF;
            // color: #333333;
            display: block;
            font-family: "Times New Roman", arial;
            font-size: 14px;
            line-height: 18px;
            font-style: normal;
            min-height: 42px;
            padding: 10px 10px 10px 32px;
            quotes: "" "";
            font-style: italic;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
        }
        q cite {
            color: #959595;
            display: block;
            font-size: 12px;
            padding-top: 5px;
            font-family: arial;
        }
        del {
            color: #FF001C;
            text-decoration: line-through;
        }
        .rule {
            padding-top: 2px;
            padding-bottom: 20px;
            background: url('images/rule.gif') 0px 0px repeat-x;
        }
        .rule2 {
            padding-top: 4px;
            padding-bottom: 20px;
            background: url('images/rule2.gif') 0px 0px repeat-x;
        }
        .sidebar .rule {
            padding-bottom: 15px;
        }
        .cr-help {
            cursor: help;
        }
        .login-box {
            width: 550px;
            margin: 0px auto;
            margin-bottom: 30px;
            background: url('images/bck_white_10.png');
            border: 1px solid #666666;
            text-align: left;
            padding: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        .login-border {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        .login-style {
            border: 2px solid #FFFFFF;
            background: url('images/login.jpg') center center no-repeat;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
        .login-header {
            height: 71px;
            background: url('images/login_header.png') left bottom no-repeat;
            padding: 15px 15px 0px 15px;
            -moz-border-radius: 3px 3px 0px 0px;
            -webkit-border-radius: 3px 3px 0px 0px;
            border-radius: 3px 3px 0px 0px;
        }
        .login-header .logo {
            width: auto;
            margin: 0px;
            padding-top: 0px;
        }
        .login-header .logo .title {}
        .login-header .logo .text {
            color: #333333;
        }
        .login-inside {
            height: 240px;
            padding-top: 35px;
            border-bottom: 1px solid #bbbbbb;
            background: url('images/gear.png') 325px bottom no-repeat;
        }
        .login-inside p {
            text-align: center;
            padding-bottom: 10px;
        }
        .login-data {
            width: 362px;
            padding: 22px 9px 17px 58px;
            background: url('images/bck_white_50.png');
            margin: 0px auto;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
            margin-bottom: 20px;
        }
        .login-data label {
            display: block;
            width: 90px;
            float: left;
            line-height: 22px;
            text-align: right;
            margin-right: 10px;
        }
        .login-data input.text {
            width: 140px;
        }
        .login-data .row {
            padding-bottom: 10px;
        }
        .login-data .button {
            margin-left: 80px;
        }
        .login-footer {
            border-top: 1px solid #FFFFFF;
            background: url('images/bck_black_70.png');
            height: 22px;
            padding: 9px 15px 23px 16px;
            -moz-border-radius: 0px 0px 3px 3px;
            -webkit-border-radius: 0px 0px 3px 3px;
            border-radius: 0px 0px 3px 3px;
        }
        .login-footer .remember {
            color: #FFFFFF;
            line-height: 22px;
            display: block;
            float: left;
            font-weight: bold;
        }
        .login-footer .remember label {
            margin-left: 3px;
        }
        .login-links {
            color: #bbbbbb;
            font-size: 12px;
            margin-left: 31%;
        }
        .login-links strong {
            font-weight: normal;
            color: #FFFFFF;
        }
        .login-links a {
            color: #FFFFFF;
            text-decoration: none;
        }
        .login-links a:hover {
            color: #FFFFFF;
            text-decoration: underline;
        }
        .pagesize {
            width: 1000px;
            margin: 0px auto;
            text-align: left;
        }
        .pagetop {
            width: 100%;
            min-width: 1000px;
            background: url('images/header.png') top center repeat-x #333333;
            border-bottom: 4px solid #55CC00;
            position: relative;
            z-index: 100;
        }
        .head {
            padding: 0px 0px 0px 0px;
            background: url('images/gear.png') 500px bottom no-repeat;
        }
        .head_top {
            position: relative;
            min-height: 114px;
        }
        .main {}
        .main-wrap {
            width: 100%;
            padding-top: 10px;
        }
        .page {
            padding-bottom: 50px;
        }
        .logo {
            padding-top: 20px;
        }
        .logo a {
            text-decoration: none;
        }
        .logo .picture {
            float: left;
            margin-right: 10px;
        }
        .logo .textlogo {
            float: left;
        }
        .logo .title {
            display: block;
            font-family: arial;
            font-size: 31px;
            //color: #fedc01;
            color: #bf2b2b;
            font-weight: bold;
            margin-top: 5px;
            letter-spacing: -0.02em;
        }
        .logo .text {
            display: block;
            font-weight: bold;
            color: #BBBBBB;
            position: relative;
            top: -2px;
        }
        .breadcrumb {
            width: 100%;
            height: 29px;
            background: url('images/breadcrumb.png') top left repeat-x;
        }
        .breadcrumb .bread-links {
            line-height: 26px;
            font-size: 11px;
        }
        .breadcrumb li {
            float: left;
            margin-right: 5px;
        }
        .breadcrumb li.first {
            padding-left: 16px;
            background: url('images/ball_yellow_13.png') 0px 7px no-repeat;
        }
        .breadcrumb li span {
            padding-left: 5px;
        }
    }
    
    .close {
        opacity: .9;
    }
    
    #loginnewidcchangepassword {
        .login {
            background: none;
            background: url('images/header.png') top left repeat-x;
            padding-top: 16px;
        }
        .clear:after {
            content: ".";
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;
            visibility: hidden;
        }
        .clean-margin {
            margin: 0px !important;
        }
        .clean-padding {
            padding: 0px !important;
        }
        ul.standard.clean-padding {
            padding: 0 0 0 16px !important;
        }
        ol.standard.clean-padding {
            padding: 0 0 0 22px !important;
        }
        .hidden {
            display: none;
        }
        .display {
            display: block;
        }
        .half {
            width: 48% !important;
        }
        .trio {
            width: 31% !important;
        }
        .quad {
            width: 23% !important;
        }
        .full {
            width: 100%;
        }
        .size-80 {
            width: 80px;
        }
        .size-120 {
            width: 120px;
        }
        .size-150 {
            width: 150px;
        }
        .size-170 {
            width: 170px;
        }
        .size-200 {
            width: 200px;
        }
        .fl {
            float: left;
        }
        .fr {
            float: right;
        }
        .fl-space {
            float: left;
            margin-right: 5px;
        }
        .fr-space {
            float: right;
            margin-left: 5px;
        }
        .fl-space2 {
            float: left;
            margin-right: 10px;
        }
        .fr-space2 {
            float: right;
            margin-left: 10px;
        }
        .bt-space0 {
            margin-bottom: 0px !important;
        }
        .bt-space5 {
            margin-bottom: 5px !important;
        }
        .bt-space10 {
            margin-bottom: 10px !important;
        }
        .bt-space15 {
            margin-bottom: 0px !important;
        }
        .bt-space20 {
            margin-bottom: 20px !important;
        }
        .bt-space30 {
            margin-bottom: 30px !important;
        }
        .bt-space40 {
            margin-bottom: 40px !important;
        }
        .ln-normal {
            line-height: normal !important;
        }
        .ln-22 {
            line-height: 22px !important;
        }
        .left {
            text-align: left !important;
        }
        .center {
            text-align: center !important;
            margin: auto !important;
        }
        .right {
            text-align: right !important;
        }
        .block {
            text-align: justify;
        }
        img.block {
            display: block;
        }
        a {
            color: #00A5C4;
            text-decoration: none;
        }
        a:hover {
            color: #00A5C4;
            text-decoration: underline;
        }
        .button {
            display: inline-block;
            line-height: 22px;
            border-width: 0px;
            font-size: 11px;
            font-family: arial;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            background: url('images/button_glas1.png') center center repeat-x #333333;
            padding: 3px 13px 3px 13px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
            text-align: center;
        }
        input.button {
            display: inline-block;
            line-height: 13px;
            /* IE8 hack */
            line-height: 16px\0;
            border-width: 0px;
            font-size: 11px;
            font-family: arial;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            background: url('images/button_glas1.png') center center repeat-x #333333;
            padding: 3px 10px 3px 10px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
        }
        .button:hover {
            color: #FFFFFF;
            text-decoration: none;
        }
        .button.green {
            background-color: #4DB800;
        }
        .button.red {
            background-color: #D80017;
        }
        .button.blue {
            background-color: #00A5C4;
        }
        .button.grey {
            background-color: #BBBBBB;
        }
        strong {
            // color: #333333;
        }
        small {
            font-size: 11px;
            line-height: 14px;
            display: block;
        }
        code {
            // color: #333333;
            font-family: "Courier New", Courier, monospace, sans-serif;
        }
        q {
            background: url("images/quote.png") no-repeat 7px 8px #FFFFFF;
            // color: #333333;
            display: block;
            font-family: "Times New Roman", arial;
            font-size: 14px;
            line-height: 18px;
            font-style: normal;
            min-height: 42px;
            padding: 10px 10px 10px 32px;
            quotes: "" "";
            font-style: italic;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
        }
        q cite {
            color: #959595;
            display: block;
            font-size: 12px;
            padding-top: 5px;
            font-family: arial;
        }
        del {
            color: #FF001C;
            text-decoration: line-through;
        }
        .rule {
            padding-top: 2px;
            padding-bottom: 20px;
            background: url('images/rule.gif') 0px 0px repeat-x;
        }
        .rule2 {
            padding-top: 4px;
            padding-bottom: 20px;
            background: url('images/rule2.gif') 0px 0px repeat-x;
        }
        .sidebar .rule {
            padding-bottom: 15px;
        }
        .cr-help {
            cursor: help;
        }
        .login-box {
            width: 550px;
            margin: 0px auto;
            margin-bottom: 30px;
            background: url('images/bck_white_10.png');
            border: 1px solid #666666;
            text-align: left;
            padding: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        .login-border {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        .login-style {
            border: 2px solid #FFFFFF;
            background: url('images/login.jpg') center center no-repeat;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
        .login-header {
            height: 71px;
            background: url('images/login_header.png') left bottom no-repeat;
            padding: 15px 15px 0px 15px;
            -moz-border-radius: 3px 3px 0px 0px;
            -webkit-border-radius: 3px 3px 0px 0px;
            border-radius: 3px 3px 0px 0px;
        }
        .login-header .logo {
            width: auto;
            margin: 0px;
            padding-top: 0px;
        }
        .login-header .logo .title {}
        .login-header .logo .text {
            color: #333333;
        }
        .login-inside {
            height: 252px;
            padding-top: 35px;
            border-bottom: 1px solid #bbbbbb;
            background: url('images/gear.png') 325px bottom no-repeat;
        }
        .login-inside p {
            text-align: center;
            padding-bottom: 10px;
        }
        .login-data {
            width: 362px;
            padding: 14px 9px 8px 40px;
            background: url('images/bck_white_50.png');
            margin: 0px auto;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
            margin-bottom: 2px;
        }
        .login-data label {
            display: block;
            width: 140px;
            float: left;
            line-height: 22px;
            text-align: right;
            margin-right: 10px;
        }
        .login-data input.text {
            width: 140px;
        }
        .login-data .row {
            padding-bottom: 10px;
        }
        .login-data .button {
            margin-left: 8px;
        }
        .login-footer {
            border-top: 1px solid #FFFFFF;
            background: url('images/bck_black_70.png');
            height: 22px;
            padding: 9px 15px 23px 16px;
            -moz-border-radius: 0px 0px 3px 3px;
            -webkit-border-radius: 0px 0px 3px 3px;
            border-radius: 0px 0px 3px 3px;
        }
        .login-footer .remember {
            color: #FFFFFF;
            line-height: 22px;
            display: block;
            float: left;
            font-weight: bold;
        }
        .login-footer .remember label {
            margin-left: 3px;
        }
        .login-links {
            color: #bbbbbb;
            font-size: 12px;
            margin-left: 31%;
        }
        .login-links strong {
            font-weight: normal;
            color: #FFFFFF;
        }
        .login-links a {
            color: #FFFFFF;
            text-decoration: none;
        }
        .login-links a:hover {
            color: #FFFFFF;
            text-decoration: underline;
        }
        .pagesize {
            width: 1000px;
            margin: 0px auto;
            text-align: left;
        }
        .pagetop {
            width: 100%;
            min-width: 1000px;
            background: url('images/header.png') top center repeat-x #333333;
            border-bottom: 4px solid #55CC00;
            position: relative;
            z-index: 100;
        }
        .head {
            padding: 0px 0px 0px 0px;
            background: url('images/gear.png') 500px bottom no-repeat;
        }
        .head_top {
            position: relative;
            min-height: 114px;
        }
        .main {}
        .main-wrap {
            width: 100%;
            padding-top: 10px;
        }
        .page {
            padding-bottom: 50px;
        }
        .logo {
            padding-top: 20px;
        }
        .logo a {
            text-decoration: none;
        }
        .logo .picture {
            float: left;
            margin-right: 10px;
        }
        .logo .textlogo {
            float: left;
        }
        .logo .title {
            display: block;
            font-family: arial;
            font-size: 31px;
            //color: #fedc01;
            color: #bf2b2b;
            font-weight: bold;
            margin-top: 5px;
            letter-spacing: -0.02em;
        }
        .logo .text {
            display: block;
            font-weight: bold;
            color: #BBBBBB;
            position: relative;
            top: -2px;
        }
        .breadcrumb {
            width: 100%;
            height: 29px;
            background: url('images/breadcrumb.png') top left repeat-x;
        }
        .breadcrumb .bread-links {
            line-height: 26px;
            font-size: 11px;
        }
        .breadcrumb li {
            float: left;
            margin-right: 5px;
        }
        .breadcrumb li.first {
            padding-left: 16px;
            background: url('images/ball_yellow_13.png') 0px 7px no-repeat;
        }
        .breadcrumb li span {
            padding-left: 5px;
        }
    }
    
    #changeotheremppassword {
        .login {
            background: none;
            background: url('images/header.png') top left repeat-x;
            padding-top: 16px;
        }
        .clear:after {
            content: ".";
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;
            visibility: hidden;
        }
        .clean-margin {
            margin: 0px !important;
        }
        .clean-padding {
            padding: 0px !important;
        }
        ul.standard.clean-padding {
            padding: 0 0 0 16px !important;
        }
        ol.standard.clean-padding {
            padding: 0 0 0 22px !important;
        }
        .hidden {
            display: none;
        }
        .display {
            display: block;
        }
        .half {
            width: 48% !important;
        }
        .trio {
            width: 31% !important;
        }
        .quad {
            width: 23% !important;
        }
        .full {
            width: 100%;
        }
        .size-80 {
            width: 80px;
        }
        .size-120 {
            width: 120px;
        }
        .size-150 {
            width: 150px;
        }
        .size-170 {
            width: 170px;
        }
        .size-200 {
            width: 200px;
        }
        .fl {
            float: left;
        }
        .fr {
            float: right;
        }
        .fl-space {
            float: left;
            margin-right: 5px;
        }
        .fr-space {
            float: right;
            margin-left: 5px;
        }
        .fl-space2 {
            float: left;
            margin-right: 10px;
        }
        .fr-space2 {
            float: right;
            margin-left: 10px;
        }
        .bt-space0 {
            margin-bottom: 0px !important;
        }
        .bt-space5 {
            margin-bottom: 5px !important;
        }
        .bt-space10 {
            margin-bottom: 10px !important;
        }
        .bt-space15 {
            margin-bottom: 0px !important;
        }
        .bt-space20 {
            margin-bottom: 20px !important;
        }
        .bt-space30 {
            margin-bottom: 30px !important;
        }
        .bt-space40 {
            margin-bottom: 40px !important;
        }
        .ln-normal {
            line-height: normal !important;
        }
        .ln-22 {
            line-height: 22px !important;
        }
        .left {
            text-align: left !important;
        }
        .center {
            text-align: center !important;
            margin: auto !important;
        }
        .right {
            text-align: right !important;
        }
        .block {
            text-align: justify;
        }
        img.block {
            display: block;
        }
        a {
            color: #00A5C4;
            text-decoration: none;
        }
        a:hover {
            color: #00A5C4;
            text-decoration: underline;
        }
        .button {
            display: inline-block;
            line-height: 22px;
            border-width: 0px;
            font-size: 11px;
            font-family: arial;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            background: url('images/button_glas1.png') center center repeat-x #333333;
            padding: 3px 13px 3px 13px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
            text-align: center;
        }
        input.button {
            display: inline-block;
            line-height: 13px;
            /* IE8 hack */
            line-height: 16px\0;
            border-width: 0px;
            font-size: 11px;
            font-family: arial;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            background: url('images/button_glas1.png') center center repeat-x #333333;
            padding: 3px 10px 3px 10px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
        }
        .button:hover {
            color: #FFFFFF;
            text-decoration: none;
        }
        .button.green {
            background-color: #4DB800;
        }
        .button.red {
            background-color: #D80017;
        }
        .button.blue {
            background-color: #00A5C4;
        }
        .button.grey {
            background-color: #BBBBBB;
        }
        strong {
            // color: #333333;
        }
        small {
            font-size: 11px;
            line-height: 14px;
            display: block;
        }
        code {
            // color: #333333;
            font-family: "Courier New", Courier, monospace, sans-serif;
        }
        q {
            background: url("images/quote.png") no-repeat 7px 8px #FFFFFF;
            // color: #333333;
            display: block;
            font-family: "Times New Roman", arial;
            font-size: 14px;
            line-height: 18px;
            font-style: normal;
            min-height: 42px;
            padding: 10px 10px 10px 32px;
            quotes: "" "";
            font-style: italic;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
        }
        q cite {
            color: #959595;
            display: block;
            font-size: 12px;
            padding-top: 5px;
            font-family: arial;
        }
        del {
            color: #FF001C;
            text-decoration: line-through;
        }
        .rule {
            padding-top: 2px;
            padding-bottom: 20px;
            background: url('images/rule.gif') 0px 0px repeat-x;
        }
        .rule2 {
            padding-top: 4px;
            padding-bottom: 20px;
            background: url('images/rule2.gif') 0px 0px repeat-x;
        }
        .sidebar .rule {
            padding-bottom: 15px;
        }
        .cr-help {
            cursor: help;
        }
        .login-box {
            width: 550px;
            margin: 0px auto;
            margin-bottom: 30px;
            background: url('images/bck_white_10.png');
            border: 1px solid #666666;
            text-align: left;
            padding: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        .login-border {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        .login-style {
            border: 2px solid #FFFFFF;
            background: url('images/login.jpg') center center no-repeat;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
        .login-header {
            height: 71px;
            background: url('images/login_header.png') left bottom no-repeat;
            padding: 15px 15px 0px 15px;
            -moz-border-radius: 3px 3px 0px 0px;
            -webkit-border-radius: 3px 3px 0px 0px;
            border-radius: 3px 3px 0px 0px;
        }
        .login-header .logo {
            width: auto;
            margin: 0px;
            padding-top: 0px;
        }
        .login-header .logo .title {}
        .login-header .logo .text {
            color: #333333;
        }
        .login-inside {
            height: 180px;
            padding-top: 35px;
            border-bottom: 1px solid #bbbbbb;
            background: url('images/gear.png') 325px bottom no-repeat;
        }
        .login-inside p {
            text-align: center;
            padding-bottom: 10px;
        }
        .login-data {
            width: 362px;
            padding: 22px 9px 17px 58px;
            background: url('images/bck_white_50.png');
            margin: 0px auto;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
            margin-bottom: 2px;
        }
        .login-data label {
            display: block;
            // width: 140px;
            float: left;
            line-height: 22px;
            text-align: right;
            margin-right: 10px;
        }
        .login-data input.text {
            width: 140px;
        }
        .login-data .row {
            padding-bottom: 10px;
        }
        .login-data .button {
            margin-left: 8px;
        }
        .login-footer {
            border-top: 1px solid #FFFFFF;
            background: url('images/bck_black_70.png');
            height: 22px;
            padding: 9px 15px 23px 16px;
            -moz-border-radius: 0px 0px 3px 3px;
            -webkit-border-radius: 0px 0px 3px 3px;
            border-radius: 0px 0px 3px 3px;
        }
        .login-footer .remember {
            color: #FFFFFF;
            line-height: 22px;
            display: block;
            float: left;
            font-weight: bold;
        }
        .login-footer .remember label {
            margin-left: 3px;
        }
        .login-links {
            color: #bbbbbb;
            font-size: 12px;
            margin-left: 31%;
        }
        .login-links strong {
            font-weight: normal;
            color: #FFFFFF;
        }
        .login-links a {
            color: #FFFFFF;
            text-decoration: none;
        }
        .login-links a:hover {
            color: #FFFFFF;
            text-decoration: underline;
        }
        .pagesize {
            width: 1000px;
            margin: 0px auto;
            text-align: left;
        }
        .pagetop {
            width: 100%;
            min-width: 1000px;
            background: url('images/header.png') top center repeat-x #333333;
            border-bottom: 4px solid #55CC00;
            position: relative;
            z-index: 100;
        }
        .head {
            padding: 0px 0px 0px 0px;
            background: url('images/gear.png') 500px bottom no-repeat;
        }
        .head_top {
            position: relative;
            min-height: 114px;
        }
        .main {}
        .main-wrap {
            width: 100%;
            padding-top: 10px;
        }
        .page {
            padding-bottom: 50px;
        }
        .logo {
            padding-top: 20px;
        }
        .logo a {
            text-decoration: none;
        }
        .logo .picture {
            float: left;
            margin-right: 10px;
        }
        .logo .textlogo {
            float: left;
        }
        .logo .title {
            display: block;
            font-family: arial;
            font-size: 31px;
            //color: #fedc01;
            color: #bf2b2b;
            font-weight: bold;
            margin-top: 5px;
            letter-spacing: -0.02em;
        }
        .logo .text {
            display: block;
            font-weight: bold;
            color: #BBBBBB;
            position: relative;
            top: -2px;
        }
        .breadcrumb {
            width: 100%;
            height: 29px;
            background: url('images/breadcrumb.png') top left repeat-x;
        }
        .breadcrumb .bread-links {
            line-height: 26px;
            font-size: 11px;
        }
        .breadcrumb li {
            float: left;
            margin-right: 5px;
        }
        .breadcrumb li.first {
            padding-left: 16px;
            background: url('images/ball_yellow_13.png') 0px 7px no-repeat;
        }
        .breadcrumb li span {
            padding-left: 5px;
        }
    }