span.multiselect-selected-text {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.checkbox input[type=checkbox] {
    position: relative;
}

#matchfollowupdiv {
    .pauseBtns {
        text-align: center;
    }
}

#matchfollowupdiv {
    div#myCarousel.carousel.slide {
        color: gray;
    }
    .maroon {
        color: maroon;
    }
}