<div class="right_col" id="educationmasterid">
    <div class="row">
        <div class="col-lg-2">
            <h4 class="hdrCls">Master Page</h4>
        </div>
    </div>
    <br>
    <div class="bodycls">
        <div class="row">
            <div class="col-lg-2">
                <div class="edit_pages_sidebar_menu clearfix">
                    <ul>
                        <li ng-repeat="item in page.model.tabsselected">
                            <a href="javascript:void(0);" ng-click="page.model.masterpageid(item.arrayname,item.tabname);" ng-class="{'btnbgColor':page.model.typeindex===item.tabname}">{{item.tabname}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="col-lg-12">
                    <div class="col-lg-5 col-lg-offset-1  clearfix">
                        <p class="col-lg-6  clearfix">{{page.model.labelName}}</p>
                        <div class="col-lg-6 controls clearfix">
                            <div layout-gt-sm="row" class="generalane">
                                <input ng-class="page.model.dynamictextbox!=='' && page.model.dynamictextbox!==undefined && ppage.model.dynamictextbox!==null ?'bacg':''" class="form-control" style="width: 220px !important;" type="text" ng-model="page.model.dynamictextbox"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 pull-right clearfix">
                        <md-checkbox ng-model="page.model.dynamicshowactiveinactive" ng-change="page.model.filteractiveinactive(page.model.dynamicshowactiveinactive,page.model.labelName)">
                            Show Inactive
                        </md-checkbox>
                    </div>
                    <div class="col-lg-2">
                        <button class="md-raised md-warn md-hue-2 md-button md-ink-ripple" ng-click="page.model.submitupdate()">Submit</button>
                    </div>
                    <br>
                    <complex-grid-new gid="'id1'" config="page.model.grid1" model="page.model.grid1"></complex-grid-new>
                </div>
                <div class="clearfix"></div>
                <br>
                <br>
                <div class="col-lg-12" ng-show="page.model.grid2.columnsshow">
                    <div class="col-lg-5 col-lg-offset-1  clearfix">
                        <p class="col-lg-6  clearfix">{{page.model.labelgroupName}}</p>
                        <div class="col-lg-6 controls clearfix">
                            <div layout-gt-sm="row" class="generalane">
                                <input required="true" ng-class="page.model.dynamicgrouptextbox!=='' && page.model.dynamicgrouptextbox!==undefined && ppage.model.dynamicgrouptextbox!==null ?'bacg':''" class="form-control" style="width: 220px !important;" type="text" ng-model="page.model.dynamicgrouptextbox"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button class="md-raised md-warn md-hue-2 md-button md-ink-ripple" ng-click="page.model.submitupdate()">Submit</button>
                    </div>
                    <div class="col-lg-4 pull-right clearfix">
                        <md-checkbox ng-model="page.model.dynamicgroupinactive" ng-change="page.model.filteractiveinactive(page.model.dynamicgroupinactive,page.model.labelgroupName)">
                            Show Inactive
                        </md-checkbox>
                    </div>
                    <br>
                    <complex-grid-new gid="'id2'" config="page.model.grid2" model="page.model.grid2"></complex-grid-new>
                </div>
                <div class="clearfix"></div>
                <br>
                <br>
                <div class="col-lg-12" ng-show="page.model.grid3.columnsshow">
                    <div class="col-lg-5 col-lg-offset-1  clearfix">
                        <p class="col-lg-6  clearfix">{{page.model.labelSpecialName}}</p>
                        <div class="col-lg-6 controls clearfix">
                            <div layout-gt-sm="row" class="generalane">
                                <input required="true" ng-class="page.model.dynamicspltextbox!=='' && page.model.dynamicspltextbox!==undefined && ppage.model.dynamicspltextbox!==null ?'bacg':''" class="form-control" style="width: 220px !important;" type="text" ng-model="page.model.dynamicspltextbox"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button class="md-raised md-warn md-hue-2 md-button md-ink-ripple" ng-click="page.model.submitupdate()">Submit</button>
                    </div>
                    <div class="col-lg-4 pull-right clearfix">
                        <md-checkbox ng-model="page.model.dynamicsplinactive" ng-change="page.model.filteractiveinactive(page.model.dynamicsplinactive,page.model.labelSpecialName)">
                            Show Inactive
                        </md-checkbox>
                    </div>
                    <br>
                    <complex-grid-new gid="'id2'" config="page.model.grid3" model="page.model.grid3"></complex-grid-new>
                </div>
            </div>
        </div>
    </div>
</div>