<div id="communicationlogid" class="right_col" role="main">
    <div class="communicationlogheader">
        Communication Log
    </div>
    <div class="">
        <br>
        <div class="row">
            <div class="col-lg-offset-4">
                <p class="col-lg-1 lblprofileid">ProfileID</p>
                <input focus-me="true" ng-model="page.model.Profileidcommunication" ng-keyup="$event.keyCode == 13 && page.model.communicationlogsubmit(page.model.Profileidcommunication)" type="text" maxlength="12" class="form-control txtboxwidth col-lg-2" onfocus="true">
                <button class="btn btn-danger col-lg-1" ng-click="page.model.communicationlogsubmit(page.model.Profileidcommunication)">Submit</button>
                <label class="col-lg-5" style="margin-left: 26px; margin-top: 5px;">{{page.model.Nameofcandidate}}</label>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div ng-show="page.model.gridTableshow && page.model.gridtable4.data">
            <div class="col-lg-12" ng-if="page.model.sendarray4.length>0">
                <br ng-if="page.model.sendarray4.length>0">
                <p class="col-lg-offset-4 headclasstable">Match Meeting Data
                </p>
                <br ng-if="page.model.sendarray4.length>0">
            </div>
            <div class="col-lg-12" ng-if="page.model.sendarray.length>0 && page.model.sendarray4.length===0">
                <br ng-if="page.model.sendarray4.length===0">
                <p class="col-lg-offset-4 headclasstable">No Match Meeting Data
                </p>
                <br ng-if="page.model.sendarray4.length===0">
            </div>
            <complex-grid-new gid="'id4'" ng-show="page.model.gridtable4.data.length>0" model="page.model.gridtable4" config="page.model" pagesizecommunication="999"></complex-grid-new>
        </div>
        <div ng-show="page.model.gridTableshow && page.model.gridtable1.data">
            <div class="col-lg-12" ng-if="page.model.sendarray.length>0">
                <br ng-if="page.model.sendarray.length>0">
                <p class="col-lg-offset-4 headclasstable">List of members to whom your profile was sent <img style="width: 43px;height: 29px;" src="src/images/hndreverse.gif"></img>
                </p>
                <br ng-if="page.model.sendarray.length>0">
            </div>
            <br>
            <div class="col-lg-12" ng-if="page.model.sendarray.length>0">
                <md-radio-group layout="row" ng-change="page.model.receivedarraybind(page.model.receivedprofiles);" ng-model="page.model.receivedprofiles" class="md-block" flex-gt-sm>
                    <md-radio-button value="1" class="md-primary"> <span>&nbsp;<span class="glyphicon glyphicon-home"></span><b>&nbsp;({{page.model.sendarray[0].TotalRows}})</b></span>
                    </md-radio-button>
                    <md-radio-button value="V"> <span>&nbsp;<img src="src/images/Viewed.jpg" ><b >&nbsp;({{page.model.sendarray[0].V}})</b></span> </md-radio-button>
                    <md-radio-button value="NV"> <span>&nbsp;<img src="src/images/notviewed.jpg" ><b >&nbsp;({{page.model.sendarray[0].NV}})</b></span> </md-radio-button>
                    <md-radio-button value="I"> <span>&nbsp;<img src="src/images/heartgrren.gif" style="width: 28px;"><b >&nbsp;({{page.model.sendarray[0].I}})</b></span> </md-radio-button>
                    <md-radio-button value="NI"> <span>&nbsp;<img src="src/images/brkhrtgreen.gif" style="width: 28px;"><b>&nbsp;({{page.model.sendarray[0].NI}})</b>
                     </span>
                    </md-radio-button>
                </md-radio-group>
            </div>
            <complex-grid-new gid="'id1'" ng-show="page.model.gridtable1.data" model="page.model.gridtable1" config="page.model" pagesizecommunication="999"></complex-grid-new>
        </div>
        <div ng-show="page.model.gridTableshow && page.model.gridtable2.data">
            <div class="col-lg-12" ng-if="page.model.sendarray2.length>0">
                <br ng-if="page.model.sendarray2.length>0">
                <p class="col-lg-offset-4 headclasstable"> <img style="width: 43px;height: 29px;" src="src/images/hnd.gif"></img>List of members to who you contacted
                </p>
                <br ng-if="page.model.sendarray2.length>0">
            </div>
            <br>
            <div class="col-lg-12" ng-if="page.model.sendarray2.length>0">
                <div class="col-lg-7">
                    <md-radio-group layout="row" ng-change="page.model.sentarraybind(page.model.sentprofile);" ng-model="page.model.sentprofile" class="md-block" flex-gt-sm>
                        <md-radio-button value="1" class="md-primary"> <span>&nbsp;<span class="glyphicon glyphicon-home"></span><b>&nbsp;({{page.model.sendarray2[0].TotalRows}})</b></span>
                        </md-radio-button>
                        <md-radio-button value="V"> <span>&nbsp;<img src="src/images/Viewed.jpg" ><b >&nbsp;({{page.model.sendarray2[0].V}})</b></span> </md-radio-button>
                        <md-radio-button value="NV"> <span>&nbsp;<img src="src/images/notviewed.jpg" ><b >&nbsp;({{page.model.sendarray2[0].NV}})</b></span> </md-radio-button>
                        <md-radio-button value="I"> <span>&nbsp;<img src="src/images/heartgrren.gif" style="width: 28px;"><b >&nbsp;({{page.model.sendarray2[0].I}})</b></span> </md-radio-button>
                        <md-radio-button value="NI"> <span>&nbsp;<img src="src/images/brkhrtgreen.gif" style="width: 28px;"><b>&nbsp;({{page.model.sendarray2[0].NI}})</b>
                     </span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div class="col-lg-4">
                    <label class="control-label col-lg-8">Expiry Date:{{page.model.sendarray2[0].ServiceExpiryDate}}</label>
                    <label class="control-label col-lg-4">Points:{{page.model.sendarray2[0].ServicePoints}}</label>
                </div>
            </div>
            <complex-grid-new gid="'id2'" ng-show="page.model.gridtable2.data" model="page.model.gridtable2" config="page.model" pagesizecommunication="999"></complex-grid-new>
        </div>
        <div ng-show="page.model.gridTableshow && page.model.gridtable3.data">
            <div class="col-lg-12" ng-if="page.model.sendarray3.length>0">
                <br ng-if="page.model.sendarray3.length>0">
                <p class="col-lg-offset-4 headclasstable">List of profile to whom mails has resent
                </p>
                <br ng-if="page.model.sendarray3.length>0">
            </div>
            <complex-grid-new gid="'id3'" ng-show="page.model.gridtable3.data" model="page.model.gridtable3" config="page.model" pagesizecommunication="999"></complex-grid-new>
        </div>
    </div>
</div>
<script type="text/ng-template" id="matchfollowup.html">
    <div class="modal-body">
        <matchfollowup-tickethistory ticketid="page.model.marketingTicket" ticketstatus="page.model.TicketStatusID" showsendemail="'1'"></matchfollowup-tickethistory>
    </div>
</script>
<script type="text/ng-template" id="noServiceData.html">
    <div class="alert-danger">
        <div class="modal-header">
            <a href="javascript:void(0);" class="pull-right" ng-click="page.model.close();">
                <span class="fa fa-close red"></span>
            </a>
            <h4 class="modal-title">
                <center>No Service for this profile</center>
            </h4>
        </div>
    </div>
    <div class="modal-body">
        <center>
            <p style="line-height: 1.8;"> Want to give service for this profile ID, click below</p>

            <a style="font-size: 14px;
    font-weight: 600;line-height: 1.8;" href="search/0/{{page.model.Profileidcommunication}}">General search</a>
            <br>
            <a style="font-size: 14px;
    font-weight: 600;line-height: 1.8;" href="search/1/{{page.model.Profileidcommunication}}">Advance Search</a>
        </center>
    </div>
    <div class="modal-footer">
        <input type="button" value="close" class="btn btn-default" ng-click="page.model.close();">
    </div>
</script>
<style type="text/css">
    /* tbody {
        height: auto;
        max-height: 350px;
        overflow-y: auto;
    } */
    
    th,
    td {
        padding: 8px 16px;
        border: 1px solid #ddd;
        width: 199px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: inherit;
    }
    
    .Snos {
        width: 60px;
    }
    
    .PhotoCount {
        width: 120px;
    }
    
    .ProfileID {
        width: 130px;
    }
</style>
<!-- <html class="">
<thead>
    <tr>
        <td>Sno</td>
        <td>ProfileID</td>
        <td>Name</td>
        <td>LastName</td>
        <td></td>
        <td></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{item.}}</td>
        <td>{{item.}}</td>
        <td>{{item.}}</td>
        <td>{{item.}}</td>
        <td>{{item.}}</td>
        <td>{{item.}}</td>
    </tr>
</tbody>

</html> -->

<script>
</script>