#communicationlogid {
    .search_page_main {
        max-width: 1200px;
        // margin: 30px auto 60px;
        border: 1px solid #cecece;
        border-radius: 3px;
        box-shadow: 2px 2px 6px #ccc;
        min-height: 200px;
    }
    .communicationlogheader {
        color: maroon;
        font-size: 19px;
        font-weight: bold;
    }
    .txtboxwidth {
        width: 150px;
        margin-right: 10px;
    }
    .lblprofileid {
        width: 100px;
    }
}

.unpaid {
    color: red;
    font-weight: 700;
}

.paidclass {
    color: #16713d;
    font-weight: 700;
}

.imgwidth {
    width: 28px;
}