<div class="right_col" role="main" id="generalsearchdiv">
    <div class="search_page_main" ng-show="page.model.divcontrolls">
        <div class="sample" layout="column">
            <md-content class="md-padding">
                <md-tabs ng-if="page.model.loadContent" md-selected="page.model.selectedIndex" md-dynamic-height flex md-border-bottom md-autoselect>
                    <md-tab ng-repeat="tab in page.model.tabsselected" label="{{tab.tabname}}" ng-click="page.onTabSelected(page.model.selectedIndex)">
                        <div class="tab">
                            <form name="{{tab.formame}}" role="form">
                                <div class="profile_search_main profile_settings_main clearfix">
                                    <div class="row">
                                        <div ng-repeat="parentitem in page.model.returndynamicarray(tab.arrayname)">
                                            <md-toolbar ng-if="parentitem.headerName!==''">
                                                <div class="row">
                                                    <div class="md-toolbar-tools">
                                                        <h4 class="md-flex  col-lg-12" style="font-size: 15px;"> {{parentitem.headerName}}
                                                        </h4>
                                                        <a ng-click="page.model.showplusminusicon(parentitem.collapseid)" href="javascript:void(0)"> <i ng-class="page.model.domheader_{{parentitem.collapseid}}===true?'fa fa-plus-square pull-right':'fa fa-minus-square pull-right'" style="cursor:pointer;" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </md-toolbar>
                                            <div ng-hide="page.model.domheader_{{parentitem.collapseid}}">
                                                <div ng-repeat="item in parentitem.controlList">
                                                    <div class="row" ng-if="item.controlType==='gender'">
                                                        <div class="col-lg-4">
                                                            <md-radio-group layout="row" ng-model="page.model[item.ngModel]" class="md-block" flex-gt-sm>
                                                                <md-radio-button value="2" class="md-primary"> Bride</md-radio-button>
                                                                <md-radio-button value="1"> Groom </md-radio-button>
                                                            </md-radio-group>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <md-radio-group layout="row" ng-model="page.model.agedobcontrol" class="md-block" flex-gt-sm>
                                                                <md-radio-button value="2" class="md-primary"> Age</md-radio-button>
                                                                <md-radio-button value="1"> DOB </md-radio-button>
                                                            </md-radio-group>
                                                        </div>
                                                        <div class="col-lg-3" ng-if="tab.arrayname===2">
                                                            <md-checkbox ng-model="page.model.OnlyConfidential">
                                                                Show only confidential matches
                                                            </md-checkbox>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <br>
                                                    </div>
                                                    <div ng-if="item.divClear" class="clearfix"></div>
                                                    <br ng-if="item.divClear">
                                                    <div class="col-lg-3" ng-if="item.controlType==='dropdown'">
                                                        <p>{{item.labelName}}</p>
                                                        <div ng-class="page.model[item.ngModel]===undefined || page.model[item.ngModel]===null || page.model[item.ngModel].length===0 ?'':'ddlcolor'" class="controls clearfix">
                                                            <div ng-if="item.type!==undefined">
                                                                <select multiple ng-model="page.model[item.ngModel]" multiselectdropdown ng-options="caste.value as caste.label for caste in page.model[item.dataSource]" pagetype="'search'" ng-change="page.directivechangeevent(page.model[item.ngModel],item.type)">
                                                            </select>
                                                            </div>
                                                            <div ng-if="item.type===undefined">
                                                                <select multiple ng-model="page.model[item.ngModel]" multiselectdropdown ng-options="caste.value as caste.label for caste in page.model[item.dataSource]" pagetype="'search'">
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3  clearfix" ng-if="item.controlType==='textBox'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix">
                                                            <div layout-gt-sm="row" class="generalane">
                                                                <input ng-class="page.model[item.ngModel].trim()!=='' && page.model[item.ngModel]!==undefined && page.model[item.ngModel]!==null ?'bacg':''" class="form-control" style="width: 220px !important;" type="text" ng-model="page.model[item.ngModel]"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3  clearfix" ng-if="item.controlType==='profileid'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix">
                                                            <div layout-gt-sm="row" class="generalane">
                                                                <input onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-class="page.model[item.ngModel].trim()!=='' && page.model[item.ngModel]!==undefined &&  page.model[item.ngModel]!==null?'bacg':''" class="form-control" style="width: 220px !important;"
                                                                    type="text" ng-model="page.model[item.ngModel]"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 clearfix" ng-if="item.controlType==='checkBoxList'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix">
                                                            <label ng-repeat="role in page.model[item.dataSource]">
                                                            <md-checkbox  data-checklist-model="page.model[item.ngModel]" data-checklist-value="role.value">{{role.name}}&nbsp;&nbsp;
                                                            </md-checkbox>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4" ng-if="item.controlType==='datePicker'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix row">
                                                            <div class="col-lg-6 datepicker">
                                                                <custom-datepicker ng-class="page.model[item.ngModelFrom].trim()!=='' && page.model[item.ngModelFrom]!==undefined &&  page.model[item.ngModelFrom]!==null?'datepicker4':''" ng-model="page.model[item.ngModelFrom]" date-options="page.model.dateOptions"></custom-datepicker>
                                                            </div>
                                                            <div class="col-lg-6 datepicker">
                                                                <custom-datepicker ng-class="page.model[item.ngModelTo].trim()!=='' && page.model[item.ngModelTo]!==undefined &&  page.model[item.ngModelTo]!==null?'datepicker4':''" ng-model="page.model[item.ngModelTo]" date-options="page.model.dateOptions"></custom-datepicker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" ng-if="item.controlType==='dobirth' && page.model.agedobcontrol==='1'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix row">
                                                            <div class="col-lg-6 datepicker" style="width: 125px;padding: 6px;">
                                                                <custom-datepicker ng-class="page.model[item.ngModelFrom].trim()!=='' && page.model[item.ngModelFrom]!==undefined &&  page.model[item.ngModelFrom]!==null?'datepicker4':''" ng-model="page.model[item.ngModelFrom]" date-options="page.model.dateOptionsDOB"></custom-datepicker>
                                                            </div>
                                                            <div class="col-lg-6 datepicker" style="width: 125px;padding: 6px;">
                                                                <custom-datepicker ng-class="page.model[item.ngModelTo].trim()!=='' && page.model[item.ngModelTo]!==undefined &&  page.model[item.ngModelTo]!==null?'datepicker4':''" ng-model="page.model[item.ngModelTo]" date-options="page.model.dateOptionsDOB"></custom-datepicker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" ng-if="item.controlType==='dualDropdown'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix row">
                                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  generalane" ng-class="page.model[item.ngModelFrom]===undefined || page.model[item.ngModelFrom]===null || page.model[item.ngModelFrom].length===0 || page.model[item.ngModelFrom]===0?'':'ddlcolor'">
                                                                <select ng-model="page.model[item.ngModelFrom]" multiselectdropdown ng-options="caste.value as caste.label for caste in page.model[item.dataSource]" class="smalldropdown">   
                                                                 </select>
                                                            </div>
                                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  generalane" style="margin-left: -20px;" ng-class="page.model[item.ngModelTo]===undefined || page.model[item.ngModelTo]===null || page.model[item.ngModelTo].length===0 || page.model[item.ngModelTo]===0?'':'ddlcolor'">
                                                                <select class="smalldropdown" ng-model="page.model[item.ngModelTo]" multiselectdropdown ng-options="caste.value as caste.label for caste in page.model[item.dataSource]">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" ng-if="item.controlType==='dualDropdownage' && page.model.agedobcontrol==='2'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix row">
                                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  generalane" ng-class="page.model[item.ngModelFrom]===undefined || page.model[item.ngModelFrom]===null || page.model[item.ngModelFrom].length===0 || page.model[item.ngModelFrom]==='0'?'':'ddlcolor'">
                                                                <select ng-model="page.model[item.ngModelFrom]" ng-options="caste.value as caste.label for caste in page.model.agearray" multiselectdropdown class="smalldropdown">   
                                                                 </select>
                                                            </div>
                                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  generalane" style="margin-left: -20px;" ng-class="page.model[item.ngModelTo]===undefined || page.model[item.ngModelTo]===null || page.model[item.ngModelTo].length===0 || page.model[item.ngModelTo]==='0'?'':'ddlcolor'">
                                                                <select class="smalldropdown" ng-options="caste.value as caste.label for caste in page.model.agearray" ng-model="page.model[item.ngModelTo]" multiselectdropdown>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" ng-if="item.controlType==='empbranches'">
                                                        <p>{{item.labelName}}</p>
                                                        <div ng-class="page.model[item.ngModel]===undefined || page.model[item.ngModel]===null || page.model[item.ngModel].length===0 ?'':'ddlcolor'" class="controls clearfix">
                                                            <select ng-model="page.model[item.ngModel]" multiple multiselectdropdown ng-options="item.value as item.label group by item.ParentName for item in page.model[item.dataSource]" data-live-search='true'>                                        
                                                            </select>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4" ng-if="item.controlType==='radiomalagik'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix">
                                                            <md-radio-group layout="row" class="md-block" flex-gt-sm ng-model="page.model[item.ngModel]">
                                                                <md-radio-button value="0" class="md-primary"> Yes</md-radio-button>
                                                                <md-radio-button value="1"> No </md-radio-button>
                                                                <md-radio-button value="2"> Doesn't Matter
                                                                </md-radio-button>
                                                            </md-radio-group>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4" ng-if="item.controlType==='intercaste'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix">
                                                            <md-radio-group layout="row" class="md-block" flex-gt-sm ng-model="page.model[item.ngModel]">
                                                                <md-radio-button value="1" class="md-primary"> Yes</md-radio-button>
                                                                <md-radio-button value="0"> No </md-radio-button>
                                                                </md-radio-button>
                                                            </md-radio-group>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" ng-if="item.controlType==='textproperty'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix">
                                                            <div layout-gt-sm="row" class="generalane">
                                                                <input ng-class="page.model[item.ngModelFrom].trim()!==''&& page.model[item.ngModelFrom]!==undefined && page.model[item.ngModelFrom]!==null?'bacg':''" class="form-control" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-model="page.model[item.ngModelFrom]"
                                                                    style="width:100px !important;margin-right:10px;" placeholder="From" type="text">
                                                                <input ng-class="page.model[item.ngModelTo].trim()!==''&& page.model[item.ngModelTo]!==undefined && page.model[item.ngModelTo]!==null?'bacg':''" class="form-control" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" placeholder="To" ng-model="page.model[item.ngModelTo]"
                                                                    type="text" style="width: 100px !important;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" ng-if="item.controlType==='triblecontrols'">
                                                        <p>{{item.labelName}}</p>
                                                        <div class="controls clearfix">
                                                            <div layout-gt-sm="row" class="generalane">
                                                                <select class="smalldropdown" ng-model="page.model[item.ngModel]" multiselectdropdown ng-options="caste.value as caste.label for caste in page.model[item.dataSource]">   
                                                                      </select>
                                                                <input ng-class="page.model[item.ngModelFrom].trim()!=='' && page.model[item.ngModelFrom]!==undefined && page.model[item.ngModelFrom]!==null?'bacg':''" class="form-control" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-model="page.model[item.ngModelFrom]"
                                                                    style="width: 65px !important;margin-left:10px;margin-right:10px;" placeholder="From" type="text">
                                                                </input>
                                                                <input ng-class="page.model[item.ngModelTo].trim()!=='' && page.model[item.ngModelTo]!==undefined && page.model[item.ngModelTo]!==null?'bacg':''" class="form-control" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" placeholder="To" ng-model="page.model[item.ngModelTo]"
                                                                    type="text" style="width: 65px !important;">
                                                                </input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" ng-if="item.controlType==='singlechkbox'">
                                                        <p></p>
                                                        <div class="controls clearfix">
                                                            <div layout-gt-sm="row" class="generalane">
                                                                <md-checkbox ng-model="page.model[item.ngModel]">
                                                                    Show only confidential matches
                                                                </md-checkbox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <br>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                        <md-divider></md-divider>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div layout-gt-sm="row">
                                            <md-radio-group layout="" ng-model="page.model.typrofsearch" class="md-block col-lg-offset-5" flex-gt-sm>
                                                <md-radio-button value="1" class="md-primary"> Gridview </md-radio-button>
                                                <md-radio-button value="2"> Slide show </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                        <md-divider></md-divider>
                                    </div>
                                    <div class="row">
                                        <br>
                                        <div class="col-lg-offset-5">
                                            <md-button class="md-raised md-warn md-hue-2" ng-disabled="page.model.isDisabledsubmit" ng-click="page.model.isDisabledsubmit=true;(tab.arrayname===1?page.model.submitgeneral(1,10):page.model.submitadvancedsearch(1,10))">Search</md-button>
                                            <!--<md-button class="md-raised md-hue-1" ng-click="tab.arrayname===1?page.clearSelection(page.model.domDatageneral):page.clearSelection(page.model.domDataadvanced)">Reset</md-button>-->
                                            <input type="reset" class="btn btn-default" ng-click="tab.arrayname===1?page.clearSelection(page.model.domDatageneral):page.clearSelection(page.model.domDataadvanced)" value="Reset">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
    <div>
        <complex-slide model="page.model" config="page.model.config"></complex-slide>
    </div>
    <div class="search_page_main" ng-show="page.model.gridTableshow">
        <div class="col-lg-12">
            <div class="pull-right">
                <button class="btn btn-warning" ng-click="page.model.backtosearchpage()">Back to Search Page</button>
            </div>
        </div>
        <complex-grid-new gid="'id1'" model="page.model.gridtable" config="page.model"></complex-grid-new>
    </div>
    <div class="clearfix"> </div>
    <br>
    <div ng-hide="page.model.sidebarnavshow">
        <div class="sidenav1 col-lg-1" ng-hide="page.model.mySidenavdiv" style="z-index: 9999;">
            <div class="clearfix"></div>
            <br>
            <div class="row">
                <div class="col-lg-8"><a href="javascript:void(0);" style="color: white;">{{page.model.getpageloadobject.ProfileID}}</a></div>
                <div class="pull-right">
                    <a href="javascript:void(0)" ng-click="page.model.showdivsidenav('mySidenav')" style="color: white;font-size: 20px;"> <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
        </div>
        <div ng-hide="page.model.mystylenamediv" style="background-color: maroon; z-index: 9999;" class="col-lg-2 sidenav2">
            <div class="clearfix"></div>
            <br>
            <div class="row col-lg-offset-1">
                <div class="col-lg-8"><a href="javascript:void(0);" ng-click="page.model.viewfullprofile(page.model.getpageloadobject.ProfileID)" style="color: white;">{{page.model.getpageloadobject.ProfileID}}</a></div>
                <div class="pull-right">
                    <a href="javascript:void(0)" ng-click="page.model.showdivsidenav('mystylename')" style="color: white;font-size: 20px;"> <i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="row col-lg-offset-1"><img ng-src="{{page.model.getpageloadobject.ThumbNailProfilePic}}"></div>
            <div class="row col-lg-offset-1">
                <label class="" style="color: white;">{{page.model.getpageloadobject.SelfName}}</label>
            </div>
            <div class="row col-lg-offset-1">
                <label class="" style="color: white;">{{page.model.getpageloadobject.SelfAge}}</label>
            </div>
            <div class="row col-lg-offset-1">
                <label class="" style="color: white;">{{page.model.getpageloadobject.Selfheight}}</label>
            </div>
            <div class="row col-lg-offset-1">
                <label class="" style="color: white;"></label>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="profileidpopupsubmit.html">
        <div class="modal-header">
            <h4 class="modal-title popupheaderclass">{{page.model.searchpopuptext}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <label class="generalpopuplabel">ProfileID<label>
                    </div>
                <div class="col-lg-5">
                <input focus-me="true" ng-model="page.model.ProfileIDpopup"  type="text"  style="width: 220px !important;" class="form-control"></input>
                </div>
               <div class="col-lg-3">
                 <md-switch  class="md-secondary col-lg-5" style="margin-top:-1px;"  ng-model="page.model.activatedmobile">  </md-switch>  
                <span class="col-lg-7" style="color:rgba(35, 30, 30, 0.83);margin-top: 4px;">Issuggestable</span>
                <span style="display:none;">{{page.model.loadContent = true}}<span>
               </div>
              </div>
           <div class="clearfix"></div>
             <div ng-if="!page.model.activatedmobile">               
              <div class="col-lg-12">
                 <div class="col-lg-3">
                    <label class="generalpopuplabel">Relationship<label>
                </div>
                <div class="col-lg-8">
              <select  class="col-lg-12"  ng-model="page.model.relationshippopup" multiselectdropdown ng-options="caste.value as caste.label for caste in page.model.childStayingWitharray" ng-change="page.model.relationshipbind(5,page.model.ProfileIDpopup,page.model.relationshippopup)">   
             </select>
                </div>
             </div>
           <div class="clearfix"></div>
                <br>
             <div class="col-lg-12">
                <div class="col-lg-3">
                        <label class="generalpopuplabel">First Name<label>
                </div>
                <div class="col-lg-8">
                <input style="width: 220px !important;" ng-model="page.model.popupFirstName" type="text" class="form-control"></input>
                </div>
                </div>
                 <div class="clearfix"></div>
                          <br>
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <label class="generalpopuplabel">Last  Name<label>
                </div>
                <div class="col-lg-8">
                <input style="width: 220px !important;" ng-model="page.model.popupLastName" type="text" class="form-control"></input>
                </div>
              </div>
                 <div class="clearfix"></div>
                  <br>
              <div class="col-lg-12">
                    <div class="col-lg-3">
                        <label class="generalpopuplabel">Remarks<label>
                    </div>
                     <div class="col-lg-8">
                         <textarea style="width: 220px !important;" ng-model="page.model.Remarks" type="text" class="form-control"></textarea>
                    </div>
                 </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <!--<input type="reset" class="btn btn-default" ng-click="page.model.closepopup()" value="Cancel"></input>-->
            <md-button class="md-raised md-hue-1" ng-click="page.model.closepopup()">Cancel</md-button>
            <md-button class="md-raised md-warn md-hue-2" ng-click="page.model.profileidupdate(page.model)">Submit</md-button>
        </div>
    </script>
<script type="text/ng-template" id="shortlistpopup.html">
   <div class="modal-header alert alert-warning">
      <h2>Shortlist Conflict</h2>
      </div>
       <input type="hidden" ng-model="page.model.shortlistprofileids" />
            <div class="modal-body">
                <div>                 
                   <div ng-repeat="divmismatchData in page.model.divmismatchData"><a  href="javascript:void(0)" onclick="">{{divmismatchData.profileID }}</a><f style='color:black;'> Already service done with this profileid On </f><f style='color:Red;font-weight:bold;font-size:14px;'> {{divmismatchData.mismath}}</f> </br>
                   </div> <br>
                    <span style="color: black; font-size: larger;">Do You want To continue?</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
              <div>                     
             <md-button  class='md-raised md-warn md-hue-2' ng-click="page.model[page.model.dynamicFunction](page.model.dynamicParams)">Shortlist</md-button>
             <md-button  class='md-raised md-hue-1' ng-click='page.model.close()'>Cancel</md-button>
              </div>
           </div>
        
</script>
<script type="text/ng-template" id="TabClosePopup.html">
    <div class="modal-message modal-danger">
        <div class="modal-header" >
            <i class="glyphicon glyphicon-fire"></i>
        </div>
        <div class="modal-body">
            {{page.model.modalbodyID1}}
        </div>
        <div class="modal-footer">
            <button  class="btn btn-default" ng-click="page.model.close()">Close</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="mainShortListProfiles.html">
         <div class="modal-body">
          <complex-slide config="page.model.config.shortlistmodel"  model="page.model"></complex-slide>
           <div class="clearfix"></div>
       </div>
    </script>
<script type="text/ng-template" id="marketpopup.html">
    <div class="modal-body">
        <matchfollowup-tickethistory ticketid="model.marketingTicket"></matchfollowup-tickethistory>
    </div>
</script> 
</div>
<style>
         .datepicker3 {
    background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    .datepicker4 {
    background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    background-color: #f0f0cc !important;
    }
       </style>