<div class="right_col">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="page.model.opendiv">
            <uib-accordion-heading style="color: rgb(160, 2, 1);">
                Unassigned photos <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
            </uib-accordion-heading>
            <div class="bodyclsnew">
                <div class="row">

                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-4">Profile ID</label>
                        <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.profileID"></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="photoAssigned" class="col-lg-4 control-label">Region</label>
                        <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-change="page.model.dependencyChange(page.model.region);" ng-model="page.model.region" class="md-block col-lg-6" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="408" class="md-primary">AP</md-radio-button>
                            <md-radio-button value="409"> TN</md-radio-button>
                            <md-radio-button value="410"> KT</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-4">Branch</label>
                        <div class="col-lg-6"> <select multiselectdropdown class="smalldropdown" ng-model="page.model.branch" multiple ng-options="item.value as item.label for item in page.model.branchArr">   
                              </select></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-4">Caste</label>
                        <div class="col-lg-6"> <select multiselectdropdown class="smalldropdown" ng-model="page.model.caste" multiple typeofdata="'caste'">   
                              </select></div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-4">From date</label>
                        <div class="col-lg-6">
                            <custom-datepicker name="date" ng-model="page.model.fromDate" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-4">To date</label>
                        <div class="col-lg-6">
                            <custom-datepicker name="date" ng-model="page.model.toDate" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="border-top: 1px solid #ddd;padding-top: 1%;"></div>
                    <div class="col-lg-5">
                        <button class="button_custom pull-right" type="submit">Submit</button>
                    </div>
                    <div class="col-lg-4">
                        <input type="reset" class="button_custom button_custom_reset" value="Reset" ng-click="page.model.reset();">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </uib-accordion>

</div>
<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
</style>