<div class="right_col" id="successtoryID">
    <md-content class="md-padding">
        <md-tabs md-selected="page.model.selectedIndex" md-dynamic-height flex md-border-bottom md-autoselect>
            <md-tab label="Create Success Story" ng-click="page.model.reset();">
                <div class="tab">
                    <br>
                    <form name="successstoriesform" novalidate role="form" ng-submit="successstoriesform.$valid && page.model.createSuccessStory();">
                        <div class="row">
                            <div class="col-lg-6" ng-if="page.model.brideName">
                                <label for="" class="control-label col-lg-4">Bride Name</label>
                                <div class="col-lg-6">
                                    <label for="" class="control-label">{{page.model.brideName}}</label>
                                </div>
                            </div>
                            <div class="col-lg-6" ng-if="page.model.groomName">
                                <label for="" class="control-label col-lg-4">Groom Name</label>
                                <div class="col-lg-6">
                                    <label for="" class="control-label">{{page.model.groomName}}</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-lg-6">
                                <label for="" class="control-label col-lg-4">Bride ID<span style="color: red; margin-left: 3px;">*</span></label>
                                <div class="col-lg-6"><input ng-model="page.model.txtbrideprofileid" ng-required="true" name="txtbrideprofileid" type="text" class="form-control" ng-blur="page.model.brideGroomChange(page.model.txtbrideprofileid,1);">
                                    <div ng-messages="successstoriesform.txtbrideprofileid.$invalid">
                                        <div style="color: red;font-size: 14px;" ng-if="successstoriesform.txtbrideprofileid.$invalid && (successstoriesform.$submitted)">This is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="control-label col-lg-4">Groom ID<span style="color: red; margin-left: 3px;">*</span></label>
                                <div class="col-lg-6"><input ng-required="true" name="txtgroomprofileid" ng-model="page.model.txtgroomprofileid" type="text" class="form-control" ng-blur="page.model.brideGroomChange(page.model.txtgroomprofileid,2);">
                                    <div ng-messages="successstoriesform.txtgroomprofileid.$invalid">
                                        <div style="color: red;font-size: 14px;" ng-if="successstoriesform.txtgroomprofileid.$invalid && (successstoriesform.$submitted)">This is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-lg-6">
                                <label for="" class="control-label col-lg-4">Engagement date</label>
                                <div class="col-lg-6">
                                    <custom-datepicker style="width:240px" name="txtengagementdate" ng-class="page.model.txtengagementdate.trim()!=='' && model.txtengagementdate!==undefined &&  page.model.txtengagementdate!==null?'datepicker4':''" ng-model="page.model.txtengagementdate"
                                        date-options="page.model.dateOptions"></custom-datepicker>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="control-label col-lg-4">Marriage date</label>
                                <div class="col-lg-6">
                                    <custom-datepicker style="width:240px" name="txtmarriagedate" ng-class="page.model.txtmarriagedate.trim()!=='' && model.txtmarriagedate!==undefined &&  page.model.txtmarriagedate!==null?'datepicker4':''" ng-model="page.model.txtmarriagedate" date-options="page.model.dateOptions"></custom-datepicker>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-lg-6">
                                <label for="" class="control-label col-lg-4">Attach photo</label>
                                <div class="col-lg-6"> <input type="file" file-model="page.model.myFileupload" /></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="photoAssigned" class="col-lg-4 control-label">Display in web<span style="color: red; margin-left: 3px;">*</span></label>
                                <div class="col-lg-6">
                                    <md-radio-group ng-required="true" name="rbtndisplay" layout="col-lg-11" ng-model="page.model.rbtndisplay" class="md-block col-lg-6" flex-gt-sm ng-disabled="manageakerts">
                                        <md-radio-button value="1"> Yes</md-radio-button>
                                        <md-radio-button value="0"> No</md-radio-button>
                                    </md-radio-group>
                                    <div class="row">
                                        <br>
                                        <div style="color: red;font-size: 14px;" ng-if="successstoriesform.rbtndisplay.$invalid && (successstoriesform.$submitted)" ng-messages="successstoriesform.rbtndisplay.$error">This is required.</div>

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br ng-hide="true">
                            <div class="col-lg-6" ng-hide="true">
                                <label for="" class="control-label col-lg-4"></label>
                                <div class="col-lg-6">
                                    <img ng-src="page.model.myFileupload" src="src\images\two.png" style="width: 150px;height: 150px;"></img>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-lg-12">
                                <label for="" class="control-label col-lg-2">Success story</label>
                                <div class="col-lg-8"><textarea ng-model="page.model.txtsuccessstories" type="text" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                        </div>
                        <div class="row">
                            <div style="border-top: 1px solid #ddd;padding-top: 1%;"></div>
                            <div class="col-lg-5">
                                <button type="submit" class="button_custom pull-right" ng-disabled="page.model.isDisabledsubmit">Submit</button>
                            </div>
                            <div class="col-lg-4">
                                <input type="reset" class="button_custom button_custom_reset" value="Reset" ng-click="page.model.reset();">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                    </form>
                </div>
                <br><br><br>
            </md-tab>
            <md-tab md-on-select="slide.incomeTab=true" label="View success stories" ng-click="page.model.reset();">
                <div class="tab">
                    <br>
                    <div class="bodyclsnew">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="" class="control-label col-lg-4">Profile ID</label>
                                <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.profileID"></div>
                            </div>
                            <div class="col-lg-4">
                                <label for="photoAssigned" class="col-lg-4 control-label">Region</label>
                                <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-change="page.model.dependencyChange(page.model.region);" ng-model="page.model.region" class="md-block col-lg-6" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="408" class="md-primary">AP</md-radio-button>
                                    <md-radio-button value="409"> TN</md-radio-button>
                                    <md-radio-button value="410"> KT</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="control-label col-lg-4">Branch</label>
                                <div class="col-lg-6"> <select multiselectdropdown class="smalldropdown" pagetype="'search'" ng-model="page.model.branch" multiple ng-options="item.value as item.label for item in page.model.branchArr">   
                              </select></div>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="control-label col-lg-4">Caste</label>
                                <div class="col-lg-6"> <select multiselectdropdown pagetype="'search'" class="smalldropdown" ng-model="page.model.caste" multiple typeofdata="'caste'">   
                              </select></div>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="control-label col-lg-4">From date</label>
                                <div class="col-lg-6">
                                    <custom-datepicker name="date" ng-model="page.model.fromDate" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="control-label col-lg-4">To date</label>
                                <div class="col-lg-6">
                                    <custom-datepicker name="date" ng-model="page.model.toDate" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="border-top: 1px solid #ddd;padding-top: 1%;"></div>
                            <div class="col-lg-3">
                                <label for="" ng-if="page.model.totalRows"> Total Records : {{page.model.totalRows}}</label>
                            </div>
                            <div class="col-lg-3">
                                <button class="button_custom pull-right" type="submit" ng-disabled="page.model.isDisabledsubmit" ng-click="page.model.isDisabledsubmit=true;page.model.viewStories(1);">Submit</button>
                            </div>
                            <div class="col-lg-4">
                                <input type="reset" class="button_custom button_custom_reset" value="Reset" ng-click="page.model.reset();">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="row scrollcls" id="scrollcls">
                            <div class="col-lg-3 clearfix" style="height:300px;" ng-repeat="item in page.model.viewSuccessArray">
                                <div class="gclass">
                                    <div>
                                        <img class="center-block imglarge" style="height: 155px; width: 200px;" ng-src="{{item.OriginalPhotoPath}}" ng-click="page.model.EmpPhotopopup(item.EmpPhoto,item.UserID,item.EmpID);" />
                                    </div>
                                    <div class="row text-center successdata">
                                        <div style="color: rgb(237, 18, 47);">Congratulations</div>
                                        <div> {{item.BrideProfileName+' '+item.BrideProfileID}} </div>
                                        <div style="color:rgba(202, 80, 19, 0.91);"> Weds</div>
                                        <div> {{item.GroomProfileName+' '+item.GroomProfileID}}</div>
                                        <div></div>
                                        <div class="row actioncls">
                                            <div class="col-lg-6"><a href="javascript:void(0);" ng-click="page.model.EditSuccessStories(item);">Edit</a></div>
                                            <div class="col-lg-4"><a href="javascript:void(0);" ng-click="page.model.delete(item);">Delete</a></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>


<script type="text/ng-template" id="deletePhotoPopup.html">
    <form class="EditViewClass" name="uploadForm" novalidate role="form" ng-submit="page.model.upload()">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Delete Photo </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <center> Are you sure to delete photo?</center>
        </div>
        <div class="modal-footer">
            <input value="Delete" class="btn btn-danger" type="submit" ng-click="page.model.deletefromS3();">
            <input value="Cancel" class="btn btn-success" ng-click="page.model.closepopup();" type="button">
        </div>
    </form>
</script>



<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
</style>