<div class="right_col myprofile" role="main" id="myprofileid">
    <div class="">
        <uib-accordion close-others="oneAtATime">

            <div uib-accordion-group style="margin-top: -12px;box-shadow: 2px 2px 6px #ccc;" class="panel-default" is-open="page.model.opendiv">
                <uib-accordion-heading>
                    My Profiles <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>

                    <span style="color:black;font-size: 13px;cursor:text;" class="pull-right">
                         <span><img src="src/images/ico_horoscope.jpg" alt=""></span>--Horo &nbsp;
                    <!--<span class="red">OU</span>--Online-Unpaid &nbsp;
                    <span class="red">KU</span>--Kmpl-Unpaid &nbsp; -->
                    <span class="green">OP</span>--Online-Paid &nbsp; <span class="green">KP</span>--Kmpl-Paid &nbsp; <span class="green">OR</span>--Online-Renew &nbsp; <span class="green">KR</span>-- Kmpl-Renew
                    </span>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-lg-6 subColumnClass">
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Gender</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnGender" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="1"> Male</md-radio-button>
                                    <md-radio-button value="2"> Female</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Profile ID</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" placeholder="Profile ID" ng-model="page.model.mpObj.txtProfileID">
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Application Status</label>
                            <div class="col-lg-7">
                                <select multiselectdropdown multiple id="Applicationsts" class="smalldropdown" ng-model="page.model.mpObj.ddlApplicationStatus" ng-options="item.value as item.label for item in page.model.applicationStatusarray">   
                              </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Branch</label>
                            <div class="col-lg-7">
                                <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.mpObj.ddlBranch" ng-options="item.value as item.label for item in page.model.Brancharray">   
                                 </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Profile Owner</label>
                            <div class="col-lg-7">
                                <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.mpObj.ddlProfileOwner" ng-options="item.value as item.label for (key, item) in page.model.ProfileOwnerarray">
                               </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Date OF Reg.From</label>
                            <div class="col-lg-7">
                                <!--<date-picker strdate="page.model.mpObj.txtRegFromDate"></date-picker>-->
                                <custom-datepicker ng-model="page.model.mpObj.txtRegFromDate" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Assigned From Date</label>
                            <div class="col-lg-7">
                                <!--<date-picker strdate="page.model.mpObj.txtAssignFromdate"></date-picker>-->
                                <custom-datepicker ng-model="page.model.mpObj.txtAssignFromdate" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Firstname</label>
                            <div class="col-lg-7">
                                <input type="text" style="width:86%;display:initial;" class="form-control" placeholder="Firstname" ng-model="page.model.mpObj.txtFirstname">&nbsp;
                                <md-checkbox ng-model="page.model.mpObj.chkFirstname"></md-checkbox>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Father Name</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" placeholder="Father Name" ng-model="page.model.mpObj.txtFatherName">
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Website Login</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnWebsiteLogin" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="1"> Yes</md-radio-button>
                                    <md-radio-button value="0"> No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Previous Owner</label>
                            <div class="col-lg-7">
                                <select multiselectdropdown multiple id="PreviousOwner" class="smalldropdown" ng-model="page.model.mpObj.PreviousOwner" ng-options="item.value as item.label for item in page.model.ProfileOwnerarray">   
                                 </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 subColumnClass">
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Type of profile</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnprofileType" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="372"> Paid</md-radio-button>
                                    <md-radio-button value="373"> Unpaid</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">KMPLID</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" placeholder="KMPLID" ng-model="page.model.mpObj.txtKMPLID">
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Caste</label>
                            <div class="col-lg-7">
                                <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.mpObj.ddlCaste" ng-options="item.value as item.label for item in page.model.Castearray">   
                                 </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Marketing Owner</label>
                            <div class="col-lg-7">
                                <select multiselectdropdown multiple id="MarketingOwner" class="smalldropdown" ng-model="page.model.mpObj.ddlMarketingOwner" ng-options="item.value as item.label for item in page.model.ProfileOwnerarray">   
                                 </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Having Profiles</label>
                            <div class="col-lg-7">
                                <select multiselectdropdown multiple id="HavingProfilesid" class="smalldropdown" ng-model="page.model.mpObj.ddlHavingProfiles">   
                                        <option value="1">WithPhoto</option>
                                        <option value="0">WithoutPhoto</option>
                                        <option value="2">WithHoroscope</option>
                                        <option value="3">WithoutHoroscope</option>
                                        <option value="4">With SA Form</option>
                                        <option value="5">Without SA Form</option>
                               </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Date OF Reg.To</label>
                            <div class="col-lg-7">
                                <!--<date-picker strdate="page.model.mpObj.txtRegToDate"></date-picker>-->
                                <custom-datepicker ng-model="page.model.mpObj.txtRegToDate" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Assigned To Date</label>
                            <div class="col-lg-7">
                                <!--<date-picker strdate="page.model.mpObj.txtToAssignedDate"></date-picker>-->
                                <custom-datepicker ng-model="page.model.mpObj.txtToAssignedDate" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">SurName</label>
                            <div class="col-lg-7">
                                <input type="text" style="width:85%;display:initial;" class="form-control" placeholder="SurName" ng-model="page.model.mpObj.txtSurName"> &nbsp;
                                <md-checkbox ng-model="page.model.mpObj.chkSurName"></md-checkbox>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Mother Name</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" placeholder="Mother Name" ng-model="page.model.mpObj.txtMotherName">
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <md-checkbox ng-model="page.model.mpObj.chkRenewal">Renewal
                            </md-checkbox>
                            <md-checkbox ng-model="page.model.mpObj.chkkmplExpiry">Kmplexpiry
                            </md-checkbox>
                            <md-checkbox ng-model="page.model.mpObj.chkIsConfidential">IsConfidential
                            </md-checkbox>
                            <md-checkbox ng-model="page.model.mpObj.chkHighConfidential">Is HighConfidential
                            </md-checkbox>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Verified contacts</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdncontactsVerified" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="1"> Yes</md-radio-button>
                                    <md-radio-button value="0"> No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Website Blocked</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnWebsiteBlocked" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="440"> Yes</md-radio-button>
                                    <md-radio-button value="439"> No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center" style="border-top: 1px solid #ddd;padding-top: 1%;">
                    <button class="button_custom" style="display:initial;" type="submit" ng-click="page.model.MyprofileResult(page.model.mpObj,1,10,'grid');">Submit</button>
                    <button style="display:initial;margin-left: 2%;" class="button_custom button_custom_reset" ng-click="page.model.reset();">Reset</button>
                    <button style="display:initial;margin-left: 2%;" class="button_custom" ng-click="page.model.MyprofileResult(page.model.mpObj,1,10,'slide');">Slideshow</button>
                </div>
            </div>
        </uib-accordion>

    </div>
    <complex-grid ng-if="page.model.grid.columns" config="page.model.grid" model="page.model.grid"></complex-grid>

    <script type="text/ng-template" id="myprofileSlide.html">
        <div class="modal-body">
            <complex-slide config="page.model.slide" model="page.model.slide"></complex-slide>
            <div class="clearfix"></div>
        </div>
    </script>
</div>


<script type="text/ng-template" id="myprofileheader.html">
    <div>
        <div class="row">
            <div class="col-lg-3">
                <label style="color:#585050">Total Records :</label>
                <label style="color:blue"> {{(activeslide)+1}}</label>
                <label style="color:#585050"> of {{model.totalRecords}}</label>
            </div>
            <div class="col-lg-5" id="divviewedprofiles">
                <div class="row" style="padding-top: 5px;">
                    <div class="col-lg-5">
                        Viewed &nbsp;&nbsp;<label id="lnkLastSlide" style="color: blue;">{{(Viwedslide)+1}}&nbsp;&nbsp;</label><label>Profiles</label>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" id="txtGotoVal" ng-model="txtGotoVal" class="form-control" style="width: 60px; height: 30px;" ng-blur="gotoSlide(txtGotoVal)">
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a href="javascript:void(0);" ng-click="model.closemainpopup();" style="padding:7px;">X</a>
            </div>
        </div>

    </div>

</script>

<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
        /*height: 35px !important;*/
    }
</style>