<div class="right_col myprofile" role="main" id="myprofileid">
    <div class="">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group style="margin-top: -12px;box-shadow: 2px 2px 6px #ccc;" class="panel-default" is-open="page.model.opendiv">
                <uib-accordion-heading>
                    My Profiles <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
                    <span style="color:black;font-size: 13px;cursor:text;" class="pull-right">
                         <span><img src="src/images/ico_horoscope.jpg" alt=""></span>--Horo &nbsp;
                    <span class="red" style="height: 4px;width: 11px;background-color: red;">&nbsp;&nbsp;&nbsp;&nbsp;</span>--Unpaid &nbsp;
                    <span class="green" style="height: 4px;width: 11px;background-color: green;">&nbsp;&nbsp;&nbsp;&nbsp;</span>--Paid &nbsp;
                    </span>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-lg-6 subColumnClass">
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Gender</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnGender" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="1"> Male</md-radio-button>
                                    <md-radio-button value="2"> Female</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Profile ID</label>
                            <div class="col-lg-7">
                                <input focus-me="true" ng-class="(page.model.mpObj.txtProfileID).trim()!=='' && page.model.mpObj.txtProfileID!==undefined && page.model.mpObj.txtProfileID!==null?'bacg':''" type="text" class="form-control" placeholder="Profile ID" ng-model="page.model.mpObj.txtProfileID">
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Application Status</label>
                            <div class="col-lg-7" ng-class="page.model.mpObj.ddlApplicationStatus===undefined || page.model.mpObj.ddlApplicationStatus===null || page.model.mpObj.ddlApplicationStatus.length===0 ?'':'colorforcontrols'">
                                <select multiselectdropdown multiple id="Applicationsts" class="smalldropdown" ng-model="page.model.mpObj.ddlApplicationStatus" ng-options="item.value as item.label for item in page.model.applicationStatusarray">   
                              </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Branch</label>
                            <div class="col-lg-7" ng-class="page.model.mpObj.ddlBranch===undefined || page.model.mpObj.ddlBranch===null || page.model.mpObj.ddlBranch.length===0 ?'':'colorforcontrols'">
                                <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.mpObj.ddlBranch" ng-options="item.value as item.label for item in page.model.Brancharray">   
                                 </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Profile Owner</label>
                            <div class="col-lg-7" ng-class="page.model.mpObj.ddlProfileOwner===undefined || page.model.mpObj.ddlProfileOwner===null || page.model.mpObj.ddlProfileOwner.length===0 ?'':'colorforcontrols'">
                                <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.mpObj.ddlProfileOwner" ng-options="item.value as item.label for (key, item) in page.model.ProfileOwnerarray">
                               </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Date OF Reg.From</label>
                            <div class="col-lg-7">
                                <custom-datepicker ng-class="(page.model.mpObj.txtRegFromDate).trim()!=='' && page.model.mpObj.txtRegFromDate!==undefined &&  page.model.mpObj.txtRegFromDate!==null?'datepicker4':''" ng-model="page.model.mpObj.txtRegFromDate" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Assigned From Date</label>
                            <div class="col-lg-7">
                                <custom-datepicker ng-class="(page.model.mpObj.txtAssignFromdate).trim()!=='' && page.model.mpObj.txtAssignFromdate!==undefined &&  page.model.mpObj.txtAssignFromdate!==null?'datepicker4':''" ng-model="page.model.mpObj.txtAssignFromdate" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Firstname</label>
                            <div class="col-lg-7">
                                <input ng-class="(page.model.mpObj.txtFirstname).trim()!=='' && page.model.mpObj.txtFirstname!==undefined && page.model.mpObj.txtFirstname!==null?'bacg':''" type="text" style="width:86%;display:initial;" class="form-control" placeholder="Firstname" ng-model="page.model.mpObj.txtFirstname">&nbsp;
                                <md-checkbox ng-model="page.model.mpObj.chkFirstname"></md-checkbox>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Father Name</label>
                            <div class="col-lg-7">
                                <input ng-class="(page.model.mpObj.txtFatherName).trim()!=='' && page.model.mpObj.txtFatherName!==undefined && page.model.mpObj.txtFatherName!==null?'bacg':''" type="text" class="form-control" placeholder="Father Name" ng-model="page.model.mpObj.txtFatherName">
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Website Login</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnWebsiteLogin" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="1"> Yes</md-radio-button>
                                    <md-radio-button value="0"> No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Previous Owner</label>
                            <div class="col-lg-7" ng-class="page.model.mpObj.PreviousOwner===undefined || page.model.mpObj.PreviousOwner===null || page.model.mpObj.PreviousOwner.length===0 ?'':'colorforcontrols'">
                                <select multiselectdropdown multiple id="PreviousOwner" class="smalldropdown" ng-model="page.model.mpObj.PreviousOwner" ng-options="item.value as item.label for item in page.model.ProfileOwnerarray">   
                                 </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 subColumnClass">
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Type of profile</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnprofileType" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="372"> Paid</md-radio-button>
                                    <md-radio-button value="373"> Unpaid</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Domacile</label>
                            <div class="col-lg-7">
                                <md-radio-group name="rdndocmacile" layout="row" ng-model="page.model.mpObj.rdndocmacile" class="md-block" flex-gt-sm>
                                    <md-radio-button value="1"> India</md-radio-button>
                                    <md-radio-button value="0"> Abroad</md-radio-button>
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Marital Status</label>
                            <div class="col-lg-7" ng-class="page.model.mpObj.ddlMaritalstatus===undefined || page.model.mpObj.ddlMaritalstatus===null || page.model.mpObj.ddlMaritalstatus.length===0 ?'':'colorforcontrols'">
                                <select multiselectdropdown multiple id="MarketingOwner" class="smalldropdown" ng-model="page.model.mpObj.ddlMaritalstatus" ng-options="item.value as item.label for item in page.model.maritalstatusarray">   
                                 </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Caste</label>
                            <div class="col-lg-7" ng-class="page.model.mpObj.ddlCaste===undefined || page.model.mpObj.ddlCaste===null || page.model.mpObj.ddlCaste.length===0 ?'':'colorforcontrols'">
                                <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.mpObj.ddlCaste" ng-options="item.value as item.label for item in page.model.Castearray">   
                                 </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Having Profiles</label>
                            <div class="col-lg-7" ng-class="page.model.mpObj.ddlHavingProfiles===undefined || page.model.mpObj.ddlHavingProfiles===null || page.model.mpObj.ddlHavingProfiles.length===0 ?'':'colorforcontrols'">
                                <select multiselectdropdown multiple id="HavingProfilesid" class="smalldropdown" ng-model="page.model.mpObj.ddlHavingProfiles">   
                                        <option value="1">WithPhoto</option>
                                        <option value="0">WithoutPhoto</option>
                                        <option value="2">WithHoroscope</option>
                                        <option value="3">WithoutHoroscope</option>
                                        <option value="4">With SA Form</option>
                                        <option value="5">Without SA Form</option>
                               </select>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Date OF Reg.To</label>
                            <div class="col-lg-7">
                                <custom-datepicker ng-class="(page.model.mpObj.txtRegToDate).trim()!=='' && page.model.mpObj.txtRegToDate!==undefined &&  page.model.mpObj.txtRegToDate!==null?'datepicker4':''" ng-model="page.model.mpObj.txtRegToDate" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Assigned To Date</label>
                            <div class="col-lg-7">
                                <custom-datepicker ng-class="(page.model.mpObj.txtToAssignedDate).trim()!=='' && page.model.mpObj.txtToAssignedDate!==undefined &&  page.model.mpObj.txtToAssignedDate!==null?'datepicker4':''" ng-model="page.model.mpObj.txtToAssignedDate" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">SurName</label>
                            <div class="col-lg-7">
                                <input ng-class="(page.model.mpObj.txtSurName).trim()!=='' && page.model.mpObj.txtSurName!==undefined && page.model.mpObj.txtSurName!==null?'bacg':''" type="text" style="width:85%;display:initial;" class="form-control" placeholder="SurName" ng-model="page.model.mpObj.txtSurName">                                &nbsp;
                                <md-checkbox ng-model="page.model.mpObj.chkSurName"></md-checkbox>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Mother Name</label>
                            <div class="col-lg-7">
                                <input ng-class="(page.model.mpObj.txtMotherName).trim()!=='' && page.model.mpObj.txtMotherName!==undefined && page.model.mpObj.txtMotherName!==null?'bacg':''" type="text" class="form-control" placeholder="Mother Name" ng-model="page.model.mpObj.txtMotherName">
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <md-checkbox ng-model="page.model.mpObj.chkRenewal">Renewal
                            </md-checkbox>
                            <md-checkbox ng-model="page.model.mpObj.chkkmplExpiry">Kmplexpiry
                            </md-checkbox>
                            <md-checkbox ng-model="page.model.mpObj.chkIsConfidential">IsConfidential
                            </md-checkbox>
                            <md-checkbox ng-show="page.model.isAdmin===1 || page.model.isAdmin==='1'" ng-model="page.model.mpObj.chkHighConfidential">Is HighConfidential
                            </md-checkbox>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Verified contacts</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdncontactsVerified" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="1"> Yes</md-radio-button>
                                    <md-radio-button value="0"> No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="clearfix form-group">
                            <label for="Gender" class="control-label col-lg-4">Website Blocked</label>
                            <div class="col-lg-7">
                                <md-radio-group ng-required="true" name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnWebsiteBlocked" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                    <md-radio-button value="440"> Yes</md-radio-button>
                                    <md-radio-button value="439"> No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center" style="border-top: 1px solid #ddd;padding-top: 1%;">
                    <button class="button_custom" style="display:initial;" ng-disabled="page.model.isDisabledsubmit" type="submit" ng-click="page.model.isDisabledsubmit=true;page.model.MyprofileResult(page.model.mpObj,1,100,'grid',1);">Submit</button>
                    <button style="display:initial;margin-left: 2%;" class="button_custom button_custom_reset" ng-click="page.model.reset();">Reset</button>
                    <button style="display:initial;margin-left: 2%;" class="button_custom" ng-disabled="page.model.isDisabledsubmit" ng-click="page.model.isDisabledsubmit=true;page.model.MyprofileResult(page.model.mpObj,1,100, 'slide', 0);">Slideshow</button>
                </div>
            </div>
        </uib-accordion>
    </div>
    <a class="excelshow slideImg" ng-if="page.model.gridArray.length>0" ng-click="page.model.bindSlide();" title="Slideshow" href="javascript:void(0)">
        <img style="width: 32px;height: 29px;" src="src/images/slideshowimg.png"></img>
    </a>
    <complex-grid-new id="id1" ng-show="page.model.grid.data.length>0" config="page.model.grid" model="page.model.grid"></complex-grid-new>

    <script type="text/ng-template" id="myprofileSlide.html">
        <div class="modal-body">
            <complex-slide config="page.model.slide.config" model="page.model.slide"></complex-slide>
            <div class="clearfix"></div>
        </div>
    </script>
</div>
<script type="text/ng-template" id="myprofileheader.html">
    <div>
        <div class="row myprofileheaderpopup">
            <div class="col-lg-3">
                <label style="color:#585050">Total Records :</label>
                <label style="color:blue"> {{(activeslide)+1}}</label>
                <label style="color:#585050"> of {{model.totalRecords}}</label>
            </div>
            <div class="col-lg-5" id="divviewedprofiles">
                <div class="row" style="padding-top: 5px;">
                    <div class="col-lg-5">
                        Viewed &nbsp;&nbsp;<label id="lnkLastSlide" style="color: blue;">{{(Viwedslide)+1}}&nbsp;&nbsp;</label><label>Profiles</label>
                    </div>
                    <!-- <div class="col-lg-1">
                        <input type="text" id="txtGotoVal" ng-model="txtGotoVal" class="form-control" style="width: 60px; height: 30px;" ng-blur="gotoSlide(txtGotoVal)">
                    </div> -->
                </div>
            </div>
            <div class="pull-right">
                <a href="javascript:void(0);" ng-click="model.closemainpopup();" style="padding:7px;font-size: 17px;
                    font-weight: bold;">Close</a>
                <a href="javascript:void(0);" ng-click="model.closemainpopup();" style="padding:7px;font-size: 18px;
                    font-weight: bold;">X</a>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="market.html">
    <div class="modal-body">
        <market-tickethistory ticketid="page.model.marketingTicketid"></market-tickethistory>
    </div>
</script>
<script type="text/ng-template" id="paymentDetailspopup.html">
    <div class="modal-body" style="max-height:600px;">
        <payment-details profile-id="page.model.profileid"></payment-details>
    </div>
</script>
<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .datepicker4 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
        background-color: #f0f0cc !important;
    }
    
    .headerStyles {
        font-size: 16px;
    }
    
    .AllLinks {
        width: 480px !important;
    }
    
    .modelpayment .pane-vScroll {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 120px !important;
    }
</style>