<div class="right_col" id="paymentAuthorization">
    <div class="row">
        <div class="col-lg-2">
            <h4 class="hdrCls">Payment Authorization</h4>
        </div>

        <div class="col-lg-3">
            <label for="" class="control-label col-lg-3"> Region </label>
            <div class="col-lg-7">
                <md-radio-group name="rdnServicetax" layout="row" style="margin-left: -11px;" ng-model="page.model.rdnRegion" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                    <md-radio-button value="0" class="md-primary">All</md-radio-button>
                    <md-radio-button value="408"> AP</md-radio-button>
                    <md-radio-button value="409"> TN</md-radio-button>
                    <md-radio-button value="410"> KT</md-radio-button>
                </md-radio-group>
            </div>
        </div>

        <div class="col-lg-3">
            <label for="" class="control-label col-lg-5 lblcls">Start date</label>
            <div class="col-lg-7">
                <custom-datepicker class="datepicker3" ng-model="page.model.startDate" date-options="page.model.dateOptions"></custom-datepicker>
            </div>
        </div>

        <div class="col-lg-3">
            <label for="" class="control-label col-lg-5 lblcls">End date</label>
            <div class="col-lg-7">
                <custom-datepicker class="datepicker3" ng-model="page.model.endDate" date-options="page.model.dateOptions"></custom-datepicker>
            </div>
        </div>
        <div class="col-lg-1">
            <input type="submit" class="btn btn-danger" value="Submit" ng-click="page.model.paymentAuthSelect();">
        </div>

    </div>

    <label ng-show="page.model.TotalRows" for="noofRecords" class="control-label leftmargin">Total Records : {{page.model.TotalRows}}</label>
    <input ng-show="page.model.TotalRows" type="image" src="src\images\EXCEL.jpg" ng-click="page.model.exportexcel(page.model.data, page.model.columns)" style="" class="css-class autorizeExcel"></input>

    <br>
    <div class="bodycls">
        <div class="row">
            <div class="col-lg-2">
                <div class="edit_pages_sidebar_menu clearfix">
                    <ul>
                        <li ng-repeat="item in page.model.BranchmenuArr">
                            <a href="javascript:void(0);" ng-class="{'btnbgColor':page.model.type===item.BranchesName}" ng-click="page.model.branchbind(item.Branch_ID,item.BranchesName);">{{item.BranchesName}}({{item.ProfileCount}})</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10">
                <complex-grid config="page.model" model="page.model" pagesizecommunication="999"></complex-grid>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template " id="authorizePopup.html">
    <div class="modal-message modal-danger ">
        <div class="modal-header">
            <button type="button" class="close" ng-click="page.model.close();">×</button>
            <h3> {{page.model.pType==='Authorize'?'Authorization':'Decline'}} Details</h3>
        </div>
        <div class="modal-body">
            <form name="authorizeForm" novalidate role="form" ng-submit="authorizeForm.$valid && page.model.SubmitAuthorization(); ">
                <div class="lblclass">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-6">
                                <label for="" class="control-label pull-right">Payment ID</label>
                            </div>
                            <div class="col-lg-6 ">
                                <label for=" " class="control-label pull-left">{{page.model.pPaymentID}}</label>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 ">
                            <div class="col-lg-6 ">
                                <label for=" " class="control-label pull-right">Profile ID</label>
                            </div>
                            <div class="col-lg-6 ">
                                <label class="control-label pull-left">{{page.model.pProfileID}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="txtclass ">
                    <div class="row ">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-6">
                                <label for="" class="control-label pull-right">Ticket ID</label>
                            </div>
                            <div class="col-lg-6 ">
                                <input type="number" ng-focus="true" ng-if="page.model.pType==='Authorize'" ng-model="page.model.pTicketID " class="form-control ">
                                <label class="control-label pull-left" ng-if="page.model.pType==='Decline'">{{page.model.pTicketID}}</label>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-6">
                                <label for="" class="control-label pull-right">Marketed By ID</label>
                            </div>
                            <div class="col-lg-6 ">
                                <input type="number " ng-model="page.model.pMarketedBy " ng-if="page.model.pType==='Authorize' " class="form-control ">
                                <label class="control-label pull-left " ng-if="page.model.pType==='Decline' ">{{page.model.pMarketedBy}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col-lg-6 ">
                            <div class="col-lg-6 ">
                                <label for=" " class="control-label pull-right ">Agreed Amount</label>
                            </div>
                            <div class="col-lg-6 ">
                                <input type="number " ng-model="page.model.pAgreementAmt " ng-if="page.model.pType==='Authorize' " class="form-control ">
                                <label class="control-label pull-left " ng-if="page.model.pType==='Decline' ">{{page.model.pAgreementAmt}}</label>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 ">
                            <div class="col-lg-6 ">
                                <label for=" " class="control-label pull-right ">Paid Amount</label>
                            </div>
                            <div class="col-lg-6 ">
                                <input type="number " ng-model="page.model.pPaidAmt " ng-if="page.model.pType==='Authorize' " class="form-control ">
                                <label class="control-label pull-left " ng-if="page.model.pType==='Decline' ">{{page.model.pPaidAmt}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="form-group col-lg-6 ">
                            <div class="col-lg-6 ">
                                <label for=" " class="control-label pull-right ">Settlement Amount </label>
                            </div>
                            <div class="col-lg-6 ">
                                <input type="text " class="form-control " ng-if="page.model.pType==='Authorize' " ng-model="page.model.pSettlementAmt ">
                                <label class="control-label pull-left " ng-if="page.model.pType==='Decline' ">{{page.model.pSettlementAmt}}</label>
                            </div>
                        </div>
                        <!--<div class="form-group col-lg-6 ">
                            <div class="col-lg-6 ">
                                <label for=" " class="control-label pull-right ">Service Tax</label>
                            </div>
                            <div class="col-lg-6 ">
                                <input type="text " class="form-control " ng-if="page.model.pType==='Authorize' " ng-model="page.model.pServiceTax ">
                                <label class="control-label pull-left " ng-if="page.model.pType==='Decline' ">{{page.model.pServiceTax}}</label>
                            </div>
                        </div>-->
                    </div>
                    <div class="row ">
                        <div class="form-group col-lg-6 ">
                            <div class="col-lg-6 ">
                                <label for=" " class="control-label pull-right ">No of Online Points 	</label>
                            </div>
                            <div class="col-lg-6 ">
                                <input type="text " class="form-control " ng-if="page.model.pType==='Authorize' " ng-model="page.model.pNoofOnlinePoints ">
                                <label class="control-label pull-left " ng-if="page.model.pType==='Decline' ">{{page.model.pNoofOnlinePoints}}</label>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 ">
                            <div class="col-lg-6 ">
                                <label for=" " class="control-label pull-right ">No of Offline Points</label>
                            </div>
                            <div class="col-lg-6 ">
                                <input type="text " class="form-control " ng-if="page.model.pType==='Authorize' " ng-model="page.model.pOfflinePts ">
                                <label class="control-label pull-left " ng-if="page.model.pType==='Decline' ">{{page.model.pOfflinePts}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="form-group col-lg-12 ">
                            <div class="col-lg-3 ">
                                <label for=" " class="control-label pull-right ">Authorization Description</label>
                            </div>
                            <div class="col-lg-9 ">
                                <textarea rows="3 " ng-model="page.model.pAuthorizationDescription " class="form-control "></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="form-group col-lg-11 col-lg-offset-1 ">
                            <md-button class="md-raised md-warn md-hue-2 " type="submit ">Submit</md-button>
                            <md-button class="md-raised md-hue-1 " ng-click="page.model.close(); ">Cancel</md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</script>
<script type="text/ng-template " id="authorizePopupticket.html">

    <div class="modal-header" style="background-color: #fedc01;color: #880b0b;padding: 10px;font-size: 17px;">
        <h4 class="col-lg-11 text-center">Payment Authorization</h4>
        <a href="javascript:void(0);" class="pull-right" ng-click="page.model.closepopup();">
            <span class="fa fa-close red" style="color: red;font-size: 17px;"></span>
        </a>
    </div>
    <form id="formpaymentverify" name="ticketverifyform" novalidate role="form" ng-submit="ticketverifyform.$valid  && page.model.verifyticketupdate(page.model);">
        <div class="modal-body" style="padding:3px;">
            <div class="row" style="font-size:14px;"><label class="col-lg-3">Profile ID </label>
                <p class="col-lg-3">{{page.model.paymentverificationobj.ProfileID}}</p>
                <label class="col-lg-3">Expiry Date</label>
                <p class="col-lg-3">{{page.model.paymentverificationobj.ExpiryOn}}</p>
            </div>
            <br>

            <div class="row" style="font-size:14px;"><label class="col-lg-3">Ticket Id </label>
                <input style="width:150px;" class="col-lg-3 form-control" type="text" ng-model="page.model.paymentverificationobj.ticketidmarketing">
                <label class="col-lg-3">Ticket Owner </label>
                <select name="ticketowner" ng-required="page.model.ticketid" class="smalldropdown col-lg-3" typeofdata="'EmpNames'" ng-model="page.model.ticketownermarketing" multiselectdropdown>   
                   </select>
            </div>
            <br>
            <div class="clearfix"></div>
            <div class="row">
                <label class="col-lg-3">Mkt Ticket Verified</label>
                <div class="col-lg-3">
                    <md-radio-group name="maketingticketverified" layout="row" ng-model="page.model.maketingticketverified" class="md-block" flex-gt-sm>
                        <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                        <md-radio-button value="0" class="md-primary"> No</md-radio-button>
                    </md-radio-group>
                </div>
                <label class="col-lg-3">Marketed</label>
                <div class="col-lg-3">
                    <md-radio-group ng-required="true" name="rbtnmarketingtkted" layout="row" ng-model="page.model.rbtnmarketingtkted" class="md-block" flex-gt-sm>
                        <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                        <md-radio-button value="0" class="md-primary"> No</md-radio-button>
                    </md-radio-group>
                    <div ng-messages="ticketverifyform.rbtnmarketingtkted.$invalid">
                        <div style="color: red;font-size: 14px;" ng-if="ticketverifyform.rbtnmarketingtkted.$invalid && (ticketverifyform.$submitted)">This is required.</div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <button type="submit" class="button_custom col-lg-2  col-lg-offset-4">Autorize</button>
                <md-button class='md-raised md-hue-1 col-lg-2' ng-click='page.model.closepopup()'>Cancel</md-button>
            </div>
        </div>
    </form>

</script>
<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .autorizeExcel {
        margin-left: 6%;
        height: 20px;
        width: 20px;
    }
</style>