#paymentAuthorization {
    .sideMenu {
        border: 1px solid #8b8989 !important;
        border-radius: 5%;
    }
    .bodycls {
        padding-left: 0% !important;
    }
    .btncls {
        height: 38px;
    }
    .lblcls {
        left: 32px;
    }
    .boderCls {
        margin: 0 1% 0 2%;
    }
    .hdrCls {
        font-size: 15px;
    }
    .edit_pages_sidebar_menu ul li {
        display: block;
        border-top: solid 1px #ccc;
        width: 198px;
    }
    .edit_pages_sidebar_menu {
        width: 200px;
    }
    ul {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .edit_pages_sidebar_menu ul li a {
        padding: 10px 8px !important;
    }
    th.headerStylesnew.AgreedAmount {
        width: 100px;
    }
    td.AgreedAmount {
        width: 100px;
    }
    th.headerStylesnew.PaidAmount {
        width: 100px;
    }
    td.PaidAmount {
        width: 100px;
    }
    th.headerStylesnew.ValidMonths {
        width: 90px;
    }
    td.ValidMonths {
        width: 90px;
    }
    th.headerStylesnew.PaymentDate {
        width: 116px;
    }
    td.PaymentDate {
        width: 116px;
    }
    th.headerStylesnew.ProfileID {
        width: 105px;
    }
    td.ProfileID {
        width: 105px;
    }
    th.headerStylesnew.Emp_Ticket_ID {
        width: 132px;
    }
    td.Emp_Ticket_ID {
        width: 132px;
    }
    th.headerStylesnew.ExpiryOn {
        width: 116px;
    }
    td.ExpiryOn {
        width: 116px;
    }
    th.headerStylesnew.SAForm {
        width: 100px;
    }
    td.SAForm {
        width: 100px;
    }
}

.paymentAuthorizeCls {
    line-height: 42px;
    width: 78%;
    left: 12%;
    button.close {
        padding-right: 12px;
    }
}

tbody {
    height: auto;
    max-height: 350px;
    overflow-y: auto;
}

md-sidemenu-button>a {
    width: 100% !important;
}

.md-sidemenu-button span {
    text-align: left;
}

.btnbgColor {
    background: #A00201;
    color: #fff !important;
}

.unpaid {
    color: red;
    font-weight: 700;
}

.paidclass {
    color: #16713d;
    font-weight: 700;
}

.modalclassdashboardremainder {
    z-index: 99999999999999 !important;
    top: 0%;
    left: 0%;
}

.modalclassofedit {
    z-index: 9999999 !important;
    top: 0%;
    left: 0%;
}

.modalclassofedit .modal-dialog.modal-md {
    width: 50%;
}

.modalclassofedit {
    .md-tab {
        padding: 14px 15px;
    }
}

.modalclassofedit {
    .pop_label_left {
        width: 40%;
    }
}

#paymentAuthorization {}

#formpaymentverify {
    // button.multiselect.dropdown-toggle.btn.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope {
    //  width: 43% !important;
    //}
    .smalldropdown {
        width: 150px !important;
        height: 33px;
        cursor: pointer;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 1px;
    }
    .multiselect-container {
        width: 150px !important;
        margin-left: 121px;
    }
}

th.Emp_Ticket_ID.headerStyles {
    width: 120px !important;
}

th.ProfileID.headerStyles {
    width: 100px !important;
}

th.PaymentDate.headerStyles {
    width: 110px !important;
}

th.ExpiryOn.headerStyles {
    width: 110px !important;
}

th.SAForm.headerStyles {
    width: 100px !important;
}

// th.Description.headerStyles {
//     width: 155px !important;
// }
th.AgreedAmount.headerStyles {
    width: 90px !important;
}

th.PaidAmount.headerStyles {
    width: 90px !important;
}

th.ValidMonths.headerStyles {
    width: 85px !important;
}

.dashboardheaderpopup {
    background-color: rgba(197, 205, 50, 0.42);
    margin-bottom: 10px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}