<div class="right_col myprofile" role="main" id="ticketcreation">
    <div class="panel-group">
        <div class="panel-collapse collapse in">
            <div class="panel-default regValheader" is-open="page.model.opendiv">
                <div class="panel-heading" style=" color: rgb(160, 2, 1);">
                    <h4 class="panel-title"> Ticket creation
                    </h4>
                </div>
                <form accessible-form name="ticketcreationform" novalidate role="form" ng-submit="ticketcreationform.$valid  && page.model.ticketcreationsubmit();">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <md-radio-group ng-change="page.model.changetypeofticket()" name="rbtnBasic" layout="row" ng-model="page.model.rbtntype" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="1" class="md-primary">Profile ID</md-radio-button>
                                    <md-radio-button value="2"> Guest Ticket</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4" ng-show="page.model.rbtntype!=='2' && page.model.rbtntype!=='0'">
                                <label for="All Profileid" class="control-label">Profile ID<span style="color: red; margin-left: 3px;">*</span></label>
                                <div>

                                    <input name="txtprofileidcheck" ng-required="page.model.rbtntype==='1'?true:false" type="text" class="form-control" maxlength="9" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-model="page.model.txtProfileidticket" ng-keydown="$event.keyCode===13 && page.model.onchangeofcreateticket('profileid')"
                                        ng-blur="page.model.onchangeofcreateticket('profileid');page.model.chkprofileid(page.model.txtProfileidticket)">
                                </div>
                                <div ng-messages="ticketcreationform.txtprofileidcheck.$invalid">
                                    <div style="color: red;font-size: 12px;width:112px;" ng-if="ticketcreationform.txtprofileidcheck.$invalid && (ticketcreationform.$submitted)">*Required.</div>
                                </div>
                            </div>
                            <div class="col-lg-4" ng-show="page.model.rbtntype!=='2' && page.model.rbtntype!=='0'">
                                <div ng-show="page.model.rbtntype!=='2' && page.model.personalname && page.model.objcustomername!==null && page.model.objcustomername!==''">
                                    <label><b>Name:</b>{{page.model.objcustomername}} ,<b>Owner:</b>{{page.model.objProfileOwner}} ,<b>Ticket:</b><a  href="javascript:void(0)" style="font-size: 14px;font-weight: bold;" ng-click="page.model.ticketpopup()">{{page.model.objMarketTicketID}}</a></label>
                                </div>
                            </div>
                            <div class="col-lg-4" ng-if="page.model.rbtntype!=='1' && page.model.rbtntype!=='0'">
                                <p>Phone Number<span style="color: red; margin-left: 3px;">*</span></p>
                                <div class="controls clearfix">
                                    <div layout-gt-sm="row" class="generalane">
                                        <select name="ddlcountrycode" ng-required="page.model.rbtntype==='2'?true:false" class="smalldropdown" typeofdata="'countryCode'" ng-model="page.model.countrycode" multiselectdropdown>   
                                      </select>
                                        <input ng-keydown="$event.keyCode===13 && page.model.onchangeofcreateticket('phonenumber')" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-blur="page.model.onchangeofcreateticket('phonenumber')" name="txtphonenumber" ng-required="page.model.rbtntype==='2'?true:false"
                                            class="form-control" ng-model="page.model.txtphonenumber" maxlength="10" style="width: 188px  !important;margin-left:10px;margin-right:10px;">
                                    </div>
                                    <div layout-gt-sm="row" class="generalane">
                                        <div ng-messages="ticketcreationform.ddlcountrycode.$invalid" class="col-lg-4">
                                            <div style="color: red;font-size: 12px;width:112px;" ng-if="ticketcreationform.ddlcountrycode.$invalid && (ticketcreationform.$submitted)">*Required.</div>
                                        </div>
                                        <div ng-messages="ticketcreationform.txtphonenumber.$invalid" class="col-lg-6">
                                            <div style="color: red;font-size: 12px;width:112px;" ng-if="ticketcreationform.txtphonenumber.$invalid && (ticketcreationform.$submitted)">*Required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" ng-show="page.model.rbtntype!=='1'  && page.model.rbtntype!=='0'">
                                <label for="Customername" class="control-label">Customer Name<span style="color: red; margin-left: 3px;">*</span></label>
                                <div>
                                    <input name="txtcustomername" ng-required="page.model.rbtntype==='2'?true:false" type="text" class="form-control" ng-model="page.model.txtcustomername">
                                </div>
                                <div layout-gt-sm="row" class="generalane">
                                    <div ng-messages="ticketcreationform.txtcustomername.$invalid">
                                        <div style="color: red;font-size: 12px;" ng-if="ticketcreationform.txtcustomername.$invalid && (ticketcreationform.$submitted)">*Required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" ng-show="page.model.rbtntype!=='1' && page.model.rbtntype!=='0'">
                                <label for="customeremail" class="control-label">Customer Email<span style="color: red; margin-left: 3px;">*</span></label>
                                <div>
                                    <input ng-pattern="page.model.emailpattaren" ng-keyup="$event.keyCode===13 && page.model.onchangeofcreateticket('email')" ng-blur="page.model.onchangeofcreateticket('email')" name="txtcustomeremail" ng-required="page.model.rbtntype==='2'?true:false" type="text"
                                        class="form-control" ng-model="page.model.txtcustomermail">
                                </div>
                                <div layout-gt-sm="row" class="generalane">
                                    <div ng-messages="ticketcreationform.txtcustomeremail.$invalid">

                                        <div style="color: red;font-size: 12px;" ng-if="ticketcreationform.txtcustomeremail.$invalid && (ticketcreationform.$submitted)">*This is required and enter valid e-mail address.</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" ng-show="page.model.rbtntype==='1'|| page.model.rbtntype==='2'">
                            <div class="col-lg-6">
                                <label for="Message" class="control-label">Message<span style="color: red; margin-left: 3px;">*</span></label>
                                <div>
                                    <textarea name="txtmessages" required="" type="text" rows="4" class="form-control" ng-model="page.model.txtMessage"></textarea>
                                </div>
                                <div layout-gt-sm="row" class="generalane">
                                    <div ng-messages="ticketcreationform.txtmessages.$invalid">
                                        <div style="color: red;font-size: 12px;" ng-if="ticketcreationform.txtmessages.$invalid && (ticketcreationform.$submitted)">*Required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group text-center" style="border-top: 1px solid #ddd;padding-top: 1%;">
                            <button type="submit" class="button_custom" style="display:initial;" ng-disabled="page.model.isDisabledsubmit">Submit</button>
                            <input type="reset" class="button_custom button_custom_reset resetCls" value="Reset" ng-click="page.model.clearallcontrols();">
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tiketinforamtion.html">
    <div class="modal-message modal-danger">
        <div class="modal-header">
            <i class="glyphicon glyphicon-fire"></i>
        </div>
        <div class="modal-body">
            <div class="row">
                <b style="color:red;">Marketing TicketId already Exist</b>
            </div>
            <div class="row">
                <div ng-show="page.model.objcustomername!==null && page.model.objcustomername!==''?true:false" class="col-lg-12"><label>Name :{{page.model.objcustomername}}</label></div>
                <div ng-show="page.model.objProfileOwner!==null && page.model.objProfileOwner!==''?true:false" class="col-lg-12"><label>Owner :{{page.model.objProfileOwner}}</label></div>
                <div class="col-lg-12"><label>Ticket ID :</label><a style="font-size: 14px;font-weight: bold;" href="javascript:void(0)" ng-click="page.model.ticketpopup()">{{page.model.objMarketTicketID}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="page.model.close()">Close</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="market.html">
    <div class="modal-body">
        <market-tickethistory ticketid="page.model.objTicketID"></market-tickethistory>
    </div>
</script>