<div class="right_col" id="empCreationID">

    <div class="bodycls">
        <md-content class="md-padding">
            <md-tabs md-selected="page.model.selectedIndex" md-dynamic-height flex md-border-bottom md-autoselect>

                <md-tab md-on-select="slide.incomeTab=true" label="Employee list Search">
                    <div class="tab">
                        <br>
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label for="" class="control-label col-lg-10 lblcls">Region</label>
                                <div class=""> <select multiselectdropdown ng-model="page.model.region" multiple typeofdata="'RegionofbranchesWithAll'" ng-change="page.model.dependencyChange(page.model.region,'branch');">   
                              </select></div>
                            </div>
                            <div class="col-lg-2 form-group">
                                <label for="" class="control-label col-lg-10 lblcls">branch</label>
                                <div class=""> <select multiselectdropdown ng-model="page.model.searchbranch" multiple ng-options="item.value as item.label for item in page.model.branchArr">   
                              </select></div>
                            </div>
                            <div class="col-lg-2 form-group">
                                <label for="" class="control-label col-lg-10 lblcls">Employee Status</label>
                                <div class=""> <select multiselectdropdown pagetype="'search'" ng-model="page.model.empStatus" ng-options="item.value as item.label for item in page.model.empStatusArr">   
                              </select></div>
                            </div>
                            <div class="col-lg-2 form-group">
                                <label for="" class="control-label col-lg-10 lblcls">Employee Type</label>
                                <div class=""> <select multiselectdropdown ng-model="page.model.empType" ng-options="item.value as item.label for item in page.model.empTypeArr" multiple>   
                              </select></div>
                            </div>
                            <div class="col-lg-2" style="margin-top:2%;">
                                <md-checkbox ng-model="page.model.isLoginAnywhere">LoginAnywhere</md-checkbox>
                            </div>
                            <div class="col-lg-2" style="margin-top:2%;">
                                <input type="submit" value="Search" class="btn btn-success" ng-click="page.model.getEmpList();">
                                <div ng-if="page.model.data.length>0">
                                    Total Records : {{page.model.data.length}}
                                </div>
                            </div>
                        </div>
                        <br>
                        <input type="text" ng-model="page.model.inputSearch" class="form-control">
                        <div class="mainDivCls">
                            <div class="row scrollcls">
                                <div class="col-lg-3" ng-repeat="item in page.model.data | filter :page.model.inputSearch">
                                    <div class="gridcls">
                                        <div>
                                            <img class="center-block" style="height: 195px; width: 195px;cursor:pointer;" ng-src="{{page.model.empImage(item);}}" ng-click="page.model.EmpPhotopopup(item.EmpPhoto,item.UserID,item.EmpID);" />
                                        </div>
                                        <div class="row empdata">
                                            <div style="color:#2d45c2;">{{item.FirstName+' '+item.LastName+' ('+item.UserID+')'}}</div>
                                            <div> {{item.OfficialEmailID}}</div>
                                            <div> {{item.OfficialContactNumber}}</div>
                                            <div>{{item.starttime +' to '+ item.endTime}} </div>
                                            <div>Login Anywhere : {{item.isLoginanywhere===true?'Yes':'No'}}</div>
                                        </div>
                                        <div class="">
                                            <div class="row actioncls">
                                                <div class="col-lg-3"><a href="javascript:void(0);" ng-click="page.model.editEmp(item);">Edit</a></div>
                                                <div class="col-lg-3"><a href="javascript:void(0);" ng-cloak ng-click="page.model.deleteEmp(item,item.IsActiveStatus==='IsActive' ? 'Delete' : 'Active');">{{item.IsActiveStatus === 'IsActive' ? 'Delete' : 'Active'}}</a></div>
                                                <div class="col-lg-3"><a href="javascript:void(0);" ng-click="page.model.disableEmp(item);">Disable</a></div>
                                                <div class="col-lg-3"><a href="javascript:void(0);" ng-click="page.model.assignEmpWork(item);">Assign</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </md-tab>
                <md-tab label="Create Employee" ng-click="page.model.reset();empFormCreation.$setPristine();">
                    <div class="tab">
                        <form name="empFormCreation" novalidate role="form" ng-submit="page.model.CreateEmployeeSubmit()" accessible-form>
                            <br>
                            <div class="row">
                                <div class="col-lg-3" style="color:black;">
                                    <label for="" class="control-label col-lg-10 lblcls required">First name</label>
                                    <div class="form-group"><input type="text" class="form-control" focus-me="true" ng-model="page.model.fName" required></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Last name</label>
                                    <div class="form-group"><input type="text" class="form-control" ng-model="page.model.lName" required></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Official Email</label>
                                    <div class="form-group"><input type="text" class="form-control" ng-model="page.model.officeEmail" required></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Working branch</label>
                                    <div class="form-group row">
                                        <select multiselectdropdown name="workingBranch" ng-model="page.model.workingBranch" required ng-change="page.model.getUserID(page.model.workingBranch);" typeofdata="'Branch'"></select>
                                    </div>
                                    <div style="color: #a94442;" ng-if="empFormCreation.workingBranch.$invalid && (empFormCreation.$submitted)" ng-messages="empFormCreation.workingBranch.$error">This field is required.</div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Office landline</label>
                                    <div class="form-group"><input type="text" class="form-control" ng-model="page.model.landline" required></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Office cell phone</label>
                                    <div class="form-group"><input type="text" class="form-control" ng-model="page.model.officePhone" required></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Designation</label>
                                    <div class="form-group row">
                                        <select multiselectdropdown name="designation" ng-model="page.model.designation" required ng-options="item.Id as item.value for item in page.model.DesignationArr"></select>
                                    </div>
                                    <div class="row" style="color: #a94442;" ng-if="empFormCreation.designation.$invalid && (empFormCreation.$submitted)">This field is required.</div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Login location</label>
                                    <div class="form-group row">
                                        <select multiselectdropdown name="loginLocation" ng-model="page.model.loginLocation" required multiple typeofdata="'Branch'"></select>
                                    </div>
                                    <div style="color: #a94442;" ng-if="empFormCreation.loginLocation.$invalid && (empFormCreation.$submitted)" ng-messages="empFormCreation.loginLocation.$error">This field is required.</div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">Week-off </label>
                                    <div class="form-group">
                                        <select multiselectdropdown ng-model="page.model.weakOff" ng-options="item.Id as item.value for item in page.model.WeekDaysArr"> </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Date of joining</label>
                                    <div class="form-group row">
                                        <custom-datepicker name="date" ng-model="page.model.dateOfJoining" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                                    </div>
                                    <div style="color: #a94442;" ng-if="empFormCreation.date.$invalid && (empFormCreation.$submitted)" ng-messages="empFormCreation.date.$error">This field is required.</div>
                                </div>
                                <div class="col-lg-4">
                                    <label for="" class="control-label col-lg-10 lblcls required">Office hours</label>
                                    <div class="col-lg-3" style="padding-right:0px;">
                                        <select multiselectdropdown name="fromHrs" ng-model="page.model.fromHrs" required ng-options="item.value as item.label for item in page.model.hrsbindArr"></select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select multiselectdropdown name="fromMins" ng-model="page.model.fromMins" required ng-options="item.value as item.label for item in page.model.minsArray"></select>
                                    </div>
                                    <div class="col-lg-3" style="padding-right:0px;">
                                        <select multiselectdropdown name="toHrs" ng-model="page.model.toHrs" required ng-options="item.value as item.label for item in page.model.hrsbindArr"></select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select multiselectdropdown name="toMins" ng-model="page.model.toMins" required ng-options="item.value as item.label for item in page.model.minsArray"></select>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3" style="color: #a94442;">
                                            <div style="color: #a94442;" ng-if="empFormCreation.fromHrs.$invalid && (empFormCreation.$submitted)" ng-messages="empFormCreation.fromHrs.$error">required.</div>
                                        </div>
                                        <div class="col-lg-3" style="color: #a94442;">
                                            <div style="color: #a94442;" ng-if="empFormCreation.fromMins.$invalid && (empFormCreation.$submitted)" ng-messages="empFormCreation.fromMins.$error">required.</div>
                                        </div>
                                        <div class="col-lg-3" style="color:#a94442;">
                                            <div style="color: #a94442;" ng-if="empFormCreation.toHrs.$invalid && (empFormCreation.$submitted)" ng-messages="empFormCreation.toHrs.$error">required.</div>
                                        </div>
                                        <div class="col-lg-3" style="color:#a94442;">
                                            <div style="color: #a94442;" ng-if="empFormCreation.toMins.$invalid && (empFormCreation.$submitted)" ng-messages="empFormCreation.toMins.$error">required.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 form-group" ng-if="page.model.workingBranch">
                                    <label for="" class="control-label col-lg-10 lblcls required">Login name</label>
                                    <div class="">
                                        <label for="" class="control-label col-lg-10 lblcls">{{page.model.newuserID}}</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row" ng-if="page.model.workingBranch && page.model.actionFlag !== 'edit'">
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Password</label>
                                    <div class="form-group"><input type="password" class="form-control" required ng-model="page.model.password"></div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="md-toolbar-tools">
                                    <h4 class="md-flex  col-lg-12" style="font-size: 15px;"> Personal Info
                                    </h4>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">Country</label>
                                    <div class=""> <select multiselectdropdown ng-model="page.model.country" typeofdata="'Country'" ng-change="page.model.dependencyChange(page.model.country,'state');">   
                              </select></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">State</label>
                                    <div class=""> <select multiselectdropdown ng-model="page.model.state" ng-options="item.value as item.label for item in page.model.stateArr" ng-change="page.model.dependencyChange(page.model.state,'district');">   
                              </select></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">District</label>
                                    <div class=""> <select multiselectdropdown ng-model="page.model.district" ng-options="item.value as item.label for item in page.model.districtArr" ng-change="page.model.dependencyChange(page.model.district,'city');">   
                              </select></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">City</label>
                                    <div class=""> <select multiselectdropdown ng-model="page.model.city" ng-options="item.value as item.label for item in page.model.cityArr">   
                              </select></div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">Address</label>
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" ng-model="page.model.address"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Personal Email</label>
                                    <div class="form-group"><input type="text" class="form-control" required ng-model="page.model.personalEmail"></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls required">Personal phone</label>
                                    <div class="form-group"><input type="text" class="form-control" required ng-model="page.model.personalPhone"></div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="md-toolbar-tools">
                                    <h4 class="md-flex  col-lg-12" style="font-size: 15px;"> Education details
                                    </h4>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">Education category</label>
                                    <div class=""> <select multiselectdropdown ng-model="page.model.eduCatgory" typeofdata="'educationcategory'" ng-change="page.model.dependencyChange(page.model.eduCatgory,'edugroup');">   
                              </select></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">Education group</label>
                                    <div class=""> <select multiselectdropdown ng-model="page.model.eduGroup" ng-options="item.value as item.label for item in page.model.edugroupArr" ng-change="page.model.dependencyChange(page.model.eduGroup,'eduSpecialisation');">   
                              </select></div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="control-label col-lg-10 lblcls">Education specialization</label>
                                    <div class=""> <select multiselectdropdown ng-model="page.model.eduSpecialisation" ng-options="item.value as item.label for item in page.model.eduSpecialisationArr">
                              </select></div>
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-7">

                                    <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-model="page.model.emptype" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                        <md-radio-button value="1" class="md-primary">isAdmin</md-radio-button>
                                        <md-radio-button value="2"> Senior Emp</md-radio-button>
                                        <md-radio-button value="3"> Review Emp</md-radio-button>
                                        <md-radio-button value="4"> isMarketing</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div>
                                    <md-checkbox ng-model="page.model.chkloginaAnyWhere">LoginAnywhere</md-checkbox>
                                </div>
                            </div>

                            <br>
                            <div class="row" ng-if="page.model.workingBranch">
                                <div class="md-toolbar-tools">
                                    <h4 class="md-flex  col-lg-12" style="font-size: 15px;"> Upload Image
                                    </h4>
                                </div>
                                <input type="file" class="form-control" style="width: 30%;" file-model="page.model.upImage">
                            </div>
                            <br>

                            <div class="row">
                                <div style="border-top: 1px solid #ddd;padding-top: 1%;"></div>
                                <div class="col-lg-6">
                                    <input class="button_custom pull-right" type="submit" value="Submit" />
                                </div>
                                <div class="col-lg-1">
                                    <input type="reset" class="button_custom button_custom_reset" value="Reset" ng-click="page.model.reset();">
                                </div>
                            </div>
                        </form>
                    </div>
                    <br><br><br>

                </md-tab>

            </md-tabs>
        </md-content>
    </div>

</div>

<script type="text/ng-template" id="assignWork.html">
    <div class="alert-info">
        <div class="modal-header">
            <a href="javascript:void(0);" class="pull-right" ng-click="page.model.close();">
                <span class="fa fa-close red"></span>
            </a>
            <h4 class="modal-title">
                <center>Work assign to {{page.model.AssignEmpname}}</center>
            </h4>
        </div>
    </div>
    <div class="modal-body" style="line-height: 38px;">
        <div class="row">
            <div class="col-lg-5"><label for="" class="control-label pull-right">Service given count</label></div>
            <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.serviceCount"></div>
        </div>
        <div class="row">
            <div class="col-lg-5"><label for="" class="control-label pull-right">Matchfollowup count</label></div>
            <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.matchCount"></div>
        </div>
        <div class="row">
            <div class="col-lg-5"><label for="" class="control-label pull-right">Marketing tickets count</label></div>
            <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.marketCount"></div>
        </div>
        <div class="row">
            <div class="col-lg-5"><label for="" class="control-label pull-right">Photos modified count</label></div>
            <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.photoCount"></div>
        </div>
        <div class="row">
            <div class="col-lg-5"><label for="" class="control-label pull-right">Horoscope modified count</label></div>
            <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.horoCount"></div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Submit" class="btn btn-success" ng-click="page.model.setAssignCounts();">
        <input type="button" value="close" class="btn btn-default" ng-click="page.model.close();">
    </div>
</script>
<script type="text/ng-template" id="empPhotoPopup.html">

    <div class="modal-header">
        <a href="javascript:void(0);" class="pull-right" ng-click="page.model.close();">
            <span class="fa fa-close red"></span>
        </a>
        <h4 class="modal-title">
            <center>Photo</center>
        </h4>
    </div>

    <div class="modal-body" style="line-height: 38px;">
        <img ng-src="{{page.model.empPhoto}}" alt="" style="max-width:560px;max-height:388px;">
    </div>
    <div class="modal-footer">
        <input type="button" value="Change Photo" class="btn btn-success" ng-click="page.model.addPhoto();">
        <input type="button" value="close" class="btn btn-danger" ng-click="page.model.close();">
    </div>
</script>
<script type="text/ng-template" id="AddimagePopup.html">
    <form class="EditViewClass" name="uploadForm" novalidate role="form" ng-submit="page.model.upload()">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Upload Photo </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul id="ulprofession">
                <input type="file" file-model="page.model.myFile" />
            </ul>
        </div>
        <div class="modal-footer">
            <input value="Cancel" class="button_custom button_custom_reset" ng-click="page.model.closepopup();" type="button">
            <input value="Upload" class="button_custom" type="submit">
        </div>
    </form>
</script>

<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .gridcls {
        border: 1px solid #ccc;
        margin: 4%;
    }
    
    .empdata {
        line-height: 24px;
        padding-left: 13%;
        color: #514d4d;
        font-weight: 600;
    }
    
    .mainDivCls {
        border: 1px solid #ccc;
    }
    
    .actioncls {
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 4%;
        background-color: #dbe2e5;
    }
    
    .scrollcls {
        height: 600px;
        overflow-y: auto;
    }
    
    .addImg {
        z-index: 999999 !important;
    }
</style>