<div class="panel panel-default">
    <div class="row">
        <div class="col-lg-4">
            <label style="color:#585050">Total Records :</label>
            <label style="color:blue"> {{active}}</label>
            <label style="color:#585050"> of {{model.totalRecords}}</label>
        </div>
        <div class="col-lg-4" id="divviewedprofiles">
            <div class="row" style="padding-top: 5px;">
                <div class="col-lg-5">
                    Viewed &nbsp;&nbsp;<label id="lnkLastSlide" style="color: blue;">{{Viwedslide}}&nbsp;&nbsp;</label><label>Profiles</label>
                </div>
                <div class="col-lg-1">
                    <input type="text" ng-model="txtGotoVal" class="form-control" style="width: 60px; height: 30px;" ng-blur="gotoSlide(txtGotoVal)">
                </div>
            </div>
        </div>
        <div class="col-lg-2" ng-show="personalobj.Cust_ID!=='' && personalobj.Cust_ID!==null && personalobj.Cust_ID!==undefined">
            <a style="font-size: 18px;color:#337ab7" href="javascript:void(0);" onclick="return mainShortListProfiles();"><span class="glyphicon glyphicon-star">ShowShortList</span></a>
        </div>
        <div class="pull-right">
            <md-button class="md-raised md-warn md-hue-2" ng-click="backtosearchpage()">Back to Search Page</md-button>
        </div>
    </div>

</div>

<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" carousel-controls>
    <div uib-slide ng-repeat="slide in model.slides track by $index" index="$index">
        <div ng-include="templateUrl"> </div>
    </div>
</div>

<div id="carouselButtons" class="col-lg-offset-5" style="margin-top: -10px;">
    <button id="playButton" type="button" ng-click="pauseResume('play');" class="btn btn-default btn-xs pauseBtns" title="Play">
       <i class="fa fa-play"></i>
   </button>
    <button id="pauseButton" type="button" ng-click="pauseResume('pause');" class="btn btn-default btn-xs pauseBtns" title="Pause">
   <i class="fa fa-pause"></i>
      </button>
</div>