<div ng-show="config.headervisileble">
    <div ng-include="model.headettemp">
    </div>
    <div uib-carousel active="activeslide" interval="myInterval" no-wrap="noWrapSlides" carousel-controls>
        <div uib-slide ng-repeat="slide in model.slides track by $index" index="$index">
            <div ng-include="config.templateUrl"> </div>
        </div>
    </div>

    <div id="carouselButtons" class="col-lg-offset-5" style="margin-top: -10px;">
        <button ng-hide="playbutton" ng-click="pauseResume('play');" class="btn btn-default btn-xs pauseBtns" title="Play">
       <i class="fa fa-play"></i>
   </button>
        <button ng-hide="!playbutton" ng-click="pauseResume('pause');" class="btn btn-default btn-xs pauseBtns" title="Pause">
   <i class="fa fa-pause"></i>
      </button>
    </div>

</div>
<script type="text/ng-template" id="dynamicphotopopup.html">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" ng-click="config.close()">×</button>
            <h4 class="modal-title">Photo Album</h4>
        </div>
        <div class="modal-body">
            <div class="bs-example">
                <div id="slideshow" ng-hide="popupmodalbody">
                    <div uib-carousel active="activeslidephoto" interval="myIntervalphoto" no-wrap="noWrapSlidesphoto" carousel-controls>
                        <div uib-slide ng-repeat="slide in slidephotos track by $index" index="$index">
                            <img id="imh" ng-src="{{slide.FullPhotoPath}}" style="margin-left: auto;
                      margin-right: auto;"></img>
                        </div>
                    </div>
                </div>
                <div ng-hide="!popupmodalbody">
                    <img ng-src="{{HoroscopeImage}}" style="height: 500px; width: 500px;">
                </div>
            </div>
        </div>
    </div>
</script>