<div class="right_col" id="employeepermissionid">
    <div class="panel-group">
        <div class="panel-collapse collapse in">
            <div class="panel-default regValheader" style="margin-top: -12px;box-shadow: 2px 2px 6px #ccc;" is-open="page.model.opendiv">
                <div class="panel-heading" style="color: rgb(160, 2, 1);border: 1px solid #ccc">
                    <div class="row">
                        <div class="col-lg-2" style="font-size: 14px;font-weight: 700;cursor:pointer;" ng-click="page.model.panelbodyhide=!page.model.panelbodyhide">
                            <h4 style="width:170px;"> Employee Permission
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 black">
                            <label class="col-lg-3">Region</label>
                            <div class="col-lg-12 clearfix">
                                <select multiselectdropdown class="smalldropdown col-lg-5" ng-model="page.model.region" typeofdata="'Regionofbranches'" ng-change="page.model.regionChange(page.model.region);" pagetype="'search'"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 black">
                            <label class="col-lg-3">Branch</label>
                            <div class="col-lg-12 clearfix">
                                <select name="ticketowner" class="smalldropdown" ng-options="item.value as item.label for item in page.model.branchArr" ng-model="page.model.branchid" ng-change="page.model.onchangeemployee(page.model.branchid);" multiselectdropdown pagetype="'search'">   
                                            </select></div>
                        </div>
                        <div class="col-lg-3 black">
                            <label for="" class="control-label col-lg-4">Employees</label>
                            <div class="col-lg-12 clearfix rdnoptions">
                                <select name="ticketowner" class="smalldropdown" ng-options="item.value as item.label for item in page.model.ProfileOwnerarray" ng-model="page.model.profileownerid" multiselectdropdown pagetype="'search'">   
                                     </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <md-button class="md-raised md-warn md-hue-2" ng-click="page.model.isDisabledsubmit=true;page.model.submitemployeepermission(page.model.profileownerid,'grid')">GO</md-button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <complex-grid-new gid="'id2'" model="page.model" config="page.model"></complex-grid-new>
    <!-- <div>
        <div class="col-lg-12">
            <div class="pane pane--table1" id='table'>
                <div class="pane-hScroll">
                    <table>
                        <thead>
                            <tr>
                                <th ng-repeat="itemheader in page.model.arrayheader" class="headerStylesnew">{{itemheader}}</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="pane-vScroll">
                        <table>
                            <tbody>
                                <tr ng-repeat="response in page.model.modelarraydynamic" ng-init="">
                                    <td>{{ response.PageName }}</td>
                                    <td>
                                        <md-checkbox ng-model="response.ViewPages"></md-checkbox>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <hr>
    <div class="col-lg-12 col-lg-offset-4" ng-if="page.model.data.length>0">
        <md-button class="md-raised md-warn md-hue-2" ng-disabled="page.model.submitdisabled" ng-click="page.model.updatepagepermission()">
            Update
        </md-button>
        <input type="reset" class="btn btn-default" ng-click="page.model.emppermissionreset();" value="Reset">
    </div>

</div>
<style type="text/css">
    table {
        border-collapse: collapse;
        background: white;
        table-layout: fixed;
        width: 100%;
    }
    
    th,
    td {
        padding: 8px 16px;
        border: 1px solid #ddd;
        width: 199px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: inherit;
    }
    
    .pane {
        background: #eee;
    }
    
    .pane-hScroll {
        overflow: auto;
    }
    
    .pane-vScroll {
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .headerStylesnew {
        background-color: #fdca52;
        color: black;
    }
</style>