<div class="right_col">

    <div class="row" style="border: 1px solid #ccc;
    border-radius: 6px;">
        <div class="col-lg-12">
            <div class="col-lg-2"><a href="javascript:void(0)">CandidateAll </a></div>
            <div class="col-lg-2"><a href="javascript:void(0)">FatherAll </a></div>
            <div class="col-lg-2"><a href="javascript:void(0)">MotherAll</a></div>
            <div class="col-lg-2"><a href="javascript:void(0)">BrotherAll</a></div>
            <div class="col-lg-2"><a href="javascript:void(0)">SisterAll </a></div>
            <div class="col-lg-2"><a href="javascript:void(0)">MotherBortherAll </a></div>
        </div>
        <br>
        <br>
        <div class="col-lg-12">
            <div class="col-lg-2"><a href="javascript:void(0)">MotherSisterAll</a></div>
            <div class="col-lg-2"><a href="javascript:void(0)">FatherBrotheAll </a></div>
            <div class="col-lg-2"><a href="javascript:void(0)">FatherSisterAll </a></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <input style="width:185px;" type="text" class="form-control" ng-model="page.model.txtinputfileds" placeholder="List of Fields"></input>
            <select style="height:600px;" multiple="multiple" ng-model="ddlFruits">
                <option style="padding:4px;" ng-style="{'color':item.style}" ng-repeat="item in page.model.Searchfields" value="{{item.value}}">{{item.Text}}</option>
           </select>
        </div>
    </div>
</div>