<div class="right_col myprofile" role="main" id="regval">
    <uib-accordion close-others="oneAtATime">

        <div uib-accordion-group class="panel-default regValheader" is-open="page.model.opendiv">
            <uib-accordion-heading style=" color: rgb(160, 2, 1);">
                RegistrationValidation <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>

                <button class="btn btn-default backtoSearchCls" ng-show="!page.model.opendiv" ng-click="page.model.backtosearch();">Back to Searcg page</button>
            </uib-accordion-heading>
            <div class="row">
                <div class="">
                    <label for="Gender" class="col-lg-1 control-label">Gender</label>
                    <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-model="page.model.rbtGender" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                        <md-radio-button value="2" class="md-primary">Bride</md-radio-button>
                        <md-radio-button value="1"> Groom</md-radio-button>
                        <md-radio-button value=""> Both</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-lg-4 form-group">
                    <label for="All Phones" class="control-label">All Phones</label>
                    <div>
                        <input type="text" class="form-control" focus-me="true" ng-model="page.model.txtAllPhones">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="All Emails" class="control-label">All Emails</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtAllEmails">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="Application Status" class="control-label">Application Status</label>
                    <div>
                        <select multiselectdropdown class="smalldropdown" ng-model="page.model.ddlApplicationStatus" ng-model="page.model.ddlApplicationStatus" ng-options="item.value as item.label for item in page.model.applicationstatusArr">   
                              </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="FF/MF NATIVE" class="control-label">FF/MF NATIVE</label>
                    <div>
                        <input type="text" class="form-control col-lg-4" ng-model="page.model.txtFFMFNATIVE">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="FatherName" class="control-label">Father Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtFatherName">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="MotherName" class="control-label">Mother Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtMotherName">
                    </div>
                </div>
            </div>
            <br>
            <!--div.row>(div.col-md-3.col-lg-4.col-sm-3.col-xs-3.form-group>(label.control-label["$ Name"][ng-model="page.model.$name"])>div>input)*9-->
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="FF Name" class="control-label">FF Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtFFName">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="MF SurName" class="control-label">MF SurName</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtMFSurName">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="MF Name" class="control-label">MF Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtMFName">
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="C/F/FF SurName" class="control-label">C/F/FF SurName</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtCFFFSurName">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="C Name" class="control-label">C Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtCName">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="Caste" class="control-label">Caste</label>
                    <div>
                        <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.ddlCaste" typeofdata="'caste'">   
                              </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group text-center" style="border-top: 1px solid #ddd;padding-top: 1%;">
                <button class="button_custom" style="display:initial;" type="submit" ng-click="page.model.getSearchData(1,10,'grid',page.model.ddlApplicationStatus);">Search</button>
                <input type="reset" class="button_custom button_custom_reset resetCls" value="Reset" ng-click="page.model.reset();">
            </div>
            <br>
        </div>
    </uib-accordion>

    <div>
        <div ng-if="page.model.grid.TotalRows">
            <span class="spanHdr">
             <span>Active Count : </span>
            <span><a href="javascript:void(0);"  ng-class="{'linkdisabled':page.model.activeCount===0 || page.model.activeCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',54);">{{page.model.activeCount}}</a></span>
            </span>
            <span class="spanHdr">
                <span>Deleted Count : </span>
            <span><a href="javascript:void(0);"  ng-class="{'linkdisabled':page.model.deleteCount===0 || page.model.deleteCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',56);">{{page.model.deleteCount}}</a></span>
            </span>
            <span class="spanHdr"><span>Settled Count : </span><span><a href="javascript:_" ng-class="{'linkdisabled':page.model.settleCount===0 || page.model.settleCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',57);">{{page.model.settleCount}}</a></span></span>
            <span class="spanHdr"><span>InActive Count : </span><span><a href="javascript:_"  ng-class="{'linkdisabled':page.model.inactiveCount===0 || page.model.inactiveCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',55);">{{page.model.inactiveCount}}</a></span></span>
            <span class="spanHdr"><span>MMSerious Count : </span><span><a href="javascript:_"  ng-class="{'linkdisabled':page.model.mmserisCount===0 || page.model.mmserisCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',394);">{{page.model.mmserisCount}}</a></span></span>

        </div>
        <br>
        <complex-grid model="page.model.grid" config="page.model.grid"></complex-grid>
    </div>
    <script type="text/ng-template" id="myprofileSlide.html">
        <div class="modal-body">
            <complex-slide config="page.model.slide" model="page.model.slide"></complex-slide>
            <div class="clearfix"></div>
        </div>
    </script>
</div>

<script type="text/ng-template" id="singleGrid.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="page.model.close()">×</button>
        <h6 class="modal-title">Customer Full Details</h6>
    </div>
    <div class="modal-body">
        <single-grid config="page.model.SingleGrid" model="page.model.SingleGrid"></single-grid>
        <div class="clearfix"></div>
    </div>
</script>