<div class="right_col myprofile" role="main" id="regval">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default regValheader" is-open="page.model.opendiv">
            <uib-accordion-heading style=" color: rgb(160, 2, 1);">
                RegistrationValidation <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
                <button class="btn btn-default backtoSearchCls" ng-show="!page.model.opendiv" ng-click="page.model.backtosearch();">Back to Search page</button>
            </uib-accordion-heading>
            <div class="row">
                <div class="">
                    <label for="Gender" class="col-lg-1 control-label">Gender</label>
                    <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-model="page.model.rbtGender" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                        <md-radio-button value="2" class="md-primary">Bride</md-radio-button>
                        <md-radio-button value="1"> Groom</md-radio-button>
                        <md-radio-button value=""> Both</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="All Phones" class="control-label">All Phones</label>
                    <div>
                        <input type="text" class="form-control" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)" maxlength="10" allow-only-numbers focus-me="true" ng-model="page.model.txtAllPhones">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="All Emails" class="control-label">All Emails</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtAllEmails" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="Application Status" class="control-label">Application Status</label>
                    <div>
                        <select multiselectdropdown class="smalldropdown" ng-model="page.model.ddlApplicationStatus" ng-options="item.value as item.label for item in page.model.applicationstatusArr">   
                              </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="FF/MF NATIVE" class="control-label">FF/MF NATIVE</label>
                    <div>
                        <input type="text" class="form-control col-lg-4" ng-model="page.model.txtFFMFNATIVE" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="FatherName" class="control-label">Father Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtFatherName" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="MotherName" class="control-label">Mother Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtMotherName" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="FF Name" class="control-label">FF Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtFFName" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="MF SurName" class="control-label">MF SurName</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtMFSurName" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="MF Name" class="control-label">MF Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtMFName" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="C/F/FF SurName" class="control-label">C/F/FF SurName</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtCFFFSurName" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="C Name" class="control-label">C Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="page.model.txtCName" ng-keyup="$event.keyCode == 13 && page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0)">
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="Caste" class="control-label">Caste</label>
                    <div>
                        <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.ddlCaste" typeofdata="'caste'">   
                              </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group text-center" style="border-top: 1px solid #ddd;padding-top: 1%;">
                <button class="button_custom" style="display:initial;" type="submit" ng-disabled="page.model.isDisabledsubmit" ng-click="page.model.isDisabledsubmit=true;page.model.getSearchData(1,100,'grid',page.model.ddlApplicationStatus,0);">Search</button>
                <input type="reset" class="button_custom button_custom_reset resetCls" value="Reset" ng-click="page.model.reset();">
            </div>
            <br>
        </div>
    </uib-accordion>

    <div style="margin-top:10px;">
        <div ng-if="page.model.grid.TotalRows">
            <span class="spanHdr">
             <span>Active Count : </span>
            <span><a href="javascript:void(0);"  ng-class="{'linkdisabled':page.model.activeCount===0 || page.model.activeCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',54,1);">{{page.model.activeCount}}</a></span>
            </span>
            <span class="spanHdr">
                <span>Deleted Count : </span>
            <span><a href="javascript:void(0);"  ng-class="{'linkdisabled':page.model.deleteCount===0 || page.model.deleteCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',56,1);">{{page.model.deleteCount}}</a></span>
            </span>
            <span class="spanHdr"><span>Settled Count : </span><span><a href="javascript:void(0);" ng-class="{'linkdisabled':page.model.settleCount===0 || page.model.settleCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',57,1);">{{page.model.settleCount}}</a></span></span>
            <span class="spanHdr"><span>InActive Count : </span><span><a href="javascript:void(0);"  ng-class="{'linkdisabled':page.model.inactiveCount===0 || page.model.inactiveCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',55,1);">{{page.model.inactiveCount}}</a></span></span>
            <span class="spanHdr"><span>MMSerious Count : </span><span><a href="javascript:void(0);"  ng-class="{'linkdisabled':page.model.mmserisCount===0 || page.model.mmserisCount==='0'}" ng-click="page.model.getSearchData(1,10,'slide',395,1);">{{page.model.mmserisCount}}</a></span></span>

        </div>
        <br>
        <complex-grid ng-show="page.model.grid.data" model="page.model.grid" config="page.model.grid"></complex-grid>
    </div>
</div>
<script type="text/ng-template" id="myprofileSlide.html">
    <div class="modal-body">
        <complex-slide config="page.model.slide.config" model="page.model.slide"></complex-slide>
        <div class="clearfix"></div>
    </div>
</script>
<script type="text/ng-template" id="market.html">
    <div class="modal-body">
        <market-tickethistory ticketid="page.model.marketingTicketid"></market-tickethistory>
    </div>
</script>
<script type="text/ng-template" id="nodatafoundrecords.html">
    <no-recordfound models="page.model"></no-recordfound>
</script>