<div class="right_col" id="mailFormats"></div>
<!-- <md-content class="md-padding" layout="row" flex>
    <md-tabs md-selected="page.model.selectedIndex" md-dynamic-height flex md-border-bottom md-autoselect>
        <md-tab md-on-select="slide.incomeTab=true" label="Reset Password" ng-click="page.model.reset();">
            <div class="tab">

                <table width="740" align="center" cellpadding="0" cellspacing="0" style="border:solid 30px #cecece; background:url('http://d16o2fcjgzj2wp.cloudfront.net/Images/main-background_2.jpg')no-repeat center top ; ">
                    <tr align="center" valign="middle">
                        <td style="padding: 25px 0;" align="center">
                            <a href="http://183.82.0.58:8030/home" target="_blank"> <img src='http://d16o2fcjgzj2wp.cloudfront.net/Images/logo3.png' alt="Kaakateeya" height="75" width="160"> </a>
                        </td>
                    </tr>
                    <tr align="center" valign="middle">
                        <td align="center" bgcolor="#f9b418" style="padding: 10px 0; border: 0 none; font-size: 28px; color: #d42e02; line-height: 30px; font-weight: 300;">Reset your Password </td>
                    </tr>
                    <tr align="left" valign="middle">
                        <td style="font-size: 20px; color:#99cc00; font-weight: 300; padding: 60px 0; border: 0 none;"> &nbsp; &nbsp;&nbsp; Dear Lakshmi.A , </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px; color: #8e0222; font-weight: 300; padding: 7px 0; border: 0 none;">
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Click On Reset Password button To reset your password with minimum <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                6 to maximum 15 characters. For your own profile security we suggest not to &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; share your password with any second person. </p>
                        </td>
                    </tr>
                    <tr align="center" valign="middle">
                        <td style="padding: 70px 0 20px 0; border: 0 none; font-size: 16px; color: #4d4d4d; line-height: 24px; font-weight: 300;"> <a style="font-size:13px; color:#fff; background:#66ccff;  line-height:24px; font-weight:700; border:0 none; border-radius:5px; display:block; margin:0 auto; padding:14px 30px; text-transform:uppercase; text-decoration:none; width:236px;"
                                href=http://183.82.0.58:8030/forgetpasswordemail?CustID=NSAdd>reset&nbsp;&nbsp;Password</a> </td>
                    </tr>
                    <tr align="center" valign="middle">
                        <td style="padding:100px 10px 15px 0; border: 0 none; font-size: 16px;  color: #8e0222; line-height: 24px; font-weight: 300;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You Have Received This Mail As A Member Of Kaakateeya.com Please add Info@telugumarriages.com to your address book to ensure mail Delivery Into Your Inbox.</td>
                    </tr>
                    <tr align="center" valign="middle">
                        <td style="padding:20px 6px 15px 10px; border: 0 none; border-top: solid 1px #ccc; font-size: 14px; color: #4d4d4d; line-height: 24px; font-weight: 400;">Thanks and regards <br/> Customer Care <br /> <a href="http://183.82.0.58:8030/home" style="color: #d42e02; text-decoration: none;">Kaakateeya.com </a>India Private Limited <br /> <a style="color: #d42e02;" href="http://183.82.0.58:8030/home">www.Telugumarriages.com</a>
                            <br /> Mobile : 91-9848344977 ( 10 am to 6 pm IST ) ,91-7702525444 (9:30 am to 5:30 pm IST )</td>
                    </tr>
                    <tr align="center" valign="middle ">
                        <td style="border: 0 none; height: 20px; background: #f9b418; margin: 30px 0 0 0; ">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </md-tab>
        <md-tab label="Forgot Password" ng-click="page.model.reset();empFormCreation.$setPristine();">
            <div class="tab" ng-if="page.model.selectedIndex===1">
                <table width="800" align="center" cellpadding="0" cellspacing="0" style="border:solid 30px #cecece; background:url('http://d16o2fcjgzj2wp.cloudfront.net/Images/main-background_2.jpg')no-repeat center top ; ">
                    <tr align="center" valign="middle" bgcolor="#fff">
                        <td style="padding:20px 0;" align="center">
                            <a href="http://183.82.0.58:8030/home" target="_blank"><img src='http://d16o2fcjgzj2wp.cloudfront.net/Images/logo3.png' width="160" height="75" alt="Kaakateeya"></a>
                        </td>
                    </tr>
                    <tr align="center" valign="middle">
                        <td align="center" bgcolor="#f9b418" style="padding:10px 0; border:0 none; font-size:28px; color:#d42e02; line-height:30px; font-weight:300;"> Email Verification </td>
                    </tr>
                    <tr>
                        <td style="line-height:60px; padding:20px 0; border:0 none; font-size:20px; color:#99cc00;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dear &nbsp; <span style="font-weight:bold;">Lakshmi A ,</span><br> <span style="color: #8e0222;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Thank you for creating an account on </span>
                            <span style="font-size:14px; color:#d42e02;"><a href="Kaakateeya.com" style="color: #d42e02; text-decoration: none;">Kaakateeya.com </a></span> <span style="color:#8e0222;font-size:14px;"> to verify your account,please click the link below </span></td>
                    </tr>
                    <tr align="center" valign="middle">
                        <td style="padding:30px 10px 20px 10px; border:0 none; font-size:16px; color:#8e0222; line-height:24px; font-weight:300;"> <a style="font-size:13px; color:#fff; background:#66ccff;  line-height:24px; font-weight:700; border:0 none; border-radius:5px; display:block; margin:0 auto; padding:14px 30px; text-transform:uppercase; text-decoration:none; width:236px;"
                                href="http://183.82.0.58:8030/registration/confirmEmail/010085123F25D4C7949499ED024A72B817B919E51E55B850AE50">Verify your Account</a> </td>
                    </tr>
                    <tr>
                        <td style="padding:30px 10px 20px 10px; border:0 none; font-size:16px; color:#8e0222; line-height:24px; font-weight:300;">&nbsp;&nbsp;&nbsp;&nbsp;Your primary email id is : <a style="font-size:20px; text-decoration:none;  color:#99cc00; font-weight:bold;">kusumavishwaneni@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td style="padding:0 10px 20px 10px; border:0 none; font-size:16px;color:#8e0222; line-height:24px; font-weight:300;">&nbsp;&nbsp;&nbsp;&nbsp;Your primary Mobile Number is :<span style="font-size:20px; text-decoration:none;  color:#99cc00; font-weight:bold;"> 8985201371 </span></td>
                    </tr>
                    <tr align="center" valign="middle">
                        <td style="padding:50px 10px 15px 0; border: 0 none; font-size: 16px;  color: #8e0222; line-height: 24px; font-weight: 300;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You Have Received This Mail As A Member Of Kaakateeya.com Please add Info@telugumarriages.com to your address book to ensure mail Delivery Into Your Inbox.</td>
                    </tr>
                    <tr align="center" valign="middle">
                        <td style="padding:20px 6px 15px 10px; border: 0 none; border-top: solid 1px #ccc; font-size: 14px; color: #4d4d4d; line-height: 24px; font-weight: 400;">Thanks and regards <br/> Customer Care <br /> <a href="http://183.82.0.58:8030/home" style="color: #d42e02; text-decoration: none;">Kaakateeya.com </a>India Private Limited <br /> <a style="color: #d42e02;" href="http://183.82.0.58:8030/home">www.Telugumarriages.com</a>                            <br /> Mobile : 91-9848344977 ( 10 am to 6 pm IST ) ,91-7702525444 (9:30 am to 5:30 pm IST )</td>
                    </tr>
                    <tr align="center
                                    " valign="middle ">
                        <td style="border:0 none; height:20px; background:#f9b418; margin:30px 0 0 0; ">&nbsp;</td>
                    </tr>
                    <tr align="center " valign="middle ">
                        <td style="border:0 none; height:20px; background:#f9b418;
                                    margin:30px 0 0 0; ">&nbsp;</td>
                    </tr>
                </table>
            </div>
            <br><br><br>
        </md-tab>
    </md-tabs>
</md-content> -->
<md-content layout="row" flex>
    <md-content layout="column" flex>
        <md-tabs md-selected="page.model.selectedIndex" md-dynamic-height flex md-border-bottom md-autoselect>
            <md-tab md-on-select="slide.incomeTab=true" label="Reset Password" ng-click="page.model.reset();">
                <div class="tab">

                    <table width="740" align="center" cellpadding="0" cellspacing="0" style="border:solid 30px #cecece; background:url('http://d16o2fcjgzj2wp.cloudfront.net/Images/main-background_2.jpg')no-repeat center top ; ">
                        <tr align="center" valign="middle">
                            <td style="padding: 25px 0;" align="center">
                                <a href="http://183.82.0.58:8030/home" target="_blank"> <img src='http://d16o2fcjgzj2wp.cloudfront.net/Images/logo3.png' alt="Kaakateeya" height="75" width="160"> </a>
                            </td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td align="center" bgcolor="#f9b418" style="padding: 10px 0; border: 0 none; font-size: 28px; color: #d42e02; line-height: 30px; font-weight: 300;">Reset your Password </td>
                        </tr>
                        <tr align="left" valign="middle">
                            <td style="font-size: 20px; color:#99cc00; font-weight: 300; padding: 60px 0; border: 0 none;"> &nbsp; &nbsp;&nbsp; Dear Lakshmi.A , </td>
                        </tr>
                        <tr>
                            <td style="font-size: 18px; color: #8e0222; font-weight: 300; padding: 7px 0; border: 0 none;">
                                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Click On Reset Password button To reset your password with minimum <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    6 to maximum 15 characters. For your own profile security we suggest not to &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; share your password with any second person. </p>
                            </td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td style="padding: 70px 0 20px 0; border: 0 none; font-size: 16px; color: #4d4d4d; line-height: 24px; font-weight: 300;"> <a style="font-size:13px; color:#fff; background:#66ccff;  line-height:24px; font-weight:700; border:0 none; border-radius:5px; display:block; margin:0 auto; padding:14px 30px; text-transform:uppercase; text-decoration:none; width:236px;"
                                    href=http://183.82.0.58:8030/forgetpasswordemail?CustID=NSAdd>reset&nbsp;&nbsp;Password</a> </td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td style="padding:100px 10px 15px 0; border: 0 none; font-size: 16px;  color: #8e0222; line-height: 24px; font-weight: 300;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You Have Received This Mail As A Member Of Kaakateeya.com Please add Info@telugumarriages.com to your address book to ensure mail Delivery Into Your Inbox.</td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td style="padding:20px 6px 15px 10px; border: 0 none; border-top: solid 1px #ccc; font-size: 14px; color: #4d4d4d; line-height: 24px; font-weight: 400;">Thanks and regards <br/> Customer Care <br /> <a href="http://183.82.0.58:8030/home" style="color: #d42e02; text-decoration: none;">Kaakateeya.com </a>India Private Limited <br /> <a style="color: #d42e02;" href="http://183.82.0.58:8030/home">www.Telugumarriages.com</a>
                                <br /> Mobile : 91-9848344977 ( 10 am to 6 pm IST ) ,91-7702525444 (9:30 am to 5:30 pm IST )</td>
                        </tr>
                        <tr align="center" valign="middle ">
                            <td style="border: 0 none; height: 20px; background: #f9b418; margin: 30px 0 0 0; ">&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </md-tab>
            <md-tab label="Forgot Password" ng-click="page.model.reset();empFormCreation.$setPristine();">
                <div class="tab" ng-if="page.model.selectedIndex===1">
                    <table width="800" align="center" cellpadding="0" cellspacing="0" style="border:solid 30px #cecece; background:url('http://d16o2fcjgzj2wp.cloudfront.net/Images/main-background_2.jpg')no-repeat center top ; ">
                        <tr align="center" valign="middle" bgcolor="#fff">
                            <td style="padding:20px 0;" align="center">
                                <a href="http://183.82.0.58:8030/home" target="_blank"><img src='http://d16o2fcjgzj2wp.cloudfront.net/Images/logo3.png' width="160" height="75" alt="Kaakateeya"></a>
                            </td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td align="center" bgcolor="#f9b418" style="padding:10px 0; border:0 none; font-size:28px; color:#d42e02; line-height:30px; font-weight:300;"> Email Verification </td>
                        </tr>
                        <tr>
                            <td style="line-height:60px; padding:20px 0; border:0 none; font-size:20px; color:#99cc00;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dear &nbsp; <span style="font-weight:bold;">Lakshmi A ,</span><br> <span style="color: #8e0222;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Thank you for creating an account on </span>
                                <span style="font-size:14px; color:#d42e02;"><a href="Kaakateeya.com" style="color: #d42e02; text-decoration: none;">Kaakateeya.com </a></span> <span style="color:#8e0222;font-size:14px;"> to verify your account,please click the link below </span></td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td style="padding:30px 10px 20px 10px; border:0 none; font-size:16px; color:#8e0222; line-height:24px; font-weight:300;"> <a style="font-size:13px; color:#fff; background:#66ccff;  line-height:24px; font-weight:700; border:0 none; border-radius:5px; display:block; margin:0 auto; padding:14px 30px; text-transform:uppercase; text-decoration:none; width:236px;"
                                    href="http://183.82.0.58:8030/registration/confirmEmail/010085123F25D4C7949499ED024A72B817B919E51E55B850AE50">Verify your Account</a> </td>
                        </tr>
                        <tr>
                            <td style="padding:30px 10px 20px 10px; border:0 none; font-size:16px; color:#8e0222; line-height:24px; font-weight:300;">&nbsp;&nbsp;&nbsp;&nbsp;Your primary email id is : <a style="font-size:20px; text-decoration:none;  color:#99cc00; font-weight:bold;">kusumavishwaneni@gmail.com</a></td>
                        </tr>
                        <tr>
                            <td style="padding:0 10px 20px 10px; border:0 none; font-size:16px;color:#8e0222; line-height:24px; font-weight:300;">&nbsp;&nbsp;&nbsp;&nbsp;Your primary Mobile Number is :<span style="font-size:20px; text-decoration:none;  color:#99cc00; font-weight:bold;"> 8985201371 </span></td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td style="padding:50px 10px 15px 0; border: 0 none; font-size: 16px;  color: #8e0222; line-height: 24px; font-weight: 300;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You Have Received This Mail As A Member Of Kaakateeya.com Please add Info@telugumarriages.com to your address book to ensure mail Delivery Into Your Inbox.</td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td style="padding:20px 6px 15px 10px; border: 0 none; border-top: solid 1px #ccc; font-size: 14px; color: #4d4d4d; line-height: 24px; font-weight: 400;">Thanks and regards <br/> Customer Care <br /> <a href="http://183.82.0.58:8030/home" style="color: #d42e02; text-decoration: none;">Kaakateeya.com </a>India Private Limited <br /> <a style="color: #d42e02;" href="http://183.82.0.58:8030/home">www.Telugumarriages.com</a>                                <br /> Mobile : 91-9848344977 ( 10 am to 6 pm IST ) ,91-7702525444 (9:30 am to 5:30 pm IST )</td>
                        </tr>
                        <tr align="center
                                                " valign="middle ">
                            <td style="border:0 none; height:20px; background:#f9b418; margin:30px 0 0 0; ">&nbsp;</td>
                        </tr>
                        <tr align="center " valign="middle ">
                            <td style="border:0 none; height:20px; background:#f9b418;
                                                margin:30px 0 0 0; ">&nbsp;</td>
                        </tr>
                    </table>
                </div>
                <br><br><br>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
<md-content layout="row" flex>
    <md-content layout="column" flex>
        My content
    </md-content>
</md-content>





</div>
<style>
    div#mailFormats {
        padding: 32px 20px !important;
    }
</style>