<div class="right_col" role="main" id="assignsettingsid">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group style="margin-top: -12px;box-shadow: 2px 2px 6px #ccc;" class="panel-default" is-open="page.model.opendiv">
            <uib-accordion-heading>
                Assign settings <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-lg-6 subColumnClass">
                    <div class="clearfix">
                        <label for="Profileid" class="control-label col-lg-4">Profile ID</label>
                        <div class="col-lg-7">
                            <input focus-me="true" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-class="(page.model.mpObj.txtProfileID).trim()!=='' && page.model.mpObj.txtProfileID!==undefined && page.model.mpObj.txtProfileID!==null?'bacg':''" type="text" class="form-control reviewclass"
                                placeholder="Profile ID" ng-model="page.model.mpObj.txtProfileID">
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="Gender" class="control-label col-lg-4">Gender</label>
                        <div class="col-lg-7">
                            <md-radio-group name="rdnServicetax" layout="row" ng-model="page.model.mpObj.rdnGender" class="md-block" flex-gt-sm>
                                <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                <md-radio-button value="1"> Male</md-radio-button>
                                <md-radio-button value="2"> Female</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="Regfrom" class="control-label col-lg-4">Date OF Reg.From</label>
                        <div class="col-lg-7">
                            <custom-datepicker ng-class="(page.model.mpObj.txtRegFromDate).trim()!=='' && page.model.mpObj.txtRegFromDate!==undefined &&  page.model.mpObj.txtRegFromDate!==null?'datepicker4':''" ng-model="page.model.mpObj.txtRegFromDate" date-options="page.model.dateOptions"></custom-datepicker>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="caste" class="control-label col-lg-4">Caste</label>
                        <div class="col-lg-7" ng-class="page.model.mpObj.ddlCaste===undefined || page.model.mpObj.ddlCaste===null || page.model.mpObj.ddlCaste.length===0 ?'':'colorforcontrols'">
                            <select multiselectdropdown multiple class="smalldropdown" ng-model="page.model.mpObj.ddlCaste" ng-options="item.value as item.label for item in page.model.Castearray">   
                                 </select>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="branch" class="control-label col-lg-4">Branch</label>
                        <div class="col-lg-7" ng-class="page.model.mpObj.ddlBranch===undefined || page.model.mpObj.ddlBranch===null || page.model.mpObj.ddlBranch.length===0 ?'':'colorforcontrols'">
                            <select multiselectdropdown pagetype="'search'" multiple class="smalldropdown" ng-model="page.model.mpObj.ddlBranch" ng-options="item.value as item.label for item in page.model.Brancharray">   
                                 </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 subColumnClass">
                    <div class="clearfix">
                        <md-checkbox ng-model="page.model.mpObj.chkconfidential">Is confidential
                        </md-checkbox>
                    </div>
                    <div class="clearfix">
                        <label for="paymentstatus" class="control-label col-lg-4">Payments Status</label>
                        <div class="col-lg-7">
                            <md-radio-group name="rdnPayments" layout="row" ng-model="page.model.mpObj.rdnPayments" class="md-block" flex-gt-sm>
                                <md-radio-button value="0"> Both</md-radio-button>
                                <md-radio-button value="372"> Paid</md-radio-button>
                                <md-radio-button value="373" class="md-primary">Un-paid
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="doregto" class="control-label col-lg-4">Date OF Reg.To</label>
                        <div class="col-lg-7">
                            <custom-datepicker ng-class="(page.model.mpObj.txtRegtoDate).trim()!=='' && page.model.mpObj.txtRegtoDate!==undefined &&  page.model.mpObj.txtRegtoDate!==null?'datepicker4':''" ng-model="page.model.mpObj.txtRegtoDate" date-options="page.model.dateOptions"></custom-datepicker>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="applicationstatus" class="control-label col-lg-4">Application Status</label>
                        <div class="col-lg-7" ng-class="page.model.mpObj.ddlApplicationStatus===undefined || page.model.mpObj.ddlApplicationStatus===null || page.model.mpObj.ddlApplicationStatus.length===0 ?'':'colorforcontrols'">
                            <select multiselectdropdown pagetype="'search'" multiple id="Applicationsts" class="smalldropdown" ng-model="page.model.mpObj.ddlApplicationStatus" ng-options="item.value as item.label for item in page.model.applicationStatusarray">   
                              </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" style="border-top: 1px solid #ddd;padding-top: 1%;">

                <md-button class="md-raised md-warn md-hue-2" ng-disabled="page.model.isDisabledsubmit" ng-click="page.model.isDisabledsubmit=true;page.model.assignsettingssubmit(page.model.mpObj,1,100,'grid',1,10);">Submit</md-button>
                <!-- <button class="button_custom" style="display:initial;" ng-disabled="page.model.isDisabledsubmit" ng-click="page.model.isDisabledsubmit=true;page.model.assignsettingssubmit(page.model.mpObj,1,100,'grid',1,10);">Submit</button> -->
                <!-- <button style="display:initial;margin-left: 2%;" class="button_custom button_custom_reset" ng-click="page.model.reset();">Reset</button> -->

                <input type="reset" class="btn btn-default" ng-click="page.model.reset();" value="Reset">

            </div>
        </div>
    </uib-accordion>
    <complex-grid-new gid="'id1'" config="page.model" model="page.model"></complex-grid-new>
</div>

<script type="text/ng-template" id="market.html">
    <div class="modal-body">
        <market-tickethistory ticketid="page.model.marketingTicketid"></market-tickethistory>
    </div>
</script>

<script type="text/ng-template" id="duplicataProfilesPopup.html">
    <div class="modal-header"><span class="duplicatehdr">    Total records : {{page.model.dupTotalRecords}}</span>
        <div class="pull-right">
            <a href="javascript:void(0);" ng-click="page.model.closeAssign()" style="padding:7px;"> <i class="fa fa-times" aria-hidden="true" style="fill:#c73e5f;font-size: 16pt;"></i></a>
        </div>
    </div>

    <div ng-if="page.model.singlegrid2.sdata.length>0">
        <center>
            <h2 class="hdrcolor">Duplicate profiles based on mobile Number</h2>
        </center>
        <single-grid model="page.model.singlegrid2" config="page.model"></single-grid>
        <br>
    </div>

    <div ng-if="page.model.singlegrid3.sdata.length>0">
        <center>
            <h2 class="hdrcolor">Duplicate profiles based on Email </h2>
        </center>
        <single-grid model="page.model.singlegrid3" config="page.model"></single-grid>
        <br>
    </div>

    <div ng-if="page.model.singlegrid1.sdata.length>0">
        <center>
            <h2 class="hdrcolor">Duplicate profiles based on Name & Surname</h2>
        </center>
        <single-grid model="page.model.singlegrid1" config="page.model"></single-grid>
    </div>
</script>
<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .datepicker4 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
        background-color: #f0f0cc !important;
    }
    
    .hdrcolor {
        color: #a31f2b;
    }
    
    md-progress-circular {
        display: none;
    }
    
    .duplicatehdr {
        font-size: 17px;
        font-weight: bold;
    }
</style>