#assignsettingsid {
    .subColumnClass {
        line-height: 40px;
    }
    .panel-title {
        color: #b10c0c;
    }
    .unpaid {
        color: red;
        font-weight: 700;
    }
    .paidclass {
        color: #16713d;
        font-weight: 700;
    }
    .ProfileOwner {
        width: 200px;
    }
    .MarketedOwner {
        width: 200px;
    }
    .ReviewOwner {
        width: 200px;
    }
    .dropdownclass {
        width: 250px;
    }
    .smalldropdowngrid {
        width: 201px;
    }
    .reviewclass {
        width: 270px;
    }
    .smalldropdown {
        width: 270px;
    }
    .colorforcontrols {
        button {
            background-color: #f0f0cc !important;
        }
    }
    .bacg {
        background-color: #f0f0cc !important;
    }
    .headerStyles {
        font-size: 14px;
    }
    .hasDatepicker {
        width: 270px;
    }
}

.settled {
    background-color: #17F067;
}

.Deleted {
    background-color: #BCC3BE;
}

.closed {
    background-color: #C8E6E6;
}