#mmEntryID {
    .bodycls {
        line-height: 41px;
    }
    .bodycls {
        padding-left: 1%;
    }
    .col-lg-5 {
        padding-right: 0px;
    }
    .input-group {
        display: inline-block;
    }
}