<div ng-if="model.data.length!==0">
    <div class="row" ng-show="config.showsearchrows">
        <div class="col-lg-5 totalrecordCls" ng-if="config.showsearch">
            <label class="col-lg-6 control-label arrow" for="noofRecords">Total Records : {{model.TotalRows}} <span ng-show="config.myprofileexcel">
                </span></label>
            <input type="image" ng-hide="config.normalexcel" src="src\images\EXCEL.jpg" ng-click="exportexcel(model.data, model.columns)" style="height: 20px;width: 20px;" class="css-class"></input>
            <input type="image" ng-show="config.myprofileexcel" src="src\images\EXCEL.jpg" ng-click="myprofileexportexcel(model.TotalRows)" style="height: 20px;width: 20px;" class="css-class"></input>
        </div>
        <div class="col-lg-2 m-b-2 mainDiv totalrecordCls" ng-show="config.showsearch">
            <input class="form-control" type="text" ng-model="searchKeyword" placeholder="Search" />
        </div>
        <div class="col-lg-5" ng-if="config.showpaging" style="margin-top: -10px;">
            <ul uib-pagination class="row" total-items="(model.TotalRows)/10" ng-model="pagen" ng-change="config.pagechange(pagen)" max-size="5" class="pagination-md" boundary-link-numbers="true" rotate="false"></ul>
        </div>

        <div class="col-lg-5" ng-if="config.showClientpaging" style="margin-top: -10px;">
            <ul uib-pagination class="row" total-items="model.TotalRows" ng-model="pagen" ng-change="config.pagechange(pagen,model.type)" max-size="5" class="pagination-md" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="height:400px;" class="table-responsive" ng-if="!inneritem.isDetail && config.showplus">
        <table class="scroll Datatable table table-fixed table-hover table-bordered showplus mainTableCls">
            <thead>
                <tr>
                    <th ng-if="!inneritem.isDetail && config.showplus" class="headerStyles plusiconshow"></th>
                    <th ng-click="sort(item.key)" class="{{item.key}} headerStyles" ng-repeat="item in model.columns">{{item.text}}
                        <span class="glyphicon sort-icon" ng-show="sortKey==item.key" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="inneritem.rowtype" ng-repeat-start="inneritem in model.data |orderBy:sortKey:reverse | filter: searchKeyword |startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td ng-if="!inneritem.isDetail && config.showplus">
                        <a class="detail-icon" ng-click="plus(inneritem)" href="javascript:"><i class="glyphicon glyphicon-play icon-play"></i></a>
                    </td>
                    <td ng-if="inneritem.isDetail">
                        <a class="detail-icon" ng-click="minus(inneritem)" href="javascript:"><i class="glyphicon glyphicon-pause icon-pause"></i></a>
                    </td>
                    <td ng-repeat="colitem in model.columns">
                        <span ng-if="colitem.type==='label'"> {{inneritem[colitem.key]}}</span>
                        <a href="#" ng-if="colitem.type==='link'" ng-click="colitem.method(inneritem)">{{inneritem[colitem.key]}}</a>
                        <span ng-if="colitem.type==='custom'" ng-bind-html="colitem.templateUrl(inneritem)"></span>
                        <span ng-if="colitem.type==='customlink'" ng-bind-html="colitem.templateUrl(inneritem)" ng-click="colitem.method(inneritem)"></span>
                        <span ng-if="colitem.type==='morelinks'" compile="colitem.templateUrl(inneritem)"></span>
                        <span ng-if="colitem.type==='dropdown'" class="dropdownclass">
                        <select multiselectdropdown class="smalldropdowngrid" ng-model="model[colitem.model+inneritem.SNO]" ng-options="itemss.value as itemss.label for itemss in model.ProfileOwnerarray"></select>
                        </span>
                        <span ng-if="colitem.type==='dropdownlink'" class="dropdownclass">
                        <select multiselectdropdown class="smalldropdowngrid" ng-model="model[colitem.model+inneritem.Row]" ng-options="itemss.value as itemss.label for itemss in model.ProfileOwnerarraysingle"></select>
                        <!--<a href="javascript:void(0)" style="margin-left: 10px;" ng-click="model.Reassign(inneritem)">Reassign</a>-->
                        </span>
                        <span ng-if="colitem.type==='play'"><a class="detail-icon" ng-click="colitem.method(inneritem)" href="javascript:void(0);"><i class="glyphicon glyphicon-play icon-play"></i></a></span>
                    </td>
                </tr>
                <tr ng-repeat-end="">
                    <td ng-if="inneritem.isDetail"></td>
                    <td colspan="24" ng-if="inneritem.isDetail">
                        <table class="Datatable table table-hover table-bordered subtable SubTableCls">
                            <thead>
                                <tr>
                                    <th class={{detailitem.key}} style="min-width: 80px;background-color: rgba(99, 56, 31, 0.46);" ng-repeat="detailitem in inneritem.detailcolumns">{{detailitem.text}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detailinneritem in inneritem.detaildata">
                                    <td ng-repeat="detailcolitem in inneritem.detailcolumns">
                                        <span ng-if="detailcolitem.type==='label'"> {{detailinneritem[detailcolitem.key]}}</span>
                                        <a href="#" ng-if="detailcolitem.type==='link'" ng-click="detailcolitem.method(detailinneritem)">{{ detailcolitem.key!==''?detailinneritem[detailcolitem.key]:'View'}}</a>
                                        <span ng-if="detailcolitem.type==='custom'" ng-bind-html="detailcolitem.templateUrl(detailinneritem)"></span>
                                        <span ng-if="detailcolitem.type==='customlink'" ng-bind-html="detailcolitem.templateUrl(inneritem)" ng-click="detailcolitem.method(inneritem)"></span>
                                        <span ng-if="detailcolitem.type==='morelinks'" compile="detailcolitem.templateUrl(detailinneritem)"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr ng-if="model.data.length===0">
                    <td colspan="14">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive" ng-if="((inneritem.isDetail === undefined || inneritem.isDetail) && (config.showplus===undefined || config.showplus===false))">
        <table table-height="500px" class="scroll Datatable table table-fixed table-hover table-bordered mainTableCls normal" fixed-header>
            <thead>
                <tr>
                    <th ng-if="!inneritem.isDetail && config.showplus" class="headerStyles"></th>
                    <th ng-click="sort(item.key)" class="{{item.key}} headerStyles" ng-repeat="item in model.columns">{{item.text}}
                        <span class="glyphicon sort-icon" ng-show="sortKey==item.key" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="inneritem.rowtype" ng-repeat-start="inneritem in model.data |orderBy:sortKey:reverse | filter: searchKeyword |startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td ng-repeat="colitem in model.columns">
                        <span ng-if="colitem.type==='label'"> {{inneritem[colitem.key]}}</span>
                        <a href="#" ng-if="colitem.type==='link'" ng-click="colitem.method(inneritem)">{{inneritem[colitem.key]}}</a>
                        <span ng-if="colitem.type==='custom'" ng-bind-html="colitem.templateUrl(inneritem)"></span>
                        <span ng-if="colitem.type==='customlink'" ng-bind-html="colitem.templateUrl(inneritem)" ng-click="colitem.method(inneritem)"></span>
                        <span ng-if="colitem.type==='morelinks'" compile="colitem.templateUrl(inneritem)"></span>
                        <span ng-if="colitem.type==='dropdown'" class="dropdownclass">
                        <select multiselectdropdown class="smalldropdowngrid" ng-model="model[colitem.model+inneritem.SNO]" ng-options="itemss.value as itemss.label for itemss in model.ProfileOwnerarray"></select>
                        <!--ng-options="itemss.value as itemss.label for itemss in model.ProfileOwnerarray"-->
                        </span>
                        <span ng-if="colitem.type==='dropdownlink'" class="dropdownclass">
                        <select multiselectdropdown class="smalldropdowngrid" ng-model="model[colitem.model+inneritem.Row]" ng-options="itemss.value as itemss.label for itemss in model.ProfileOwnerarray" ></select>
                        </span>
                        <span ng-if="colitem.type==='autocomplete'">
                        <md-autocomplete
                            ng-disabled="false"
                            md-no-cache="false"
                            md-selected-item="inneritem.ddlowner"
                            md-search-text="inneritem.ddlowner"
                            md-items="item in FilterSerch(inneritem.ddlowner)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Type to select Option?">
                    <md-item-template>
                    <span md-highlight-text="model.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{model.searchText}}" were found.
                            <!--<a ng-click="model.newState(model.searchText)">Create a new one!</a>-->
                        </md-not-found>
                        </md-autocomplete>
                        </span>
                        <span ng-if="colitem.type==='play'"><a class="detail-icon" ng-click="colitem.method(inneritem)" href="javascript:void(0);"><i class="glyphicon glyphicon-play icon-play"></i></a></span>
                    </td>
                </tr>
                <tr ng-repeat-end="">
                    <td ng-if="inneritem.isDetail"></td>
                    <td colspan="24" ng-if="inneritem.isDetail">
                        <table class="Datatable table table-hover table-bordered subtable SubTableCls">
                            <thead>
                                <tr>
                                    <th class={{detailitem.key}} style="min-width: 80px;background-color: rgba(99, 56, 31, 0.46);" ng-repeat="detailitem in inneritem.detailcolumns">{{detailitem.text}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detailinneritem in inneritem.detaildata">
                                    <td ng-repeat="detailcolitem in inneritem.detailcolumns">
                                        <span ng-if="detailcolitem.type==='label'"> {{detailinneritem[detailcolitem.key]}}</span>
                                        <a href="#" ng-if="detailcolitem.type==='link'" ng-click="detailcolitem.method(detailinneritem)">{{ detailcolitem.key!==''?detailinneritem[detailcolitem.key]:'View'}}</a>
                                        <span ng-if="detailcolitem.type==='custom'" ng-bind-html="detailcolitem.templateUrl(detailinneritem)"></span>
                                        <span ng-if="detailcolitem.type==='customlink'" ng-bind-html="detailcolitem.templateUrl(inneritem)" ng-click="detailcolitem.method(inneritem)"></span>
                                        <span ng-if="detailcolitem.type==='morelinks'" compile="detailcolitem.templateUrl(detailinneritem)"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr ng-if="model.data.length===0">
                    <td colspan="14">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="config.showpaging">
        <ul uib-pagination total-items="(model.TotalRows)/10" ng-model="pagen" ng-change="config.pagechange(pagen)" max-size="5" class="pull-right pagination-md" boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>
<script type="text/ng-template" id="marketgrid.html">
    <div class="modal-body">
        <market-tickethistory ticketid="marketingTicket"></market-tickethistory>
    </div>
</script>
<style>
    .subtable {
        display: block;
        overflow-x: auto;
    }
    
    .mainDiv {
        margin-bottom: 11px;
    }
    
    .headerStyles {
        width: auto;
        background-color: #fdca52;
    }
    
    .mainTableCls {
        min-width: 750px;
    }
    
    .SubTableCls {
        width: 1100px;
        max-width: 1100px;
    }
    
    .SubTableheaderCls {
        min-width: 80px;
        background-color: rgba(99, 56, 31, 0.46);
    }
    
    .totalrecordCls {
        margin-top: 10px;
    }
    
    .RegistrationDate {
        min-width: 212px !important;
    }
    
    .HoroScopeImage {
        width: 35px;
    }
    
    .OWNER {
        min-width: 169px !important;
    }
    
    .normal {
        overflow: auto;
        width: 1400px;
        white-space: nowrap;
    }
    
    .showplus {
        overflow: auto;
        width: 100%;
        white-space: nowrap;
    }
    
    .text-ellipsis {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /*.scroll {
        unicode-bidi: bidi-override;
        direction: rtl;
        overflow: scroll;
        overflow-x: hidden!important;
    }
    
    .table-responsive {
        directi
        on: ltr;
    }*/
    
    tbody {
        height: auto !important;
        max-height: 350px;
        overflow-y: auto;
    }
</style>