body {
  background: none;
  font-family: arial; }

#dashBoardPage h2 {
  font-size: 16px;
  color: maroon;
  font-weight: 600;
  width: 90%; }

#dashBoardPage .scrolldashboard {
  height: 356px;
  overflow-y: scroll;
  min-height: 350px; }

#dashBoardPage .date img {
  width: 54px;
  height: 48px; }

#dashBoardPage .counts {
  color: green; }

#dashBoardPage .title {
  color: black;
  margin: 0 0 4px; }

#dashBoardPage .titleservice {
  color: black; }

#dashBoardPage .excelshow {
  color: #3030d8;
  margin-left: 10px; }

#dashBoardPage .x_panel {
  height: 460px; }

#dashBoardPage .loadmoredashboard {
  color: #3030d8; }

.modalclassdashboard {
  z-index: 99999 !important;
  top: 0%;
  left: 0%; }

.modalclassdashboardphotopopup {
  z-index: 9999999 !important;
  top: 0%;
  left: 0%; }

.modalheader {
  padding: 0px !important; }

.fa-check-circle {
  color: green; }

span.fa.fa-angle-down {
  display: none; }

.paidCls {
  color: Green;
  text-decoration: underline;
  margin-left: -16px;
  padding-left: 10px; }

.unpaidCls {
  color: red;
  text-decoration: underline;
  margin-left: -16px;
  padding-left: 10px; }

.modal-lg {
  width: 90% !important; }

.pauseBtns {
  width: 33px;
  height: 33px;
  font-size: 16px; }

.panel {
  margin-bottom: 0px !important; }

.colormarron {
  color: maroon; }

.color_black {
  color: #000; }

.imgheight {
  height: 29px; }

.Photoscount {
  color: Black;
  font-size: 9pt; }

.shortlistclass {
  font-size: 13pt;
  color: #337ab7; }

.twopng {
  margin-top: -4px;
  width: 40px;
  height: 38px; }

.dashboardpopupdesign {
  margin-left: 75px;
  margin-right: 75px;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: auto;
  padding: 10px;
  background: #f6f3ea; }

.dashboardheaderpopup {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(197, 205, 50, 0.42);
  padding-top: 5px;
  margin-top: 10px; }

.dashboardheaderhtml {
  color: maroon;
  font-size: 16px; }

.dahboardheaderclose {
  fill: #c73e5f;
  font-size: 13pt;
  width: 30px;
  margin-left: 85px; }

.dashboardmodelheader {
  border-bottom: 1px solid #ffffff; }

.dashboardfooterlinks {
  font-size: 16px;
  line-height: 1.8; }

.modalclassdashboardphotopopup .modal-dialog.modal-md {
  width: 70%; }

md-content.md-padding._md {
  padding: 5px; }

.dashboardticketpopup {
  color: maroon;
  font-size: 17px; }

.ticketpopuplabel {
  color: black; }

.ticketpopuppopupheader {
  background-color: #fedc01;
  color: white;
  padding-top: 2px;
  padding-bottom: 4px; }

c.maroon {
  color: maroon; }

#Updatediv1 label {
  color: gray; }

.maroon {
  color: maroon !important; }

.search_page_tabs ul li {
  float: left; }

.search_page_tabs ul li a {
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  color: #898989 !important;
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 30px !important;
  border-right: solid 1px #b8b8b8;
  border-bottom: solid 2px #898989;
  transition: all 0.4s ease-in-out; }

.search_page_tabs ul li a:focus,
.search_page_tabs ul li a:hover,
.search_page_tabs ul li a.active {
  color: #a00201 !important;
  border-bottom-color: #a00201; }

.modalclassdashboardphotopopup .md-tab {
  padding: 14px 15px; }

/*# sourceMappingURL=style.css.map */
