<div class="right_col">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="page.model.opendiv">
            <uib-accordion-heading style="color: rgb(160, 2, 1);">
                Employee Login/Logout report<i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
            </uib-accordion-heading>
            <div class="bodyclsnew">
                <div class="row">

                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">Branch</label>
                        <div class="col-lg-6">
                            <select multiselectdropdown ng-model="page.model.branch" multiple typeofdata="'Branch'"></select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">Employee name</label>
                        <div class="col-lg-6">
                            <select multiselectdropdown ng-model="page.model.empNames" multiple typeofdata="'EmpNames'"></select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">Working hours</label>
                        <div class="col-lg-6">
                            <select multiselectdropdown ng-model="page.model.wrkngHrs" ng-options="item.value as item.label for item in page.model.hrsbindArr"></select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">From date</label>
                        <div class="col-lg-6">
                            <custom-datepicker name="date" ng-model="page.model.fromdate" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="" class="control-label col-lg-6">To date</label>
                        <div class="col-lg-6">
                            <custom-datepicker name="date" ng-model="page.model.toDate" ng-required="true" class="datepicker3" date-options="page.model.dateOptions"></custom-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="border-top: 1px solid #ddd;padding-top: 1%;"></div>
                    <div class="col-lg-5">
                        <button class="button_custom pull-right" type="submit" ng-click="page.model.getEmpReport(1);">Search</button>
                    </div>
                    <div class="col-lg-4">
                        <input type="reset" class="button_custom button_custom_reset" value="Reset" ng-click="page.model.reset();">
                    </div>
                    <div class="col-lg-3" ng-show="page.model.TotalRows">
                        Total Records : {{page.model.TotalRows}}
                    </div>
                </div>
            </div>
            <br>
            <complex-grid-new model="page.model" config="page.model"></complex-grid-new>
        </div>
    </uib-accordion>

</div>

<!-- <script type="text/ng-template" id="viewWrkedHrs.html">

    <div class="modal-header">
        <a href="javascript:void(0);" class="pull-right" ng-click="page.model.close();">
            <span class="fa fa-close red"></span>
        </a>
        <h4 class="modal-title">
            <div class="row">
                <div class="col-lg-4">Total Records : {{page.model.histrydataTotalRows}}</div>
                <div class="col-lg-6">Employee Work Sheet Report</div>
            </div>
        </h4>
    </div>
    <div style="max-height: 300px;overflow-y: auto;">
        <table>
            <thead class="headerStyles">
                <tr>
                    <td>Sno</td>
                    <td>Emp Name</td>
                    <td>IPAddress(Branch code)</td>
                    <td>Login time</td>
                    <td>Page name</td>
                    <td>Event</td>
                    <td>Event time</td>
                    <td>Ideal time</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in page.model.histrydata">
                    <td>{{item.SNO}}</td>
                    <td>{{item.EmpName}}</td>
                    <td>{{item.IPAddress}}</td>
                    <td>{{item.Logintime}}</td>
                    <td>{{item.Pagename}}</td>
                    <td>{{item.Event}}</td>
                    <td>{{item.Eventtime}}</td>
                    <td>{{item.totaltime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-8 col-lg-offset-3">
        <ul uib-pagination class="row" total-items="(page.model.histrydataTotalRows)/10" ng-model="pagen" ng-change="page.model.pagechangepopup(pagen)" max-size="5" class="pagination-md" boundary-link-numbers="true" rotate="false"></ul>
    </div>
    <div class="modal-footer">
        <input type="button" value="close" class="btn btn-danger" ng-click="page.model.close();">
    </div>

</script> -->

<script type="text/ng-template" id="EmployeeDetailsPopup.html">

    <div class="modal-header">
        <a href="javascript:void(0);" class="pull-right" ng-click="page.model.close();">
            <span class="fa fa-close red"></span>
        </a>
        <h4 class="modal-title">
            <center>Employee Details of {{page.model.empnamedisplay}} ({{page.model.EmpUserID}})</center>
        </h4>
    </div>
    <div style="max-height: 300px;overflow-y: auto;">
        <table>
            <thead class="headerStyles">
                <tr>
                    <td>Date</td>
                    <td>In-Time</td>
                    <td>Out-Time</td>
                    <td>Worked Hours</td>
                    <td>PWHours</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in page.model.empDtailsArray">
                    <td>{{item.Date}}</td>
                    <td>{{item.LoginTime}}</td>
                    <td>{{item.LogoutTime}}</td>
                    <td>{{item.WorkedHours}}</td>
                    <td>{{item.PwHours}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <input type="button" value="close" class="btn btn-danger" ng-click="page.model.close();">
    </div>

</script>

<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .Sno {
        width: 80px !important;
    }
</style>