<div class="right_col" role="main">
    <div class="search_page_main">
        <h4 style="font-size: 18px;   color: #b10c0c;">Express Interest</h4>
        <br />
        <div class="regmain register_page_main">
            <form name="paymentForm" novalidate role="form">

                <div class="maindivCls">

                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for=" " class="control-label col-lg-7 maroon">Membership expiry date </label><span class="control-label col-lg-5"> 06/12/2016</span>
                        </div>
                        <div class="col-lg-4">
                            <label for=" " class="control-label col-lg-4 maroon">Total points </label><span class="control-label col-lg-6"> 300</span>
                        </div>
                        <div class="col-lg-4">
                            <label for=" " class="control-label col-lg-5 maroon">Balance points </label><span class="control-label col-lg-6"> 300</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-4">
                                <label for=" " class="control-label pull-right">Name</label>
                            </div>
                            <div class="col-lg-6">
                                <label for=" " class="control-label" style="color: rgb(228, 101, 31);">xxxxxxxxxxxxx</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-4">
                                <label for=" " class="control-label pull-right requiredStar">Mode of service</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="generalageto" class="smalldropdown" ng-model="page.model.generalsearch.generalAgeto" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-4">
                                <label for=" " class="control-label pull-right requiredStar">Relationship</label>
                            </div>
                            <div class="col-lg-6">
                                <select class="smalldropdown" ng-model="page.model.generalsearch.generalAgeto" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <div class="col-lg-2">
                                <label for=" " class="control-label pull-right requiredStar">Name</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" ng-model="page.model.PiObj.txtRelationName " class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-4">
                                <label for=" " class="control-label pull-right requiredStar">From profile ID</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" ng-model="page.model.txtFromprofileID" class="form-control" ng-change="FromProfileID" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-4">
                                <label for=" " class="control-label pull-right requiredStar">To profile ID</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" ng-model="page.model.PiObj.txtToprofileID" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="col-lg-2 ">
                                <label for=" " class="control-label pull-right ">Selected profiles list</label>
                            </div>
                            <div class="col-lg-4">
                                <select name="users" multiple style="width: 275px;height: 97px;">
                                         <!--<option ng-selected="u.selected" ng-repeat="u in page.users" value="{{u.name}}">{{u.name}}</option>-->
                                   </select>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <div class="col-lg-2">
                                <label for=" " class="control-label pull-right ">Emails </label>
                            </div>
                            <div class="col-lg-4">
                                <div id="ddlEmail" style="line-height:0px;width: 275px; display: block; height: 97px; overflow-x: scroll; overflow-y: scroll; border-top: solid 1px #a2a2a2; border-left: solid 1px #a2a2a2; border-right: solid 1px #a2a2a2; border-bottom: solid 1px #a2a2a2;">
                                    <div>

                                    </div>
                                    <!--<div ng-repeat="u in page.users">
                                            <input type="checkbox" value="{{u.name}}"><span>{{u.name}}</span></input>
                                        </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-4">
                                <label for=" " class="control-label pull-right requiredStar">Type of service</label>
                            </div>
                            <div class="col-lg-6">
                                <md-radio-group ng-required="true" name="rbtnPaymode" layout="row" ng-model="page.model.PiObj.rbtnPaymode" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="1" class="md-primary">Email</md-radio-button>
                                    <md-radio-button value="2"> Print</md-radio-button>
                                    <md-radio-button value="3"> Both </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <md-radio-group ng-required="true" name="rbtnPaymode" layout="row" ng-model="page.model.PiObj.rbtnPaymode" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                <md-radio-button value="1" class="md-primary">Basic Profile</md-radio-button>
                                <md-radio-button value="2"> Full Profile</md-radio-button>
                            </md-radio-group>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="col-lg-2 ">
                                <label for=" " class="control-label pull-right ">Notes for customer</label>
                            </div>
                            <div class="col-lg-4">
                                <textarea style="width: 187%;" rows="4" cols="20" ng-model="page.model.PiObj.txtpayDescription" class="form-control "></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <div class="col-lg-2 ">
                                <label for=" " class="control-label pull-right ">Send sms</label>
                            </div>
                            <div class="col-lg-4">
                                <md-radio-group ng-required="true" name="rbtnPaymode" layout="row" ng-model="page.model.PiObj.rbtnPaymode" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                    <md-radio-button value="2"> No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group text-center">
                            <button class="button_custom" style="display:initial;" type="submit">Sent to Service</button>
                            <button style="display:initial;margin-left: 2%;" class="button_custom button_custom_reset">Reset</button>
                        </div>
                    </div>


                </div>

            </form>
        </div>
    </div>
</div>
</div>

<style>
    .control-label {
        cursor: default;
        font-weight: 400;
        font-size: 15px;
        display: block;
        color: rgb(0, 0, 0);
        font-family: "Open Sans", sans-serif !important;
    }
    
    .maroon {
        color: maroon;
    }
    
    .maindivCls {
        line-height: 44px;
        font-weight: 700px;
    }
    
    input[type="text"],
    textarea,
    select {
        color: #000 !important;
        border: 1px solid #ADA2A2 !important;
        width: 111%;
    }
    
    .multiselect {
        width: 111% !important;
        border: 1px solid #ADA2A2 !important;
    }
    
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0px;
        text-align: right;
    }
    
    .requiredStar::after {
        content: " *";
        float: right;
        color: red;
        font-size: 22px !important;
        padding-left: 6px;
    }
</style>