<div class="right_col" role="main" class="ExpressintrstCls" ng-controller="expressInterestCtrl as page">
    <div class="search_page_main">
        <div style="font-size: 18px;color: #b10c0c;margin-bottom: -16px;" ng-style="page.model.disableinput?{'margin-top': '7px'}:''">Express Interest &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-center" ng-if="page.model.showHide==1"> <span class="custheaderCls maroon">Name :   </span><span class="headervalue">{{page.model.NAME}}</span>&nbsp;&nbsp;
            <span class="custheaderCls maroon">Membership Expires on   </span><span class="headervalue">{{page.model.OfflineMembershipExpiryDate|date:'dd-MM-yyyy'}}  ({{page.model.Offline_Used_Count}} / {{page.model.Max_Offline_Allowed}})</span>
            </span>
            <a ng-if="page.model.disableinput" href="javascript:void(0);" ng-click="page.model.close();" class="pull-right" style="padding-right:2%;">X</a>
        </div>
        <br />
        <div class="regmain register_page_main">
            <form name="ExpressintrstForm" role="form" ng-submit="ExpressintrstForm.$valid && page.model.Submit(page.model.exiObj);">
                <div class="maindivCls">
                    <div ng-if="page.model.showHide==1">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label for="" class="control-label pull-right requiredStar">Mode of service</label>
                                </div>
                                <div class="col-lg-6">
                                    <select multiselectdropdown name="exiModeofservice" class="smalldropdown" ng-model="page.model.exiObj.ModeofService" ng-options="item.value as item.label for item in page.model.Modeservicearray" required>   
                                </select>

                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="page.model.exiObj.ModeofService!==353">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label for="" class="control-label pull-right requiredStar">Relationship</label>
                                </div>
                                <div class="col-lg-6">
                                    <select multiselectdropdown class="smalldropdown" ng-model="page.model.exiObj.Relationship" ng-options="item.value as item.label for item in page.model.relationarray" ng-change="page.model.RelationshipChange(page.model.exiObj.txtFromprofileID,page.model.exiObj.Relationship);"
                                        required> 
                                </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="col-lg-2">
                                    <label for="" class="control-label pull-right requiredStar">Name</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" ng-model="page.model.exiObj.txtRelationName" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-4">
                                <label for="" class="control-label pull-right requiredStar">From profile ID</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" name="txtFromprofileID" enter-directive ng-disabled="page.model.disableinput" style="width:111%;" focus-me="true" ng-model="page.model.exiObj.txtFromprofileID" class="form-control"
                                    ng-keyup="$event.keyCode===13 && page.model.FromProfileID(page.model.exiObj.txtFromprofileID);" ng-blur="page.model.FromProfileID(page.model.exiObj.txtFromprofileID);" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-4">
                                <label for="" class="control-label pull-right requiredStar">To profile ID</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" style="width:111%;" name="txttoexprofileID" enter-directive ng-model="page.model.exiObj.txtToprofileID" class="form-control" ng-keyup="$event.keyCode===13 && page.model.ToprofileIDChange(page.model.exiObj.txtToprofileID);"
                                    ng-blur="page.model.ToprofileIDChange(page.model.exiObj.txtToprofileID);">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="col-lg-2">
                                <label for="" class="control-label pull-right">Selected profiles list</label>
                            </div>
                            <div class="col-lg-4">
                                <select multiple style="max-width: 294px;width:100%;height: 61px;" ng-change="page.model.bindImages(page.model.exiObj.lstProfiles)" ng-options="item.value as item.label for item in page.model.SelectProfilelst" ng-model="page.model.exiObj.lstProfiles">
                                 </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <label for="" class="control-label pull-right">Emails </label>
                            </div>
                            <div class="col-lg-4">
                                <div class="chkmailscls">
                                    <label ng-repeat="role in page.model.emailselectedArr" style="width: 100%;">
                                    <md-checkbox  data-checklist-model="page.model.exiObj.chkmails" data-checklist-checked="true" data-checklist-value="role.emailid"> {{role.Email}}&nbsp;
                                    </md-checkbox>
                                      <br>
                                     </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-4">
                                <label for="" class="control-label pull-right requiredStar">Type of service</label>
                            </div>
                            <div class="col-lg-6">
                                <md-radio-group ng-required="true" name="rbtnPaymode" layout="row" ng-model="page.model.exiObj.rbtnTypeofService" class="md-block" flex-gt-sm ng-disabled="manageakerts" required>
                                    <md-radio-button value="366" class="md-primary">Email</md-radio-button>
                                    <md-radio-button value="367"> Print</md-radio-button>
                                    <md-radio-button value="368"> Both </md-radio-button>
                                </md-radio-group>
                                <div class="reuiredcls" ng-if="ExpressintrstForm.rbtnPaymode.$invalid && ExpressintrstForm.$submitted">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <md-radio-group ng-required="true" name="rbtnBasic" layout="row" ng-model="page.model.exiObj.rbtnBasic" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                <md-radio-button value="358" class="md-primary">Basic Profile</md-radio-button>
                                <md-radio-button value="359" ng-if="page.model.isManagement === 'true'"> Full Profile</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="row" style="padding-top:1%;">
                        <div class="col-lg-4">
                            <div class="col-lg-6">
                                <label for="" class="control-label pull-right">Send sms</label>
                            </div>
                            <div class="col-lg-6">
                                <md-radio-group ng-required="true" name="rbtnSendSms" layout="row" ng-model="page.model.exiObj.rbtnSendSms" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="1" class="md-primary" checked>Yes</md-radio-button>
                                    <md-radio-button value="0"> No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <md-checkbox ng-model="page.model.exiObj.chkrvrsend">RVR send</md-checkbox>
                        </div>
                        <div class="col-lg-4">
                            <button class="button_custom" style="display:initial;" type="submit" ng-disabled="page.model.isDisabledsubmit">Sent to Service</button>
                            <button type="reset" ng-click="page.model.clearform();" style="display:initial;margin-left: 2%;" class="button_custom button_custom_reset">Reset</button>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="col-lg-2">
                                <label for="" class="control-label pull-right">Notes for customer</label>
                            </div>
                            <div class="col-lg-4">
                                <textarea style="width: 204%;" rows="4" cols="20" ng-model="page.model.exiObj.txtNotecustomer" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    </br>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="Conflict.html">
    <div class="modal-header  alert-warning">
        <h4 class="modal-title">Express Interest Conflict</h4>
    </div>
    <div class="modal-body" style="line-height:20px;">
        <div class="">
            <div ng-repeat="item in page.model.mismatch">
                <a href="javescript:void(0);">"{{page.model.exiObj.txtToprofileID}}"</a> <span>{{item}}</span>
                <br/>
            </div>
            <br>
            <span style="font-size:larger;"> Do You want To continue?</span>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" ng-click="page.model.pushToProfileIDs('conflict');" value="Ok">
        <input type="button" class="btn btn-danger" value="Cancel" ng-click="page.model.closepopup()">
    </div>
</script>
<script type="text/ng-template" id="TophotosPoup.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-11">
                <button class="btn buttoncls pull-right" ng-click="page.model.applyImages()">Apply Changes</button>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-default pull-right" ng-click="page.model.closepopup()">cancel</button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <td ng-repeat="item in page.model.displayToimages">
                    <md-checkbox ng-model="item.boolval"></md-checkbox><img src="{{item.src}}" style="max-width:100%;max-height:100%;"></td>
            </tr>
        </table>
    </div>
</script>