<div class="panel panel-default">
    <div class="row">
        <div class="col-lg-3">
            <i class="fa fa-chevron-down searchpageheader" aria-hidden="true" data-toggle="collapse" href="#collapseOne"></i>
            <label style="color:#9c9696">Total Records :</label>
            <label style="color:blue"> {{(activeslide)+1}}</label>
            <label style="color:#9c9696"> of {{model.totalRecords}}</label>
        </div>
        <div class="col-lg-5" id="divviewedprofiles">
            <div class="row" style="padding-top: 5px;">
                <div class="col-lg-5">
                    <label style="color:#9c9696">Viewed &nbsp;&nbsp;</label><label id="lnkLastSlide" style="color: blue;">{{(Viwedslide)+1}}&nbsp;&nbsp;</label><label style="color:#9c9696">Profiles</label>
                </div>
                <div class="col-lg-1">
                    <input type="text" ng-model="txtGotoVal" class="form-control" style="width: 60px; height: 30px !important;margin-bottom: 2px;" ng-blur="gotoSlide(txtGotoVal)">
                </div>
            </div>
        </div>
        <div class="col-lg-2" ng-show="model.getpageloadobject.Cust_ID!=='' && model.getpageloadobject.Cust_ID!==null && model.getpageloadobject.Cust_ID!==undefined">
            <a style="font-size: 18px;color:#337ab7" href="javascript:void(0);" ng-click="model.mainShortListProfile()"><span class="glyphicon glyphicon-star">ShowShortList</span></a>
        </div>
        <div class="col-lg-2">
            <button style="margin-top: 2px;padding: 2px 2px 5px 6px;" class="btn btn-warning" ng-click="model.backtosearchpage()">Back to Search Page</button>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-1" ng-show="model.getpageloadobject.Cust_ID!=='' && model.getpageloadobject.Cust_ID!==null && model.getpageloadobject.Cust_ID!==undefined">
                        <img style="display:block;height: 54px; width: 60px;" ng-src="{{model.getpageloadobject.ApplicationProfilePic}}">
                    </div>

                    <div class="col-lg-10">
                        <label style="width: 150px;font-size: 13px;color: #000" ng-show="model.getpageloadobject.Cust_ID==='' || model.getpageloadobject.Cust_ID===null || model.getpageloadobject.Cust_ID===undefined">
                                    Without Profile ID
                                </label>
                        <label style="color:rgb(125, 119, 119)" ng-show="model.getpageloadobject.Cust_ID!=='' && model.getpageloadobject.Cust_ID!==null && model.getpageloadobject.Cust_ID!==undefined">{{model.getpageloadobject.SelfName}}</label>
                        <a ng-click="model.viewfullprofile(model.getpageloadobject.ProfileID);" href="javascript:void(0)" ng-show="model.getpageloadobject.Cust_ID!=='' && model.getpageloadobject.Cust_ID!==null && model.getpageloadobject.Cust_ID!==undefined">({{model.getpageloadobject.ProfileID}})</a>
                        <a style="width: 20px; margin-right: 13px;" data-toggle="modal" href="#divlookingmore">More</a>
                        <a ng-click="pagesredirect('Partner',model.getpageloadobject.Cust_ID)" href="javascript:void(0)" ng-show="model.getpageloadobject.Cust_ID!=='' && model.getpageloadobject.Cust_ID!==null && model.getpageloadobject.Cust_ID!==undefined">Edit Partpreference</a>
                    </div>
                </div>
            </div>

        </div>
        <br>
    </div>
</div>
<div class="row" style="margin-left: 1px;" ng-if="config.isshortlistprogressbar">
    <div class="progress">
        <!--ng-class='ngclassprogress(model.shortlistmodel.slides)'-->
        <div ng-class='ngclassprogress(model.progressbar.length)' ng-show="model.progressbar.length>0" ng-style="{'width' : width}"><span> {{model.progressbar.length}}  Shortlisted</span></div>
    </div>
</div>