<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
    <div style="margin-left:60px;">
        <h6> <span style="font-weight: bold;">ProfileID</span></h6>
        <h5>
            <div style="color:Black;"> <span>{{slide.ProfileID}}</span> </div>
            <div class="clearfix">
            </div>
        </h5>

        <h6> <span style="font-weight: bold;">Name</span></h6>
        <h5>
            <div style="color:Black;"> <span>{{slide.Name}}</span> </div>
            <div class="clearfix">
            </div>
        </h5>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" style="margin-top: -4px;">
    <div class="row">
        <img ng-click="slidepopup(slide.Custid)" ng-src="{{slide.custPhoto}}" class="image" style="cursor: pointer;" />
        <br>
        <div class="col-lg-8 col-lg-offset-5"><a href="javascript:void(0)"><span style="color:Black;font-size:9pt;">No of Photos {{slide.PhotoCount}}</span></a></div>
    </div>

</div>