<div class="clearfix">
</div>
<br>
<div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
    <div style="margin-left:60px;" class="edit_page_details_item_descsearch clearfix" ng-repeat="slidedata in slide.itmArr" ng-if="slidedata.label!=='backendFields'">
        <h6> <span style="font-weight: bold;">{{slidedata.label}}</span></h6>
        <h5>
            <div style="color:Black;"> <span>{{slidedata.value}}</span> </div>
            <span ng-if="slidedata.label=='ProfileID'">&nbsp;<a ng-click="viewfullprofile(slidedata.ProfileID)" href="javascript:void(0);" ng-class="slidedata.paid==='1'?'paidCls':'unpaidCls'" >{{slidedata.ProfileID}}</a> {{slidedata.KMPLID}} {{(slidedata.IsConfidential===1) ||(slidedata.IsConfidential==='1')?'C':''}}  
              {{(slidedata.SuperConfidentila==='1') ||(slidedata.SuperConfidentila===1)?'SC':''}}  
                <input ng-click="horoscopeimage(slidedata.HoroscopeImage,'horo')" ng-show="slidedata.HoroscopeStatus===1" src='src/images/ico_horoscope.jpg' style='height:20px;width:25px;' type='image'>
                  </span>
            <div class="clearfix">
            </div>
        </h5>
    </div>
    <div style="margin-left:60px;" class="edit_page_details_item_descsearch clearfix">
        <h6> <span style="font-weight: bold;">Last Login</span></h6>
        <h5>
            <div style="color:Black;">
                <span ng-if='(slide.lastlogin !== null) && (slide.lastlogin !== "") && (slide.lastlogin !== undefined)'>{{slide.lastlogin}}<span ng-if="slide.logincount!==null">({{slide.logincount}})</span></span>
                <a class="alllinkscolor" ng-if='(slide.lastlogin === null)|| (slide.lastlogin === "") || (slide.lastlogin === undefined)' href='javascript:void(0)' ng-click='forgetpassword(slide.ProfileID)'>forgot password</a>
            </div>
            <div class="clearfix">
            </div>
        </h5>
    </div>
    <div style="margin-left:60px;" class="edit_page_details_item_descsearch clearfix">
        <h6> <span style="font-weight: bold;">Send/Recv</span></h6>
        <h5>
            <div style="color:Black;">
                <a class="alllinkscolor" href='javascript:void(0)'>{{slide.SRCount}}</a>
            </div>
            <div class="clearfix">
            </div>
        </h5>
    </div>
    <div style="margin-left:60px;" class="edit_page_details_item_descsearch clearfix">
        <h6> <span style="font-weight: bold;">Payment</span></h6>
        <h5>
            <div style="color:Black;">
                <a class="alllinkscolor" href='javascript:void(0)' ng-click='paymentpage(slide.ProfileID)'>{{slide.PaidAmount}}</a>
            </div>
            <div class="clearfix">
            </div>
        </h5>
    </div>
    <div style="margin-left:60px;" class="edit_page_details_item_descsearch clearfix">
        <h6> <span style="font-weight: bold;">Expiry Date</span></h6>
        <h5>
            <div style="color:Black;">
                <a class="alllinkscolor" href='javascript:void(0)' ng-click='paymentpage(slide.ProfileID)'>{{slide.ExpiryDate}}({{slide.Points}})</a>
            </div>
            <div class="clearfix">
            </div>
        </h5>
    </div>
    <div style="margin-left:60px;" class="edit_page_details_item_descsearch clearfix">
        <h6> <span style="font-weight: bold;">Marketing Ticket</span></h6>
        <h5>
            <div style="color:Black;">
                <a ng-click="tickethistoryupdate(slide.TicketID)" class="alllinkscolor" href='javascript:void(0)'>{{slide.matkteingticket}}</a>
                <span>({{slide.ownername}}-{{slide.UserName}})</span>
            </div>
            <div class="clearfix">
            </div>
        </h5>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
    <div class="row">
        <img ng-click="slidepopup(slide.Custid)" ng-src="{{slide.custPhoto}}" class="image" style="cursor: pointer;" />
        <br>
        <div ng-if="slide.PhotoCount!==0" class="col-lg-8 col-lg-offset-3"><a href="javascript:void(0)"><span style="color:Black;font-size:9pt;">No of Photos {{slide.PhotoCount}}</span></a></div>
        <div ng-if="slide.PhotoCount===0" class="col-lg-8 col-lg-offset-3"><a href="javascript:void(0)" ng-click="photorequest(slide.ProfileID)"><span style="color:#3030d8;font-size:10pt;">Photo Request</span></a></div>
    </div>
</div>
<div class="clearfix">
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <div style="margin-left:69px;" class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;">Match Meetings
                                           </span></h6>
            <h5>
                <div style="color:Black;">
                    <a class="alllinkscolor" href="javascript:void(0)"> {{slide.matchmarktingcount}}</a>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <div class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;">Primary Email 
             </span></h6>
            <h5>
                <div style="color:Black;">
                    <span>{{slide.primaryemail}}
                     <i style="line-height:0;" ng-class="slide.emailstatus===true?'fa fa-check-circle':'glyphicon glyphicon-ok'"></i>
                        <a href="javascript:void(0)" ng-hide="slide.emailstatus===true" ng-click="verifymail(slide.Custid)">Verify mail</a>
                    </span>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <div style="margin-left:69px;" class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;">{{slide.SAForm!==null ? "View SA Form":"SA Form"}}
            </span></h6>
            <h5>
                <div style="color:Black;">
                    <a class="alllinkscolor" ng-show="slide.SAForm!==null" href="javascript:void(0)" ng-click="horoscopeimage(slide.SAForm,'SA')">View SA Form </a>
                    <a href="javascript:void(0)" ng-click="saformupload(slide.ProfileID)" class="alllinkscolor" ng-show="slide.SAForm===null">Upload SA Form</a>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <div class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;"> Primary Mobile
             </span></h6>
            <h5>
                <div style="color:Black;">
                    <span>{{slide.primarynumber}}
                      <i style="line-height:0;" ng-class="slide.mobilestatus===true?'fa fa-check-circle':'glyphicon glyphicon-ok'"></i>
                     <a href="javascript:void(0)" ng-hide="slide.mobilestatus===true" ng-click="sendMobileCode(slide)">Verify mobile</a>
                      </span>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <div style="margin-left:69px;" class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;">{{model.typeofslidedate}}
            </span></h6>
            <h5>
                <div style="color:Black;">
                    <span>{{slide.CreatedDate}}</span>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-show="model.typeofslidedate ==='Inactive Date'">
        <div class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;color:Red;"> Inactive Reason 
           </span></h6>
            <h5>
                <div style="color:Red;">
                    <span>{{slide.Reason4InActive}}<a href=""></a>
                  </span>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-show="model.typeofslidedate ==='Bounced On'">
        <div class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;color:Red;"> Bounced Email
             </span></h6>
            <h5>
                <div style="color:Red;">
                    <span>{{slide.bouncedEmailID}}
                    <a href="javascript:void(0)" ng-click="updatebouncedemail(slide)">Update Email</a>
                    </span>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-show="model.typeofslidedate ==='Notification Date'">
        <div class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;color:Red;">Notification
             </span></h6>
            <h5>
                <div style="color:Red;">
                    <span>{{slide.ActionType}}
                     <a href="javascript:void(0)" ng-click="notificationread(slide,$parent.$index,$parent.$parent.$index)">Read</a>
                 </span>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-show="model.typeofslidedate ==='Registered Date'">
        <div class="edit_page_details_item_descsearch clearfix">
            <h6> <span style="font-weight: bold;color:Red;">NoDataFound
             </span></h6>
            <h5>
                <div style="color:Red;">
                    <span ng-repeat="links in slide.NoDataFound">
                        <a href="{{links.href}}" target="_blank">{{links.linkname}}&nbsp;&nbsp;</a>
               </span>
                </div>
                <div class="clearfix">
                </div>
            </h5>
        </div>
    </div>
</div>
</br>
<div class="row dashboardpopupdesign">
    <div class="col-lg-12">
        <a href='javascript:void(0);' ng-click="pagesredirect('Partner',slide.Custid)" class="dashboardfooterlinks">Edit Partnerpreference</a>
        <span> | </span>
        <a href='javascript:void(0);' ng-click="pagesredirect('general',0,slide.ProfileID)" class="dashboardfooterlinks">General search</a>
        <span> | </span>
        <a href='javascript:void(0);' ng-click="pagesredirect('general',1,slide.ProfileID)" class="dashboardfooterlinks">Advanced Search</a>
        <span> | </span>
        <a href='javascript:void(0);' class="dashboardfooterlinks" ng-click="pagesredirect('nopage',1)">Search By Contact</a>
        <span> | </span>
        <a href='javascript:void(0);' class="dashboardfooterlinks" ng-click="pagesredirect('nopage',1)">Delete Profile</a>
        <span> | </span>
        <a href='javascript:void(0);' ng-click="pagesredirect('contacts',slide.Custid)" class="dashboardfooterlinks">View Contacts</a>
        <span> | </span>
        <a href='javascript:void(0);' ng-click="pagesredirect('myprofile',0,slide.ProfileID)" class="dashboardfooterlinks">My Profile</a>
        <span> | </span>
        <a href='javascript:void(0);' ng-click="pagesredirect('nopage',1)" class="dashboardfooterlinks">Marketing Slide Show</a>
        <span> | </span>
        <a href='javascript:void(0);' ng-click="pagesredirect('matchfollowup',0)" class="dashboardfooterlinks">Match Followup Slide Show</a>
        <span> | </span>
        <a href='javascript:void(0);' ng-click="pagesredirect('nopage',1)" class="dashboardfooterlinks">Create Reminder</a>
    </div>
</div>
<div class="clearfix">
</div>
<br>
<script type="text/ng-template" id="marketpopup.html">
    <div class="modal-body">
        <market-tickethistory ticketid="model.marketingTicket"></market-tickethistory>
    </div>
</script>