<div class="right_col">
    <div class="row">
        <div style="margin-bottom:11px;" class="col-md-3 m-b-2 pull-right">
            <input class="form-control" type="text" ng-model="searchKeyword" placeholder="Search">
        </div>
        <dv class="col-md-3">

            <button ng-json-export-excel data="model.data" report-fields="model.exportColumns" filename=" 'export-excel' " separator="," class="css-class"><i class="fa fa-file-excel-o fa-6" aria-hidden="true"></i></button>
        </dv>
    </div>
    <div class="clearfix"></div>
    <div class="row table-responsive">
        <table class="Datatable table table-hover table-bordered" style="min-width: 750px;">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="item in model.columns">{{item.text}}</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="inneritem in model.data | filter: searchKeyword ">
                    <td>
                        <a class="detail-icon" ng-click="plus(inneritem)" href="javascript:"><i class="glyphicon glyphicon-plus icon-plus"></i></a>
                    </td>
                    <td ng-repeat="colitem in model.columns ">
                        <span ng-if="colitem.type==='label' "> {{inneritem[colitem.key]}}</span>
                        <a href="# " ng-if="colitem.type==='link' " ng-click="colitem.method(inneritem) ">{{inneritem[colitem.key]}}</a>
                        <span ng-if="colitem.type==='custom'" ng-bind-html="colitem.templateUrl(inneritem)"></span>
                    </td>
                </tr>
                <tr ng-if="model.data.length===0 ">
                    <td colspan="14">
                        <div layout="row " layout-sm="column " layout-align="space-around ">
                            <md-progress-circular md-mode="indeterminate "></md-progress-circular>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <table ng-if="detailView" class="Datatable table table-hover table-bordered" style="min-width: 750px;">
            <thead>
                <tr>
                    <th ng-repeat="item in model.detailViewcolumns">{{item.text}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="inneritem in model.detailViewdata | filter: searchKeyword ">
                    <td ng-repeat="colitem in model.detailViewcolumns ">
                        <span ng-if="colitem.type==='label' "> {{inneritem[colitem.key]}}</span>
                        <a href="# " ng-if="colitem.type==='link' " ng-click="colitem.method(inneritem) ">{{inneritem[colitem.key]}}</a>
                        <span ng-if="colitem.type==='custom'" ng-bind-html="colitem.templateUrl(inneritem)"></span>
                    </td>
                </tr>
                <tr ng-if="model.detailViewdata.length===0 ">
                    <td colspan="14">
                        <div layout="row " layout-sm="column " layout-align="space-around ">
                            <md-progress-circular md-mode="indeterminate "></md-progress-circular>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        
<ul uib-pagination total-items="model.data.length" ng-model="pagen" ng-change="pagechange(pagen)"
 max-size="5" class="pull-right pagination-md" boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>