<script type="text/ng-template" id="dynamicSlideshow.html">
    <div class="row dashboardheaderpopup">
        <div class="col-lg-12">
            <h4 class="col-lg-10 dashboardheaderhtml">{{headerhtml}}</h4>
            <div class="col-lg-2" ng-if="slidetype==='popup'">
                <a href="javascript:void(0);" class="dahboardheaderclose">
                    <a href="javascript:void(0);" ng-click="closesashboard()" size="25">close</a>
                </a>
                <a href="javascript:void(0);" ng-click="closesashboard()" class="pull-right">
                    <i class="fa fa-times" aria-hidden="true" style="fill:#c73e5f;font-size: 13pt;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-header modalheader dashboardmodelheader">
        <div class="row" ng-if="dynamicheader==='false'">
            <div class="col-lg-6 col-md-6 col-xs-8 col-sm-8">
                <label id="lbltotalrecords">Total Records :</label>
                <label id="lblcurrentprofile">{{currentslide}}</label> &nbsp;of&nbsp;
                <label id="lblcurSlide">{{lbltotalrecordsslide}}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <label>Viewed</label>&nbsp;<label id="lnkLastSlidepopup" data-ng-bind="slidNum" style="color: blue;">{{viewedcount}}</label>&nbsp;<label>Profiles</label>
                </div>
                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
                    <input type="text" id="txtGotoValpopu" class="form-control" style="width: 50px; height: 24px; margin-left: -20px;" onchange="gotoSlide('#txtGotoValpopu','lnkLastSlidepopup')" />
                </div>
            </div>

        </div>

    </div>
    <div class="modal-body">
        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
                <div class="carousel-inner">
                    <div ng-class="($index+1)==1?'item active':'item'" ng-repeat="itemval in displayArr">

                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix" ng-repeat="slidedata in itemval.itmArr" ng-if="slidedata.label!=='backendFields'">
                                <h6> <span style="font-weight: bold;">{{slidedata.label}}</span></h6>
                                <h5>

                                    <div style="color:Black;"> <span>{{slidedata.value}}</span> </div>
                                    <span ng-if="slidedata.label=='ProfileID'">&nbsp;<a ng-click="viewfullprofile(slidedata.ProfileID)" href="javascript:void(0);" ng-class="slidedata.paid==='1'?'paidCls':'unpaidCls'" >{{slidedata.ProfileID}}</a> {{slidedata.KMPLID}} {{(slidedata.IsConfidential===1) ||(slidedata.IsConfidential==='1')?'C':''}}  
                                                {{(slidedata.SuperConfidentila==='1') ||(slidedata.SuperConfidentila===1)?'SC':''}}  
                                                <input ng-click="horoscopeimage(slidedata.HoroscopeImage,'horo')" ng-show="slidedata.HoroscopeStatus===1" src='src/images/ico_horoscope.jpg' style='height:20px;width:25px;' type='image'>
                                              </span>
                                    <div class="clearfix">
                                    </div>
                                </h5>
                            </div>
                            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix">
                                <h6> <span style="font-weight: bold;">Last Login</span></h6>
                                <h5>
                                    <div style="color:Black;">
                                        <span ng-if='(itemval.lastlogin !== null) && (itemval.lastlogin !== "") && (itemval.lastlogin !== undefined)'>{{itemval.lastlogin}}<span ng-if="itemval.logincount!==null">({{itemval.logincount}})</span></span>
                                        <a class="alllinkscolor" ng-if='(itemval.lastlogin === null)|| (itemval.lastlogin === "") || (itemval.lastlogin === undefined)' href='javascript:void(0)' ng-click='forgetpassword(itemval.ProfileID)'>forgot password</a>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </h5>
                            </div>

                            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix">
                                <h6> <span style="font-weight: bold;">Send/Recv</span></h6>
                                <h5>
                                    <div style="color:Black;">

                                        <a class="alllinkscolor" href='javascript:void(0)'>{{itemval.SRCount}}</a>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </h5>
                            </div>


                            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix">
                                <h6> <span style="font-weight: bold;">Payment</span></h6>
                                <h5>
                                    <div style="color:Black;">
                                        <a class="alllinkscolor" href='javascript:void(0)' ng-click='paymentpage(itemval.ProfileID)'>{{itemval.PaidAmount}}</a>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </h5>
                            </div>
                            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix">
                                <h6> <span style="font-weight: bold;">Expiry Date</span></h6>
                                <h5>
                                    <div style="color:Black;">

                                        <a class="alllinkscolor" href='javascript:void(0)' ng-click='paymentpage(itemval.ProfileID)'>{{itemval.ExpiryDate}}({{itemval.Points}})</a>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </h5>
                            </div>

                            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix">
                                <h6> <span style="font-weight: bold;">Marketing Ticket</span></h6>
                                <h5>
                                    <div style="color:Black;">
                                        <a class="alllinkscolor" href='javascript:void(0)'>{{itemval.matkteingticket}}</a>
                                        <span>({{itemval.ownername}}-{{itemval.UserName}})</span>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </h5>
                            </div>


                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" style="margin-top: -4px;">
                            <div class="row">
                                <img ng-click="slidepopup(itemval.Custid)" ng-src="{{itemval.custPhoto}}" class="image" style="cursor: pointer;" />
                                <br>
                                <div ng-if="itemval.PhotoCount!==0" class="col-lg-8 col-lg-offset-3"><a href="javascript:void(0)"><span style="color:Black;font-size:9pt;">No of Photos {{itemval.PhotoCount}}</span></a></div>
                                <div ng-if="itemval.PhotoCount===0" class="col-lg-8 col-lg-offset-3"><a href="javascript:void(0)" ng-click="photorequest(itemval.ProfileID)"><span style="color:#3030d8;font-size:10pt;">Photo Request</span></a></div>
                            </div>
                        </div>

                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div style="margin-left:69px;" class="edit_page_details_item_desc clearfix">
                                    <h6> <span style="font-weight: bold;">Match Meetings
                                           </span></h6>
                                    <h5>
                                        <div style="color:Black;">
                                            <a class="alllinkscolor" href="javascript:void(0)" ng-click="horoscopeimage(itemval.SAForm,'SA')"> {{itemval.matchmarktingcount}}</a>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div style="" class="edit_page_details_item_desc clearfix">
                                    <h6> <span style="font-weight: bold;">Primary Email 
                                           </span></h6>
                                    <h5>
                                        <div style="color:Black;">
                                            <span>{{itemval.primaryemail}}
                                                    <i style="line-height:0;" ng-class="itemval.emailstatus===true?'fa fa-check-circle':'glyphicon glyphicon-ok'"></i>
                                                      <a href="javascript:void(0)" ng-hide="itemval.emailstatus===true" ng-click="verifymail(itemval.Custid)">Verify mail</a>
                                                    </span>

                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div style="margin-left:69px;" class="edit_page_details_item_desc clearfix">
                                    <h6> <span style="font-weight: bold;">{{itemval.SAForm!==null ? "View SA Form":"SA Form"}}
                                           </span></h6>
                                    <h5>
                                        <div style="color:Black;">
                                            <a class="alllinkscolor" ng-show="itemval.SAForm!==null" href="javascript:void(0)" ng-click="horoscopeimage(itemval.SAForm,'SA')">View SA Form </a>
                                            <a href="javascript:void(0)" ng-click="saformupload(itemval.ProfileID)" class="alllinkscolor" ng-show="itemval.SAForm===null">Upload SA Form</a>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div style="" class="edit_page_details_item_desc clearfix">
                                    <h6> <span style="font-weight: bold;"> Primary Mobile
                                           </span></h6>
                                    <h5>
                                        <div style="color:Black;">
                                            <span>{{itemval.primarynumber}}
                                                       <i style="line-height:0;" ng-class="itemval.mobilestatus===true?'fa fa-check-circle':'glyphicon glyphicon-ok'"></i>
                                                    <a href="javascript:void(0)" ng-hide="itemval.mobilestatus===true" ng-click="sendMobileCode(itemval.CountryCodeID,itemval.CountryCodeID,itemval.primarynumber,itemval.Cust_Family_ID)">Verify mobile</a>
                                                    </span>

                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div style="margin-left:69px;" class="edit_page_details_item_desc clearfix">
                                    <h6> <span style="font-weight: bold;">{{typeofslidedate}}
                                           </span></h6>
                                    <h5>
                                        <div style="color:Black;">
                                            <span>{{itemval.CreatedDate}}</span>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-show="typeofslidedate ==='Inactive Date'">
                                <div style="" class="edit_page_details_item_desc clearfix">
                                    <h6> <span style="font-weight: bold;"> Inactive Reason 
                                           </span></h6>
                                    <h5>
                                        <div style="color:Black;">
                                            <span>{{itemval.Reason4InActive}}
                                                      </span>

                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </h5>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-show="typeofslidedate ==='Bounced On'">
                                <div style="" class="edit_page_details_item_desc clearfix">
                                    <h6> <span style="font-weight: bold;"> Bounced Email
                                           </span></h6>
                                    <h5>
                                        <div style="color:Black;">
                                            <span>{{itemval.bouncedEmailID}}
                                                          <a href="javascript:void(0)" ng-click="updatebouncedemail(itemval.bouncedemailentryid,itemval.bouncedEmailID,itemval.Custid)">Update Email</a>
                                                      </span>

                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-show="typeofslidedate ==='Action Date'">
                                <div style="" class="edit_page_details_item_desc clearfix">
                                    <h6> <span style="font-weight: bold;">Notification
                                           </span></h6>
                                    <h5>
                                        <div style="color:Black;">
                                            <span>{{itemval.ActionType}}
                                                          <a href="javascript:void(0)" ng-click="notificationread(itemval.Cust_NotificationID,$parent.$index,$parent.$parent.$index,itemval.Custid,itemval.CategoryID)">Read</a>
                                                      </span>

                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <a data-target="#myCarousel" class="carousel-control left" href="javascript:void(0)" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a data-target="#myCarousel" class="carousel-control right" href="javascript:void(0)" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        <div id="carouselButtons" class="col-lg-offset-5">
                            <button id="playButton" type="button" ng-show="ShowPause" ng-click="pauseResume('play');" class="btn btn-default btn-xs pauseBtns" title="Play">
                                    <i class="fa fa-play"></i>
                                </button>
                            <button id="pauseButton" type="button" ng-show="!ShowPause" ng-click="pauseResume('pause');" class="btn btn-default btn-xs pauseBtns" title="Pause">
                                    <i class="fa fa-pause"></i>
                                </button>
                        </div>
                        </br>
                        <div class="row dashboardpopupdesign">
                            <div class="col-lg-12">
                                <a href='javascript:void(0);' ng-click="pagesredirect('Partner',itemval.Custid)" style='font-size: 14px;margin-left:15px;'>Edit Partnerpreference</a>
                                <span>|</span>
                                <a href='javascript:void(0);' ng-click="pagesredirect('general',0)" style='font-size: 14px;'>General search</a>
                                <span>|</span>
                                <a href='javascript:void(0);' ng-click="pagesredirect('contacts',itemval.Custid)" style='font-size: 14px;'>View Contacts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="dynamicphotopopup.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closepopuppoptopopup()">×</button>
            <h4 class="modal-title">{{dynamicphotopopupheader}}</h4>
        </div>
        <div class="modal-body">
            <div class="bs-example">
                <div id="slideshow" class="carousel slide" data-interval="3000" data-ride="carousel" ng-hide="popupmodalbody">
                    <ol class="carousel-indicators">
                        <li ng-repeat="slide in slides" data-target="#slideshow" ng-class="$index+1==1?'active':''" data-slide-to="$index+1-1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div ng-class="($index+1)==1?'item active':'item'" ng-repeat="slide in slides">
                            <img id="imh" ng-src="{{slide.FullPhotoPath}}" style="margin-left: auto;
                      margin-right: auto;"></img>
                        </div>
                    </div>
                    <a data-target="#slideshow" id="a1" class="carousel-control left" href="javascript:void(0)" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a data-target="#slideshow" id="a2" class="carousel-control right" href="javascript:void(0)" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div ng-hide="!popupmodalbody">
                    <img ng-src="{{HoroscopeImage}}" style="height: 500px; width: 500px;">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="verifyMobileContent.html">
    <form name="refForm" novalidate role="form" ng-submit="verifyMobCode(refForm.txtVerificationcode)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Mobile verification code sent successfully to {{popupMobilenumber}}
                <a href="javascript:void(0);" ng-click="closepopuppoptopopup()">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25"></ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li class="clearfix">
                    <br>
                    <div class="row">
                        <div class="col-lg-7">
                            <span style="color: #000; font-size: 13px; margin-left: 20px; font-weight: bold;">Click yes, If you want to verify by you 
                        </span>
                        </div>
                        <div id="Divrbt" class="radio-group-my col-lg-4">
                            <label class="control-label">
                         <md-radio-group name="rbtnVerf" layout="row" ng-model="refForm.rbtnVerf" class="md-block" ng-change="refForm.rbtnVerf==='2'?closepopuppoptopopup():''" flex-gt-sm >
                            <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button value="2"> No </md-radio-button>
                        </md-radio-group>
                       </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div ng-if="refForm.rbtnVerf==='1'" class="col-lg-offset-3">
                            <b>Mobile verify Code : </b><input type="text" height="40" ng-model="refForm.txtVerificationcode" maxlength="6" class="form-control" style="width:50%;" />
                            <br>
                        </div>
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-offset-4">
                        <button class="md-raised md-warn md-hue-2 md-button md-ink-ripple" type="submit">submit</button>
                    </div>
                </li>
            </ul>

        </div>
    </form>
</script>
<script type="text/ng-template" id="TabClosePopup.html">
    <div class="modal-message modal-danger">
        <div class="modal-header" id="divhead1">
            <i class="glyphicon glyphicon-fire"></i>
        </div>
        <div class="modal-body">
            {{modalbodyID1}}
        </div>
        <div class="modal-footer">
            <button id="btnclose" class="btn btn-default" ng-click="modalpopupclose1()">Close</button>
        </div>
    </div>
</script>