<div class="row container">
    {{slide.custid}}
    <div class="col-lg-6 col-lg-offset-1" style="border-radius: 20px">
        <div>
            <div class="row">
                <div class="col-lg-3">
                    <div><img src="http://d16o2fcjgzj2wp.cloudfront.net/Images/EmployeeImages/HD006_EmplyeeImage/HD006_EmplyeeImage.jpg" height="57px" width="57px" class="center-block"></div>Alekhya M<br><br><u><a href="javascript:void(0);" class="btn btn-success-outline">Send SMS</a></u><br><br>
                    <a href="javascript:void(0);" class="btn btn-success-outline">Send Mail</a>
                    <a href="javascript:void(0);" style="display:none;" class="btn btn-success-outline">Missing Fields</a><br><br>
                    <a href="javascript:void(0);" class="btn btn-success-outline">Photo Request</a><br><br><a href="javascript:void(0);" class="btn btn-success-outline">Not Int To Pay</a><br><br>
                    <a href="javascript:void(0);" class="btn btn-success-outline">Do not Distrub</a>
                </div>
                <div class="col-lg-8 text-center">
                    <div class="" style="color: maroon;font-size: 13px;font-weight: bold;display:block;">Service Date: 08 Mar 2017 21:44:12</div>
                    <div style="font-size:14px;display:block;" class="row">PD:<a href="javascript:void(0);">1</a>, DPD:<a href="javascript:void(0);">0</a>, View:<a href="javascript:void(0);">0</a>, NView:
                        <a href="javascript:void(0);">0</a>, BI:<a href="javascript:void(0);">0</a>, OppI :<a href="javascript:void(0);">0</a></div>
                    <input type="image" id="CustImg11" ng-click="slidepopup(96429)" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_96429_Images/Img1_Images/110964299_ApplicationPhoto.jpg" class="img-thumbnail" style="border: 1px solid gray;">
                    <div class="text-center" style="line-height: 22px;"><br><b>Priyanka Gurijala (<b><a href="javascript:void(0)" id="lnkProfileID11"  class="">310973741</a> - WB)</b></b><br>
                        <div style="display:block;"><b><f class="maroon">DOR:</f> 29 Feb 2016 09:22:25</b></div><br><b><f class="maroon" id="lblcreateremainder11">Create Reminder </f> <label id="lblcreateremainderdate11" style="display:none;"></label>&nbsp; <a class="fa fa-pencil-square-o Linkdisabled" title="Create Reminder" href="javascript:void(0)" ></a></b></div>
                </div>
            </div>
        </div><br>
        <div class="col-lg-7 col-lg-offset-4"><a href="javascript:void(0);" id="lnkmissingmail" style="font-weight: bold;">Send Full Profile Tocustomer</a></div><br>
        <div class="col-lg-12 col-lg-push-2" style="border:1px solid;border-color:orange;border-radius: 20px;width:81%;display:block;">
            <div class="row">
                <div class="col-lg-6" id="lnkEducationProfessiondiv" style="display:none;"><a id="lnkEducationProfession" href="javascript:void(0);" style="color: red;font-underline:true;">No Education &amp; Profession</a></div>
                <div class="col-lg-6" id="lnkParentDetailsdiv" style="display:none;"><a id="lnkParentDetails" href="javascript:void(0);" style="color: red;font-underline:true;">No Parent Details</a></div>
                <div class="col-lg-6" id="lnkSiblingdiv" style="display:block;"><a id="lnkSibling" href="javascript:void(0);" style="color: red;font-underline:true;">No Sibling Details</a></div>
                <div class="col-lg-6" id="lnkAstroDetailsdiv" style="display:block;"><a id="lnkAstroDetails" href="javascript:void(0);" style="color: red;font-underline:true;">No Astro Details</a></div>
                <div class="col-lg-6" id="lnkPropertyDetailsdiv" style="display:block;"><a id="lnkPropertyDetails" href="javascript:void(0);" style="color: red;font-underline:true;">No Property Details</a></div>
            </div>
        </div>
        <div class="clearfix"></div><br>
        <div class="col-lg-12 col-lg-push-2" style="border:1px solid;border-color:orange;border-radius: 20px;width:81%;display:block;">
            <div class="row">
                <div class="col-lg-12 text-center" style="font-weight:bold;">No logins since registration,click forgot password</div>
                <div class="clearfix"></div><br>
                <div>
                    <div class="col-lg-10" style="color:maroon;"><label>No of logins</label></div>
                    <div class="col-lg-2"><label>0</label></div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="col-lg-10" style="color:maroon;"><label>Total Viewed profiles</label></div>
                    <div class="col-lg-2"><label><div>0</div></label></div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="col-lg-10" style="color:maroon;"><label>Total Viewed profiles by others</label></div>
                    <div class="col-lg-2"><label><div>2</div></label></div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="col-lg-10" style="color:maroon;"><label>Total Bookmarked profiles</label></div>
                    <div class="col-lg-2"><label><div>0</div></label></div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="col-lg-10" style="color:maroon;"><label>Total Bookmarked profiles by others</label></div>
                    <div class="col-lg-2"><label><div>0</div></label></div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="col-lg-10" style="color:maroon;"><label>Total ignore profiles Count</label></div>
                    <div class="col-lg-2"><label><div>0</div></label></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center" style="font-weight:bold;"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-5" style="border:1px solid;border-color:orange;border-radius: 20px;">
        <div style="">
            <div class="text-center"><b><u><a href="javascript:void(0);" id="lblticID11">KakWB144827</a></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="return redirecttoContactPage(97374,141,1);">  ViewContacts/Edit Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Delayed : </label><label>  236</label></b></div>
            <br>
            <div class="row">
                <div><b class="maroon" style="padding-left:10px;"> Mobile : </b><b style="">001 - 6692558127&nbsp;<span class="glyphicon glyphicon-ok"></span></b> <b style=""><a href="javascript:void(0);" >&nbsp;&nbsp;verify mobile</a></b> </div>
                <div><b class="maroon" style="padding-left:10px;">Email : </b><b style="">fibrepacks@gmail.com&nbsp;<span class="glyphicon glyphicon-ok"></span></b> <b style=""><a href="javascript:void(0);" >&nbsp;&nbsp;verify email</a></b> </div>
            </div>
        </div> <br>
        <div class="row" style="display:block;">
            <div class="col-lg-6"><span class="maroon" style="font-size:12px;font-weight:bold;">Proposed Reg Fee</span><br>
                <div id="feeEdit11" style="display:none;"><label id="lblfee11"></label>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="return editFee(11);">Edit </a></div>
                <div id="feeupdate11" style="display:block;"><input type="text" class="form-control" id="txtfees11" style="width:80px;float:left;" onkeydown="return !(event.keyCode == 32);" maxlength="7" value="">&nbsp;&nbsp;&nbsp;<a id="lnkfeeupdate11" href="javascript:void(0);">Save </a></div>
            </div>
            <div class="col-lg-6"> <span class="maroon" style="font-size:12px;font-weight:bold;"> Proposed SA Fee</span><br>
                <div id="SAEditdiv11" style="display:none;"><label id="lblSAamount11"></label>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="return editSAamount(11);"> Edit </a></div>
                <div id="SAupdatediv11" style="display:block;"><input type="text" class="form-control" id="txtSAamount11" style="width:80px;float:left;" onkeydown="return !(event.keyCode == 32);" maxlength="7" value="">&nbsp;&nbsp;&nbsp;<a id="lnksaupdate11" href="javascript:void(0);">Save </a></div>
            </div>
        </div><br>
        <div id="Updatediv11" style="overflow: scroll;height:600px;">
            <div class="row">
                <div class="col-lg-12 text-center" style="font-weight:bold;">
                    <c class="maroon">InternalMemo</c> done on
                    <c class="maroon">11-Aug-2016-11:41:05</c>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-5" style="color:maroon;"><label>Employee Name</label></div>
                <div class="col-lg-7"><label><div>Alekhya M</div></label></div>
                <div class="clearfix"></div>
                <div class="col-lg-12"><label style="color:maroon;">Comments</label>
                    <div><label>Email To Reset Forgot Password</label></div>
                </div>
                <div class="clearfix"></div>
            </div><br><br><br></div><br>
        <div></div>
    </div><br></div>