<div class="row container" id="marketingdivid">
    <div class="col-lg-5" style="border-radius: 20px">
        <div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 text-left lh-">
                    <div>
                        <img ng-src="{{slide.EmpPhoto}}" height="57px" width="57px">
                    </div>{{slide.EmpName}}<br><br>
                    <div ng-show="model.guestticketFlag!==1 && slide.CustID">
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-show="model.siblingsFlag!==1" ng-click="model.openSmsMail('sms',slide.CustomerName,slide.ProfileID,slide.PrimaryEmail,slide.PrimaryContactNumber,slide.PrimaryContactNumberCountyCode,slide.Emp_Ticket_ID,slide.EmpName);">Send SMS</a>
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-show="model.siblingsFlag!==1" ng-click="model.openSmsMail('mail',slide.CustomerName,slide.ProfileID,slide.PrimaryEmail,slide.PrimaryContactNumber,slide.PrimaryContactNumberCountyCode,slide.Emp_Ticket_ID);">Send Mail</a>
                        <a href="javascript:void(0);" style="display:none;" class="btn btn-success-outline">Missing Fields</a>
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-show="slide.Photo.indexOf('noimage') !== -1 && slide.Photo.indexOf('_Rev') === -1 && model.siblingsFlag!==1" ng-click="model.PhotoRequest(slide);">Photo Request</a>
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-show="!slide.Lastlogin  && model.siblingsFlag!==1" ng-click="model.forgetpassword(slide.ProfileID);">Forgot Password</a>
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-show="model.siblingsFlag!==1" ng-click="model.NotIntrstToPay('P',slide.Emp_Ticket_ID,slide.CustID);">Not Int To Pay</a>
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-class="slide.settleddeleted?'':'linkdisabled'" ng-show="model.siblingsFlag===1" ng-click="model.showSAmethod(slide.SAPath);">{{slide.settleddeleted?'Show':'No'}} SA Form</a>
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-show="model.siblingsFlag===1" ng-click="model.getSettleDelete(slide.ProfileStatusID,slide.CustID);">Set/Del Reason</a>
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-show="model.siblingsFlag===1" ng-click="model.NotIntrstToPay('Y',slide.Emp_Ticket_ID,slide.CustID);">Sibling Created</a>
                        <a href="javascript:void(0);" class="btn btn-success-outline" ng-click="model.NotIntrstToPay('N',slide.Emp_Ticket_ID,slide.CustID);">Do not Disturb</a>
                        <div ng-show="model.siblingsFlag===1">
                            <label class='control-label'>Online</label> :{{slide.onlinePayment?'Rs'+slide.onlinePayment:'Unpaid'}}
                            <br>
                            <label class='control-label'>Offline</label> : {{slide.offlinePayment?'Rs'+slide.offlinePayment:'Unpaid'}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="maroon servicedate" ng-show="slide.ServiceDate">Service Date: {{slide.ServiceDate}}</div>
                    <div style="font-size:14px;" class="row" ng-show="slide.ServiceDate">
                        PD:<a href="javascript:void(0);">{{slide.PD}}</a> , DPD:<a href="javascript:void(0);">{{slide.DPD}}</a> , View:<a href="javascript:void(0);">{{slide.ViewCount}}</a> , NView:<a href="javascript:void(0);">{{slide.NView}}</a> , BI:
                        <a href="javascript:void(0);">{{slide.BI}}</a> , OppI :<a href="javascript:void(0);">{{slide.OppI}}</a>
                    </div>
                    <div class="vertical-text" ng-show="model.siblingsFlag===1" style="background-color: rgb(160, 2, 1);">{{slide.ProfileStatusID===56 || slide.ProfileStatusID===394?'DELETED':(slide.ProfileStatusID===57 || slide.ProfileStatusID===393?'SETTLED':'')}}</div>
                    <img style="width:252px;height:252px;" ng-click='slidepopup(slide.CustID)' ng-src='{{slide.Photo}}' class="imgCls">
                    <div style="line-height: 22px;"><br><b>{{slide.CustomerName}} (<b><a href="javascript:void(0)" ng-click="model.ViewProfile(slide.ProfileID);">{{slide.ProfileID}}</a> - {{slide.registeredBranch}})</b></b><br>
                        <div ng-show="model.guestticketFlag!==1 && slide.CustID">
                            <div>
                                <span class="maroon">DOR:</span> {{slide.RegistrationDate}}
                            </div>
                            <br><span>
                        <span class="maroon"> {{slide.ReminderDate?'Reminder date:':'Create Reminder'}}    </span>
                            <span>{{slide.ReminderDate?slide.ReminderDate:''}}</span>
                            <a ng-class="'fa fa-pencil-square-o Linkdisabled'" title="Create Reminder" href="javascript:void(0)" ng-click="model.changereminder(slide);"></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div ng-show="model.guestticketFlag!==1 && slide.CustID">
            <div class="col-lg-7 col-lg-offset-4" ng-show="model.siblingsFlag!==1"><a href="javascript:void(0);" ng-click="model.Resendmail(slide.CustID,slide.ProfileID);" style="font-weight: bold;">Send Full Profile Tocustomer</a></div><br>
            <div class="col-lg-12 col-lg-push-2" ng-show="model.siblingsFlag!==1 && slide.nodataFoundArr.length>0" style="border:1px solid;border-color:orange;border-radius: 20px;width:81%;display:block;">
                <div class="row">
                    <div class="col-lg-6" ng-repeat="itm in slide.nodataFoundArr">
                        <a href="javascript:void(0);" ng-click="model.editRedirect(slide.CustID,itm.type)" style="font-underline:true;">{{itm.displayname}}</a>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
            <br>
            <div class="col-lg-12 col-lg-push-2 nologinCls">
                <div class="row text-left">
                    <div class="col-lg-12" style="font-weight:bold;">
                        <span>{{slide.Lastlogin?'':'No logins since registration,click forgot password'}}</span>
                        <div ng-if="slide.Lastlogin">
                            <span>Last login Date</span>
                            <span>{{slide.Lastlogin}}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div><br>
                    <div>
                        <div class="col-lg-10"><label>No of logins</label></div>
                        <div class="col-lg-2"><label>{{slide.LoginCount}}</label></div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="col-lg-10"><label>Total Viewed profiles</label></div>
                        <div class="col-lg-2"><label><div>{{slide.RectViewedProfCount}}</div></label></div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="col-lg-10"><label>Total Viewed profiles by others</label></div>
                        <div class="col-lg-2"><label><div>{{slide.RectWhoViewedCout}}</div></label></div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="col-lg-10"><label>Total Bookmarked profiles</label></div>
                        <div class="col-lg-2"><label><div>{{slide.MybookMarkedProfCount}}</div></label></div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="col-lg-10"><label>Total Bookmarked profiles by others</label></div>
                        <div class="col-lg-2"><label><div>{{slide.WhobookmarkedCount}}</div></label></div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="col-lg-10"><label>Total ignore profiles Count</label></div>
                        <div class="col-lg-2"><label><div>{{slide.IgnoreProfileCount}}</div></label></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center" style="font-weight:bold;"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 rightdiv">
        <div>
            <div class="submainhdr">
                <span style="margin-left: -28px !important;">{{slide.TicketID+' ('+slide.TicketStatus+')'}}</span>
                <span class="subHdrSpan"><b>Opened on:</b> {{slide.TicketOpenedOn | date:'dd MMM y'}}</span>
                <span class="subHdrSpan"><a href="javascript:void(0);" ng-click="model.redirectContact(slide.CustID);">  ViewContacts/Edit Profile</a></span>
                <span class="subHdrSpan">Delayed : {{slide.NoofDays}}
                </span>
            </div>
            <br>
            <div class="row text-left">
                <span class="maroon" style="padding-left:10px;"> Mobile : </span>
                <span>{{slide.PrimaryContactNumberCountyCode}} -{{slide.PrimaryContactNumber}}&nbsp;
                        <b  ng-class="slide.IsMobileVerified==='False'?'glyphicon glyphicon-ok':'fa fa-check-circle'"></b>
                    </span>
                <a href="javascript:void(0);" ng-show="slide.IsMobileVerified==='False'" ng-click="model.sendMobileCode(slide.primaryCountryID,slide.PrimaryContactNumberCountyCode,slide.PrimaryContactNumber,slide.IsCustContactNumbersID);">&nbsp;&nbsp;verify mobile</a>

                <span class="maroon" style="padding-left:39px;">Email : </span> {{slide.PrimaryEmail}}
                <b ng-class="slide.isEmailVerified==='False'?'glyphicon glyphicon-ok':'fa fa-check-circle'"></b>
                <a href="javascript:void(0);" ng-show="slide.isEmailVerified==='False'" ng-click="model.verifymail(slide.CustID);">&nbsp;&nbsp;verify email</a>
            </div>
        </div> <br>
        <div class="row text-left">
            <div class="col-lg-6">
                <label for="regfee" ng-show="slide.editval==='Edit'">Proposed Reg Fee</label>
                <span ng-if="slide.Feedetails && slide.editval==='Edit'">{{slide.Feedetails}}</span>
                <input type="text" ng-model="slide.txtFeeValue" placeholder="Proposed Reg Fee" ng-if="!slide.Feedetails || slide.editval!=='Edit'" class="form-control feeInputClass" style="width:50%;" maxlength="7">
                <a href="javascript:void(0);" ng-click="model.updateREGFee(slide,slide.txtFeeValue);" class="feeCls">{{slide.editval}} </a>
            </div>
            <div class="col-lg-6">
                <label for="regfee" ng-show="slide.editSAval==='Edit'">Proposed SA Fee</label>
                <span ng-if="slide.SettlementValue && slide.editSAval==='Edit'">{{slide.SettlementValue}}</span>
                <input type="text" ng-model="slide.txtSAFeeValue" placeholder="Proposed SA Fee" ng-if="!slide.SettlementValue || slide.editSAval!=='Edit'" class="form-control feeInputClass" maxlength="7">
                <a href="javascript:void(0);" ng-click="model.updateSAFee(slide,slide.txtSAFeeValue);" class="feeCls">{{slide.editSAval}} </a>
            </div>
        </div>
        <br>
        <div>
            <div>
                <md-content class="md-padding">
                    <md-tabs md-selected="slide.selectedIndex" md-dynamic-height flex md-border-bottom md-autoselect>
                        <md-tab label="View">
                            <div class="tab">
                                <div class="col-lg-12">
                                    <div id="Updatediv1" style="overflow-y: scroll;height: 450px;overflow-x: hidden;">

                                        <div ng-repeat="item in slide.histryObj" class="text-left">
                                            <br>
                                            <market-histry strtype="item.TicketType" strdate="item.ReplyDate" strempname="item.NAME" strstatus="item.CallStatus" strcustname="item.CallReceivedBy" strcomments="item.ReplyDesc" strnoofdays="item.NoOfDays" strrelation="item.RelationShip"></market-histry>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab md-on-select="slide.incomeTab=true" label="Incoming Call">
                            <div class="tab">
                                <br>
                                <div>
                                    <form ng-if="slide.incomeTab" name="inform" novalidate role="form" ng-submit="">
                                        <ul>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Call received from </label>
                                                <div class="pop_controls_right  input-group">
                                                    <select name="ddlmrktreceivedIn" class="smalldropdown" ng-model="slide.ddlmrktreceivedIn" ng-change="model.RelationshipChangebind(slide,slide.ddlmrktreceivedIn,'In');" multiselectdropdown typeofdata="'childStayingWith'" required>   
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Relation name  </label>
                                                <div class="pop_controls_right">
                                                    <input name="txtmrktRelationnameIn" ng-model="slide.txtmrktRelationnameIn" type="text" class="form-control required" required></input>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Call result </label>
                                                <div class="pop_controls_right input-group">
                                                    <select class="smalldropdown" ng-model="slide.ddlmrktCallresultIn" multiselectdropdown required>   
                                                    <option value="">-- Select --</option>
                                                    <option value="417">Successfull</option>
                                                    <option value="418">UnSuccessfull</option>
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Call telephone number </label>
                                                <div class="pop_controls_right">
                                                    <input type="text" ng-model="slide.txtmrktCalltelephonenumberIn" class="form-control" maxlength="12" onkeydown="return (((event.keyCode == 8) || (event.keyCode == 46) || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)));"
                                                        required/>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Reply Type </label>
                                                <div class="pop_controls_right select-box-my   input-group">
                                                    <select class="smalldropdown" ng-model="slide.ddlmrktReplyTypeIn" ng-change="slide.txtmrktCalldiscussionin=model.mailchange(slide.ddlmrktReplyTypeIn);" multiselectdropdown ng-options="item.value as item.label for item in model.marReplyArr">   
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left Notrequired">Display to customer </label>
                                                <div class="pop_controls_right pop_radios_list">
                                                    <md-radio-group ng-required="true" name="rbtnmarketDisplay" layout="row" ng-model="slide.rbtnmarketDisplayIn" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                        <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                                        <md-radio-button value="2"> No</md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left" style="width: 19%;">Call discussion </label>
                                                <div class="pop_controls_right" style="width: 80% !important;">
                                                    <textarea type="text" ng-model="slide.txtmrktCalldiscussionin" class="form-control" required rows="3"></textarea>
                                                </div>
                                            </li>
                                            <br>
                                            <li>
                                                <div class="col-lg-4">
                                                    <button style="margin-top: 2px;padding: 5px 5px 5px 5px;" type="submit" value="Submit" id="btnmrktsubmitIncoming" class="button_custom pull-right" ng-click="inform.$valid && model.incallSubmit(slide);slide.selectedIndex=0;">Incoming Call</button>
                                                </div>
                                                <div class="col-lg-8">
                                                    <button style="margin-top: 2px;padding: 5px 5px 5px 5px; float: left; margin-right: 20px;" type="submit" id="btnIncomeAssignme" class="button_custom" ng-click="inform.$valid && model.incallSubmit(slide,'assign');slide.selectedIndex=0;">Incomg Call & Assign me</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                    <div class="clearfix">
                                    </div>
                                    <br>
                                    <md-divider></md-divider>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab md-on-select="slide.outgoingTab=true" label="Outgoing Call">
                            <div class="tab">
                                <br>
                                <div>
                                    <form ng-if="slide.outgoingTab" name="outform" novalidate role="form" ng-submit="">
                                        <ul>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Call received by </label>
                                                <div class="pop_controls_right select-box-my input-group">

                                                    <select class="smalldropdown" ng-model="slide.ddlmrktreceivedout" ng-change="model.RelationshipChangebind(slide,slide.ddlmrktreceivedout,'Out');" multiselectdropdown typeofdata="'childStayingWith'" required>   
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Relation name  </label>
                                                <div class="pop_controls_right">
                                                    <input ng-model="slide.txtmrktRelationnameout" type="text" class="form-control" required/>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Call result </label>
                                                <div class="pop_controls_right   input-group">
                                                    <select class="smalldropdown" ng-model="slide.ddlmrktcallresultout" multiselectdropdown required>   
                                                      <option value="">-- Select --</option>
                                                    <option value="417">Successfull</option>
                                                    <option value="418">UnSuccessfull</option>
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Call telephone number </label>
                                                <div class="pop_controls_right">
                                                    <input ng-model="slide.txtmrktCalltelephonenumberout" type="text" class="form-control" maxlength="12" onkeydown="return (((event.keyCode == 8) || (event.keyCode == 46) || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)));"
                                                        required/>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Reply Type </label>
                                                <div class="pop_controls_right select-box-my   input-group">
                                                    <select class="smalldropdown" ng-model="slide.ddlmrktreplytypeout" multiselectdropdown ng-options="item.value as item.label for item in model.marReplyArr" ng-change="slide.txtmrktCalldiscussionout=model.mailchange(slide.ddlmrktreplytypeout);">   
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left Notrequired">Display to customer </label>
                                                <div class="pop_controls_right pop_radios_list">
                                                    <md-radio-group ng-required="true" name="rbtndisplayOut" layout="row" ng-model="slide.rbtndisplayOut" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                        <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                                        <md-radio-button value="2"> No</md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <label class="pop_label_left" style="width:19%;">Call discussion </label>
                                                <div class="pop_controls_right" style="width:80% !important;">
                                                    <textarea ng-model="slide.txtmrktCalldiscussionout" type="text" class="form-control" required rows="3"></textarea>
                                                </div>
                                            </li>
                                            <br>
                                            <li class="col-lg-12">
                                                <div class="col-lg-4">
                                                    <button style="margin-top: 2px;padding: 5px 5px 5px 5px;" type="submit" value="Submit" id="btnmrktoutgng" class="button_custom pull-right" ng-click="outform.$valid && model.outcallSubmit(slide);slide.selectedIndex=0;">Outgoing Call</button>
                                                </div>
                                                <div class="col-lg-8">
                                                    <button type="submit" style="margin-top: 2px;padding: 5px 5px 5px 5px; float: left; margin-right: 20px;" id="btnOutgngAssignme" value="Submit" class="button_custom" ng-click="outform.$valid && model.outcallSubmit(slide,'assign');slide.selectedIndex=0;">Outgoing Call & Assign me</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                    <div class="clearfix">
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab md-on-select="slide.internalMemoTab=true" label="Internal Memo">
                            <div class="tab">
                                <br>
                                <div>
                                    <form ng-if="slide.internalMemoTab" name="memoform" novalidate role="form" ng-submit="">
                                        <ul>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Assign/Re-assign </label>
                                                <div class="pop_controls_right select-box-my   input-group">
                                                    <select class="smalldropdown" ng-model="slide.ddlmrktAssignmemo" multiselectdropdown ng-options="item.value as item.label for item in model.empNamesInOutArr" required>   
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Reply Type  </label>
                                                <div class="pop_controls_right select-box-my   input-group">
                                                    <select class="smalldropdown" ng-model="slide.ddlmrktReplyMemo" multiselectdropdown ng-options="item.value as item.label for item in model.marReplyArr" ng-change="slide.txtmrktcalldiscussionMemo=model.mailchange(slide.ddlmrktReplyMemo);" required>   
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <label class="pop_label_left" style="width:19%;">Enter memo  </label>
                                                <div class="pop_controls_right" style="width:80% !important;">
                                                    <textarea ng-model="slide.txtmrktcalldiscussionMemo" type="text" class="form-control" required rows="3"></textarea>
                                                </div>
                                            </li>
                                            <br>
                                            <li class="col-lg-12">
                                                <div class="col-lg-4">
                                                    <button style="margin-top: 2px;padding: 5px 5px 5px 5px;" type="submit" value="Submit" class="button_custom pull-right" ng-click="memoform.$valid && model.memoSubmit(slide);slide.selectedIndex=0;">Internal Memo</button>
                                                </div>
                                                <div class="col-lg-8">
                                                    <button style="margin-top: 2px;padding: 5px 5px 5px 5px; float: left; margin-right: 20px;" type="submit" id="btnIMAssignme" value="Submit" class="button_custom" ng-click="memoform.$valid && model.memoSubmit(slide,'assign');slide.selectedIndex=0;">Internal Memo & Assign me</button>;
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                    <div class="clearfix">
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab md-on-select="slide.closeTab=true" label="Close Ticket">
                            <div class="tab">
                                <br>
                                <div>
                                    <form ng-if="slide.closeTab" name="closeform" novalidate role="form" ng-submit="closeform.$valid && model.closeSubmit(slide);slide.selectedIndex=0;">
                                        <ul>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Reply Type </label>
                                                <div class="pop_controls_right select-box-my input-group">
                                                    <select class="smalldropdown" ng-model="slide.ddlmrktreplyClose" multiselectdropdown ng-options="item.value as item.label for item in model.marReplyArr" ng-change="slide.txtmrktcloseReasn=model.mailchange(slide.ddlmrktreplyClose);" required>   
                                                     </select>
                                                </div>
                                            </li>
                                            <li class="clearfix form-group">
                                                <label class="pop_label_left">Reason for close </label>
                                                <div class="pop_controls_right">
                                                    <textarea type="text" ng-model="slide.txtmrktcloseReasn" class="form-control" required rows="3"></textarea>
                                                </div>
                                            </li>
                                            <br>
                                            <li class="col-lg-12">
                                                <div class="col-lg-offset-1 col-lg-6">
                                                    <button style="margin-top: 2px;padding: 5px 5px 5px 5px; float: left; margin-right: 20px;" type="submit" value="Submit" class="button_custom pull-right  pull-right">Close Ticket</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                    <div class="clearfix">
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
    <br>
</div>