<div class="row container">
    <ul>

        <div class="col-lg-6" style="border-radius: 20px; border-right: 1px solid maroon;">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <div>
                        <div class="text-center"></div>
                        <div> <img src="http://d16o2fcjgzj2wp.cloudfront.net/Images/EmployeeImages/HD024_EmplyeeImage/HD024_EmplyeeImage.jpg" class="center-block" height="57px" width="57px"></div>
                        <div class="row ng-binding">{{slide.BrideProfileOwner}}</div>
                    </div><br>
                </div>
                <div class="col-lg-7 col-lg-offset-1">
                    <div style="padding-bottom: 5px;"> <br><a ng-show="model.ProceededProfiles(slide.FRomSerivceCount,slide.fromempname);" href="javascript:void(0);" ng-click="model.serviceCountProfiles(slide.fromcust_id);" aria-hidden="false" class=""> Proceed Other Profiles</a> </div>
                    <img ng-click="slidepopup(slide.fromcust_id)" style="min-width:250px;min-height:250px;" ng-src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_114268_Images/Img3_Images/211142687_ApplicationPhoto.jpg" class="img-thumbnail" role="button"
                        tabindex="0" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_114268_Images/Img3_Images/211142687_ApplicationPhoto.jpg">
                    <div class="text-center"> <br>
                        <div class="row">
                            <div class="col-lg-10"><b class="ng-binding">{{slide.BrideProfileName}}<b class="ng-binding"><a href="javascript:void(0)" ng-click="model.viewProfileRedirect(slide.BrideProfileID);" class="ng-binding">{{slide.BrideProfileID}}</a></b></b>
                            </div>
                            <div class="col-lg-2 ng-scope" ng-if="slide.FromticketStatusIDb.trim()==='I' || slide.FromticketStatusIDb.trim()==='I'"><img ng-src="src/images/heartgrren.gif" style="width:28px;" src="src/images/heartgrren.gif"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"><b class="maroon">Mobile:</b> </div>
                            <div class="col-lg-9"><b class="ng-binding">8500013048</b></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"><b class="maroon">Email:</b> </div>
                            <div class="col-lg-9"><b class="ng-binding">shailaja.yedlapalli@gmail.com</b></div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-lg-6"> <b class="maroon">Service Date</b> <b class="row ng-binding">13 Aug 2017 17:46:43</b></div>
                            <div class="col-lg-6"> <b class="maroon">Proceed Date </b> <b class="row ng-binding">13 Aug 2017 17:46:43</b></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        </div>
        <div class="col-lg-6" style="border-radius: 20px; border-left: 1px solid maroon;">
            <div class="row">
                <div class="col-lg-7 col-lg-push-1">
                    <div style="padding-bottom: 5px;"> <br><a ng-show="model.ProceededProfiles(slide.ToSerivceCount,slide.toempname);" href="javascript:void(0);" ng-click="model.serviceCountProfiles(slide.tocustid);" aria-hidden="true" class="ng-hide"> Proceed Other Profiles</a> </div>
                    <img id="tocustimg" ng-click="slidepopup(slide.tocustid)" style="min-width:250px;min-height:250px;" ng-src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_79135_Images/Img1_Images/310791350_ApplicationPhoto.jpg" alt="" class="center-block img-thumbnail"
                        role="button" tabindex="0" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_79135_Images/Img1_Images/310791350_ApplicationPhoto.jpg">
                    <div class="text-center"> <br>
                        <div class="row">
                            <div class="col-lg-10"><b class="ng-binding">Prithvi  Manduva    (<b class="ng-binding"><a href="javascript:void(0)" ng-click="model.viewProfileRedirect(slide.Toprofileid);" class="ng-binding">310791350</a> - WB)V</b></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"><b class="maroon">Mobile:</b> </div>
                            <div class="col-lg-9"><b class="ng-binding">9963998863</b></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"><b class="maroon">Email:</b> </div>
                            <div class="col-lg-9"><b class="ng-binding">Praneet.manoj@gmail.com</b></div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-lg-6"> <b class="maroon">Service Date</b> <b class="row ng-binding">13 Aug 2017 17:46:43</b></div>
                            <div class="col-lg-6"> <b class="maroon">Proceed Date </b> <b class="row ng-binding">--</b></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-lg-push-1">
                    <div>
                        <div class="text-center"></div>
                        <div> <img src="http://d16o2fcjgzj2wp.cloudfront.net/Images/EmployeeImages/EL003_EmplyeeImage/EL003_EmplyeeImage.jpg" class="center-block" height="57px" width="57px"></div>
                        <div class="row ng-binding">Sailaja-9848031931</div>
                    </div><br>
                </div>
            </div>
            <br>
        </div>
    </ul>
</div>