<uib-accordion close-others="oneAtATime">

    <div uib-accordion-group style="margin-top: -12px;" class="panel-default" is-open="true">
        <uib-accordion-heading>
            Search Tickets<i class="glyphicon" ng-class="{'glyphicon-chevron-down': model.opendiv, 'glyphicon-chevron-right': !model.opendiv}"></i>
        </uib-accordion-heading>
        <div class="row">
            <div class="col-lg-1 form-group">
                <label for="Region" class="control-label">Region</label>
                <div>
                    <select class="smalldropdown" ng-change="model.regionChange(model.lstregions);" ng-model="model.lstregions" multiselectdropdown typeofdata="'Regionofbranches'">                                        
             </select>

                </div>
            </div>
            <div class="col-lg-3 form-group">
                <label for="Region" class="control-label">Branch</label>
                <div>
                    <angular-multiselect id="'Branchid'" class="general" array="model.BranchName" model="model.lstBranchs">
                    </angular-multiselect>

                </div>
            </div>
            <div class="col-lg-3 form-group">
                <label for="Region" class="control-label">EmpName</label>
                <div class="">
                    <angular-multiselect id="'Branchid'" class="general" array="model.EmpNamesArr" model="model.lstEmpnames">
                    </angular-multiselect>
                </div>
            </div>
            <div class="col-lg-2 form-group">
                <label for="Region" class="control-label">FromProceed</label>
                <div>
                    <date-pickersearch id="FromProceed" strdate="model.txtFromProceedDate"></date-pickersearch>
                </div>
            </div>
            <div class="col-lg-2 form-group">
                <label for="Region" class="control-label">ToProceed</label>
                <div>
                    <date-pickersearch id="ToProceed" strdate="model.txtToProceedDate"></date-pickersearch>
                </div>
            </div>
            <div class="col-lg-1 form-group">
                <label for="Region" class="control-label" ng-hide="true"></label>
                <br>
                <div>
                    <input type="submit" class="btn btn-danger" value="Submit" ng-click="model.matchFollowupSelect(0);">
                </div>
            </div>
        </div>
    </div>

</uib-accordion>
<div class="row">
    <div class="col-lg-2">
        Total 1 of <span>6</span>
    </div>
    <div class="col-lg-7">
        <button class="btn btn-default">Bothside Intrst</button>&nbsp;
        <button class="btn btn-default">Oneside Intrst</button>&nbsp;
        <button class="btn btn-default">Close Tckt</button>&nbsp;
        <button class="btn btn-default">Not Vwd</button>&nbsp;
        <button class="btn btn-default">All</button>&nbsp;
        <button class="btn btn-default">Waiting For Reply</button>
    </div>
    <div class="col-lg-3">
        <div class="col-lg-8">
            <label>Viewed</label>&nbsp;<label id="lnkLastSlidepopup" data-ng-bind="slidNum" style="color: blue;">{{viewedcount}}</label>&nbsp;<label>Profiles</label>
        </div>
        <div class="col-lg-4">
            <input type="text" id="txtGotoValpopu" class="form-control" style="width: 66px; height: 24px; margin-left: -20px;" onchange="gotoSlide('#txtGotoValpopu','lnkLastSlidepopup')" />
        </div>
    </div>
</div>






<style>
    .panel-title {
        color: #b10c0c;
    }
</style>