<div id="matchfollowupdiv">
    <br>
    <div>
        <div class="row container">
            <ul>
                <div class="col-lg-6" style="border-radius: 20px; border-right: 1px solid maroon;">
                    <div>
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-1">
                                <div>
                                    <div class="text-center"></div>
                                    <div> <img src="{{slide.fromemp}}" class="center-block" height="57px" width="57px"></div>
                                    <div class="row">{{slide.fromempname}}-</div>
                                </div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" style="" onclick="return sendSms('91-8142984592','Lakshmim  fffffffffffff','lakshmidevi407@gmail.com','91','1054519','KAKHD1054519','myCarousel1','Updatedivfrom','lnkAddaction');">Send Sms</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return sendMail('310910220','1054519','KAKHD1054519','myCarousel1','Updatedivfrom','lnkAddaction','91022','16948','I','Lakshmim  fffffffffffff','lakshmidevi407@gmail.com','110169486');">Send Email</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return Settlementfom('310910220','');">No SA Form</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return Contactpage(91022);">View Contacts</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return sendNumbers('91022','16948','2','texting......from');">Send Numbers</button></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-8 col-lg-offset-1">
                                <div style="padding-bottom: 5px;"> <br><a ng-show="model.ProceededProfiles(slide.FRomSerivceCount,slide.fromempname);" href="javascript:void(0);" ng-click="model.serviceCountProfiles(slide.fromcust_id);"> Proceed Other Profiles</a> </div>
                                <img ng-click="slidepopup(slide.fromcust_id)" ng-src="{{slide.FromApplicationPhoto}}" class="img-thumbnail" style="border: 1px solid gray;">
                                <div class="text-center"> <br>
                                    <div class="row">
                                        <div class="col-lg-10"><b>{{slide.FromName}}(<b><a href="javascript:void(0)" >{{slide.FromProfileid}}</a> - {{slide.FromBranchCode}})</b></b>
                                        </div>
                                        <div class="col-lg-2" ng-if="slide.FromticketStatusIDb.trim()==='I' || slide.FromticketStatusIDb.trim()==='I'"><img ng-src="{{model.proceedImage(slide.FromticketStatusIDb)}}" style="width:28px;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Mobile:</b> </div>
                                        <div class="col-lg-9"><b class="">{{slide.FromMobileNumber}}</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Email:</b> </div>
                                        <div class="col-lg-9"><b class="">{{slide.FromEmail}}</b></div>
                                    </div>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-6"> <b class="maroon">Service Date</b><br> <b>{{slide.ServiceDate}}</b></div>
                                        <div class="col-lg-6"> <b class="maroon">Proceed Date </b> <br> <b>{{slide.FromTicketCreated}}</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-lg-12 col-lg-push-3 ticketHistryCls">

                            <tickethistry-infm strtype="slide.FromTicketHisoryType" strdate="slide.FromTicketInfo" strempname="slide.FromTicketHisoryNAME" strstatus="slide.FromTicketHisoryCallStatus" strcustName="slide.FromTicketHisoryCallReceivedBy" strcomments="slide.FromTicketHisoryReplyDesc"
                                strrelationship="slide.FromTicketHisoryRelationShip"></tickethistry-infm>
                        </div>
                    </div><br>
                    <div class="col-lg-offset-1">
                        <button type="button" id="lnkAddactionmyCarousel1" class="btn btn-success-outline" ng-click="model.openActionPopup(slide.FromTicket);" ng-click="model.openTicketPopup();">{{slide.fromticketid}}</button>
                        <button type="button" uib-popover-template="model.dynamicPopover.templateUrl" popover-title="{{model.dynamicPopover.title}}" class="btn btn-success-outline col-lg-offset-2">Ticket history</button>
                    </div>
                </div>
                <div class="col-lg-6" style="border-radius: 20px; border-left: 1px solid maroon;">
                    <div>
                        <div class="row">
                            <div class="col-lg-8 col-lg-push-1">
                                <div style="padding-bottom: 5px;"> <br><a ng-show="model.ProceededProfiles(slide.ToSerivceCount,slide.toempname);" href="javascript:void(0);" onclick="return serviceCountProfiles(slide.tocustid);"> Proceed Other Profiles</a> </div>
                                <img id="tocustimg" ng-click="slidepopup(slide.tocustid)" ng-src="{{slide.ToApplicationPhoto}}" alt="" class="center-block img-thumbnail" style="border: 1px solid gray;">
                                <div class="text-center"> <br>
                                    <div class="row">
                                        <div class="col-lg-10"><b>{{slide.ToName}}    (<b><a href="javascript:void(0)">{{slide.Toprofileid}}</a> - {{slide.ToBranchCode}}){{slide.ToticketStatusIDb}}</b></b>
                                        </div>
                                        <div class="col-lg-2" ng-if="slide.ToticketStatusIDb.trim()==='I' || slide.ToticketStatusIDb.trim()==='I'"><img ng-src="{{model.proceedImage(slide.ToticketStatusIDb)}}" style="width:28px;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Mobile:</b> </div>
                                        <div class="col-lg-9"><b class="">{{slide.ToMobileNumber}}</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Email:</b> </div>
                                        <div class="col-lg-9"><b class="">{{slide.TOEmail}}</b></div>
                                    </div>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-6"> <b class="maroon">Service Date</b><br> <b>{{slide.ServiceDate}}</b></div>
                                        <div class="col-lg-6"> <b class="maroon">Proceed Date </b> <br> <b>{{slide.ToTicketCreated}}</b></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-lg-push-1">
                                <div>
                                    <div class="text-center"></div>
                                    <div> <img src="{{slide.toemp}}" class="center-block" height="57px" width="57px"></div>
                                    <div class="row">{{slide.toempname}}</div>
                                </div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return sendSms('91-9440408305','SURESH KUMAR  AKANA','kusumavishwaneni@gmail.com','91','null','--','myCarousel1','Updatedivto','lnkAddactionto');">Send Sms</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return sendMail('110169486','null','--','myCarousel1','Updatedivto','lnkAddactionto','16948','91022','NV','SURESH KUMAR  AKANA','kusumavishwaneni@gmail.com','310910220');">Send Email</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return Settlementfom('110169486','');">No SA Form</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return Contactpage(16948);">View Contacts</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" onclick="return sendNumbers('16948','91022','2','texting......to');">Send Numbers</button></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-lg-12 col-lg-offset-1 ticketHistryCls">
                            <tickethistry-infm strtype="slide.ToTicketHisoryType" strdate="slide.ToTicketInfo" strempname="slide.ToTicketHisoryNAME" strstatus="slide.ToTicketHisoryCallStatus" strcustName="slide.ToTicketHisoryCallReceivedBy" strcomments="slide.ToTicketHisoryReplyDesc"
                                strrelationship="slide.ToTicketHisoryRelationShip"></tickethistry-infm>
                        </div>
                    </div><br>
                    <div class="text-left col-lg-offset-1"><button type="button" id="lnkAddactionmyCarousel1" class="btn btn-success-outline">{{slide.Toticketid}}</button>
                        <!--<button type="button" style="" data-toggle="popover" data-placement="top" class="btn btn-success-outline col-lg-offset-2" data-original-title="" title="">Ticket history</button>-->
                        <button type="button" uib-popover-template="model.dynamicPopover.templateUrl" popover-title="{{model.dynamicPopover.title}}" class="btn btn-success-outline col-lg-offset-2">Ticket history</button>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<style>
    .btn-success-outline {
        color: rgb(35, 82, 124);
        background-color: transparent;
        background-image: none;
        border-color: rgb(35, 82, 124);
    }
</style>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="row">
        <div class="col-lg-12 text-center" style="font-weight:bold;">
            <c class="maroon">MatchFollowup Replied on 25 Mar 2017 21:47:37</c>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-5" style="color:maroon;"><label>Employee Name</label></div>
        <div class="col-lg-7"><label><div>Customer</div></label></div>
        <div class="clearfix"></div>
        <div class="col-lg-12"><label style="color:maroon;">Comments</label>
            <div><label>Proceed This Profile</label></div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/ng-template" id="Actions.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="margin-top: -13px;">&times;</button>

        <h4 class="modal-title text-center" style="margin-top: -13px; color: maroon; display: none;">TICKET INFORMATION</h4>
    </div>
    <div class="modal-body">
        <div class="jumbotron text-center" style="background-color: rgb(254, 220, 1); color: white; padding-top: 2px; padding-bottom: 4px;">
            <div class="row">
                <div class="col-lg-2">
                    <b style="color: maroon; font-size: 17px;">TicketID:</b>
                    <br />
                    <label id="lblmrktTicketID" style="color: rgb(0, 0, 0);"></label>
                    <label id="lblmrktticket" style="display: none;"></label>
                    <label id="lblemail" style="display: none;"></label>
                    <label id="lblnumber" style="display: none;"></label>
                </div>
                <div class="col-lg-1">
                    <b style="color: maroon; font-size: 17px;">Status</b>
                    <br />
                    <label id="lblmrktStatus" style="color: rgb(0, 0, 0);"></label>

                </div>
                <div class="col-lg-3">
                    <b style="color: maroon; font-size: 17px;">Opened on</b>
                    <br />
                    <label id="lblmrktOpened" style="color: rgb(0, 0, 0);"></label>

                </div>

                <div class="col-lg-2">
                    <b style="color: maroon; font-size: 17px;">Assigned to</b>
                    <br />
                    <label id="lblmrktAssigned" style="color: rgb(0, 0, 0);"></label>
                    <label id="Label1" style="display: none;"></label>
                    <label id="lblUpdatediv" style="display: none;"></label>
                </div>
                <div class="col-lg-2">
                    <b style="color: maroon; font-size: 17px;">No of days</b>
                    <br />
                    <label id="lblNoofdays" style="color: rgb(0, 0, 0);"></label>

                </div>


            </div>


        </div>
        <div id="accordion">


            <uib-tabset active="active">
                <uib-tab index="0" heading="Incoming Call" style="padding-left:16%;">
                    <div>
                        <br>
                        <ul>
                            <li class="clearfix">
                                <label class="pop_label_left">Call received from </label>
                                <div class="pop_controls_right">


                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktreceivedfrom" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Relation name  </label>
                                <div class="pop_controls_right">
                                    <input id="txtmrktRelationname" type="text" class="form-control required"></input>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Call result </label>
                                <div class="pop_controls_right">
                                    <!--<select id="" class="chosen required" style="width: 481px;">
                                                    <option value="0">-- Select --</option>
                                                    <option value="417" selected="selected">Successfull</option>
                                                    <option value="418">UnSuccessfull</option>
                                                </select>-->

                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktCallresult" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>

                            <li class="clearfix">
                                <label class="pop_label_left">Call telephone number </label>
                                <div class="pop_controls_right">
                                    <input type="text" id="txtmrktCalltelephonenumber" class="form-control" maxlength="12" onkeydown="return (((event.keyCode == 8) || (event.keyCode == 46) || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)));"
                                    />
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Reply Type </label>
                                <div class="pop_controls_right select-box-my">

                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktReplyType" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Call discussion </label>
                                <div class="pop_controls_right">
                                    <textarea type="text" id="txtmrktCalldiscussionin" class="form-control"></textarea>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left Notrequired">Display to customer </label>
                                <div class="pop_controls_right pop_radios_list">
                                    <!--<label class="radio">
                                                    <input type="radio" name="displaycustomermrkt" value="1">&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="radio">
                                                        <input type="radio" name="displaycustomermrkt" checked value="0">&nbsp;&nbsp;No</label>-->
                                    <md-radio-group ng-required="true" name="rbtnPaymode" layout="row" ng-model="page.model.PiObj.rbtnPaymode" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                        <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                        <md-radio-button value="2"> No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </li>
                        </ul>

                        <br />
                        <div class="row">

                            <div class="col-lg-6">
                                <button type="button" value="Submit" id="btnmrktsubmitIncoming" class="button_custom pull-right" onclick="return submitInCalls(this);">Incoming Call</button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" id="btnIncomeAssignme" class="button_custom" onclick="return submitInCalls(this);" style="display: none; float: left; margin-right: 20px;">Incomg Call & Assign me</button>
                                <button type="button" class="button_custom button_custom_reset" onclick='modalpopupopen.close()'>Close</button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Outgoing Call">
                    <div>
                        <br>
                        <ul>

                            <li class="clearfix">
                                <label class="pop_label_left">Call received by </label>
                                <div class="pop_controls_right select-box-my">

                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktreceivedby" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Relation name  </label>
                                <div class="pop_controls_right">
                                    <input id="txtmrktRelationnameout" type="text" class="form-control" />
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Call result </label>
                                <div class="pop_controls_right">
                                    <!--<select id="" class="chosen" style="width: 481px;">
                                                    <option value="0">-- Select --</option>
                                                    <option value="417" selected="selected">Successfull</option>
                                                    <option value="418">UnSuccessfull</option>
                                                </select>-->



                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktcallresultout" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>

                            <li class="clearfix">
                                <label class="pop_label_left">Call telephone number </label>
                                <div class="pop_controls_right">
                                    <input id="txtmrktCalltelephonenumberout" type="text" class="form-control" maxlength="12" onkeydown="return (((event.keyCode == 8) || (event.keyCode == 46) || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)));"
                                    />
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Reply Type </label>
                                <div class="pop_controls_right select-box-my">


                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktreplytypeout" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Call discussion </label>
                                <div class="pop_controls_right">
                                    <textarea id="txtmrktCalldiscussionout" type="text" class="form-control"></textarea>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left Notrequired">Display to customer </label>
                                <div class="pop_controls_right pop_radios_list">
                                    <!--<label class="radio">
                                                    <input name="displaycustomeroutmrkt" value="1" type="radio">&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="radio">
                                                        <input name="displaycustomeroutmrkt" value="0" checked type="radio">&nbsp;&nbsp;No</label>-->
                                    <md-radio-group ng-required="true" name="rbtnPaymode" layout="row" ng-model="page.model.PiObj.rbtnPaymode" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                        <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                        <md-radio-button value="2"> No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </li>
                        </ul>
                        <br />



                        <div class="row">

                            <div class="col-lg-6">
                                <button type="button" value="Submit" id="btnmrktoutgng" class="button_custom pull-right" onclick="return submitOutCalls(this);">Outgoing Call</button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" id="btnOutgngAssignme" value="Submit" class="button_custom" onclick="return submitOutCalls(this);" style="display: none; float: left; margin-right: 20px;">Outgoing Call & Assign me</button>
                                <button type="button" class="button_custom button_custom_reset" data-dismiss="modal" onclick='modalpopupopen.close()'>Close</button>&nbsp;
                            </div>

                        </div>


                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Internal Memo">

                    <div>
                        <br>
                        <ul>
                            <li class="clearfix">
                                <label class="pop_label_left">Assign/Re-assign </label>
                                <div class="pop_controls_right select-box-my">
                                    <!--<select id="ddlmrktempmemo" class="EmpnameswithNoCondition">
                                                </select>-->
                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktcallresultout" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>

                            <li class="clearfix">
                                <label class="pop_label_left">Reply Type  </label>
                                <div class="pop_controls_right select-box-my">
                                    <!--<select id="ddlmrktreplytypememo" class="BothsideEmail" onchange="return bindCalldiscussion('txtmrktmemocalldiscussion','ddlmrktreplytypememo');">
                                                </select>-->
                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktcallresultout" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Enter memo  </label>
                                <div class="pop_controls_right">
                                    <textarea id="txtmrktmemocalldiscussion" type="text" class="form-control"></textarea>
                                </div>
                            </li>
                        </ul>
                        <br />


                        <div class="row">

                            <div class="col-lg-6">
                                <button type="button" value="Submit" class="button_custom pull-right" onclick="return submitMemo(this);">Internal Memo</button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" id="btnIMAssignme" value="Submit" class="button_custom" onclick="return submitMemo(this);" style="display: none; float: left; margin-right: 20px;">Internal Memo & Assign me</button>

                                <button type="button" class="button_custom button_custom_reset" data-dismiss="modal">Close</button>&nbsp;
                            </div>

                        </div>


                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Close Ticket">

                    <div>
                        <br>
                        <ul>
                            <li class="clearfix">
                                <label class="pop_label_left">Reply Type </label>
                                <div class="pop_controls_right select-box-my">
                                    <!--<select id="ddlmrktreplytypeCloseticket" class="BothsideEmail" onchange="return bindCalldiscussion('txtmrktclosecalldiscusn','ddlmrktreplytypeCloseticket');">
                                                </select>-->
                                    <select style="width: 70px;" class="smalldropdown" ng-model="ddlmrktcallresultout" multiselectdropdown typeofdata="'Ageselect'">   
                                                     </select>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pop_label_left">Reason for close </label>
                                <div class="pop_controls_right">
                                    <textarea type="text" id="txtmrktclosecalldiscusn" class="form-control"></textarea>
                                </div>
                            </li>

                        </ul>
                        <br />
                        <div class="row">
                            <div class="col-lg-offset-6 col-lg-3">
                                <button type="button" value="Submit" class="button_custom pull-right" onclick="return submitCloseTicket();">Close Ticket</button>
                            </div>
                            <div class="col-lg-2">
                                <button type="button" class="button_custom button_custom_reset pull-right" data-dismiss="modal">Cancel</button>&nbsp;
                            </div>

                        </div>
                    </div>
                </uib-tab>

            </uib-tabset>


        </div>
    </div>


</script>