<div class="row container">
    <ul>
        <div class="row">
            <div class="col-lg-6" style="border-radius: 20px; border-right: 1px solid maroon;">
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-1">
                        <div>
                            <div class="text-center"></div>
                            <div> <img src="{{slide.BrideProfileOwnerUrl}}" class="center-block" height="57px" width="57px"></div>
                            <div class="row ng-binding">{{slide.BrideProfileOwner+'-'+slide.BcustomerOwnerMobile}}</div>
                        </div><br>
                    </div>
                    <div class="col-lg-8 infoCls">

                        <img ng-click="slidepopup(slide.BrideCust_ID)" style="min-width:160px;min-height:160px;width:160px" class="img-thumbnail" role="button" tabindex="0" src="{{slide.BApplicationPhotoPath}}">
                        <div> <br>
                            <div class="row">
                                <div class="col-lg-10"><b>{{slide.BrideProfileName}}<b ><a href="javascript:void(0)" ng-click="model.viewProfileRedirect(slide.BrideProfileID);" >({{slide.BrideProfileID}})</a></b></b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"><b class="maroon" style="font-size: 15px;">Mobile  :</b> </div>
                                <div class="col-lg-9 text-left"><b>{{slide.BrideNumber}}</b></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"><b class="maroon" style="font-size: 15px;">Email  :</b> </div>
                                <div class="col-lg-9 text-left"><b>{{slide.BrideEmail}}</b></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"><b class="maroon" style="font-size: 15px;">Status  :</b> </div>
                                <div class="col-lg-9 text-left"><b>{{slide.BStatus}}</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            <div class="col-lg-6" style="border-radius: 20px; border-left: 1px solid maroon;">
                <div class="row">
                    <div class="col-lg-7 col-lg-push-1 infoCls">

                        <img id="tocustimg" ng-click="slidepopup(slide.GroomCust_ID)" style="min-width:160px;min-height:160px;width:160px" src="{{slide.GApplicationPhotoPath}}" alt="" class="center-block img-thumbnail" role="button" tabindex="0">
                        <div> <br>
                            <div class="row">
                                <div class="col-lg-10"><b>{{slide.GroomProfileName}}   (<b ><a href="javascript:void(0)" ng-click="model.viewProfileRedirect(slide.GroomProfileID);" >{{slide.GroomProfileID}}</a>)</b></b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"><b class="maroon" style="font-size: 15px;"> Mobile:</b> </div>
                                <div class="col-lg-9 text-left"><b>{{slide.GroomNumber}}</b></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"><b class="maroon" style="font-size: 15px;">Email:</b> </div>
                                <div class="col-lg-9 text-left"><b>{{slide.GroomEmail}}</b></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"><b class="maroon" style="font-size: 15px;">Status:</b> </div>
                                <div class="col-lg-9 text-left"><b>{{slide.GStatus}}</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3  col-lg-push-1">
                        <div>
                            <div class="text-center"></div>
                            <div> <img src="{{slide.GroomProfileOwnerUrl}}" class="center-block" height="57px" width="57px"></div>
                            <div class="row">{{slide.GroomProfileOwner+'-'+slide.GcustomerOwnerMobile}}</div>
                        </div><br>
                    </div>
                </div>
                <br>
            </div>
            <br>
        </div>
        <br>
        <div class="bordercls"></div>
        <div class="text-left lastdivcls">
            <div class="row">
                <div class="col-lg-5">
                    <label for="matchmeetingDate" class="maroon" style="font-size: 15px;">Meeting Date</label>
                    <label for="matchmeetingDate">{{slide.MeetingDate}}</label>
                </div>
                <div class="col-lg-6">
                    <label for="matchmeetingDate" class="maroon" style="font-size: 15px;">MatchMeeting Arranged by</label>
                    <label for="matchmeetingDate">{{slide.arrangedby}}</label>
                </div>
            </div>
            <div>
                <label for="matchmeetingDate" class="maroon" style="font-size: 15px;">Description</label>
                <label for="matchmeetingDate">{{slide.MeetingNotes}}</label>
            </div>
        </div>
    </ul>
</div>