<div id="matchfollowupdiv">
    <br>
    <div>
        <div class="row container">
            <ul>
                <div class="col-lg-6" style="border-radius: 20px; border-right: 1px solid maroon;">
                    <div>
                        <div class="row">
                            <div class="col-lg-3 col-lg-offset-1">
                                <div>
                                    <div class="text-center"></div>
                                    <div> <img src="{{slide.fromemp}}" class="center-block" height="57px" width="57px"></div>
                                    <div class="row">{{slide.fromempname}}-</div>
                                </div><br>
                                <div class="clearfix"><button type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.openSmsMail('sms',slide.FromName,slide.FromProfileid,slide.FromEmail,slide.FromMobileNumber,slide.FromMobileCountryCode,slide.FromTicket,slide.fromempname);">Send Sms</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.openSmsMail('mail',slide.FromName,slide.FromProfileid,slide.FromEmail,undefined,undefined,slide.FromTicket,undefined,slide.fromcust_id,slide.tocustid,slide.FromticketStatusIDb,slide.Toprofileid);">Send Email</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-class="{'maroon linkDisable':slide.FromSaPath===''}" ng-click="model.Settlementfom(slide.FromSaPath);">{{slide.FromSaPath!==''?'View SA Form':'No SA Form'}}</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.redirectContactPage(slide.fromcust_id);">View Contacts</button></div>
                                <div class="clearfix"></div><br>
                                <!-- <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.sendNumbers(slide.fromcust_id,slide.tocustid);">Send Numbers</button></div> -->
                                <div class="clearfix"> <button style="color: #c72828;border-color: #d01212;" type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.skipthisprofile(slide,slide.fromcust_id,slide.tocustid,slide.Expressinterestlogid,'NI','From');"
                                        ng-if="slide.FromTicket===null || slide.FromTicket==='' || slide.FromTicket===undefined">Skip This Profile</button></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-7 col-lg-offset-1">
                                <div style="padding-bottom: 5px;"> <br><a ng-show="model.ProceededProfiles(slide.FRomSerivceCount,slide.fromempname);" href="javascript:void(0);" ng-click="model.serviceCountProfiles(slide.fromcust_id);"> Proceed Other Profiles</a> </div>
                                <img ng-click="slidepopup(slide.fromcust_id)" style="min-width:250px;min-height:250px;" ng-src="{{slide.FromApplicationPhoto}}" class="img-thumbnail" style="border: 1px solid gray;">
                                <div class="text-center"> <br>
                                    <div class="row">
                                        <div class="col-lg-10"><b>{{slide.FromName}}(<b><a href="javascript:void(0)" ng-class="slide.FromPaidStatus===1?'paidclass':'unpaid'" ng-click="model.viewProfileRedirect(slide.FromProfileid);">{{slide.FromProfileid}}</a> - {{slide.FromBranchCode}})</b></b>
                                        </div>
                                        <div class="col-lg-2" ng-if="slide.FromticketStatusIDb.trim()==='I' || slide.FromticketStatusIDb.trim()==='I'"><img ng-src="{{model.proceedImage(slide.FromticketStatusIDb)}}" style="width:28px;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Mobile:</b> </div>
                                        <div class="col-lg-9"><b class="" ng-bind-html="model.bindmobilehtml(slide.fromIsconfidential,slide.fromHighconfidential,slide.FromEmpownerid,slide.FromMobileNumber,slide.fromEmpmobilenumber)"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Email:</b> </div>
                                        <div class="col-lg-9"><b class="">{{slide.FromEmail}}</b></div>
                                    </div>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-6"> <b class="maroon">Service Date</b> <b class="row">{{slide.ServiceDate}}</b></div>
                                        <div class="col-lg-6"> <b class="maroon">Proceed Date </b> <b class="row">{{slide.FromTicketCreated}}</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-lg-offset-1  ticketHistryClsleft">
                                <tickethistry-infm strtype="slide.FromTicketHisoryType" strdate="slide.FromTicketInfo" strempname="slide.FromTicketHisoryNAME" strstatus="slide.FromTicketHisoryCallStatus" strcustname="slide.FromTicketHisoryCallReceivedBy" strcomments="slide.FromTicketHisoryReplyDesc"
                                    strrelationship="slide.FromTicketHisoryRelationShip"></tickethistry-infm>
                            </div>
                        </div>
                        <br>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="col-lg-offset-1">
                        <div ng-class="slide.FromTicket!==null && slide.FromTicket!==''?'col-lg-5 col-lg-offset-1':'col-lg-4'">
                            <div  style="float: left;" class="row" ng-if="slide.FromTicket!==null && slide.FromTicket!==''">
                                <label>{{slide.fromempname}}</label>
                            </div>
                            <div class="clearfix"></div>
                            <button style="float: left;" type="button" ng-if="slide.FromTicket!==null && slide.FromTicket!==''" ng-class="model.classbtnlogin(slide.FromEmpownerid)" class="btn btn-success-outline" ng-click="model.openActionPopup(slide.ToTicket,slide.FromProfileid,slide.FromMobileNumber,slide.fromcust_id, slide.tocustid, slide.ToticketStatusIDb.trim(), slide.Toprofileid,slide.ToName,slide.togenderid,slide.FromName,slide.FromEmail,slide,'from',slide.TOEmail);">{{slide.fromticketid}}</button>
                            <span ng-if="slide.FromTicket!==null && slide.FromTicket!==''" class="glyphicon glyphicon-chevron-right" style=" margin-top: 7px;margin-left: -25px;font-size: 22px;"></span>
                            <button type="button" ng-if="slide.FromTicket===null || slide.FromTicket===''" class="btn btn-success-outline" ng-disabled="model.isDisabledsubmit" ng-click="model.isDisabledsubmit=true;model.Resendmail(slide.fromcust_id,slide.tocustid,slide.FromProfileid,slide.Toprofileid,slide.FromOfflineExpiryDate,slide.FromOnlineMembershipExpiryDate);">{{slide.ISRvrSend === 1 ? 'Resend Email' : 'Rvr Send'}}</button>
                            <br>
                            <label  style="float: left;">{{slide.FromName}}</label>
                        </div>
                        <div ng-class="slide.FromTicket!==null && slide.FromTicket!==''?'col-lg-6':'col-lg-8'">
                            <div ng-if="slide.FromTicket===null || slide.FromTicket===''" style="color:maroon">
                                {{slide.FromExpiryDate?'Expires on '+(slide.FromExpiryDate|date:'dd MMM yyyy') :''}}
                                <br>Paid Status : {{slide.FromPaidStatus===1?'Paid':'Unpaid'}}

                            </div>
                            <button type="button" ng-if="slide.FromTicket!==null && slide.FromTicket!==''" popover-is-open="model.frompopoverIsOpen" ng-disabled="model.isDisabledsubmit" ng-click="model.histryPopover(slide.FromTicket,'H','from');" popover-trigger="outsideClick" uib-popover-template="'fromPopoverTemplate.html'"
                                class="btn btn-success-outline">Ticket history</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="border-radius: 20px; border-left: 1px solid maroon;">
                    <div>
                        <div class="row">
                            <div class="col-lg-7 col-lg-push-1">
                                <div style="padding-bottom: 5px;"> <br><a ng-show="model.ProceededProfiles(slide.ToSerivceCount,slide.toempname);" href="javascript:void(0);" ng-click="model.serviceCountProfiles(slide.tocustid);"> Proceed Other Profiles</a> </div>
                                <img id="tocustimg" ng-click="slidepopup(slide.tocustid)" style="min-width:250px;min-height:250px;" ng-src="{{slide.ToApplicationPhoto}}" alt="" class="center-block img-thumbnail" style="border: 1px solid gray;">
                                <div class="text-center"> <br>
                                    <div class="row">
                                        <div class="col-lg-10"><b>{{slide.ToName}}    (<b><a href="javascript:void(0)" ng-click="model.viewProfileRedirect(slide.Toprofileid);" ng-class="slide.ToPaidStatus===1?'paidclass':'unpaid'">{{slide.Toprofileid}}</a> - {{slide.ToBranchCode}})</b></b>
                                        </div>
                                        <div class="col-lg-2" ng-if="slide.ToticketStatusIDb.trim()==='I' || slide.ToticketStatusIDb.trim()==='I'"><img ng-src="{{model.proceedImage(slide.ToticketStatusIDb)}}" style="width:28px;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Mobile:</b> </div>
                                        <div class="col-lg-9"><b class="" ng-bind-html="model.bindmobilehtml(slide.toIsconfidential,slide.toHighconfidential,slide.ToEmpownerid,slide.ToMobileNumber,slide.toEmpmobilenumber)"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Email:</b> </div>
                                        <div class="col-lg-9"><b class="">{{slide.TOEmail}}</b></div>
                                    </div>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-6"> <b class="maroon">Service Date</b> <b class="row">{{slide.ServiceDate}}</b></div>
                                        <div class="col-lg-6"> <b class="maroon">Proceed Date </b> <b class="row">{{slide.ToTicketCreated}}</b></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-lg-push-1">
                                <div>
                                    <div class="text-center"></div>
                                    <div> <img src="{{slide.toemp}}" class="center-block" height="57px" width="57px"></div>
                                    <div class="row">{{slide.toempname}}</div>
                                </div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.openSmsMail('sms',slide.ToName,slide.Toprofileid,slide.TOEmail,slide.ToMobileNumber,slide.ToMobileCountryCode,slide.ToTicket,slide.toempname);">Send Sms</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.openSmsMail('mail',slide.ToName,slide.Toprofileid,slide.TOEmail,undefined,undefined,slide.ToTicket,undefined,slide.tocustid,slide.fromcust_id,slide.ToticketStatusIDb,slide.FromProfileid);">Send Email</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-class="{ 'linkDisable maroon':slide.ToSaPath ===''}" ng-click="model.Settlementfom(slide.ToSaPath);">   {{slide.ToSaPath!==''?'View SA Form':'No SA Form'}}</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.redirectContactPage(slide.tocustid);">View Contacts</button></div>
                                <div class="clearfix"></div><br>
                                <!-- <div class="clearfix"> <button type="button" class="btn btn-success-outline row sidebuttons" ng-click="model.sendNumbers(slide.tocustid,slide.fromcust_id);">Send Numbers</button></div> -->
                                <div class="clearfix"> <button type="button" style="color: #c72828;border-color: #d01212;" class="btn btn-success-outline row sidebuttons" ng-if="slide.ToTicket===null || slide.ToTicket==='' || slide.ToTicket===undefined" ng-click="model.skipthisprofile(slide,slide.tocustid,slide.fromcust_id,slide.Expressinterestlogid,'NI','To');">Skip This Profile</button></div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 ticketHistryCls">
                            <tickethistry-infm strtype="slide.ToTicketHisoryType" strdate="slide.ToTicketInfo" strempname="slide.ToTicketHisoryNAME" strstatus="slide.ToTicketHisoryCallStatus" strcustname="slide.ToTicketHisoryCallReceivedBy" strcomments="slide.ToTicketHisoryReplyDesc"
                                strrelationship="slide.ToTicketHisoryRelationShip"></tickethistry-infm>
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        <div ng-class="slide.ToTicket!==null && slide.ToTicket!==''?'col-lg-6':'col-lg-4'">
                            <div class="row"  ng-if="slide.ToTicket!==null && slide.ToTicket!==''">
                                <label>{{slide.toempname}}</label>
                                <br>
                            </div>
                            <span style=" margin-top: 7px;margin-left: -25px;font-size: 22px;float:left;" ng-if="slide.ToTicket!==null && slide.ToTicket!==''" class="glyphicon glyphicon-chevron-left" ></span>
                            <button type="button" ng-if="slide.ToTicket!==null && slide.ToTicket!==''" ng-class="model.classbtnlogin(slide.ToEmpownerid)" class="btn btn-success-outline" ng-click="model.openActionPopup(slide.FromTicket,slide.Toprofileid,slide.ToMobileNumber, slide.tocustid, slide.fromcust_id,slide.FromticketStatusIDb.trim(), slide.FromProfileid,slide.FromName,slide.fromgenderid,slide.ToName,slide.TOEmail,slide,'to',slide.FromEmail);">{{slide.Toticketid}}</button>
                          
                           
                            <button type="button" ng-if="slide.ToTicket===null || slide.ToTicket===''" class="btn btn-success-outline" ng-disabled="model.isDisabledsubmit" ng-click="model.isDisabledsubmit=true;model.Resendmail(slide.tocustid,slide.fromcust_id,slide.Toprofileid,slide.FromProfileid,slide.ToOfflineExpiryDate,slide.ToonlineExpiryDate);">{{slide.ISRvrSend === 1 ? 'Resend Email' : 'Rvr Send'}}</button>
                            <br>
                            <label  >{{slide.ToName}}</label>
                        </div>
                        <div ng-class="slide.ToTicket!==null && slide.ToTicket!==''?'col-lg-6':'col-lg-8'">
                            <div ng-if="slide.ToTicket===null || slide.ToTicket===''" style="color:maroon">
                                {{slide.ToExpiryDate?'Expires on '+slide.ToExpiryDate:''}}
                                <br>Paid Status : {{slide.ToPaidStatus===1?'Paid':'Unpaid'}}
                            </div>
                            <button type="button" ng-if="slide.ToTicket!==null && slide.ToTicket!==''" popover-is-open="model.topopoverIsOpen" ng-disabled="model.isDisabledsubmit" ng-click="model.histryPopover(slide.ToTicket,'H','to');" popover-trigger="outsideClick" uib-popover-template="'ToPopoverTemplate.html'"
                                class="btn btn-success-outline">Ticket history</button>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template" id="fromPopoverTemplate.html">
    <div class="row popoverheader">
        <div class="text-center row">
            <h4 class="col-lg-10">Ticket History</h4>
            <a href="javascript:void(0);" ng-click="model.frompopoverIsOpen=false" class="pull-right col-lg-2">
                <span class="fa fa-close red"></span>
            </a>
        </div>
        <br>
        <div class="popovercls">
            <div ng-repeat="item in model.ticketHistryArr" ng-class-odd="'odd'">
                <tickethistry-infm strtype="item.TicketType" strdate="item.TicketInfo" strempname="item.EmployeeName" strstatus="item.CallResult" strcustname="item.RelationName" strcomments="item.Body" strrelationship="item.Relation"></tickethistry-infm>
                <br>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="ToPopoverTemplate.html">
    <div class="row">
        <div class="text-center row">
            <h4 class="col-lg-10">Ticket History</h4>
            <a href="javascript:void(0);" ng-click="model.topopoverIsOpen=false" class="pull-right col-lg-2">
                <span class="fa fa-close red"></span>
            </a>
        </div>
        <br>
        <div class="popovercls">
            <div ng-repeat="item in model.ToticketHistryArr" ng-class-odd="'odd'">
                <tickethistry-infm strtype="item.TicketType" strdate="item.TicketInfo" strempname="item.EmployeeName" strstatus="item.CallResult" strcustname="item.RelationName" strcomments="item.Body" strrelationship="item.Relation"></tickethistry-infm>
                <br>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="Actions.html">
    <button type="button" style="margin-right: 4px;font-size: 37px;" class="close pull-right" ng-click="page.model.closeAction();">&times;</button>
    <div class="jumbotron text-center" style="background-color: rgb(254, 220, 1); color: white; padding-top: 2px; padding-bottom: 4px;">
        <div class="row">
            <div class="col-lg-2">
                <b style="color: maroon; font-size: 17px;">TicketID:</b>
                <br />
                <label id="lblmrktTicketID" style="color: rgb(0, 0, 0);">{{page.model.infnArr.Ticket}}</label>
            </div>
            <div class="col-lg-2">
                <b style="color: maroon; font-size: 17px;">Status</b>
                <br />
                <label id="lblmrktStatus" style="color: rgb(0, 0, 0);">{{page.model.infnArr.TicketStatus}}</label>
            </div>
            <div class="col-lg-3">
                <b style="color: maroon; font-size: 17px;">Opened on</b>
                <br />
                <label id="lblmrktOpened" style="color: rgb(0, 0, 0);">{{page.model.infnArr.TicketCreatedDate}}</label>
            </div>
            <div class="col-lg-2">
                <b style="color: maroon; font-size: 17px;">Assigned to</b>
                <br />
                <label id="lblmrktAssigned" style="color: rgb(0, 0, 0);">{{page.model.infnArr.TicketOwner}}</label>
            </div>
            <div class="col-lg-2">
                <b style="color: maroon; font-size: 17px;">No of days</b>
                <br />
                <label id="lblNoofdays" style="color: rgb(0, 0, 0);">{{page.model.infnArr.HistoryLastUpdated}}</label>
            </div>
        </div>
    </div>
    <div id="accordion" style="margin-top: -15px;">
        <div class="col-lg-12">
            <!-- <label>Name : {{page.model.selfname}}</label> -->
            <!-- <label style="color: #ea1d1d;font-size: 18px;font-weight: 900;">|</label> -->
            <label ng-bind-html="page.model.headertextpop"></label>
        </div>
        <uib-tabset active="page.model.activetab">
            <uib-tab ng-click="page.model.clearalltext()" index="0" heading="Incoming Call" style="padding-left:16%;">
                <div>
                    <form name="inform" novalidate role="form" ng-submit="inform.$valid && page.model.inCallsSubmit(page.model.actobj);">
                        <br>
                        <ul>
                            <div class="col-lg-12">
                                <li class="col-lg-6 form-group">
                                    <label class="pop_label_lefts">Call received from </label>
                                    <div class="pop_controls_right input-group">
                                        <select class="smalldropdown" name="ddlInreceivedfrom" ng-change="page.model.RelationshipChange(page.model.actobj.ddlInreceivedfrom,'In');" ng-model="page.model.actobj.ddlInreceivedfrom" multiselectdropdown typeofdata="'childStayingWith'" required>   
                                    </select>
                                    </div>
                                </li>
                                <li class="col-lg-6 form-group">
                                    <label class="pop_label_left">Relation name  </label>
                                    <div class="pop_controls_right">
                                        <input ng-model="page.model.actobj.txtInRelationname" type="text" class="form-control required" required></input>
                                    </div>
                                </li>
                            </div>
                            <div class="col-lg-12">
                                <li class="col-lg-6 form-group">
                                    <label class="pop_label_lefts">Call result </label>
                                    <div class="pop_controls_right input-group">
                                        <select class="smalldropdown" ng-model="page.model.actobj.ddlInCallresult" multiselectdropdown required>   
                                          <option value="">-- Select --</option>
                                          <option value="417">Successfull</option>
                                          <option value="418">UnSuccessfull</option>
                                    </select>
                                    </div>
                                </li>
                                <li class="col-lg-6 form-group">
                                    <label class="pop_label_left">Call telephone number </label>
                                    <div class="pop_controls_right">
                                        <input type="text" required ng-model="page.model.actobj.txtInCalltelephonenumber" class="form-control" maxlength="12" onkeydown="return (((event.keyCode == 8) || (event.keyCode == 46) || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)));"
                                        />
                                    </div>
                                </li>
                            </div>
                            <div class="col-lg-12" style="line-height: 36px;">
                                <li class="col-lg-12">
                                    <label class="col-lg-2 pop_label_leftss">Reply Type</label>
                                    <div class="col-lg-5" style="">
                                        <md-radio-group ng-required="true" name="rbtnReplyType" ng-change="page.model.NotIntrstChnge(page.model.actobj.rbtnReplyType,'In');" layout="row" ng-model="page.model.actobj.rbtnReplyType" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                            <md-radio-button value="1" class="md-primary">Interested</md-radio-button>
                                            <md-radio-button value="0"> Not Interested</md-radio-button>
                                            <md-radio-button value="2">Pending</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <label class="col-lg-2 pop_label_leftss  Notrequired" style="margin-left:-4%;">DisplayToCustomer </label>
                                    <div class="col-lg-2 input-group">
                                        <md-radio-group ng-required="true" name="rbtnInDisplay" layout="row" ng-model="page.model.actobj.rbtnInDisplay" class="md-block" flex-gt-sm>
                                            <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                            <md-radio-button value="0"> No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </li>
                                <div class="clearfix"></div>
                            </div>



                            <div class="col-lg-12">
                                <li class="col-lg-12 form-group">
                                    <label class="pop_label_lefts" style="width: 19%;">FollowUpTicket</label>
                                    <div class="col-lg-9 input-group" style="margin-top:10px;">
                                        <md-radio-group ng-required="true" name="rbtnFollowUpTicket"  layout="row" ng-model="page.model.actobj.rbtnFollowUpTicket" class="md-block" flex-gt-sm>
                                            <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                            <md-radio-button value="0"> No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </li>
                            </div>

                            <div class="col-lg-12">
                                <li class="col-lg-12 form-group">
                                    <label class="pop_label_lefts" style="width:17%;">Call discussion</label>
                                    <div class="col-lg-9">
                                        <textarea type="text" rows="4" ng-model="page.model.actobj.txtInCalldiscussion" class="form-control" ng-required="page.model.actobj.rbtnReplyType==='0'?true:false"></textarea>
                                    </div>
                                </li>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </ul>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" value="Submit" class="button_custom pull-right" ng-disabled="page.model.isDisabledsubmit">{{page.model.incommingbtntext}}</button>
                            </div>
                            <div class="col-lg-6" ng-if="false">
                                <button type="button" class="button_custom button_custom_reset" ng-click="page.model.closeAction();">Close</button>
                            </div>
                            <br />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <br />
                    </form>
                </div>
            </uib-tab>
            <uib-tab ng-click="page.model.clearalltext()" index="1" heading="Outgoing Call">
                <div>
                    <form name="outform" novalidate role="form" ng-submit="outform.$valid && page.model.outCallsSubmit(page.model.actobj);">
                        <br>
                        <ul>
                            <div class="col-lg-12">
                                <li class="col-lg-6 form-group">
                                    <label class="pop_label_lefts">Call received by </label>
                                    <div class="pop_controls_right input-group">
                                        <select ng-change="page.model.RelationshipChange(page.model.actobj.ddlOutreceivedby,'Out');" ng-model="page.model.actobj.ddlOutreceivedby" multiselectdropdown typeofdata="'childStayingWith'" required>   
                                     </select>
                                    </div>
                                </li>
                                <li class="col-lg-6 form-group">
                                    <label class="pop_label_left">Relation name  </label>
                                    <div class="pop_controls_right">
                                        <input ng-model="page.model.actobj.txtOutRelationname" type="text" class="form-control" required/>
                                    </div>
                                </li>
                            </div>
                            <div class="col-lg-12">
                                <li class="col-lg-6 form-group">
                                    <label class="pop_label_lefts">Call result </label>
                                    <div class="pop_controls_right input-group">
                                        <select ng-model="page.model.actobj.ddlOutcallresultout" multiselectdropdown required>   
                                          <option value="0">-- Select --</option>
                                           <option value="417" >Successfull</option>
                                           <option value="418">UnSuccessfull</option>
                                     </select>
                                    </div>
                                </li>

                                <li class="col-lg-6 form-group">
                                    <label class="pop_label_left">Call telephone number </label>
                                    <div class="pop_controls_right">
                                        <input ng-model="page.model.actobj.txtOutCalltelephonenumber" type="text" class="form-control" maxlength="12" onkeydown="return (((event.keyCode == 8) || (event.keyCode == 46) || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)));"
                                            required/>
                                    </div>
                                </li>
                            </div>
                            <div class="col-lg-12" style="line-height: 36px;">
                                <li class="col-lg-12">
                                    <label class="col-lg-2 pop_label_leftss">Reply Type</label>
                                    <div class="col-lg-5" style="">
                                        <md-radio-group ng-required="true" name="rbtnReplyTypeout" ng-change="page.model.NotIntrstChnge(page.model.actobj.rbtnReplyTypeout,'Out');" layout="row" ng-model="page.model.actobj.rbtnReplyTypeout" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                            <md-radio-button value="1" class="md-primary">Interested</md-radio-button>
                                            <md-radio-button value="0"> Not Interested</md-radio-button>
                                            <md-radio-button value="2">Pending</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <label class="col-lg-2 pop_label_leftss  Notrequired" style="margin-left:-4%;">DisplayToCustomer </label>
                                    <div class="col-lg-2 input-group">
                                        <md-radio-group ng-required="true" name="rbtnOutDisplay" layout="row" ng-model="page.model.actobj.rbtnOutDisplay" class="md-block" flex-gt-sm>
                                            <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                            <md-radio-button value="0"> No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </li>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="col-lg-12">
                                <li class="col-lg-12 form-group">
                                    <label class="pop_label_lefts" style="width: 19%;">FollowUpTicket</label>
                                    <div class="col-lg-9 input-group" style="margin-top:10px;">
                                        <md-radio-group ng-required="true" name="rbtnFollowUpTicketout"  layout="row" ng-model="page.model.actobj.rbtnFollowUpTicketout" class="md-block" flex-gt-sm>
                                            <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                            <md-radio-button value="0"> No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </li>
                            </div>
                            <div class="col-lg-12">
                                <li class="col-lg-12 form-group">
                                    <label class="pop_label_lefts" style="width:17%;">Call discussion </label>
                                    <div class="col-lg-9">
                                        <textarea type=text rows="4" ng-model="page.model.actobj.txtOutCalldiscussion" class="form-control" required></textarea>
                                    </div>
                                </li>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </ul>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" value="Submit" class="button_custom pull-right" ng-disabled="page.model.isDisabledsubmit">{{page.model.outgoingcallbtntext}}</button>
                            </div>
                            <div class="col-lg-6" ng-if="false">
                                <button type="button" class="button_custom button_custom_reset" data-dismiss="modal" ng-click="page.model.closeAction();">Close</button>&nbsp;
                            </div>
                            <br />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <br />
                    </form>
                </div>
            </uib-tab>
            <uib-tab ng-if="false" ng-click="page.model.clearalltext('internal')" index="2" heading="Internal Memo">
                <div>
                    <form name="memoform" novalidate role="form" ng-submit="memoform.$valid && page.model.memoSubmit(page.model.actobj);">
                        <br>
                        <ul>
                            <div class="col-lg-12">
                                <li class="col-lg-12 form-group">
                                    <label class="pop_label_lefts" style="width: 18%;">Reply Type  </label>
                                    <div class="col-lg-9 input-group" style="margin-top:10px;">
                                        <md-radio-group ng-required="true" name="rbtnReplyTypememo" ng-change="page.model.NotIntrstChnge(page.model.actobj.rbtnReplyTypememo,'memo');" layout="row" ng-model="page.model.actobj.rbtnReplyTypememo" class="md-block" flex-gt-sm>
                                            <md-radio-button value="1" class="md-primary">Interested</md-radio-button>
                                            <md-radio-button value="0"> Not Interested</md-radio-button>
                                            <md-radio-button value="2">Pending</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </li>
                            </div>
                            <div class="col-lg-12">
                                <li class="col-lg-12 form-group">
                                    <label class="pop_label_lefts" style="width: 18%;">Enter memo  </label>
                                    <div class="col-lg-9">
                                        <textarea rows="4" ng-model="page.model.actobj.txtMemmemocalldiscussion" type="text" class="form-control" required></textarea>
                                    </div>
                                </li>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </ul>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" value="Submit" class="button_custom pull-right" ng-disabled="page.model.isDisabledsubmit">{{page.model.internalmemobtntext}}</button>
                            </div>
                            <div class="col-lg-6" ng-if="false">
                                <button type="button" class="button_custom button_custom_reset" data-dismiss="modal" ng-click="page.model.closeAction();">Close</button>&nbsp;
                            </div>
                            <br />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <br />
                    </form>
                </div>
            </uib-tab>
            <uib-tab ng-if="false" ng-click="page.model.clearalltext()" index="3" heading="Close Ticket">
                <div>
                    <form name="closeform" novalidate role="form" ng-submit="closeform.$valid && page.model.closeSubmit(page.model.actobj);">
                        <br>
                        <ul>
                            <div class="col-lg-12">
                                <li class="col-lg-12 form-group">
                                    <label class="pop_label_lefts">Reply Type </label>
                                    <div class="col-lg-9 input-group">
                                        <md-radio-group ng-required="true" name="rbtnReplyTypeClose" ng-change="page.model.NotIntrstChnge(page.model.actobj.rbtnReplyTypeClose,'close');" layout="row" ng-model="page.model.actobj.rbtnReplyTypeClose" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                            <md-radio-button value="1" class="md-primary">Interested</md-radio-button>
                                            <md-radio-button value="0"> Not Interested</md-radio-button>
                                            <md-radio-button value="2">Pending</md-radio-button>
                                        </md-radio-group>

                                    </div>
                                </li>
                            </div>
                            <div class="col-lg-12">
                                <li class="col-lg-12 form-group">
                                    <label class="pop_label_lefts">Reason for close </label>
                                    <div class="col-lg-9">
                                        <textarea rows="4" type="text" ng-model="page.model.actobj.txtcloseReason" class="form-control" required></textarea>
                                    </div>
                                </li>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </ul>
                        <br />
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-3">
                                <button type="submit" class="button_custom pull-right" ng-disabled="page.model.isDisabledsubmit">Close Ticket</button>
                            </div>
                            <div class="col-lg-2" ng-if="false">
                                <button type="button" class="button_custom button_custom_reset pull-right" ng-click="page.model.closeAction();">Cancel</button>&nbsp;
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</script>
<script type="text/ng-template" id="sendsmsMail.html">
    <div class="modal-header">
        <a href="javascript:void(0);" class="pull-right" ng-click="page.model.closepopup();">
            <span class="fa fa-close red"></span>
        </a>
    </div>
    <div class="modal-body">
        <div class="row" id="smsdiv" ng-if="page.model.typeofmailSms=='sms'">
            <div class="col-lg-offset-1">
                <md-radio-group ng-required="true" name="rbtnsms" ng-change="page.model.smsOnchange(page.model.rbtnsms);" ng-model="page.model.rbtnsms" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                    <md-radio-button ng-repeat="item in page.model.smsarray" ng-value="item.id" class="md-primary">{{item.text}}</md-radio-button>
                </md-radio-group>

            </div>
        </div>
        <div class="row" id="sendmailtxtdiv" ng-if="page.model.typeofmailSms=='mail'">
            <div id="divcustnameemail" class="col-lg-offset-1">
                <div class="col-lg-12">
                    <label for="" class="control-label col-lg-4 maroon">Customer Name</label>
                    <label for="" class="control-label col-lg-8">{{page.model.custName}}</label>
                </div>
                <div class="col-lg-12">
                    <label for="" class="control-label col-lg-4 maroon">Email going to </label>
                    <label for="" class="control-label col-lg-8">{{page.model.custemail}}</label>
                </div>
            </div>
            <div class="col-lg-12">
                <br>
                <div class="col-lg-4">
                    <label class="control-label pull-right">Mail Type</label>
                </div>
                <div class="col-lg-8">
                    <md-radio-group ng-change="page.model.NotIntrstChnge(page.model.ddlmail,'mail');" layout="row" ng-model="page.model.ddlmail" class="md-block" flex-gt-sm>
                        <md-radio-button value="1" class="md-primary">Interested</md-radio-button>
                        <md-radio-button value="0"> Not Interested</md-radio-button>
                        <md-radio-button value="2">Pending</md-radio-button>
                    </md-radio-group>

                </div>
                <div class="clearfix"></div>
                <br />
            </div>
        </div>

        <div class="col-lg-offset-1">
            <textarea rows="4" ng-model="page.model.txtsmsmail" class="form-control"></textarea>
        </div>
    </div>
    <div class="modal-footer" style="font-weight:normal;">
        <button class="button_custom button_custom_reset" ng-click="page.model.closepopup();">close</button>
        <button class="button_custom pull-right" ng-disabled="page.model.isDisabledsubmit" ng-click="page.model.isDisabledsubmit=true;page.model.smsMailSubmit(page.model.typeofmailSms);">send {{page.model.typeofmailSms}}</button>
    </div>
</script>


<script type="text/ng-template" id="notIntrstPopup.html">
    <div class="modal-header">
        <a href="javascript:void(0);" class="pull-right" ng-click="page.model.close();;">
            <span class="fa fa-close red"></span>
        </a>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-offset-1">

                <label ng-show="page.model.typeOfCtrl==='0'" ng-repeat="item in page.model.notInrstarray" class="centWidth">
                <md-checkbox data-checklist-model="page.model.rbtnnotIntrst" data-checklist-change="page.model.notIntrstchangeBind(page.model.rbtnnotIntrst);" data-checklist-value="item.text">{{item.text}}s
                </md-checkbox>
                    </label>

                <textarea name="" ng-model="page.model.txtAllcallDiscusion" ng-blur="page.model.notIntrstchangeBind(page.model.txtAllcallDiscusion)" ng-show="page.model.typeOfCtrl==='1' || page.model.typeOfCtrl==='2'" id="" cols="70" rows="5"></textarea>

            </div>
        </div>
    </div>
    <div class="modal-footer" style="font-weight:normal;">
        <button class="button_custom pull-right" ng-click="page.model.close();">Done</button>
    </div>
</script>

<style>
    .btn-success-outline {
        color: rgb(35, 82, 124);
        background-color: transparent;
        background-image: none;
        border-color: rgb(35, 82, 124);
    }
    
    .red {
        color: red;
    }
    
    body {
        font-family: 'Open Sans', sans-serif !important;
        font-size: 13px;
    }
    
    .btnsuccessout {
        background-color: #1f7d1f;
        color: white !important;
    }
    
    .btnwarningsout {
        background-color: red;
        color: white !important;
    }
</style>