<div class="carousel-inner">

    <div ng-class="($index+1)==1?'item active':'item'">
        <div class="row container">
            <ul>
                <div class="col-lg-6" style="border-radius: 20px; border-right: 1px solid maroon;">
                    <div>
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-1">
                                <div>
                                    <div class="text-center"></div>
                                    <div> <img src="--" class="center-block" height="57px" width="57px"></div>
                                    <div class="row">admin-</div>
                                </div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row" style="height: 26px; padding: 3px;" onclick="return sendSms('91-8142984592','Lakshmim  fffffffffffff','lakshmidevi407@gmail.com','91','1054519','KAKHD1054519','myCarousel1','Updatedivfrom','lnkAddaction');">Send Sms</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row" style="height: 26px; padding: 3px;" onclick="return sendMail('310910220','1054519','KAKHD1054519','myCarousel1','Updatedivfrom','lnkAddaction','91022','16948','I','Lakshmim  fffffffffffff','lakshmidevi407@gmail.com','110169486');">Send Email</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row Linkdisabledforsaform maroon" style="height: 26px; padding: 3px;" onclick="return Settlementfom('310910220','');">No SA Form</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row" style="height: 26px; padding: 3px;" onclick="return Contactpage(91022);">View Contacts</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row" style="height: 26px; padding: 3px;" onclick="return sendNumbers('91022','16948','2','texting......from');">Send Numbers</button></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-8 col-lg-offset-1">
                                <div style="padding-bottom: 5px;"> <br><a href="javascript:void(0);" onclick="return serviceCountProfiles(91022);"> Proceed Other Profiles</a> </div> <input id="fromcustimgBothsideCarousel1" onclick="return getimgPath(91022,&quot;310910220&quot;,1)" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/customernoimages/Fnoimage_Rev.png"
                                    class="img-thumbnail" style="border: 1px solid gray;" type="image">
                                <div class="text-center"> <br>
                                    <div class="row">
                                        <div class="col-lg-10"><b>Lakshmim  fffffffffffff (<b><a href="javascript:void(0)" id="lnkProfileID" onclick="ViewProfilewithvalue(&quot;310910220&quot;);">310910220</a> - WB)</b></b>
                                        </div>
                                        <div class="col-lg-2"><img src="../../Images/heartgrren.gif" style="width:28px;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Mobile:</b> </div>
                                        <div class="col-lg-9"><b class="">8142984592</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Email:</b> </div>
                                        <div class="col-lg-9"><b class="">lakshmidevi407@gmail.com</b></div>
                                    </div>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-6"> <b class="maroon">Service Date</b><br> <b>25 Mar 2017 21:47:37</b></div>
                                        <div class="col-lg-6"> <b class="maroon">Proceed Date </b> <br> <b>25 Mar 2017 21:47:37</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-lg-12 col-lg-push-2" style="border: 1px solid; border-color: orange; border-radius: 20px; width: 81%;">
                            <div id="UpdatedivfrommyCarousel1"></div>
                        </div>
                    </div><br>
                    <div class="text-center"><button type="button" id="lnkAddactionmyCarousel1" onclick="ticketidaction(1054519,&quot;Updatedivfrom&quot;,&quot;myCarousel1&quot;,&quot;310910220&quot;,&quot;8142984592&quot;);" class="btn btn-success-outline">KAKHD1054519</button>
                        <button type="button" style="" data-toggle="popover" data-placement="top" onclick="return TicketHistry(1054519,&quot;popover&quot;);" class="btn btn-success-outline col-lg-offset-2" data-original-title="" title="">Ticket history</button>
                    </div>
                </div>
                <div class="col-lg-6" style="border-radius: 20px; border-left: 1px solid maroon;">
                    <div>
                        <div class="row">
                            <div class="col-lg-8 col-lg-push-1">
                                <div class="text-center" style="padding-bottom: 5px;"> <br><br> </div> <input id="tocustimg" onclick="return getimgPath(16948,&quot;110169486&quot;,2)" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_16948_Images/Img2_Images/110169486_ApplicationPhoto.jpg"
                                    alt="" class="center-block img-thumbnail" style="border: 1px solid gray;" type="image">
                                <div class="text-center"> <br>
                                    <div class="row">
                                        <div class="col-lg-10"><b>SURESH KUMAR  AKANA (<b><a href="javascript:void(0)" id="lnkProfileID" onclick="ViewProfilewithvalue(&quot;110169486&quot;);">110169486</a> - HD)</b></b>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Mobile:</b> </div>
                                        <div class="col-lg-9"><b class="">9440408305</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3"><b class="maroon">Email:</b> </div>
                                        <div class="col-lg-9"><b class="">kusumavishwaneni@gmail.com</b></div>
                                    </div>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-6"> <b class="maroon">Service Date</b><br> <b>25 Mar 2017 21:47:37</b></div>
                                        <div class="col-lg-6"> <b class="maroon">Proceed Date </b> <br> <b>--</b></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-lg-push-1">
                                <div>
                                    <div class="text-center"></div>
                                    <div> <img src="http://d16o2fcjgzj2wp.cloudfront.net/Images/EmployeeImages/VA025_EmplyeeImage/VA025_EmplyeeImage.jpg" class="center-block" height="57px" width="57px"></div>
                                    <div class="row">Vanisree-7680839333</div>
                                </div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row" style="height: 26px; padding: 3px;" onclick="return sendSms('91-9440408305','SURESH KUMAR  AKANA','kusumavishwaneni@gmail.com','91','null','--','myCarousel1','Updatedivto','lnkAddactionto');">Send Sms</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row" style="height: 26px; padding: 3px;" onclick="return sendMail('110169486','null','--','myCarousel1','Updatedivto','lnkAddactionto','16948','91022','NV','SURESH KUMAR  AKANA','kusumavishwaneni@gmail.com','310910220');">Send Email</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row Linkdisabledforsaform maroon" style="height: 26px; padding: 3px;" onclick="return Settlementfom('110169486','');">No SA Form</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row" style="height: 26px; padding: 3px;" onclick="return Contactpage(16948);">View Contacts</button></div>
                                <div class="clearfix"></div><br>
                                <div class="clearfix"> <button type="button" class="btn btn-success-outline row" style="height: 26px; padding: 3px;" onclick="return sendNumbers('16948','91022','2','texting......to');">Send Numbers</button></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-lg-12 col-lg-push-2" style="border: 1px solid; border-color: orange; border-radius: 20px; width: 81%;">
                            <div id="UpdatedivtomyCarousel1"></div>
                        </div>
                    </div><br>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-lg-3"><button type="button" id="lnkAddactionTomyCarousel1" onclick="return ResendMail(16948,91022,&quot;110169486&quot;,&quot;310910220&quot;,&quot;color:maroon;&quot;,&quot;color:maroon;&quot;,&quot;kusumavishwaneni@gmail.com&quot;);"
                                    class="btn btn-success-outline">Resend Email</button></div>
                            <div class="col-lg-9"><label style="color:maroon;">Offline exp on :27 Aug 2015 00:00:00,Points:8/180</label><br><label style="color:maroon;">Online : Unpaid</label></div>
                        </div><button type="button" style="display:none;" data-toggle="popover1" data-placement="top" onclick="return TicketHistry(null,&quot;popover1&quot;);" class="btn btn-success-outline col-lg-offset-2" data-original-title="" title="">Ticket history</button></div>
                </div>
            </ul>
        </div>
    </div>

</div>
<style>
    .btn-success-outline {
        color: rgb(35, 82, 124);
        background-color: transparent;
        background-image: none;
        border-color: rgb(35, 82, 124);
    }
</style>