<uib-accordion close-others="oneAtATime" ng-if="model.typeofPage==='page'">

    <div uib-accordion-group style="margin-top: -12px;" class="panel-default" is-open="model.isopenFlag">
        <uib-accordion-heading>
            Search Tickets<i class="glyphicon" ng-class="{'glyphicon-chevron-down': model.isopenFlag, 'glyphicon-chevron-right': !model.isopenFlag}"></i>
        </uib-accordion-heading>
        <div class="row">
            <div class="col-lg-1 form-group">
                <label for="Region" class="control-label">Region</label>
                <div>
                    <select class="smalldropdown" ng-change="model.regionChange(model.lstregions);" ng-model="model.lstregions" multiselectdropdown typeofdata="'Regionofbranches'">                                        
             </select>

                </div>
            </div>
            <div class="col-lg-3 form-group">
                <label for="Region" class="control-label">Branch</label>
                <div>
                    <angular-multiselect id="'Branchid'" class="general" array="model.BranchName" model="model.lstBranchs">
                    </angular-multiselect>

                </div>
            </div>
            <div class="col-lg-3 form-group">
                <label for="Region" class="control-label">EmpName</label>
                <div class="">
                    <angular-multiselect id="'Branchid'" class="general" array="model.EmpNamesArr" model="model.lstEmpnames">
                    </angular-multiselect>
                </div>
            </div>
            <div class="col-lg-2 form-group">
                <label for="Region" class="control-label">FromProceed</label>
                <div>
                    <date-pickersearch id="FromProceed" strdate="model.txtFromProceedDate"></date-pickersearch>
                </div>
            </div>
            <div class="col-lg-2 form-group">
                <label for="Region" class="control-label">ToProceed</label>
                <div>
                    <date-pickersearch id="ToProceed" strdate="model.txtToProceedDate"></date-pickersearch>
                </div>
            </div>
            <div class="col-lg-1 form-group">
                <label for="Region" class="control-label" ng-hide="true"></label>
                <br>
                <div>
                    <input type="submit" class="btn btn-danger" value="Submit" ng-click="model.matchFollowupSelect();">
                </div>
            </div>
        </div>
    </div>

</uib-accordion>
<div class="row">
    <div class="col-lg-2">
        <label style="color:#585050">Total Records :</label>
        <label style="color:blue"> {{(activeslide)+1}}</label>
        <label style="color:#585050"> of {{model.totalRecords}}</label>
    </div>
    <div class="col-lg-7" ng-if="model.typeofPage==='page'">
        <button ng-class="model.activebutton==='bothside'?'btn btn-success':'btn btn-default'" ng-click="model.CondtionButtonClick('bothside',0,false,false);">Bothside Intrst</button>&nbsp;
        <button ng-class="model.activebutton==='oneside'?'btn btn-success':'btn btn-default'" ng-click="model.CondtionButtonClick('oneside',1,false,false);">Oneside Intrst</button>&nbsp;
        <button ng-class="model.activebutton==='closed'?'btn btn-success':'btn btn-default'" ng-click="model.CondtionButtonClick('closed',0,true,false);">Close Tckt</button>&nbsp;
        <button ng-class="model.activebutton==='notvwd'?'btn btn-success':'btn btn-default'" ng-click="model.CondtionButtonClick('notvwd',2,false,false);">Not Vwd</button>&nbsp;
        <button ng-class="model.activebutton==='all'?'btn btn-success':'btn btn-default'" ng-click="model.CondtionButtonClick('all',3,false,false);">All</button>&nbsp;
        <button ng-class="model.activebutton==='waiting'?'btn btn-success':'btn btn-default'" ng-click="model.CondtionButtonClick('waiting',0,false,true);">Waiting For Reply</button>
    </div>
    <div class="col-lg-3" ng-if="model.typeofPage==='page'">
        <div class="col-lg-8">
            Viewed &nbsp;&nbsp;<label id="lnkLastSlide" style="color: blue;">{{(Viwedslide)+1}}&nbsp;&nbsp;</label><label>Profiles</label>
        </div>
        <div class="col-lg-4">
            <input type="text" ng-model="txtGotoVal" ng-blur="gotoSlide(txtGotoVal)" class="form-control" style="width: 66px; height: 24px; margin-left: -20px;" />
        </div>
    </div>
    <div class="pull-right" ng-if="model.typeofPage!=='page'">
        <a href="javascript:void(0);" ng-click="config.closeprocced();">
            <ng-md-icon icon='close' style='fill:#c73e5f' class='pull-right' size='25'></ng-md-icon>
        </a>

    </div>
</div>







<style>
    .panel-title {
        color: #b10c0c;
    }
</style>