<div ng-if="strtype==='INCOMING' || strtype==='OUT GOING'">
    <div class='row'>
        <div class='col-lg-12 text-center' style='font-weight:bold;'>
            <c class='maroon'> {{strdate}} </c>
        </div>
        <div class='clearfix'></div>
        <div class='col-lg-5'><label class="maroon">Call Done By</label></div>
        <div class='col-lg-7'><label> {{strempname}} </label></div>
        <div class='clearfix'></div>
        <div class='col-lg-5'><label class="maroon">Call Status</label></div>
        <div class='col-lg-7'><label><div> {{strstatus}} </div></label></div>
        <div class='clearfix'></div>
        <div class='col-lg-5'><label class="maroon">Call Received By</label></div>
        <div class='col-lg-7'><label><div> {{strcustname+(strrelation!==''?'('+strrelation+')':'')}} </div></label></div>
        <div class='clearfix'></div>
        <div class='col-lg-12'><label class="maroon">Call Discussion</label>
            <div><label> {{strcomments}} </label></div>
        </div>
        <div class='clearfix'></div>
    </div>
</div>

<div ng-if="strtype==='MatchFollowupReply' || strtype==='MatchFollowUpStatus' ||  strtype==='INTERNAL MEMO' ||  strtype==='CLOSE' || strtype==='REPLY'">
    <div class='row'>
        <div class='col-lg-12' style='font-weight:bold;text-align: center;'>
            <c class='maroon'> {{strdate}} ({{strnoofdays}}) </c>
        </div>
        <div class='clearfix'></div>
        <div>
            <div class='col-lg-5'><label class="maroon">{{strempname.toLowerCase()==='customer'?'Customer Name':'Employee Name'}}</label></div>
            <div class='col-lg-7'><label> {{strempname.toLowerCase()==='customer'?customername:strempname}}</label></div>
        </div>
        <div class='clearfix'></div>
        <div>
            <div class='col-lg-5'><label class="maroon">Comments</label></div>
            <div class='col-lg-7'><label><div> {{strcomments}} </div></label></div>
        </div>
        <div class='clearfix'></div>
    </div>

</div>