<div class="">
    <div class="edit_pages_sidebar clearfix" ng-controller="baseCtrl">
        <div class="edit_page_profile_pic">
            <img style="cursor:pointer;" ng-src="{{model.PersonalObj.ProfilePic}}" ng-click="model.photorequestAndshow();">
            <a href="javascript:void(0);" style="font-weight: bold;" ng-click="model.photorequestAndshow();"> {{model.PersonalObj.ProfilePic.indexOf('Fnoimage.jpg')!==-1 || model.PersonalObj.ProfilePic.indexOf('Mnoimage.jpg')!==-1?'Photo Request':'View Photo' }}         </a>
        </div>

        <div class="edit_pages_sidebar_profile_details">
            <h6>
                <span>{{model.PersonalObj.Name+" ("+model.PersonalObj.ProfileID+")"}}</span></h6>


            <div class="edit_pages_sidebar_profile_details_in">
                <h6> <span>{{model.registrationdate+','+model.branchdata.BranchCode}}</span><span style="color: maroon; font-size:16px;">{{model.strCon}}</span></h6>
                <!--<p>
                    <span>{{model.PersonalObj.MartialStatus+" ,"+model.PersonalObj.DateofBirth+((model.PersonalObj.Age!="" && model.PersonalObj.Age!=null)?" ("+model.PersonalObj.Age+")":model.PersonalObj.Age)+((model.PersonalObj.Height!="" && model.PersonalObj.Height!=null)?" ,"+model.PersonalObj.Height:model.PersonalObj.Height)+((model.PersonalObj.Complexion!="")?" ,"+model.PersonalObj.Complexion:model.PersonalObj.Complexion)}}</span>
                </p>
                <p>
                    <span>{{model.PersonalObj.Religion+" ,"+model.PersonalObj.Mothertongue+", "+model.PersonalObj.Caste+((model.PersonalObj.SubCaste!="" && model.PersonalObj.SubCaste!=null)? " ("+SubCaste+")":SubCaste)}}</span>
                </p>
                <p>
                    <span>
                <span  style="font-weight:bold;"> {{(model.PersonalObj.Borncountry!=null && model.PersonalObj.Borncountry!="")?" Born Citizen:"+model.PersonalObj.Borncountry:Borncountry}}</span>
                    </span>
                </p>-->
            </div>
        </div>

        <div class="clear"></div>

        <div class="edit_pages_sidebar_menu clearfix">
            <ul>
                <li>
                    <a id="lnkeducationandprof" href="javascript:void(0);" ng-click="redirect('editEducation');" ng-style="{color:model.lnkeducationandprofReview==true?'Red':''}">Education & Profession
                                <span class="pull-right nodatacls"> {{model.rev.iCustomerPersonalDetails===0?'NoData':''}}</span>
                            </a>

                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="redirect('editManagePhoto');">Manage Photo
                                <span class="pull-right nodatacls"> {{model.rev.iManagePhoto===0?'NoPhoto':''}}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="redirect('editParent');" ng-style="{color:model.lnkparentsReview==true?'Red':''}">Parent Details
                                <span class="pull-right nodatacls"> {{model.rev.iParentDetails===0?'NoData':''}}</span>
                            </a>
                </li>
                <li>
                    <a id="lnkpartner" href="javascript:void(0);" ng-click="redirect('editPartnerpreference');" ng-style="{color:model.lnkpartnerReview==true?'Red':''}">Partner Preferences
                                <span class="pull-right nodatacls"> {{model.rev.iPartnerPreference===0?'NoData':''}}</span>
                            </a>
                </li>
                <li>
                    <a id="lnksiblings" href="javascript:void(0);" ng-click="redirect('editSibbling');" ng-style="{color:model.lnksiblingsReview==true?'Red':''}">Sibling Details
                                <span class="pull-right nodatacls"> {{model.rev.iSiblingDetails===0?'NoData':''}}</span>
                            </a>
                </li>
                <li>
                    <a id="lnkastro" href="javascript:void(0);" ng-click="redirect('editAstro');" ng-style="{color:model.lnkastroReview==true?'Red':''}">Astro Details
                                <span class="pull-right nodatacls"> {{model.rev.iAstroDetails===0?'NoData':''}}</span>
                                
                            </a>
                </li>
                <li>
                    <a id="lnkproperty" href="javascript:void(0);" ng-click="redirect('editProperty');" ng-style="{color:model.lnkpropertyReview==true?'Red':''}">Property Details

                                 <span class="pull-right nodatacls"> {{model.rev.iPropertyDetails===0?'NoData':''}}</span>
                            </a>
                </li>
                <li>
                    <a id="lnkrelatives" href="javascript:void(0);" ng-click="redirect('editRelative');" ng-style="{color:model.lnkrelativesReview==true?'Red':''}">Relative Details</a>
                </li>
                <li>
                    <a id="lnkreference" href="javascript:void(0);" ng-click="redirect('editReference');" ng-style="{color:model.lnkreferenceReview==true?'Red':''}">References
                                <span class="pull-right nodatacls"> {{model.rev.iReferenceDetails===0?'NoData':''}}</span>
                                </a>
                </li>

                <li>
                    <a href="javascript:void(0);" ng-hide="model.PersonalObj.MaritalStatusID===43 || model.PersonalObj.MaritalStatusID==='43'" ng-click="redirect('editSpouse');">Spouse Details
                            </a>
                </li>

                <li>
                    <a href="javascript:void(0);" ng-click="redirect('editContact');">Contact Details
                            </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="redirect('editOfcePurpose');">Office Purpose
                            </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="redirect('editProfileSetting');">Profile Settings
                        <span class="pull-right nodatacls"> {{model.rev.LoginStatusID}}</span>
                            </a>
                </li>
            </ul>
        </div>

    </div>