<div class="carousel-inner">
    <div ng-class="($index+1)==1?'item active':'item'" ng-repeat="itemval in displayArr">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix" ng-repeat="slidedata in itemval.itmArr" ng-if="slidedata.label!=='backendFields'">
                <h6> <span style="font-weight: bold;">{{slidedata.label}}</span></h6>
                <h5>
                    <div style="color:Black;"> <span>{{slidedata.value}}</span> </div>
                    <span ng-if="slidedata.label=='ProfileID'">&nbsp;<a href="javascript:void(0);" ng-click="viewfullprofile(slidedata.ProfileID)" ng-class="slidedata.paid==='1'?'paidCls':'unpaidCls'" >{{slidedata.ProfileID}}</a> {{slidedata.KMPLID}} {{(slidedata.IsConfidential===true) ||(slidedata.IsConfidential==='True')?'C':''}}  
                                                {{(slidedata.SuperConfidentila==="1") ||(slidedata.SuperConfidentila===1)?'SC':''}}  
                                                <input ng-show="slidedata.HoroscopeStatus==='1'" src='../../Images/ico_horoscope.jpg' style='height:20px;width:25px;' type='image'>
                                              </span>
                    <div class="clearfix">
                    </div>
                </h5>
            </div>
            <div class="clearfix"></div>
            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix">
                <div class="row">
                    <label style="color:maroon">From Status :</label>
                    <label style="color:#000"><span ng-bind-html="statusbind(itemval.Mystatus.trim())"></span><span>
                        <img style="height: 29px;" ng-if="itemval.Mystatus.trim()==='I'"  ng-show="itemval.Mystatus.trim()==='I'" src="src/images/heartgrren.gif"><img>
                         <img style="height: 29px;"  ng-if="itemval.Mystatus.trim()==='NI'" ng-show="itemval.Mystatus.trim()==='NI'" ng-src="src/images/brkhrtgreen.gif"><img></span></label>
                    <md-button class="md-raised md-warn md-hue-2 md-button md-ink-ripple" ng-click="proceedanddontproceed('btnProceed',personalobj.Cust_ID,itemval.Custid,itemval.Cust_ProfileInterestsLog_ID)" ng-if="itemval.Mystatus.trim()!=='I' && itemval.Mystatus.trim()!=='NI' && itemval.Mystatus.trim()!=='--'">Proceed</md-button>
                    <md-button class="md-raised md-warn md-hue-2 md-button md-ink-ripple" ng-click="proceedanddontproceed('btnDontProceed',personalobj.Cust_ID,itemval.Custid,itemval.Cust_ProfileInterestsLog_ID)" ng-if="itemval.Mystatus.trim()!=='I' && itemval.Mystatus.trim()!=='NI' && itemval.Mystatus.trim()!=='--'">Dont Proceed</md-button>
                    <md-button class="md-raised md-warn md-hue-2 md-button md-ink-ripple" ng-if="itemval.Mystatus.trim()==='I' || itemval.Mystatus.trim()==='NI'" ng-show="itemval.FromTicketIdSuf.trim()!=='--'">{{itemval.FromTicketIdSuf}}</md-button>
                </div>
                <br>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" style="margin-top: -4px;">
            <div class="row">
                <a ng-click="shortlistprofiles(itemval.Custid,itemval.ProfileID,itemval.Age,itemval.HeightInCentimeters,itemval.MaritalStatusID,itemval.CasteID,itemval.serviceDate)" class="Heart center-block" href="javascript:void(0);" ng-show="personalobj.Cust_ID!=='' && personalobj.Cust_ID!==null && personalobj.Cust_ID!==undefined">
                    <div class="col-lg-2"><img src="src/images/two.png" style="margin-top:-4px;" width="40" height="38"></div>
                    <div class="col-lg-1">
                        <lable style="font-size: 13pt;color:#337ab7">Shortlist</lable>
                    </div>
                </a>
                <br>
                <img ng-click="slidepopup(itemval.Custid)" ng-src="{{itemval.custPhoto}}" class="image" style="cursor: pointer;" />
                <br>
                <div class="col-lg-8 col-lg-offset-5"><a href="javascript:void(0)"><span style="color:Black;font-size:9pt;">No of Photos {{itemval.PhotoCount}}</span></a></div>
            </div>
            <div class="edit_page_details_item_desc clearfix">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <label style="color:maroon">To Status:</label>
                            <label style="color:#000"><span ng-bind-html="statusbind(itemval.OppStatus.trim())"></span>
                            <img  style="height: 29px;" ng-if="itemval.OppStatus.trim()==='I'" ng-show="itemval.OppStatus.trim()==='I'" src="src/images/heartgrren.gif"><img>
                            <img style="height: 29px;" ng-if="itemval.OppStatus.trim()==='NI'" ng-show="itemval.OppStatus.trim()==='NI'" src="src/images/brkhrtgreen.gif"><img></label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <label style="color:maroon">Ticket ID:</label>
                            <label style="color:#000">{{itemval.ToTicketIDSuf}}</label>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>