<HTML>

<HEAD>
    <TITLE>Horoscope </TITLE>
    <script language="javascript">
        function cleardis() {
            document.getElementById("dis").innerHTML = "<font size=1><font face=Verdana, Arial, Helvetica, sans-serif><b>Disclaimer:</b> All astrological calculations are based purely on scientific equations and not on any specific published almanac.  Therefore we shall not be responsible for decisions that may be taken by anyone based on this report.</font>";
            window.print();
        }
    </script>
</HEAD>

<BODY marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" bgcolor="#FFFFFF">
    <td height="39">
        <div align="right"></div>
    </td>
    <table border="2" cellpadding="0" cellspacing="0" style="border-width: 5px; border-color: #F48442; border-style: solid;" width="610" bgcolor="#FFFFFF" height="100%">
        <tr>
            <td valign="top" height="838">
                <table width="100%" border="0" height="694">
                    <tr>
                        <td height="38" width="80%" align="center" style="font-family:verdana;font-size:12px;">
                            <div align="right">
                                <table cellspacing=0 cellpadding=0 border=0 width="650" align="center">
                                    <tbody>
                                        <tr>
                                            <td bgcolor=#ffffff rowspan=2>
                                            </td>
                                            <td align=right rowspan="2" bgcolor=#ffffff height="35" width=562 valign="bottom">
                                                <div align="right">
                                                    <font size="3">
                                                        <a href="javascript:;" onClick="cleardis();">
                                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#94663E">Print</font>
                                                        </a>
                                                        <font face="Verdana, Arial, Helvetica, sans-serif" size="1">
                                                            <a href=javascript:; onClick=document.execCommand( "SaveAs", "1", "Horoscope.html");return false;>
                                                                <font color="#94663E">Save</font>
                                                            </a>
                                                            &nbsp;
                                                            <a href="http://rep.clickastro.com/downloadfonts.html" target="_blank">
                                                                <font color="#94663E">DownloadFonts</font>
                                                            </a>&nbsp;
                                                            <a href="javascript: window.close();">
                                                                <font color="#94663E">Close</font>
                                                            </a>
                                                        </font>
                                                    </font>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!--Version:2.4-->
                    <tr>
                        <td height="22" bgcolor="#C8D319" align="center" style="font-family:verdana;font-size:12px;font-weight:bold;">
                            <font face="Verdana, Arial, Helvetica, sans-serif">Horoscope of 91035</font>
                        </td>
                    </tr>
                    <tr>
                        <td width="80%" height="760" valign="top">
                            <table align="center" cellpadding="0" cellspacing="2" bgcolor=#Ffffff height="286" width="650">
                                <tr>
                                    <td width="50%" bgcolor=#F0F0E0 style="padding-left:30px" height="14"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Name</font></b></td>
                                    <td width="50%" bgcolor=#F0F0E0 style="padding-left:30px" height="14