<div ng-controller="headerctrl as head" id="logindivheader">
    <div class="top_nav" id="top_navdiv">
        <div class="nav_menu">
            <nav class="row">
                <ul class="nav navbar-nav pull-right col-lg-3">
                    <li class="col-lg-9">
                        <div style="color:#fff;"><strong style="font-size: 19px;"> Welcome  {{head.name}}</strong>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img ng-src="{{head.empphoto}}" alt="">
                            <span class="fa fa-angle-down" id="spandownheader"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: #A00201;">
                            <li><a style="color: white;" href="javascript:void(0)" ng-click="head.logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            <md-divider></md-divider>
                            <li>
                                <a style="color: white;" data-toggle="tooltip" data-placement="top" title="Lock" href="javascript:void(0)" ng-click="head.lockscreen()">
                                    <span class="glyphicon glyphicon-eye-close pull-right" aria-hidden="true"></span>Lock
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navtop navbar-left col-lg-9">
                    <li>
                        <a href="dashboardpage"><i class="fa fa-home fa-2x" aria-hidden="true" style="font-size: 25px;"></i></a>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:void(0)">Registration</a>
                        <ul>
                            <li><a href="Registration">Customer New Registration</a></li>
                            <li><a href="editViewprofileurl">Edit/View Profile</a></li>
                            <li><a href="javascript:void(0)" ng-hide="true">Registration Validation</a></li>
                            <!--<li><a href="EmployeePayments">Payment Details</a></li>-->
                            <li><a href="employeeViewfullprofiles/0">Customer New Admin Profile</a></li>
                            <li><a href="expressInterestpage">Expressinterest</a></li>
                            <!--<li class="has-sub"><a href="#">SUB SUB LIST</a>
                                <ul>
                                    <li><a href="#">Sub Sub Item 1</a></li>
                                    <li><a href="#">Sub Sub Item 2</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)"> Search </a>
                        <ul>
                            <li><a href="search/0/0">General Search</a></li>
                            <li><a href="search/1/0">Advanced search</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Keyword Search</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Keyword Search_Kmpl</a></li>
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)"> My Account</a>
                        <ul>
                            <li><a href="myProfilepage">My Profiles</a></li>
                            <li><a ng-hide="true" href="marketingpage">Marketing Tickets</a></li>
                            <li><a href="matchFollowuppage">Match Followup Tickets</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">My Assigned Photos</a></li>
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)">Maintance Work  </a>
                        <ul ng-hide="true">
                            <li><a ng-hide="true" href="javascript:void(0)">Unassigned Profiles</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Unassigned Photos</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Match Meeting Report</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Upload Success Stories</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">View Success Stories</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Customer Message Verification</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Re Assign Employee</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Book Marks</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Customer/Employee Config</a></li>
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)">Admin Forms  </a>
                        <ul ng-hide="true">
                            <li><a ng-hide="true" href="javascript:void(0)">Branch Creation</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">List Branches</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Add/Edit Faqs</a></li>
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)"> Reports </a>
                        <ul>
                            <!--<li><a href="EmployeePayments">Payment Report</a></li>-->
                            <li><a ng-hide="true" href="javascript:void(0)">Summary Profile Report</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Profile Modification </a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script type="text/ng-template" id="loginContent.html">
        <div id="loginnewidcc" style='z-index: 99999'>
            <div class="login">
                <div class="login-box">
                    <div class="login-border">
                        <div class="login-style">
                            <div class="login-header">
                                <div class="logo clear">
                                    <img src="src/images/1234 yellow01.png" style="width: 90px;height: 76px;" alt="" class="picture" />
                                    <span class="textlogo"><span class="title">Kaakateeya Marraiages</span> </span>
                                </div>
                            </div>
                            <form name="loginForm"  novalidate ng-submit="loginForm.$valid?head.loginsubmit(head):''">
                                <div class="login-inside">
                                    <div class="login-data" ng-hide="!page.model.lockscreendiv">
                                        <div class="row clear">
                                            <label for="user">
                                               User Name:</label>
                                            <input ng-readonly="true" type="text" class="text" ng-model="head.usernameemployeeid" name="usernameemployee" required>
                                        </div>
                                        <div class="row clear">
                                            <label for="password">
                                           Password:
                                          </label>                                           
                                            <input ng-focus="true" type="Password" class="text" ng-model="head.passwordemployee" name="passwordemployee" required> 
                                            <div ng-if="loginForm.passwordemployee.$dirty && loginForm.passwordemployee.$error.required" ng-message="true">Required</div>
                                        </div>
                                        <button type="submit" class="button">Login</button>
                                    </div>
                                    <div class="login-data" ng-hide="page.model.lockscreendiv">
                                        <div class="row clear">
                                            <div class="row">
                                                {{head.name}} Is Locked
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                            <br>
                                            <button ng-click="page.model.lockscreendiv=true" class="button">Unlock</button>
                                        </div>
                                    </div>
                                    <div class="pull-right"> {{head.CurrentDate | date:'dd MMMM yyyy hh.mm.ss'}},{{head.CurrentDate |date:'EEEE'}}</div>
                                </div>
                                <div class="login-footer">
                                    <div class="row">
                                        <div class="col-lg-3  col-lg-offset-1">
                                            <label style="color:#ffffff;font-size: 14px;">AP:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.logincounts[0].LoggedCount!==undefind?head.logincounts[0].LoggedCount:0}}-{{head.logincounts[0].EmpCount!==undefined?head.logincounts[0].EmpCount:0}}</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <label style="color:#ffffff;font-size: 14px;">TN:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.logincounts[1].LoggedCount!==undefined?head.logincounts[1].LoggedCount:0}}-{{head.logincounts[1].EmpCount!==undefined?head.logincounts[1].EmpCount:0}}</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <label style="color:#ffffff;font-size: 14px;">KA:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.logincounts[2].LoggedCount!==undefined?head.logincounts[2].LoggedCount:0}}-{{head.logincounts[2].EmpCount!==undefined?head.logincounts[2].EmpCount:0}}</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </script>
    </div>
    <style type="text/css">
        .modalclassdashboardphotopopuplogin {
            z-index: 999999 !important;
            width: 80%;
            left: 10%;
        }
        
        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: hidden;
        }
    </style>