<div ng-controller="headerctrl as head" id="logindivheader">
    <div class="top_nav" id="top_navdiv">
        <div class="nav_menu">
            <nav class="row">
                <ul class="nav navbar-nav pull-right col-lg-3">
                    <li class="col-lg-9">
                        <div style="color:#fff;"><strong style="font-size: 19px;"> Welcome  {{head.model.name}}</strong>
                        </div>
                        <div style="cursor:pointer;color: #ffffff;font-style: italic;text-decoration: underline;" href="javascript:void(0)" ng-click="head.model.hideshowunpaid()">
                            Unpaid Members
                        </div>
                    </li>
                    <li>
                        <div style="cursor:pointer" href="javascript:void(0)" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img ng-src="{{head.model.empphoto}}" alt="">
                            <span class="fa fa-angle-down" id="spandownheader"></span>
                        </div>
                        <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: #A00201;">
                            <li><a style="color: white;" href="javascript:void(0)" ng-click="head.model.logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            <md-divider></md-divider>
                            <li>
                                <a style="color: white;" data-toggle="tooltip" data-placement="top" title="Lock" href="javascript:void(0)" ng-click="head.model.lockscreen()">
                                    <span class="glyphicon glyphicon-eye-close pull-right" aria-hidden="true"></span>Lock
                                </a>
                            </li>
                            <md-divider></md-divider>
                            <li>
                                <a style="color: white;" data-toggle="tooltip" data-placement="top" title="Lock" href="javascript:void(0)" ng-click="head.model.changepasswordpopup()">
                                  Change Password
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navtop navbar-left col-lg-9">
                    <li>
                        <a href="dashboardpage"><i class="fa fa-home fa-2x" aria-hidden="true" style="font-size: 25px;"></i></a>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:void(0)">Registration</a>
                        <ul>
                            <li><a href="Registration">Customer New Registration</a></li>
                            <li><a href="editViewprofileurl">Edit/View Profile</a></li>
                            <li><a href="registrationValidations">RegistrationprofileValidation</a></li>
                            <li class="has-sub"><a href="#">services</a>
                                <ul>
                                    <li><a href="expressInterestpage">Expressinterest</a></li>
                                    <li><a href="communicationLogs">Communication Log</a></li>
                                    <li><a href="serviceSlideShows">Services Slideshow</a></li>
                                </ul>
                            </li>
                            <li><a href="EmployeePayments">Payment Details</a></li>

                            <li class="has-sub"><a href="#">Settlement Details</a>
                                <ul>
                                    <li><a href="settleDeleteProfilePage">SettleDeleteProfiles</a></li>
                                    <!-- <li><a href="uploadSettlementFormPage">Upload Settlement</a></li> -->
                                    <!-- <li><a href="viewSettlementforms">ViewSettlementForm</a></li> -->
                                    <li><a href="viewUploadSettledProfilesPage">View / Upload Settlement</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Payment</a>
                                <ul>
                                    <li><a href="paymentOffersAssignPage">Payment offer</a></li>
                                    <li><a href="paymentAuthorizationpage">Payment Authorization</a></li>
                                </ul>
                            </li>

                            <li><a href="Viewfullprofile/0/1">Customer New Admin Profile</a></li>
                            <li><a href="customerFactsheetpage">CustomerFactsheet</a></li>
                            <li ng-hide="true"><a href="employeeViewfullprofileschk/0/1">Customer New Admin Profile Print</a></li>
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)"> Search </a>
                        <ul>
                            <li><a href="javascript:void(0);" ng-click="head.model.searchredirect(0,0);">General Search</a></li>
                            <li><a href="javascript:void(0);" ng-click="head.model.searchredirect(1,0);">Advanced search</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Keyword Search</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Keyword Search_Kmpl</a></li>
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)"> My Account</a>
                        <ul>
                            <li><a href="myProfilepage">My Profile</a></li>
                            <li><a href="marketingpage">Marketing Slide Show</a></li>
                            <li><a href="matchFollowuppage">Match Followup Slide Show</a></li>
                            <li><a href="matchMeetingEntryFormPage">Match Meeting Entry Form</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">My Assigned Photos</a></li>
                            <li><a href="ticketCreationpage">Ticket Creation</a></li>
                            <li><a href="myAssignedPhotosPage">My Assigned Photos</a></li>
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)">Maintance Work  </a>
                        <ul>
                            <li class="has-sub"><a href="#">Unassigned Info</a>
                                <ul>
                                    <li><a href="unAssignedPhotosPage">Photos</a></li>
                                </ul>
                            </li>
                            <li><a href="assignSetting">Assign Settings</a></li>
                            <li><a href="emailbounceEntryformpage">Email Bounce</a></li>
                            <li><a href="customerMessagesverificationpage">Customer Message Verification</a></li>
                            <li><a href="marketingticketverificationpage">Maketing Ticket verification</a></li>
                            <li><a href="viewSuccessStoriesPage">View/Create successStories</a></li>


                            <li><a ng-hide="true" href="javascript:void(0)">Upload Success Stories</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">View Success Stories</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Re Assign Employee</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Book Marks</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Customer/Employee Config</a></li>
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)">Admin Forms  </a>
                        <ul>
                            <li><a href="#">Employee</a>
                                <ul>
                                    <li><a href="employeeCreationPage">Creation/View Employee</a></li>
                                    <li><a href="empTrackingPage">EmpLoginLogoutReport</a></li>
                                </ul>
                            </li>
                            <li><a href="updateMacAdresspage">Update Branch IP</a></li>
                            <!-- <li><a href="brokerEntryFormpage">Mediater Entry Form</a></li> -->
                            <!-- <li><a href="brokerProfileRegistrationpage">Broker Profile Registration</a></li> -->
                            <li><a ng-hide="true" href="javascript:void(0)">Branch Creation</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">List Branches</a></li>
                            <li><a ng-hide="true" href="javascript:void(0)">Add/Edit Faqs</a></li>

                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)"> Reports </a>
                        <ul>
                            <!-- <li class="has-sub"><a href="#">Profile Reports</a>
                                <ul>
                                    <li><a href="reviewPendinrReport">Review Pending Profiles</a></li>
                                </ul>
                            </li> -->
                            <li><a href="reviewPendinrReport">Review Pending Profiles</a></li>
                            <li><a href="paymentdetailsReportpage">Payment Reports</a></li>
                        </ul>
                    </li>
                    <li class="has-sub" ng-hide="true"><a href="javascript:void(0)"> help </a>
                        <ul>
                            <li><a href="ticketCreationpage">Ticket Creation</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <ul class="dropdown-menus col-lg-5" ng-show="head.model.unpaidmember">
        <div class="col-lg-6" style="width:557px;background: rgb(228, 223, 144);background-color: rgb(228, 223, 144); display: block; z-index: 9999; max-height: 600px; overflow-y: auto; overflow-x: hidden; position: fixed; top: 60px;right:0;">
            <div class="pull-left"><a href="javascript:void(0)" ng-click="head.model.unpaidmember=false"><span class="fa fa-times-circle-o fa-2x fa-fw"></span></a>
            </div>
            <div class="pull-right"><a href="javascript:void(0)" ng-click="head.model.getpresentunpaidmembers()"><span class="fa fa-refresh fa-2x fa-fw"></span></a>
            </div>
            <table style="width:512px;" class="pull-right" ng-repeat="presentunpaid in head.model.presentunpaidmembersarray">
                <tbody>
                    <tr ng-class="presentunpaid.MINUTE<10?'alert alert-warning fade in':'alert alert-danger fade in'" style="height: 45px;">
                        <td style="width: 6%;"><a class="close" ng-click="head.model.closealert($index)" style="font-size: 23px;">×&nbsp;&nbsp;</a></td>
                        <td width="4%">
                            <p style="font-size: 14px;font-weight: bold;color:#8623a5;">{{presentunpaid.EmpGroupName}}-
                            </p>
                        </td>
                        <td width="25%"><a style="font-size: 14px;color: rgb(0, 84, 255);" href="Viewfullprofile/{{presentunpaid.ProfileID}}/0" target="_blank">{{presentunpaid.ProfileID}}<span style="color:black;">({{presentunpaid.LastLoginDate}})</span>-</a>
                        </td>
                        <td width="20%"><a class="aClass" href="javascript:void(0);" ng-click="head.model.ticketpopupunpaid(presentunpaid.Ticket)" style="font-size: 14px;color: rgb(0, 84, 255);">{{presentunpaid.TicketID}}</a> </td>
                        <td width="55%">
                            <h>({{presentunpaid.TicketStatus}})-{{presentunpaid.EmpName}}</h>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ul>
    <script type="text/ng-template" id="loginContent.html">
        <div id="loginnewidcc" style='z-index: 99999'>
            <div class="login">
                <div class="login-box">
                    <div class="login-border">
                        <div class="login-style">
                            <div class="login-header">
                                <div class="logo clear">
                                    <img src="src/images/1234 yellow01.png" style="width: 90px;height: 76px;" alt="" class="picture" />
                                    <span class="textlogo"><span class="title">Kaakateeya Marraiages</span> </span>
                                </div>
                            </div>
                            <form name="loginForm" role="form" novalidate ng-submit="loginForm.$valid && head.model.loginsubmit(head)">
                                <div class="login-inside">
                                    <div class="login-data" ng-hide="!page.model.lockscreendiv">
                                        <div class="row clear">
                                            <label for="user">
                                               User Name:</label>
                                            <input ng-readonly="true" type="text" class="text" ng-model="head.model.usernameemployeeid" name="usernameemployee" required>
                                        </div>
                                        <div class="row clear">
                                            <label for="password">
                                           Password:
                                          </label>
                                            <input ng-focus="true" type="Password" class="text" ng-model="head.model.passwordemployee" name="passwordemployee" required>
                                            <div ng-messages="loginForm.passwordemployee.$invalid">
                                                <div style="color: red;font-size: 12px;" ng-if="loginForm.passwordemployee.$invalid && (loginForm.$submitted)">*Required.</div>
                                            </div>
                                        </div>
                                        <button type="submit" class="button">Login</button>
                                    </div>
                                    <div class="login-data" ng-hide="page.model.lockscreendiv">
                                        <div class="row clear">
                                            <div class="row">
                                                {{head.model.name}} Is Locked
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                            <br>
                                            <button ng-click="page.model.lockscreendiv=true" class="button">Unlock</button>
                                        </div>
                                    </div>
                                    <div class="pull-right"> {{head.model.CurrentDate | date:'dd MMMM yyyy hh.mm.ss'}},{{head.model.CurrentDate |date:'EEEE'}}</div>
                                </div>
                                <div class="login-footer" ng-if="false">
                                    <div class="row">
                                        <div class="col-lg-3  col-lg-offset-1">
                                            <label style="color:#ffffff;font-size: 14px;">AP:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.model.logincounts[0].LoggedCount!==undefind?head.model.logincounts[0].LoggedCount:0}}-{{head.model.logincounts[0].EmpCount!==undefined?head.model.logincounts[0].EmpCount:0}}</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <label style="color:#ffffff;font-size: 14px;">TN:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.model.logincounts[1].LoggedCount!==undefined?head.model.logincounts[1].LoggedCount:0}}-{{head.model.logincounts[1].EmpCount!==undefined?head.model.logincounts[1].EmpCount:0}}</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <label style="color:#ffffff;font-size: 14px;">KA:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.model.logincounts[2].LoggedCount!==undefined?head.model.logincounts[2].LoggedCount:0}}-{{head.model.logincounts[2].EmpCount!==undefined?head.model.logincounts[2].EmpCount:0}}</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </script>

    <script type="text/ng-template" id="changepassword.html">
        <div id="loginnewidcchangepassword" style='z-index: 99999'>
            <div class="login">
                <div class="login-box">
                    <div class="login-border">
                        <div class="login-style">
                            <div class="login-header">
                                <div class="logo clear">
                                    <img src="src/images/1234 yellow01.png" style="width: 90px;height: 76px;" alt="" class="picture" />
                                    <span class="textlogo"><span class="title">Kaakateeya Marraiages</span> </span>
                                </div>
                            </div>
                            <form name="changepasswordform" novalidate role="form" ng-submit="changepasswordform.$valid  && head.model.changepassword(head);">
                                <div class="login-inside">
                                    <div class="login-data">
                                        <div class="row clear">
                                            <label for="user">
                                              Current Password:</label>
                                            <input ng-keyup="$event.keyCode===13 && head.model.chkpassword(head.model.currentpassword)" ng-blur="head.model.chkpassword(head.model.currentpassword)" type="Password" class="text" ng-model="head.model.currentpassword" name="currentpassword" required/>
                                            <div ng-messages="changepasswordform.currentpassword.$invalid">
                                                <div style="color: red;font-size: 12px;" ng-if="changepasswordform.currentpassword.$invalid && (changepasswordform.$submitted)">*Required.</div>
                                            </div>

                                        </div>
                                        <div class="row clear">
                                            <label for="password">
                                         New Password:
                                          </label>
                                            <input ng-focus="true" type="Password" class="text" ng-model="head.model.newpassword" name="newpassword" required>
                                            <div ng-messages="changepasswordform.newpassword.$invalid">
                                                <div style="color: red;font-size: 12px;" ng-if="changepasswordform.newpassword.$invalid && (changepasswordform.$submitted)">*Required.</div>
                                            </div>
                                        </div>
                                        <div class="row clear">
                                            <label for="password">
                                         Confirm Password:
                                          </label>
                                            <input compare-to="head.model.newpassword" ng-focus="true" type="Password" class="text" ng-model="head.model.confirmpassword" name="confirmpassword" required>
                                            <!--<div ng-messages="changepasswordform.confirmpassword.$invalid">
                                                <div style="color: red;font-size: 12px;" ng-if="changepasswordform.confirmpassword.$invalid && (changepasswordform.$submitted)">*Required.</div>
                                            </div>-->
                                            <div ng-messages="changepasswordform.confirmpassword.$error">
                                                <div ng-if="changepasswordform.confirmpassword.$error.required && (changepasswordform.$submitted)" style="color: red;font-size: 12px;" ng-message="required">*Required</div>
                                                <div style="color: red;font-size: 12px;" ng-message="compareTo">Must match the previous entry</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="button col-lg-5">Change Password</button>
                                            <button class="button col-lg-4" ng-click="head.model.close()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="login-footer">
                                    <div class="row">
                                        <div class="col-lg-3  col-lg-offset-1">
                                            <label style="color:#ffffff;font-size: 14px;">AP:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.model.logincounts[0].LoggedCount!==undefind?head.model.logincounts[0].LoggedCount:0}}-{{head.model.logincounts[0].EmpCount!==undefined?head.model.logincounts[0].EmpCount:0}}</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <label style="color:#ffffff;font-size: 14px;">TN:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.model.logincounts[1].LoggedCount!==undefined?head.model.logincounts[1].LoggedCount:0}}-{{head.model.logincounts[1].EmpCount!==undefined?head.model.logincounts[1].EmpCount:0}}</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <label style="color:#ffffff;font-size: 14px;">KA:</label>
                                            <label style="color:#ffffff;font-size: 14px;">{{head.model.logincounts[2].LoggedCount!==undefined?head.model.logincounts[2].LoggedCount:0}}-{{head.model.logincounts[2].EmpCount!==undefined?head.model.logincounts[2].EmpCount:0}}</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </script>
    <script type="text/ng-template" id="unpaidmarket.html">
        <div class="modal-body">
            <market-tickethistory ticketid="head.model.unpaidticket"></market-tickethistory>
        </div>
    </script>

    </div>
    <style type="text/css">
        .modalclassdashboardphotopopuplogin {
            z-index: 999999 !important;
            width: 80%;
            left: 10%;
        }
        
        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: hidden;
        }
        
        .modalclassdashboardphotopopup {
            z-index: 9999999999 !important;
        }
        
        .modalclassdashboardphotopopup {
            z-index: 999999999 !important;
            top: 0%;
            left: 0%;
        }
        
        .modalclassdashboardphotopopup .modal-dialog.modal-md {
            width: 70%;
        }
        
        .modalclassdashboardphotopopup .md-tab {
            padding: 14px 15px;
        }
        
        .modalclassdashboardphotopopup .pop_label_left {
            width: 40%;
        }
    </style>