<div ng-controller="headerctrl as head" id="logindivheader">
    <div class="top_nav" id="top_navdiv">
        <div class="nav_menu">
            <nav class="col-lg-12">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <div style="color:#fff;"><strong style="font-size: 19px;"> Welcome  {{head.name}}</strong>
                        </div>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img ng-src="{{head.empphoto}}" alt="">
                            <span class="fa fa-angle-down" id="spandownheader"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: #A00201;">
                            <li><a style="color: white;" href="javascript:void(0)" ng-click="head.logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            <md-divider></md-divider>
                            <li>
                                <a style="color: white;" data-toggle="tooltip" data-placement="top" title="Lock" href="javascript:void(0)" ng-click="head.lockscreen()">
                                    <span class="glyphicon glyphicon-eye-close pull-right" aria-hidden="true"></span>Lock
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navtop navbar-left">
                    <li class="has-sub">
                        <a href="javascript:void(0)"></i>Registration</a>

                        <ul>
                            <li><a href="Registration">Customer New Registration</a></li>
                            <li><a href="editViewprofileurl">Edit/View Profile</a></li>
                            <li><a href="bootstrapTable">Registration Validation</a></li>
                            <li><a href="EmployeePayments">Payment Details</a></li>
                            <li><a href="Viewfullprofile/0">Customer New Admin Profile</a></li>
                            <li><a href="expressInterestpage">Expressinterest</a></li>
                            <li><a href="myProfilepage">My Profile</a></li>
                            <!--<li class="has-sub"><a href="#">SUB SUB LIST</a>
                                <ul>
                                    <li><a href="#">Sub Sub Item 1</a></li>
                                    <li><a href="#">Sub Sub Item 2</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </li>
                    <li class="has-sub"><a href="javascript:void(0)"> Search </a>
                        <ul>
                            <li><a href="search/0">General Search</a></li>
                            <li><a href="search/1">Advanced search</a></li>
                            <li><a href="searchdd">Keyword Search</a></li>
                            <li><a href="searchdd">Keyword Search_Kmpl</a></li>
                        </ul>
                    </li>


                    <li class="has-sub"><a href="javascript:void(0)"> My Account</a>
                        <ul>
                            <li><a href="myProfilepage">My Profiles</a></li>
                            <li><a href="marketingpage">Marketing Tickets</a></li>
                            <li><a href="matchFollowuppage">Match Followup Tickets</a></li>
                            <li><a href="searchss">My Assigned Photos</a></li>
                        </ul>
                    </li>


                    <li class="has-sub"><a href="javascript:void(0)">Maintance Work  </a>
                        <ul>
                            <li><a href="searchss">Unassigned Profiles</a></li>
                            <li><a href="searchss">Unassigned Photos</a></li>
                            <li><a href="searchss">Match Meeting Report</a></li>
                            <li><a href="searchss">Upload Success Stories</a></li>
                            <li><a href="searchss">View Success Stories</a></li>
                            <li><a href="searchss">Customer Message Verification</a></li>
                            <li><a href="searchss">Re Assign Employee</a></li>
                            <li><a href="searchss">Book Marks</a></li>
                            <li><a href="searchss">Customer/Employee Config</a></li>
                        </ul>
                    </li>


                    <li class="has-sub"><a href="javascript:void(0)">Admin Forms  </a>
                        <ul>
                            <li><a href="searchss">Branch Creation</a></li>
                            <li><a href="searchss">List Branches</a></li>
                            <li><a href="searchss">Add/Edit Faqs</a></li>
                        </ul>
                    </li>

                    <li class="has-sub"><a href="javascript:void(0)"> Reports </a>
                        <ul>
                            <li><a href="EmployeePayments">Payment Report</a></li>
                            <li><a href="javascript:void(0)">Summary Profile Report</a></li>
                            <li><a href="javascript:void(0)">Profile Modification </a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script type="text/ng-template" id="loginContent.html">

        <form id="loginnewidcc" name="loginForm" novalidate role="form" style='z-index: 99999'>
            <div class="login">
                <div class="login-box">
                    <div class="login-border">
                        <div class="login-style">
                            <div class="login-header">
                                <div class="logo clear">
                                    <img src="src/images/1234 yellow01.png" style="width: 90px;height: 76px;" alt="" class="picture" />
                                    <span class="textlogo"><span class="title">Kaakateeya Marraiages</span> </span>
                                </div>
                            </div>
                            <form name="loginForm" novalidate>
                                <div class="login-inside">
                                    <div class="login-data">
                                        <div class="row clear">
                                            <label for="user">
                                               User Name:</label>
                                            <input ng-readonly="true" ng-keyup="loginForm.$valid && $event.keyCode == 13 && head.loginsubmit(head,loginForm.usernameemployee.$error,loginForm.passwordemployee.$error,loginForm.$valid)" type="text" class="text" ng-model="head.usernameemployeeid" name="usernameemployee"
                                                required>
                                            <div ng-show="head.model.usernameemployeepop" ng-messages="loginForm.usernameemployee.$error" style="color: red;">
                                                <div ng-message="required">This is required.</div>
                                            </div>

                                        </div>
                                        <div class="row clear">
                                            <label for="password">
                                           Password:</label>

                                            <input focus-me="true" ng-keyup="loginForm.$valid && $event.keyCode == 13 && head.loginsubmit(head,loginForm.usernameemployee.$error,loginForm.passwordemployee.$error,loginForm.$valid)" type="Password" class="text" ng-model="head.passwordemployee" name="passwordemployee"
                                                required>
                                            <div style="color: red;" ng-show="head.model.usernameemployeepasswordpop" ng-messages="loginForm.passwordemployee.$error">
                                                <div ng-message="required">This is required.</div>

                                            </div>

                                        </div>
                                        <button ng-click="head.loginsubmit(head,loginForm.usernameemployee.$error,loginForm.passwordemployee.$error,loginForm.$valid)" class="button">Login</button>

                                    </div>


                                    <div class="pull-right"> {{head.CurrentDate | date:'dd MMMM yyyy hh.mm.ss'}},{{head.CurrentDate |date:'EEEE'}}</div>

                                </div>

                        </div>
                        <div class="login-footer">
                            <div class="row">
                                <div class="col-lg-3  col-lg-offset-1">
                                    <label style="color:#ffffff;font-size: 14px;">AP:</label>
                                    <label style="color:#ffffff;font-size: 14px;">{{head.logincounts[0].LoggedCount!==undefind?head.logincounts[0].LoggedCount:0}}-{{head.logincounts[0].EmpCount!==undefined?head.logincounts[0].EmpCount:0}}</label>
                                </div>
                                <div class="col-lg-3">
                                    <label style="color:#ffffff;font-size: 14px;">TN:</label>
                                    <label style="color:#ffffff;font-size: 14px;">{{head.logincounts[1].LoggedCount!==undefined?head.logincounts[1].LoggedCount:0}}-{{head.logincounts[1].EmpCount!==undefined?head.logincounts[1].EmpCount:0}}</label>
                                </div>
                                <div class="col-lg-3">
                                    <label style="color:#ffffff;font-size: 14px;">KA:</label>
                                    <label style="color:#ffffff;font-size: 14px;">{{head.logincounts[2].LoggedCount!==undefined?head.logincounts[2].LoggedCount:0}}-{{head.logincounts[2].EmpCount!==undefined?head.logincounts[2].EmpCount:0}}</label>
                                </div>
                            </div>

                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </form>

    </script>
</div>


<style type="text/css">
    .modalclassdashboardphotopopuplogin {
        z-index: 999999 !important;
        width: 80%;
        left: 10%;
    }
    
    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>