#viewProfileIdnew {
  /*.personal_inform_main h4 {
          text-transform: uppercase;
          font-size: 14px;
          color: #000;
          font-weight: 700;
      }*/ }
  #viewProfileIdnew .profile_full_main {
    width: 1160px;
    margin: 0 auto;
    display: block; }
  #viewProfileIdnew .profile_full_header {
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 3px;
    position: relative; }
  #viewProfileIdnew .profile_full_header_pic {
    float: left; }
  #viewProfileIdnew .profile_full_header_pic img {
    display: block; }
  #viewProfileIdnew .profile_full_header h6 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    color: #d93036;
    margin: 0 0 20px 0 !important; }
  #viewProfileIdnew .profile_full_header h6 span {
    color: #000; }
  #viewProfileIdnew .profile_full_header_in {
    float: left;
    padding: 0 0 0 20px; }
  #viewProfileIdnew .profile_full_header_in p {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px 0; }
  #viewProfileIdnew .profile_full_header_in p span {
    display: inline-block;
    padding: 0 4px; }
  #viewProfileIdnew .profile_full_header .search_result_item_ui_exprsns {
    padding: 0 0 10px 0; }
  #viewProfileIdnew .profile_full_header_in_ui {
    position: absolute;
    right: 20px;
    top: 10px; }
  #viewProfileIdnew .profile_full_header_in_ui a {
    border-radius: 3px;
    margin: 0 0 0 10px;
    display: block;
    float: left;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #d42e02;
    border: solid 1px #ccc;
    transition: all 0.4s ease-in-out; }
  #viewProfileIdnew .profile_full_header_in_ui a:hover {
    background: #e4e4e4; }
  #viewProfileIdnew .personal_inform_main {
    border: solid 1px #ccc;
    border-radius: 5px;
    border-bottom: 0 none; }
  #viewProfileIdnew .personal_inform_head {
    padding: 10px 20px;
    border-bottom: solid 1px #ccc; }
  #viewProfileIdnew .personal_inform_head h4 {
    float: left;
    padding: 6px 0 0 0; }
  #viewProfileIdnew .personal_inform_head .edit_prsnl {
    float: right;
    background: url(../images/icon_edit.png) no-repeat center center;
    width: 30px;
    height: 30px;
    display: block; }
  #viewProfileIdnew .personal_inform_main_in {
    padding: 6px 20px;
    border-bottom: solid 1px #ccc; }
  #viewProfileIdnew .personal_inform_main_in p {
    color: #717171;
    line-height: 20px;
    margin: 0 0 8px 0;
    font-weight: 400; }
  #viewProfileIdnew .personal_inform_main_in h4 {
    padding: 0 0 10px 0; }
  #viewProfileIdnew .personal_inform_main_in_list {
    display: block; }
  #viewProfileIdnew .personal_inform_main_in_list p {
    display: block;
    width: 32%;
    padding: 0 1% 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    white-space: nowrap;
    width: 265px; }
  #viewProfileIdnew .personal_inform_main_in p span {
    color: #000; }
  #viewProfileIdnew .profile_full_header_in_ui a {
    border-radius: 3px;
    margin: 0 0 0 10px;
    display: block;
    float: left;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    background-color: #66ccff;
    border: solid 1px #ccc;
    transition: all 0.4s ease-in-out; }
  #viewProfileIdnew .modal-backdrop {
    z-index: 1040 !important; }
  #viewProfileIdnew body {
    font-family: 'Open Sans', sans-serif !important; }
  #viewProfileIdnew .lblHeadings {
    font-size: 14px; }
  #viewProfileIdnew .personal_inform_main_in_new {
    padding: 6px 20px; }
  #viewProfileIdnew .AboutLbl {
    color: Black;
    font-weight: bold;
    color: #000;
    padding-bottom: 2%;
    font-size: 15px; }
  #viewProfileIdnew .aboutval {
    width: 750px; }
  #viewProfileIdnew .imgSize {
    height: 160px;
    width: 150px; }
  #viewProfileIdnew md-checkbox .md-icon {
    width: 17px;
    height: 16px; }
  #viewProfileIdnew md-checkbox.md-checked .md-icon:after {
    width: 4.66667px; }
  #viewProfileIdnew md-checkbox .md-container:after {
    width: 17px;
    height: 16px; }
  #viewProfileIdnew md-checkbox.ng-pristine.ng-untouched.ng-valid.ng-not-empty.md-checked {
    width: 17px;
    height: 16px; }
  #viewProfileIdnew md-checkbox {
    margin-bottom: 0px; }

.headerStyles {
  color: #5c5252;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -2%; }

@media screen {
  /*# sourceMappingURL=style.css.map */
  .printCls {
    display: none; }

  .displayCls {
    display: block; } }
@media print {
  .printCls {
    display: block; }

  .displayCls {
    display: none; }

  .displayClsnew {
    display: none; }

  .personal_inform_main span {
    font-size: 18px; }

  .profile_full_header_in span {
    font-size: 18px; }

  #viewProfileIdnew .lblHeadings {
    font-size: 18px; }

  .displayClsnewcontacts {
    display: none !important; }

  md-checkbox * {
    display: none !important;
    visibility: hidden; }

  .personal_inform_main_in md-checkbox .md-icon {
    display: none;
    width: 0px;
    height: 0px; }

  .personal_inform_main_in md-checkbox .md-container:after {
    display: none;
    width: 0px;
    height: 0px; }

  .personal_inform_main_in md-checkbox.ng-pristine.ng-untouched.ng-valid.ng-not-empty.md-checked {
    width: 0px;
    height: 0px; }

  .personal_inform_main_in md-checkbox {
    margin-bottom: 0px; }

  .personal_inform_main_in_list p {
    display: block;
    width: 32%;
    padding: 0 1% 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

  .personal_inform_main_in p {
    color: #717171;
    line-height: 22px;
    margin: 0 0 8px 0;
    font-weight: 400; } }

/*# sourceMappingURL=style.css.map */
