<div class="right_col" id="settleDelete">

    <div>
        <h3 class="hdrsettleCls">Settled Profiles</h3>
        <div class="maincls">

            <form name="settledDeleteForm" role="form" novalidate ng-submit="settledDeleteForm.$valid && page.model.submit();">
                <div class="row">

                    <div class="col-lg-6 mainRow">
                        <div class="row">
                            <label for="narration" class="col-lg-4">Settled type</label>
                            <div class="col-lg-7">
                                <md-radio-group layout="row" ng-model="page.model.settleType" ng-change="page.model.changeDiv(page.model.settleType);" class="md-block" flex-gt-sm>
                                    <md-radio-button value="0" class="md-primary"> With Kaakateeya </md-radio-button>
                                    <md-radio-button value="1"> Outside </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mainRow">
                        <div class="row">
                            <label for="narration" class="col-lg-4">{{page.model.settleType==='0'?'Settled ':'Deleted '}} profile owner</label>
                            <div class="col-lg-7">
                                <label for="" class="control-label">{{page.model.fromProfileOwner}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mainRow" ng-repeat="item in page.model.mainArray">
                        <div class="row form-group" ng-repeat="inItm in item.div">
                            <label for="" class="col-lg-4">{{inItm.name}} <span ng-if="inItm.required" class="required">*</span></label>
                            <div class="col-lg-7" ng-if="inItm.controlType==='label'">
                                <label for="">{{page.model[inItm.ngModel]}} </label>
                            </div>
                            <div class="col-lg-7" ng-show="inItm.controlType==='textbox'">
                                <input type="text" class="form-control" ng-readonly="inItm.readonly" ng-required="inItm.required" ng-model="page.model[inItm.ngModel]" ng-blur="page.model[inItm.method](inItm.param)">
                            </div>
                            <div class="col-lg-7" ng-if="inItm.controlType==='date'">
                                <custom-datepicker class="datepicker3" ng-required="inItm.required" ng-model="page.model[inItm.ngModel]" date-options="page.model.dateOptions"></custom-datepicker>
                            </div>
                            <div class="col-lg-7" ng-if="inItm.controlType==='select'">
                                <select multiselectdropdown class="smalldropdown" ng-model="page.model[inItm.ngModel]" typeofdata="'childStayingWith'" ng-change="page.model.RelationshipChange(page.model[inItm.ngModel])">   
                              </select>
                            </div>
                            <div class="col-lg-8" ng-if="inItm.controlType==='radio'">
                                <md-radio-group layout="row" ng-model="page.model[inItm.ngModel]" class="md-block" flex-gt-sm>
                                    <md-radio-button ng-value="itm.value" class="md-primary" ng-class="itm.ngModel" ng-repeat="itm in page.model[inItm.Arrbind]"> {{itm.label}}</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="narration" class="col-lg-2">Narration</label>
                    <div class="col-lg-10">
                        <textarea name="" id="" rows="4" class="form-control" ng-model="page.model.narration"></textarea>
                    </div>
                </div>

                <br>
                <div class="clearfix borderCls"></div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="submit" class="button_custom pull-right" ng-value="page.model.settleType==='0'?'Settled with kaakateeya':'Delete'">
                    </div>
                    <div class="col-lg-6">
                        <input type="reset" class="button_custom button_custom_reset reset" value="reset" ng-click="page.model.reset();">
                    </div>
                </div>
        </div>
    </div>
</div>

<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
</style>