<div class="right_col" id="offferAssign">
    <div>
        <h3 class="hdrsettleCls" ng-style="{position: page.model.AgreedAmt?'absolute':''}"> Payment Offers Assign</h3>
        <div ng-if="page.model.AgreedAmt" class="text-center"><span>
              
             <span class="infn">Agreed Amount </span>- {{page.model.AgreedAmt}}
            </span>
            <span class="infn">No of points  </span>- {{page.model.strPoints}}
            </span>&nbsp;&nbsp;
            <span class="infn">Expiry Date </span>- {{page.model.strDate}}
            </span>&nbsp;&nbsp;
        </div>
        <div class="maincls">
            <form name="offerForm" novalidate role="form" ng-submit="offerForm.$valid && page.model.SubmitPaymentOffer();">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row form-group">
                            <label for="ProfileID" class="control-label col-lg-4">ProfileID</label>
                            <div class="col-lg-6">
                                <input type="number" ng-maxlength="'9'" class="form-control" ng-model="page.model.ProfileID" ng-required="page.model.ProfileID?false:true"></input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="Agreementvalue" class="control-label col-lg-4">Agreed amount</label>
                            <div class="col-lg-6">
                                <input type="number" class="form-control" ng-model="page.model.AgreedAmt" required ng-blur="page.model.showOfferDetails(page.model.AgreedAmt);"></input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="" class="control-label col-lg-4">Tax</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" ng-model="page.model.tax" required></input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="control-label col-lg-4">Membership Type </label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <select multiselectdropdown name="memberShipType" ng-model="page.model.memberShipType" required ng-options="item.value as item.label for item in page.model.membershipTypeArr"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="row form-group input-control">
                            <label for="Caste" class="control-label col-lg-3">Religion</label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <select multiselectdropdown ng-model="page.model.religion" ng-required="page.model.ProfileID?false:true" typeofdata="'Religion'" ng-change="page.model.casteDependency(page.model.religion,page.model.mothertongue);"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group input-control">
                            <label for="Caste" class="control-label col-lg-3">Mothertongue</label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <select class="" multiselectdropdown ng-model="page.model.mothertongue" ng-required="page.model.ProfileID?false:true" typeofdata="'Mothertongueselect'" ng-change="page.model.casteDependency(page.model.religion,page.model.mothertongue);"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group input-control">
                            <label for="Caste" class="control-label col-lg-3">Caste</label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <select class="" multiselectdropdown ng-model="page.model.Caste" ng-required="page.model.ProfileID?false:true" ng-options="item.value as item.label for item in page.model.casteArr"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-center" style="border-top: 1px solid #ddd;padding-top: 1%;">
                        <input class="button_custom" type="submit" value="Search">
                        <input type="reset" class="button_custom button_custom_reset" value="Reset" ng-click="page.model.reset();">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="alert.html">
    <div class="modal-header  alert-info">
        <button type="button" class="close" ng-click="page.model.closepopup();">×</button>
        <h4 class="modal-title">Payment offer</h4>
    </div>
    <div class="modal-body" style="line-height:20px;">
        <div class='row'>
            <span class="paymentOfr col-lg-5"> Amount </span>&nbsp;&nbsp; {{page.model.strAmt}}
        </div>
        <div class='row'>
            <span class="paymentOfr col-lg-5">No of Points </span>&nbsp; &nbsp; {{page.model.strPoints}}
        </div>
        <div class='row'>
            <span class="paymentOfr col-lg-5">Expiry Date </span>&nbsp; &nbsp;{{page.model.strDate }}
        </div>
    </div>
</script>