<div class="right_col" id="mmEntryID">
    <h3 class="hdrCls">Match meeting entry form</h3>
    <div class="bodycls">
        <form name="MMEntryForm" novalidate role="form" ng-submit="page.model.matchMeetingSubmit();">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-5"><label for="" class="control-label required">Bride profileID</label></div>
                        <div class="col-lg-3 form-group">
                            <input type="text" ng-model="page.model.brideProfileID" class="form-control" ng-blur="page.model.getEmpDetails(page.model.brideProfileID, 1,page.model.groomProfileID);" required>
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="control-label">{{page.model.brideEmpID}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 clearfix"><label for="" class="control-label required">Meeting date/time</label></div>
                        <custom-datepicker name="date" style="padding-right: 0px;" ng-model="page.model.txtmeetingDate" ng-required="true" class="datepicker3 col-lg-2" date-options="page.model.dateOptions"></custom-datepicker>
                        <div class="col-lg-2">
                            <select name="hrs" multiselectdropdown ng-model="page.model.ddlhrs" ng-required="true" ng-options="item.value as item.label for item in page.model.hrsbindArr"></select>
                        </div>
                        <div class="col-lg-2">
                            <select name="mins" multiselectdropdown ng-model="page.model.ddlMins" ng-required="true" ng-options="item.value as item.label for item in page.model.minbindArr"></select>
                        </div>
                        <br>
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-3" style="color: #a94442;">
                                <div ng-if="MMEntryForm.date.$invalid && (MMEntryForm.$submitted)" ng-messages="MMEntryForm.date.$error">This is required.</div>
                            </div>
                            <div class="col-lg-3" style="color: #a94442;">
                                <div ng-if="MMEntryForm.hrs.$invalid && (MMEntryForm.$submitted)" ng-messages="MMEntryForm.hrs.$error">This is required.</div>
                            </div>
                            <div class="col-lg-3" style="color:#a94442;">
                                <div ng-if="MMEntryForm.mins.$invalid && (MMEntryForm.$submitted)" ng-messages="MMEntryForm.mins.$error">This is required.</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div style="color:#a94442;" class="row clearfix" ng-if="((MMEntryForm.date.$invalid &&  MMEntryForm.hrs.$invalid && MMEntryForm.mins.$invalid) && (MMEntryForm.$submitted))" ng-messages="MMEntryForm.date.$error || MMEntryForm.hrs.$error || MMEntryForm.mins.$error"
                        role="alert">
                        <div ng-message-exp="['required']" style="margin-left: 44%;">This field is required.
                        </div>
                    </div> -->

                    <!-- <div style="color:#a94442;" class="row clearfix" ng-if="MMEntryForm.mins.$invalid && (MMEntryForm.$submitted)" ng-messages="MMEntryForm.mins.$error" role="alert">
                        <div ng-message-exp="['required']" style="margin-left: 44%;">This field is required.
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-lg-5"><label for="" class="control-label required">Members joining the meeting (Bride) </label></div>
                        <div class="col-lg-6"><select multiselectdropdown name="bridemembers" multiple pagetype="'search'" typeofdata="'childStayingWith'" ng-model="page.model.ddlbrideMembers" ng-required="true"></select></div>
                    </div>
                    <div style="color:#a94442;" class="row clearfix" ng-if="((MMEntryForm.bridemembers.$invalid) && (MMEntryForm.$submitted))" ng-messages="MMEntryForm.bridemembers.$error" role="alert">
                        <div ng-message-exp="['required']" style="margin-left: 44%;">This field is required.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"><label for="" class="control-label required">Meeting arranged by emp</label></div>
                        <div class="col-lg-6"><select multiselectdropdown name="ddlArrangedByEmp" typeofdata="'EmpNames'" ng-model="page.model.ddlArrangedByEmp" required></select></div>
                    </div>
                    <div style="color:#a94442;" class="row clearfix" ng-if="((MMEntryForm.ddlArrangedByEmp.$invalid) && (MMEntryForm.$submitted))" ng-messages="MMEntryForm.ddlArrangedByEmp.$error" role="alert">
                        <div ng-message-exp="['required']" style="margin-left: 44%;">This field is required.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-5"><label for="" class="control-label required">Groom profileID</label></div>
                        <div class="col-lg-3 form-group"><input type="text" class="form-control" ng-model="page.model.groomProfileID" required ng-blur="page.model.getEmpDetails(page.model.groomProfileID, 2,page.model.brideProfileID);"></div>
                        <div class="col-lg-3">
                            <label for="" class="control-label">{{page.model.groomEmpID}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"><label for="" class="control-label required">Place</label></div>
                        <div class="col-lg-6 form-group"><input type="text" class="form-control" ng-model="page.model.txtPlace" required></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"><label for="" class="control-label required">Members joining the meeting (Groom)</label></div>
                        <div class="col-lg-6"><select multiselectdropdown name="ddlGroomMembers" multiple pagetype="'search'" typeofdata="'childStayingWith'" ng-model="page.model.ddlGroomMembers" required></select></div>
                    </div>

                    <div style="color:#a94442;" class="row clearfix" ng-if="((MMEntryForm.ddlGroomMembers.$invalid) && (MMEntryForm.$submitted))" ng-messages="MMEntryForm.ddlGroomMembers.$error" role="alert">
                        <div ng-message-exp="['required']" style="margin-left: 44%;">This field is required.
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"><label for="" class="control-label required">Notes for meeting</label></div>
                <div class="col-lg-9"><textarea style="margin-left: 6%;" name="txtNotes" id="" cols="115" rows="3" class="form-control" ng-model="page.model.txtNotes" required></textarea></div>
            </div>
            <div style="color:#a94442;" class="row clearfix" ng-if="((MMEntryForm.txtNotes.$invalid) && (MMEntryForm.$submitted))" ng-messages="MMEntryForm.txtNotes.$error" role="alert">
                <div ng-message-exp="['required']" style="margin-left: 22%;">This field is required.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <input type="submit" value="Submit" class="button_custom pull-right">
                </div>
                <div class="col-lg-6">
                    <input type="reset" value="Reset" class="button_custom button_custom_reset resetCls" ng-click="page.model.reset();">
                </div>
            </div>
        </form>
    </div>

</div>

<style>
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .required::after {
        content: '*';
        color: red;
        padding-left: 7px;
    }
</style>

<script type="text/ng-template" id="meeetingStatus.html">
    <div class="modal-header alert-danger">
        <center> <b> Do you want to continue?</b></center>
    </div>
    <div class="modal-body">
        <div ng-if="page.model.casteFlag">
            <span class="maroon">*</span> <label for="">  {{page.model.casteDiff}}</label>
        </div>
        <div ng-if="page.model.expressFlag">
            <span class="maroon">*</span> <label for="">  {{page.model.ExpressintrstText}}</label>
        </div>

        <div ng-if="page.model.matchmeeting">
            <table class="table">
                <thead style="background-color: #fdca52;">
                    <tr>
                        <th>Match meeting date</th>
                        <th>StatusID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in page.model.matchmeetingStatusArr">
                        <td>{{item.MeetingDate}}</td>
                        <td>{{item.MMStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-success" value="Yes" ng-click="page.model.no_method('yes');">
        <input type="reset" value="No" class="btn btn-danger" ng-click="page.model.no_method('no');">
    </div>
</script>