#mmEntryID {
    .bodycls {
        line-height: 41px;
    }
    .bodycls {
        padding-left: 1%;
    }
    .col-lg-5 {
        padding-right: 0px;
    }
    .input-group {
        display: inline-block;
    }
}

.maroon {
    color: maroon;
    font-size: 18px;
}

.dashboardheaderpopup {
    background-color: rgba(197, 205, 50, 0.42);
    margin-bottom: 10px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}