<div class="right_col" role="main" id="viwprofilecustomerprint">
    <h2 class="headerStylesview" ng-if="page.model.personalinfo.length>0">Kaakateeya Marriages</h2>
    <div class="row">
        <div class="text-center col-lg-6" ng-style="{'margin-left':page.model.personalinfo.length>0?'150px':'150px'}" ng-hide="page.model.textboxshowhide">
            <div class="row">
                <div class="col-lg-4">
                    <label for="profileid" class="control-label pull-right">ProfileID</label>
                </div>
                <div class="col-lg-4">
                    <input focus-me="true" type="text" maxlength="10" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-model="page.model.txtProfileID" class="form-control" ng-keyup="$event.keyCode == 13 && page.model.EmpViewfullProfile(page.model.txtProfileID)">
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-danger" ng-click="page.model.EmpViewfullProfile(page.model.txtProfileID,'textbox')">Go</button>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-danger" ng-click="page.model.inbitdata(page.model.txtProfileID)">For Inbit</button>
                </div>
            </div>
            <br>
        </div>
        <div-print style="font-size:16px;" ng-class="page.model.textboxshowhide?'floatleftclass':'col-lg-2'" div-info="page.divInfo" ng-show="true"></div-print>
    </div>
    <br>
    <div class="clearfix"></div>
    <div id="printThisElement">
        <div id="viewProfileId">
            <div ng-hide="page.model.fullprofileshow" class="printCls">
                <div>
                    <div class="profile_full_header_in">
                        <h6 style="font-size: 18px;">
                            <span style="margin-left:350px;">(Profile ID:{{page.model.personalinfo[0].ProfileID}})</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="profile_full_main" ng-hide="page.model.fullprofileshow">
                <div class="profile_full_header clearfix printCls">
                    <div class="row">
                        <div class="col-lg-10 col-xs-10 col-md-10 col-sm-10">
                            <div class="profile_full_header_in">
                                <div class='row'>
                                    <div ng-repeat="itm in page.model.basicinfo" class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                                        <span style="color:Black;font-weight:bold;">{{itm.columnname|| (itm.columnName==='1'?'Education':(itm.columnName==='2'|| itm.columnName==='3' || itm.columnName==='4' || itm.columnName==='5')?"":itm.columnName) ||itm.ColumnName}}</span>
                                        <span style="color:DarkBlue;"> <span ng-if="itm.columnname!='' && itm.columnname!=null">:</span>
                                        <span ng-bind-html="itm.value || itm.Value" style="color:DarkBlue;"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-2 col-md-2 col-sm-2">
                            <div ng-class="divclassmask(LoginPhotoIsActive)">
                                <img name="iProfilePic" ng-click="page.model.showPhotoPopup()" ng-src="{{page.model.personalinfo[0].ApplicationPhotoPath}}" style="height:150px;width:150px;cursor:pointer;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile_full_header clearfix displayCls">
                    <div class="profile_full_header_pic">
                        <div ng-class="divclassmask(LoginPhotoIsActive)">
                            <img name="iProfilePic" ng-click="page.model.showPhotoPopup()" ng-src="{{page.model.personalinfo[0].ApplicationPhotoPath}}" style="height:150px;width:150px;cursor:pointer;" />
                        </div>
                    </div>
                    <div class="profile_full_header_in">
                        <h6>
                            <span id="lblName">{{page.model.personalinfo[0].NAME}}</span>
                            <span>
                              <span>(Profile ID:{{page.model.personalinfo[0].ProfileID}}) </span></span>
                        </h6>
                        <div class="" ng-hide="page.model.aboutmyself[0].Aboutyourself===null || page.model.aboutmyself[0].Aboutyourself==='NOT Given' || page.model.aboutmyself[0].Aboutyourself===''">
                            <h4 class="AboutLbl">About my
                                <span>{{page.model.personalinfo[0].GenderID===2?"Daughter":"Son"}}</span></h4>
                            <p class="aboutval">
                                <span id="lblDesc">{{page.model.aboutmyself[0].Aboutyourself}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="profile_full_header_in_ui clearfix">
                        <div id="updateHoror" ng-if="page.model.personalinfo[0].HoroscopeImage!=='' && page.model.personalinfo[0].HoroscopeImage!==null && page.model.personalinfo[0].HoroscopeImage!=='Not given'
                                && (page.model.personalinfo[0].HoroscopeImage).indexOf('Horo_no.jpg')===-1">
                            <img ng-src="src/images/viewhoroscopeimage.jpg" class="imgSize" ng-click="page.model.viewhoroscopeimage(page.model.personalinfo[0].HoroscopeImage)">
                        </div>
                        <br>
                    </div>
                </div>
                <div class="personal_inform_main">
                    <div ng-repeat="item in page.model.viewprofilearray" ng-if="item.header=='Headings' || item.header=='About' || item.header=='Primary'?'':item.header">
                        <div class="personal_inform_head clearfix" ng-class="item.header=='My Basic Details'?'displayCls':''" style="background-color: rgb(244, 182, 36); padding: 0px 10px; border-bottom: solid 1px #ccc;">
                            <h4>
                                <span class="lblHeadings">{{item.header}}</span></h4>
                            <a href="#" class="edit_prsnl"></a>
                        </div>
                        <div class="personal_inform_main_in" ng-class="item.header==='My Basic Details'?'displayCls':''">
                            <div ng-class="page.model.applyCls(item.header);">
                                <p ng-repeat="itm in item.value">
                                    <span style="color:Black;font-weight:bold;">{{itm.columnname|| (itm.columnName==='1'?'Education':(itm.columnName==='2'|| itm.columnName==='3' || itm.columnName==='4' || itm.columnName==='5')?"":itm.columnName) ||itm.ColumnName}}</span>
                                    <span>
                                     <span style="color:DarkBlue;"> <span ng-if="itm.columnname!='' && itm.columnname!=null">:</span>
                                    <span ng-bind-html="itm.value || itm.Value" style="color:DarkBlue;"></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="printCls" ng-if="page.model.aboutmyself[0].Aboutyourself==='NOT Given' || page.model.aboutmyself[0].Aboutyourself===''?false:true">
                        <div ng-if="page.model.aboutmyself[0].Aboutyourself==='NOT Given' || page.model.aboutmyself[0].Aboutyourself===''?false:true" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 0px 10px; border-bottom: solid 1px #ccc;">
                            <h4>about my
                                <span>{{page.model.personalinfo[0].GenderID===2?"Daughter":"Son"}}</span></h4>
                        </div>
                        <div class="personal_inform_main_in">
                            <p>
                                <span>{{page.model.aboutmyself[0].Aboutyourself}}</span>
                            </p>
                        </div>
                    </div>
                    <div ng-hide="page.model.textboxshowhide">
                        <div class="personal_inform_head clearfix" ng-show="(page.model.aboutmyself[0].SelfContactNumber!==null && page.model.aboutmyself[0].SelfContactNumber!==undefined && page.model.aboutmyself[0].SelfContactNumber!=='')||(page.model.aboutmyself[0].SelfEmailID!==null && page.model.aboutmyself[0].SelfEmailID!==undefined && page.model.aboutmyself[0].SelfEmailID!=='')"
                            style="background-color: rgb(244, 182, 36); padding: 0px 10px; border-bottom: solid 1px #ccc;">
                            <h4>{{page.model.personalinfo[0].GenderID===2?"Bride Contacts":"Groom Contacts"}}
                            </h4>
                        </div>
                        <div class="personal_inform_main_in" ng-show="(page.model.aboutmyself[0].SelfContactNumber!==null && page.model.aboutmyself[0].SelfContactNumber!==undefined && page.model.aboutmyself[0].SelfContactNumber!=='')||(page.model.aboutmyself[0].SelfEmailID!==null && page.model.aboutmyself[0].SelfEmailID!==undefined && page.model.aboutmyself[0].SelfEmailID!=='')">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-show="page.model.aboutmyself[0].SelfContactNumber!==null && page.model.aboutmyself[0].SelfContactNumber!==undefined && page.model.aboutmyself[0].SelfContactNumber!==''">
                                    <span style="color:Black;font-weight:bold;">Mobile</span>
                                    <span>
                                     <span style="color:DarkBlue;"> <span>:</span>
                                    <span style="color:DarkBlue;">{{page.model.aboutmyself[0].SelfContactNumber}}</span>
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-show="page.model.aboutmyself[0].SelfEmailID!==null && page.model.aboutmyself[0].SelfEmailID!==undefined && page.model.aboutmyself[0].SelfEmailID!==''">
                                    <span style="color:Black;font-weight:bold;">Email</span>
                                    <span>
                                     <span style="color:DarkBlue;"> <span>:</span>
                                    <span style="color:DarkBlue;">{{page.model.aboutmyself[0].SelfEmailID}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="forinbit.html">
        <div class="modal-header">
            <input type="image" class="pull-right" ng-click="page.model.close()" src="src/images/ico_close.gif" style="text-align: right;">
        </div>
        <div class="modal-body">
            <span><b><div class="row" ng-show="page.model.forinbitinfo.EIsVerified==='1'?false:true">
             <label style="color:black;float: left;">Email:</label>
            <label  style="color: red;float: left;">&nbsp;&nbsp;{{page.model.forinbitinfo.Email}}&nbsp;&nbsp;</label>
             <span ng-show="page.model.forinbitinfo.EIsVerified==='1'?true:false"  class="fa fa-check-circle" style="color:green;width: 30px;float: left;"></span>
            <span ng-show="page.model.forinbitinfo.EIsVerified!=='1'?true:false" class="glyphicon glyphicon-ok"></span><a ng-click="page.model.verifymail(page.model.forinbitinfo.CustID)" ng-show="page.model.forinbitinfo.EIsVerified!=='1'?true:false" href="javascript:void(0);">&nbsp;&nbsp;verify Email</a>
        </div>
        <div class="row" ng-show="page.model.forinbitinfo.MIsVerified==='1'?false:true"><label style="color:black;float: left;">Mobile:</label>
            <label style="color: red;float: left;">&nbsp;&nbsp;{{page.model.forinbitinfo.MobileNumber}}&nbsp;&nbsp;</label>
            <span ng-show="page.model.forinbitinfo.MIsVerified==='1'?true:false" class="fa fa-check-circle" style="color:green;width: 30px;float: left;"></span>
            <span ng-show="page.model.forinbitinfo.MIsVerified!=='1'?true:false" class="glyphicon glyphicon-ok"></span><a ng-click="page.model.sendMobileCode(page.model.forinbitinfo)" ng-show="page.model.forinbitinfo.MIsVerified!=='1'?true:false" href="javascript:void(0);">&nbsp;&nbsp;verify mobile</a>
        </div>
        </b>
        </span>
        <br>
        <textarea id="textinbit" rows="7" cols="15" class="form-control" ng-model="page.model.forinbitinfo.BitInfo"></textarea>
</div>
<hr>
<div class="col-lg-12">
    <button class="btn btn-danger pull-right" ng-copy="page.model.forinbitinfo.BitInfo">Copy</button>
</div>
<div class="clearfix"></div>

<div class="" style="line-height: 29px; font-size: 13px;">
    <div class="row">
        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iCustomerPersonalDetails===1?false:true">
            <a href="javascript:void(0)" style="text-decoration:underline;color: red;">No Education &amp; Profession</a>
        </div>
        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iManagePhoto===1?false:true">
            <a href="javascript:void(0)" style="text-decoration:underline;color: red;">No ManagePhoto</a>
        </div>
        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iParentDetails===1?false:true">
            <a href="javascript:void(0)" style="text-decoration:underline;color: red;">No Parent Details</a>
        </div>

        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iPartnerPreference===1?false:true">
            <a href="javascript:void(0)" style="text-decoration:underline;color: red;">No Partner Preferences</a>
        </div>
        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iSiblingDetails===1?false:true">
            <ahref="javascript:void(0)" style="text-decoration:underline;color: red;">No Sibling Details</a>
        </div>
        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iAstroDetails===1?false:true">
            <a href="javascript:void(0)" style="text-decoration:underline;color: red;">No Astro Details</a>
        </div>

        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iPropertyDetails===1?false:true">
            <a href="javascript:void(0)" style="text-decoration:underline;color: red;">No Property Details</a>
        </div>
        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iRelativeDetails===1?false:true">
            <a href="javascript:void(0)" style="text-decoration:underline;color: red;">No Relative Details</a>
        </div>
        <div class="col-lg-4" ng-show="page.model.nodatasisplay.iReferenceDetails===1?false:true">
            <a href="javascript:void(0)" style="text-decoration:underline;color: red;">No Reference</a>
        </div>
    </div>
    <br>
    <br>
</div>

</script>
<script type="text/ng-template" id="verifyMobileContent.html">
    <form name="refForm" novalidate role="form" ng-submit="page.model.verifyMobCode(page.refForm.txtVerificationcode)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Mobile verification code sent successfully to {{page.model.forinbitinfo.MobileNumber}}
                <a href="javascript:void(0);" ng-click="page.model.closeinbit()">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25"></ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li class="clearfix">
                    <br>
                    <div class="row">
                        <div class="col-lg-7">
                            <span style="color: #000; font-size: 13px; margin-left: 20px; font-weight: bold;">Click yes, If you want to verify by you 
                        </span>
                        </div>
                        <div id="Divrbt" class="radio-group-my col-lg-4">
                            <label class="control-label">
                         <md-radio-group name="rbtnVerf" layout="row" ng-model="page.refForm.rbtnVerf" class="md-block" ng-change="page.refForm.rbtnVerf==='2'?page.model.closeinbit():''" flex-gt-sm >
                            <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                            <md-radio-button value="2"> No </md-radio-button>
                        </md-radio-group>
                       </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div ng-if="page.refForm.rbtnVerf==='1'" class="col-lg-offset-3">
                            <b>Mobile verify Code : </b><input type="text" height="40" ng-model="page.refForm.txtVerificationcode" maxlength="6" class="form-control" style="width:50%;" />
                            <br>
                        </div>
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-offset-4">
                        <button class="md-raised md-warn md-hue-2 md-button md-ink-ripple" type="submit">submit</button>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</script>

</div>
<style type="text/css">
    .floatleftclass {
        margin-left: 463px;
        float: left;
        margin-top: -20px;
    }
</style>