<div class="right_col" role="main" id="editandviewprofile">
    <div class="search_page_main">
        <div>
            <div class="panel-default">
                <div class="panel-heading">
                    <h4 class="col-lg-4" style="color: #A00201;font-size: 17px;">Search Kaakateeya Customers</h4>
                    <div class="col-lg-3" style="color: black;font-size: 13px;">
                        <md-radio-group name="IsHighestDegree" ng-change="page.model.genderChange(page.model.obj.rdnGender);" layout="row" ng-model="page.model.obj.rdnGender" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="3" class="md-primary">Both</md-radio-button>
                            <md-radio-button value="1"> Male </md-radio-button>
                            <md-radio-button value="2"> Female </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-lg-5" style="color: black;font-size: 13px;">
                        <label ng-repeat="role in page.model.profileidstatus">
                        <md-checkbox data-checklist-change="page.model.chkChange();"  data-checklist-model="page.model.obj.chkProfileIDsts" data-checklist-value="role.value"> {{role.name}}&nbsp;
                          </md-checkbox>
                       </label>

                    </div>
                </div>
                <div class="row maindiv panel-body">
                    <div class="col-lg-2"><input type="text" focus-me="true" ng-keyup="$event.keyCode == 13 && page.model.ViewAllsubmit(page.model.obj,1,10);" placeholder="Surname" ng-model="page.model.obj.surname" class="form-control"> </div>
                    <div class="col-lg-2"><input type="text" ng-keyup="$event.keyCode == 13 && page.model.ViewAllsubmit(page.model.obj,1,10);" placeholder="Name" ng-model="page.model.obj.Name" class="form-control"></div>
                    <div class="col-lg-2"> <input type="text" ng-keyup="$event.keyCode == 13 && page.model.ViewAllsubmit(page.model.obj,1,10);" placeholder="Profile ID" ng-model="page.model.obj.ProfileIDsearch" class="form-control"></div>
                    <div class="col-lg-2"><input type="text" ng-keyup="$event.keyCode == 13 && page.model.ViewAllsubmit(page.model.obj,1,10);" placeholder="KMPLID" ng-model="page.model.obj.KmlProfileID" class="form-control"></div>
                    <div class="col-lg-1"><button class="btn btn-warning pull-left" ng-click="page.model.ViewAllsubmit(page.model.obj,1,10)">Go</button></div>
                    <div class="col-lg-3" ng-show="page.model.totalrowsshow">
                        <label class="col-lg-10" for="noofRecords" class="control-label">Total Records : {{page.model.TotalRows}}</label>
                        <input type="image" src="src\images\EXCEL.jpg" ng-click="page.exportexcel(page.model.data, page.model.columns)" style="height: 20px;width: 20px;" class="css-class"></input>
                    </div>
                </div>
            </div>

        </div>
        <complex-grid ng-if="page.model.columns" config="page.model" model="page.model"></complex-grid>
    </div>
    <script type="text/ng-template" id="settlePopup.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click='page.model.closepopup();'>×</button>
            <h4 class="modal-title">Settle/Delete Details</h4>
        </div>
        <div class="modal-body">
            <div class="SetlemainCls" id="settle" ng-if="page.model.typeOfProfile==='S'">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="" class="control-label">Bride Details</label>
                            </div>
                            <div class="col-lg-9">
                                <a class="col-lg-2" href="javascript:void(0);">{{page.model.settleArr.BrideProfileID}}</a>
                                <p class="col-lg-10" for="">{{page.model.settleArr.BrideName}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="" class="">Bride Owner</label>
                            </div>
                            <div class="col-lg-8">
                                <p for="" class="">{{page.model.settleArr.BrideOwner}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="" class="control-label">Groom Details</label>
                            </div>
                            <div class="col-lg-9">
                                <a class="col-lg-2" href="javascript:void(0);">{{page.model.settleArr.GroomProfileID}}</a>
                                <p class="col-lg-10" for="">{{page.model.settleArr.GroomName}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="" class="">Groom Owner</label>
                            </div>
                            <div class="col-lg-8">
                                <p for="" class="control-label">{{page.model.settleArr.GroomOwner}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="" class="control-label">Settled Date</label>
                            </div>
                            <div class="col-lg-9">
                                <p for="" class="col-lg-10">{{page.model.settleArr.SettledDate}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="" class="control-label">Entered By </label>
                            </div>
                            <div class="col-lg-8">
                                <p for="" class="control-label">{{page.model.settleArr.settletedby}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div>{{page.model.settleArr.Settlenotes}} </div>
            </div>
            <div class="SetlemainCls" id="delete" ng-if="page.model.typeOfProfile==='D'">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="">Deleted Details </label>
                            </div>
                            <div class="col-lg-8">
                                <p for="">{{page.model.settleArr.ProfileID}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="">Deleted Profile Owner</label>
                            </div>
                            <div class="col-lg-8">
                                <p for="">{{page.model.settleArr.Name}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="" class="">Deleted Date </label>
                            </div>
                            <div class="col-lg-8">
                                <p for="" class="">{{page.model.settleArr.DeletedDate}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="" class="">Entered By </label>
                            </div>
                            <div class="col-lg-8">
                                <p for="" class="">{{page.model.settleArr.DeleteBy}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">{{page.model.settleArr.deletenotes}}</div>
                </div>
                <br>

            </div>

            <div class="SetlemainCls" id="Inactive" ng-if="page.model.typeOfProfile==='I'">
                <table class="table">
                    <thead style="background-color: #fdca52;">
                        <tr>
                            <th>InactivateFromdate</th>
                            <th>inactivetodate</th>
                            <th>Reason</th>
                            <th>inactivaterequestby</th>
                            <th>inactivate by Emp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{page.model.settleArr.InactivateFromdate}}</td>
                            <td>{{page.model.settleArr.inactivetodate}}</td>
                            <td>{{page.model.settleArr.Reason4InActive}}</td>
                            <td>{{page.model.settleArr.inactivaterequestby}}</td>
                            <td>{{page.model.settleArr.ProfileOwnerEmpName}}</td>
                        </tr>

                    </tbody>
                </table>

                <!--<complex-grid model="page.model"></complex-grid>-->

            </div>
        </div>
    </script>

</div>