<div class="right_col" role="main">
    <div class="search_page_main">
        <h4 style="font-size: 18px;
    color: #b10c0c;">Search Membership Package</h4>
        <br>
        <div class="regmain">
            <div class="row">
                <div class="col-lg-3">
                    <label for="profileid" class="control-label pull-right">ProfileID</label>
                </div>
                <div class="col-lg-2">
                    <input focus-me="true" allow-only-numbers type="text" maxlength="9" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-model="page.model.txtProfileID" class="form-control" ng-keyup="$event.keyCode == 13 && page.model.EmployeePayment(page.model.txtProfileID)">
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-danger" ng-click="page.model.EmployeePayment(page.model.txtProfileID)">Go</button>
                </div>
                <div class="col-lg-2" ng-show="page.model.freshLink">
                    <a href="javascript:void(0)" ng-click="page.model.oldtablepayment(page.model.txtProfileID)">
                     old Payment
                   </a>
                </div>
                <div class="col-lg-2">
                    <md-button class="md-primary" ng-click="page.model.viewProfileRedirect();" ng-if="page.model.CustName!==''"> {{page.model.CustName}} ({{page.model.ProfileOwner}})</md-button>
                </div>
            </div>
            <div>
                <md-button class="md-primary pull-right" ng-show="page.model.freshLink" ng-click="page.model.paymentInsertLink(page.model.txtProfileID,page.model.RenewalStatus===1?'Balance':'renewal');"> {{ page.model.RenewalStatus===1?'Balance':'Renewal'}} </md-button>
            </div>
            <div>
                <complex-grid ng-if="page.model.data" model="page.model" config="page.model" hidesearch="true" hidepaging="true"></complex-grid>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="oldtablepayment.html">
        <div class="pull-right">
            <a href="javascript:void(0);" ng-click="page.model.close()" style="padding:7px;"> <i class="fa fa-times" aria-hidden="true" style="fill:#c73e5f;font-size: 16pt;"></i></a>
        </div>
        <single-grid model="page.model.singlegrid" config="page.model.singlegrid"></single-grid>
    </script>
</div>

<script type="text/ng-template" id="paymentEditPopup.html">
    <form name="payEditForm" role="form" ng-submit="payEditForm.$valid && page.model.EditPaymentSubmit();">
        <div class="modal-header">
            <h3 class="modal-title text-center">Edit Payment details
                <a href="javascript:void(0);" ng-click="page.model.close();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25"></ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body form-group">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row form-group">
                        <div class="col-lg-6">Agreed Amount</div>
                        <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.editAgreedAmt" required></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">Paid Amount</div>
                        <div class="col-lg-6"><input type="text" class="form-control" ng-model="page.model.editPaidAmt" required></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3">Pay description</div>
                <div class="col-lg-9"><textarea name="" id="" cols="30" rows="5" class="form-control" ng-model="page.model.editDescriptionAmt" required></textarea></div>
            </div>
        </div>
        <div class="modal-footer row">
            <div class="col-lg-5"><input type="submit" value="submit" class="btn btn-danger pull-right"></div>
            <div class="col-lg-2"><input type="button" value="cancel" class="btn btn-default pull-left" ng-click="page.model.close();"></div>
        </div>
    </form>
</script>

<style>
    .fixed-table-container thead th .sortable,
    .detail {
        cursor: pointer;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 30px;
        background-color: #fdca52;
        color: black;
    }
</style>