  .fixed-table-container thead th .sortable,
  .detail {
      cursor: pointer;
      background-position: right;
      background-repeat: no-repeat;
      padding-right: 30px;
      background-color: #fdca52;
      color: black;
  }