  .fixed-table-container thead th .sortable,
  .detail {
      cursor: pointer;
      background-position: right;
      background-repeat: no-repeat;
      padding-right: 30px;
      background-color: #fdca52;
      color: black;
  }
  
  .modalclassdashboardremainder {
      z-index: 9999999 !important;
      top: 0%;
      left: 0%;
  }
  
  .modalclassofedit {
      z-index: 9999999999 !important;
      top: 0%;
      left: 0%;
  }
  
  .modalclassofedit .modal-dialog.modal-md {
      width: 50%;
  }
  
  .modalclassofedit {
      .md-tab {
          padding: 14px 15px;
      }
  }
  
  .modalclassofedit {
      .pop_label_left {
          width: 40%;
      }
  }