<div class="right_col">
    <div id="viewProfileIddd">
        <!-- <div id="printablediv">
            <div class="profile_full_main">
                <div style="border: 1px solid rgb(255, 255, 255);" class="">
                    <div id="upAll">
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="src/images/logo2.png" class="pull-left" style="width: 165px;
                                            height: 83px;">&nbsp;
                            </div>
                            <div class="col-lg-9 col-lg-offset-1" style="font-size: 14px;font-weight: bold;">
                                <label style="float: left;margin-top: 4px;" ng-bind-html="proceedtextforbothsides">Mr.Avirneni Kishore is "INTERESTED" in your Profile.Ensure to express your opinion as</label>
                                <br>
                                <div class="clearfix">
                                </div>
                                <div class="row">
                                    <a title="Mr. Avirneni Kishore will be receiving your positive reply on proceeding further with his profile and your relationship manager will be working on this simultaneously to take it ahead" href="javascript:void(0)" class="classproceeddontproceed"
                                        ng-click="btnProceed_Click('btnProceed')">Proceed</a>
                                    <label style="float: left;margin-left:4px;margin-top: 4px;">If Interested.</label>
                                    <a title="Your not interested openion will be conveyed to Mr. Avirneni Kishore through your relationship manager" class="classproceeddontproceed2" href="javascript:void(0)" ng-click="btnProceed_Click('btnDontProceed')">Don't Proceed</a>
                                    <label style="float: left;margin-left:4px;margin-top: 4px;" class="">If not Interested.</label>
                                </div>
                            </div>
                            <div>
                                <div class="profile_full_header_in_ui clearfix col-lg-4">
                                    <a title="Mr. Avirneni Kishore will be receiving your positive reply on proceeding further with his profile and your relationship manager will be working on this simultaneously to take it ahead" href="javascript:void(0)" ng-click="btnProceed_Click('btnProceed')">Proceed</a>
                                    <a title="Your not interested openion will be conveyed to Mr. Avirneni Kishore through your relationship manager" href="javascript:void(0)" ng-click="btnProceed_Click('btnDontProceed')">Don't Proceed</a>
                                </div>
                            </div>
                            <div class="profile_full_header_in_ui clearfix col-lg-4">
                                <div id="UpdatePanel6">
                                    <a id="btnaccept" href="javascript:void(0)" ng-click="acceptreject('btnaccept')">Accept</a>
                                    <a id="btnreject" href="javascript:void(0)" ng-click="acceptreject('btnreject')">Reject</a>
                                </div>
                            </div>
                            <div class="profile_full_header_in_ui clearfix col-lg-3 col-lg-offset-7" aria-hidden="false">
                                <a class="aspNetDisabled ">KAKHD1203084</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="divProfile" class="profile_full_header clearfix">
                    <div class="row">
                        <div class="col-lg-2">
                            <div id="UpdateImagesContent">
                                <div id="divmask" class="profile_full_header_pic">
                                    <img name="iProfilePic" id="iProfilePic" ng-click="photoalbum()" style="height:150px;width:150px;cursor:pointer;" role="button" tabindex="0" ng-src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_120686_Images/Img3_Images/011206867_ApplicationPhoto.jpg"
                                        src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_120686_Images/Img3_Images/011206867_ApplicationPhoto.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="profile_full_header_in">
                                <h6>
                                    <span id="lblName">Avirneni Kishore</span>
                                    <span>
                                            <span id="lblonlychild" style="font-weight:bold;"></span>
                                    <span id="lblProfileIDs"> (Profile ID:011206867)</span>
                                    </span>
                                </h6>
                                <p>
                                    <span id="lblAboutMyself" class="lblAboutMyself" style="color:Black;font-weight:bold;color: #000">About Myself :</span>
                                </p>
                                <p>
                                    <span id="lblDescMy" class="fontsize " style="width: 750px;color:DarkBlue;"></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <img name="iProfilePic" ng-click="viewhoroscopeimage()" style="height: 160px; width: 150px; cursor: pointer;" role="button" tabindex="0" aria-hidden="false" class="" ng-src="src/images/view_horoscope_image.jpg" src="src/images/view_horoscope_image.jpg">
                        </div>
                    </div>
                </div>
                <div id="printdiv">
                    <div class="personal_inform_main">
                        <div>
                            <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                <h6>
                                    <span style="color: black;font-weight: 700;">My Basic Details</span></h6>
                            </div>
                            <div id="ctl00_divsub" class="personal_inform_main_in">
                                <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''"
                                    class="personal_inform_main_in_list clearfix">
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">NAME</span>
                                        <span style="color:DarkBlue;"> 
                                            <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Kishore Avirneni</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Marital Status</span>
                                        <span style="color:DarkBlue;"> 
                                            <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Unmarried</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Height</span>
                                        <span style="color:DarkBlue;"> 
                                             <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">5'6 in - 167 cms</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Caste</span>
                                        <span style="color:DarkBlue;"> 
                                             <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Kamma</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Religion</span>
                                        <span style="color:DarkBlue;"> 
                                             <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Hindu</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Mother Tongue</span>
                                        <span style="color:DarkBlue;"> 
                                      <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Telugu</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Age</span>
                                        <span style="color:DarkBlue;"> 
                                        <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">07-May-1989 (28)</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Time of Birth (Hrs)</span>
                                        <span style="color:DarkBlue;"> 
                                             <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">22:20</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Place of Birth</span>
                                        <span style="color:DarkBlue;"> 
                                             <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Vissannapeta</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Star(Padam)</span>
                                        <span style="color:DarkBlue;"> 
                                         <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Rohini (4)</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Raasi</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Not Specified</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Gothram</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Talluru</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Lagnam</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Not Given</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Complexion</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Fair</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                <h6>
                                    <span style="color: black;font-weight: 700;">My Location Information</span></h6>
                            </div>
                            <div id="ctl00_divsub" class="personal_inform_main_in">
                                <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''"
                                    class="personal_inform_main_in_list clearfix">
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Country Living</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">India</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">State Living</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Karnataka</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">City Living</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Bengaluru</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                <h6>
                                    <span style="color: black;font-weight: 700;">My Profession &amp; Education Information</span></h6>
                            </div>
                            <div id="ctl00_divsub" class="personal_inform_main_in">
                                <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''">
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Profession</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Associate Consultant, ITC INFOTECH, Bengaluru, KA</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Monthly Income</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Rs - 60000</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Profession Details</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Associate I.T Consultant, ITC Infotech, Bangalore since April 2017. He had also past experience at Bengaluru.</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;"></span>
                                        <span style="color:DarkBlue;"> 
                                                                                              <span  style="color:DarkBlue;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BTech (ECE) : MIC ENGINEERING COLLEGE, Kanchikacherla ,  AP,  2011</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;"></span>
                                        <span style="color:DarkBlue;"> 
                                                                                              <span  style="color:DarkBlue;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diploma (Electronics) : POLYTECHNIC, Eluru,  AP</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;"></span>
                                        <span style="color:DarkBlue;"> 
                                                                                              <span  style="color:DarkBlue;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SSC : Sri Vidya Public School, veleru,  AP</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                <h6>
                                    <span style="color: black;font-weight: 700;">About My Family</span></h6>
                            </div>
                            <div id="ctl00_divsub" class="personal_inform_main_in">
                                <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''">
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Father Name</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Udaya Bhaskara Rao     </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Father Contact Details</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;"><b>Phone : </b><img src="http://kaakateeya.com/dist/images/mobile_icon.png"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Email ID : </b> <img src="http://kaakateeya.com/dist/Images/ico_mail.png"></span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Father Father Name &amp; Native</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>

                                        <span style="color:DarkBlue;">Ramakotaiah, ( Late ) Farmer<img src="http://kaakateeya.com/dist/images/icon.land.jpg"> &amp; <img src="http://kaakateeya.com/dist/images/mobile_icon.png"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Native: </b>Remalle, Krishna</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Mother Name</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>

                                        <span style="color:DarkBlue;">Kantha Kumari    </span>
                                        </span>
                                    </p>

                                    <p>

                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Mother Contact Details</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;"><b>Phone : </b><img src="http://kaakateeya.com/dist/images/icon.land.jpg"> &amp; <img src="http://kaakateeya.com/dist/images/mobile_icon.png"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Email ID : </b><img src="http://kaakateeya.com/dist/images/ico_mail.png"></span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Mother Father Name &amp; Native</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Kaja Venkateswara Rao, Farmer<img src="http://kaakateeya.com/dist/images/icon.land.jpg"> &amp; <img src="http://kaakateeya.com/dist/images/mobile_icon.png"> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Native: </b>Vissannapet, Krishna, AP</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Property</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Family - 100 Lakhs </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Property Details</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Half Acre Mango Garden at Remalle,  Two House sites at Remalle and house. at Remalle.</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">No of Siblings</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">No Of Brothers: 0    No Of Sisters: 1</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                <h6>
                                    <span style="color: black;font-weight: 700;">My Contact &amp; Email</span></h6>
                            </div>
                            <div id="ctl00_divsub" class="personal_inform_main_in">
                                <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''">
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Address</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Available</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Contact</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;"><img src="http://kaakateeya.com/dist/images/icon.land.jpg">  <img src="http://kaakateeya.com/dist/images/mobile_icon.png"><img src="http://kaakateeya.com/dist/Images/ico_mail.png"></span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                <h6>
                                    <span style="color: black;font-weight: 700;">My Brothers and Sisters</span></h6>
                            </div>
                            <div id="ctl00_divsub" class="personal_inform_main_in">
                                <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''">
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Sister (Elder)</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Vanitha, Intermediate, 28asha88@gmail.com &nbsp;&nbsp;<b>W/O:</b> Venkateswara Rao, Agriculture, Eedulagudem near Agiripalli ( Nuzvid), <b>S/O: </b>Kondasani Pitcheswara Rao, Farmer, <b>Native: </b>Eedulagudem, Krishna, A.P </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                <h6>
                                    <span style="color: black;font-weight: 700;">My Father side &amp; Mother side Family</span></h6>
                            </div>
                            <div id="ctl00_divsub" class="personal_inform_main_in">
                                <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''">
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Father Brother (E)</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Sambasiva Rao, Farmer, 28asha88@gmail.com, Remalle </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Father Brother (E)</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Veerabhadra Rao, Farmer, 28asha88@gmail.com, Remalle </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Father Sister (E)</span>
                                        <span style="color:DarkBlue;"> 
                                              <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">Lakshmi Samrajyam&nbsp;&nbsp;<b>W/O:</b> Kondasani Pitcheswara Rao (Late ), Agriculture, <b>Native: </b>Eedulagudem, Krishna, AP , <b>Current Location: </b>Eedulagudem</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                <h6>
                                    <span style="color: black;font-weight: 700;">Profile Relation Ship Manager</span></h6>
                            </div>
                            <div id="ctl00_divsub" class="personal_inform_main_in">
                                <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''">
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">RelationShipManager</span>
                                        <span style="color:DarkBlue;"> 
                                            <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">sandhya Adusumilli ( 08:00 to 19:00 ) </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">Contact Details</span>
                                        <span style="color:DarkBlue;"> 
                                            <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">91 - 9394893947</span>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="lblContentName" style="color:Black;font-weight:bold;">EmailID</span>
                                        <span style="color:DarkBlue;"> 
                                                                                          <span  style="color:DarkBlue;">:</span>
                                        <span style="color:DarkBlue;">yvrao@telugumarriages.com</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row" style="font-size: 14px;font-weight: bold;margin-left: 40px;">
                        <br>
                        <label style="float: left;margin-top: 4px;" ng-bind-html="proceedtextforbothsides">Mr.Avirneni Kishore is "INTERESTED" in your Profile.Ensure to express your opinion as</label>
                        <a title="Mr. Avirneni Kishore will be receiving your positive reply on proceeding further with his profile and your relationship manager will be working on this simultaneously to take it ahead" href="javascript:void(0)" class="classproceeddontproceed"
                            ng-click="btnProceed_Click('btnProceed')">Proceed</a>
                        <label style="float: left;margin-left:4px;margin-top: 4px;">If Interested.</label>
                        <a title="Your not interested openion will be conveyed to Mr. Avirneni Kishore through your relationship manager" class="classproceeddontproceed" href="javascript:void(0)" ng-click="btnProceed_Click('btnDontProceed')">Don't Proceed</a>
                        <label style="float: left;margin-left:4px;margin-top: 4px;">If not Interested.</label>
                    </div>
                    <div class="row pull-right">
                        <div class="profile_full_header_in_ui clearfix col-lg-12">
                            <div id="UpdatePanel6">
                                <a id="btnaccept" href="javascript:void(0)" ng-click="acceptreject('btnaccept')">Accept</a>
                                <a id="btnreject" href="javascript:void(0)" ng-click="acceptreject('btnreject')">Reject</a>
                            </div>
                        </div>
                        <div class="profile_full_header_in_ui clearfix col-lg-12">
                            <a class="aspNetDisabled ">KAKHD1203084</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <br>
                </div>
            </div>
        </div> -->

        <div>
            <div id="printablediv">
                <div class="profile_full_main">
                    <div style="border: solid 1px #fff;">
                        <div id="upAll">
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="src/images/logo2.png" class="pull-left" style="width: 165px;
                                            height: 83px;">&nbsp;</img>
                                </div>
                                <div class="col-lg-9 col-lg-offset-1" style="font-size: 14px;font-weight: bold;">
                                    <label style="float: left;margin-top: 4px;" ng-bind-html="proceedtextforbothsides"></label>
                                    <br>
                                    <div class="clearfix">
                                    </div>
                                    <div class="row">
                                        <a title="{{titleproceed}}" href="javascript:void(0)" class="classproceeddontproceed" ng-click="btnProceed_Click('btnProceed')">Proceed</a>
                                        <label style="float: left;margin-left:4px;margin-top: 4px;">If Interested.</label>
                                        <a title="{{titledontproceed}}" class="classproceeddontproceed2" href="javascript:void(0)" ng-click="btnProceed_Click('btnDontProceed')">Don't Proceed</a>
                                        <label style="float: left;margin-left:4px;margin-top: 4px;" class="">If not Interested.</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="profile_full_header_in_ui clearfix col-lg-4">
                                        <a title="{{titleproceed}}" href="javascript:void(0)" ng-click="btnProceed_Click('btnProceed')">Proceed</a>
                                        <a title="{{titledontproceed}}" href="javascript:void(0)" ng-click="btnProceed_Click('btnDontProceed')">Don't Proceed</a>
                                    </div>
                                </div>
                                <div class="profile_full_header_in_ui clearfix col-lg-3 col-lg-offset-7">
                                    <a class="aspNetDisabled">{{btnticket}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="divProfile" class="profile_full_header clearfix">
                        <div class="row">
                            <div class="col-lg-2">
                                <div id="UpdateImagesContent">
                                    <div id="divmask" class="profile_full_header_pic">
                                        <img name="iProfilePic" id="iProfilePic" ng-click="photoalbum()" ng-src="{{personalinfo[0].ApplicationPhotoPath}}" style="height:150px;width:150px;cursor:pointer;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="profile_full_header_in">
                                    <h6>
                                        <span id="lblName">{{personalinfo[0].NAME}}</span>
                                        <span>
                                            <span id="lblonlychild" style="font-weight:bold;"></span>
                                        <span id="lblProfileIDs"> (Profile ID:{{personalinfo[0].ProfileID}})</span>
                                        </span>
                                    </h6>
                                    <p>
                                        <span id="lblAboutMyself" class="lblAboutMyself" style="color:Black;font-weight:bold;color: #000">About Myself :</span>
                                    </p>
                                    <p>
                                        <span id="lblDescMy" class="fontsize" style="width: 750px;color:DarkBlue;">{{aboutmyself[0].Aboutyourself}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <img name="iProfilePic" ng-click="viewhoroscopeimage()" ng-src="{{horoimagesrc}}" style="height:160px;width:150px;cursor:pointer;" />
                            </div>
                        </div>
                    </div>
                    <div id="printdiv">
                        <div class="personal_inform_main">
                            <div ng-repeat="item in arr" ng-if="item.header=='Headings' || item.header=='About'?'':item.header">
                                <div id="ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;">
                                    <h6>
                                        <span id="ctl00_lblHeadings" class="lblHeadings" style="color: black;font-weight: 700;">{{item.header}}</span></h6>
                                </div>
                                <div id="ctl00_divsub" class="personal_inform_main_in">
                                    <div id="ctl00_divStyle" ng-class="item.header=='My Basic Details' || item.header=='My Location' ||item.header=='My Location Information'||item.header=='Basic details'|| item.header=='Location' || item.header=='Religious information'?'personal_inform_main_in_list clearfix': ''">
                                        <p ng-repeat="itm in item.value">
                                            <span id="ctl00_innerRepeater_ctl00_lblContentName" class="lblContentName" style="color:Black;font-weight:bold;" ng-bind-html="bindeduction(itm.columnname || itm.ColumnName)"></span>
                                            <span style="color:DarkBlue;"> 
                                              <span ng-if="(itm.columnname!='' && itm.columnname!=null) ||(itm.ColumnName!='' && itm.ColumnName!=null && itm.ColumnName!=='Education') " style="color:DarkBlue;">:</span>
                                            <span ng-bind-html="itm.value || itm.Value" style="color:DarkBlue;"></span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row" style="font-size: 14px;font-weight: bold;margin-left: 40px;">
                            <br>
                            <label style="float: left;margin-top: 4px;" ng-bind-html="proceedtextforbothsides"></label>
                            <a title="{{titleproceed}}" href="javascript:void(0)" class="classproceeddontproceed" ng-click="btnProceed_Click('btnProceed')">Proceed</a>
                            <label style="float: left;margin-left:4px;margin-top: 4px;">If Interested.</label>
                            <a title="{{titledontproceed}}" class="classproceeddontproceed" href="javascript:void(0)" ng-click="btnProceed_Click('btnDontProceed')">Don't Proceed</a>
                            <label style="float: left;margin-left:4px;margin-top: 4px;">If not Interested.</label>
                        </div>
                        <div class="row pull-right">
                            <div class="profile_full_header_in_ui clearfix col-lg-12">
                                <div id="UpdatePanel6">
                                    <a id="btnaccept" href="javascript:void(0)" ng-click="acceptreject('btnaccept')">Accept</a>
                                    <a id="btnreject" href="javascript:void(0)" ng-click="acceptreject('btnreject')">Reject</a>
                                </div>
                            </div>
                            <div class="profile_full_header_in_ui clearfix col-lg-12">
                                <a class="aspNetDisabled">{{btnticket}}</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">
            .profile_full_header_in_ui a {
                border-radius: 3px;
                margin: 0 0 0 10px;
                display: block;
                float: left;
                padding: 10px 20px;
                text-transform: uppercase;
                color: white;
                background-color: #d83222;
                border: solid 1px #ccc;
                transition: all 0.4s ease-in-out;
            }
            
            .classproceeddontproceed {
                border-radius: 3px;
                margin: 0 0 0 10px;
                display: block;
                float: left;
                padding: 5px 20px;
                text-transform: uppercase;
                color: white;
                background-color: #d83222;
                border: solid 1px #ccc;
                transition: all 0.4s ease-in-out;
            }
            
            .classproceeddontproceed2 {
                border-radius: 3px;
                margin: 0 0 0 10px;
                display: block;
                float: left;
                padding: 5px 20px;
                text-transform: uppercase;
                color: white;
                background-color: #d83222;
                border: solid 1px #ccc;
                transition: all 0.4s ease-in-out;
            }
            
            a:focus,
            a:hover {
                color: white !important;
            }
            
            .modal-backdrop {
                z-index: 1040 !important;
            }
        </style>



    </div>
</div>