<div class="right_col" id="keywordlikesearch">
    <div class="panel-group">
        <div class="panel-collapse collapse in">
            <div class="panel-default regValheader" style="margin-top: -12px;box-shadow: 2px 2px 6px #ccc;" is-open="page.model.opendiv">
                <div class="panel-heading" style="padding: 13px 0px 30px;color: rgb(160, 2, 1);border: 1px solid #ccc">
                    <div class="col-lg-2" style="font-size: 17px;font-weight: bold;cursor:pointer;" ng-click="page.model.panelbodyhide=!page.model.panelbodyhide;page.model.controllistbox=false;">
                        Keyword Search <i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.opendiv, 'glyphicon-chevron-right': !page.model.opendiv}"></i>
                    </div>
                    <div class="col-lg-4" style="color:black;" ng-show="page.model.panelbodyhide">
                        <label for="All Profileid" class="col-lg-2 classlabelverify">Gender</label>
                        <div class="col-lg-9" style="font-size:13px;">
                            <md-radio-group name="rbtnGender" layout="row" ng-model="page.model.rbtnGender" class="md-block" flex-gt-sm>
                                <md-radio-button value="" class="md-primary">Both</md-radio-button>
                                <md-radio-button value="1" class="md-primary">Male</md-radio-button>
                                <md-radio-button value="2"> Female</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="col-lg-4" style="color:black;" ng-show="page.model.panelbodyhide">
                        <label for="All Profileid" class="col-lg-5 classlabelverify">Application status</label>
                        <div class="col-lg-6" style="font-size:13px;">
                            <select id="applicationStatus" style="margin-top:-10px;" ng-model="page.model.applicationids" multiple multiselectdropdown ng-options="item.value as item.label for item in page.model.Applicationstatusarray" data-live-search='true'>                                        
                                    </select>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-show="page.model.panelbodyhide">
                        <div class="row">
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="All phones" ng-model="page.model.allphones"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="All emails" ng-model="page.model.allemails"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="All native places" ng-model="page.model.allnativeplaces"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="All surnames" ng-model="page.model.allsurnames"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="CEducation all" ng-model="page.model.allEducation"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="CProfession all" ng-model="page.model.allProfession"> </input>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2%;">
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="Father All" ng-model="page.model.allFather"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="Mother All" ng-model="page.model.allMother"> </input>
                            </div>

                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="Brother All" ng-model="page.model.allBrother"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="Sister All" ng-model="page.model.allSister"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="C All" ng-model="page.model.c_all"> </input>
                            </div>
                            <!-- 30_10_2017_Added -->
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="Partner All" ng-model="page.model.P_all"> </input>
                            </div>
                            <!-- end -->
                            <!-- <div class="col-lg-2"><input class="form-control" type="text" placeholder="Father Brother All" ng-model="page.model.allFB"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="Father Sister All" ng-model="page.model.allFS"> </input>
                            </div> -->
                        </div>
                        <div class="row" style="margin-top: 2%;">
                            <!-- <div class="col-lg-2"><input class="form-control" type="text" placeholder="Mother Brother All" ng-model="page.model.allMB"> </input>
                            </div>
                            <div class="col-lg-2"><input class="form-control" type="text" placeholder="Mother Sister All" ng-model="page.model.allMS"> </input>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button class="button_custom col-lg-1 col-lg-offset-5" style="display:initial;height: 37px;
                                 padding: 0px;" type="submit" ng-click="page.model.keywordlikesearch(1,100,'grid','all');">Search</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-heading row" style="color: rgb(160, 2, 1);">
                        <div class="col-lg-2" style="font-size: 17px;font-weight: bold;cursor:pointer;width: 200px;" ng-click="page.model.controllistbox=!page.model.controllistbox;page.model.panelbodyhide=false;">
                            Field Wise Search<i class="glyphicon" ng-class="{'glyphicon-chevron-down': page.model.controllistbox, 'glyphicon-chevron-right': !page.model.controllistbox}"></i>
                        </div>
                        <div class="col-lg-3" style="color:black;" ng-show="page.model.controllistbox">
                            <label for="All Profileid" class="col-lg-3 classlabelverify">Gender</label>
                            <div class="col-lg-9" style="font-size:13px;">
                                <md-radio-group name="rbtnGender" layout="row" ng-model="page.model.rbtnGender" class="md-block" flex-gt-sm>
                                    <md-radio-button value="1" class="md-primary">Male</md-radio-button>
                                    <md-radio-button value="2"> Female</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="col-lg-4" style="color:black;" ng-show="page.model.controllistbox">
                            <label for="All Profileid" class="col-lg-6 classlabelverify">Application status</label>
                            <div class="col-lg-6" style="font-size:13px;">
                                <select style="margin-top:-10px;" ng-model="page.model.applicationids" multiple multiselectdropdown ng-options="item.value as item.label for item in page.model.Applicationstatusarray" data-live-search='true'>                                        
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2" style="color:black;" ng-show="page.model.controllistbox">
                            <label for="All Profileid" class="col-lg-5 classlabelverify">Domacile</label>
                            <div class="col-lg-7" style="font-size:13px;">
                                <md-radio-group name="rbtnGender" layout="row" ng-model="page.model.rbtndomacile" class="md-block" flex-gt-sm>
                                    <md-radio-button value="1" class="md-primary">India</md-radio-button>
                                    <md-radio-button value="0" class="md-primary">Abroad</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="row" ng-show="page.model.controllistbox">
                        <div class="col-lg-3" ng-if="true">
                            <input style="width:265px;" type="text" class="form-control" ng-model="page.model.txtinputfileds" placeholder="List of Fields"></input>
                            <select style="height:600px;width: 265px;" multiple="multiple">
                             <option style="padding: 9px;" ng-style="{'color':item.style}" ng-repeat="item in page.model.Searchfields | filter:page.model.txtinputfileds" value="{{item.value}}" ng-click="page.model.onchangeselectlistvalues(item.Text)">{{item.Text}}</option>
                            </select>
                        </div>
                        <div class="col-lg-9" ng-if="true">
                            <br>
                            <div class="col-lg-12">
                                <div class="row" ng-show="page.model.controllistbox">
                                    <div class="col-lg-3">
                                        <label for="All Profileid" style="padding-bottom: 7px;" class="">Caste</label>
                                        <div class="clearfix" style="font-size:13px;">
                                            <select ng-model="page.model.Casteids" multiple multiselectdropdown ng-options="item.value as item.label for item in page.model.Castearray" data-live-search='true'>                                        
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="All Profileid" style="padding-bottom: 7px;" class="">Marital Status</label>
                                        <div class="clearfix" style="font-size:13px;">
                                            <select ng-model="page.model.maritalstatusids" multiple multiselectdropdown ng-options="item.value as item.label for item in page.model.maritalstatusarray" data-live-search='true'>                                        
                                           </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <label for="All Profileid" style="padding-bottom: 7px;" class="">Age</label>
                                        <div class="clearfix" style="font-size:13px;margin-top:-10px;">
                                            <input type="number" ng-model="page.model.txtfromagekey" style="width: 58px;float: left;height: 32px;" />
                                            <input type="number" ng-model="page.model.txttoagekey" style="width: 58px;float: left;height: 32px;" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="All Profileid" style="padding-bottom: 7px;" class="">Height</label>
                                        <div class="clearfix" style="font-size:13px;margin-top:-10px;">
                                            <input type="number" ng-model="page.model.txtfromheightkey" style="width: 58px;float: left;height:32px;" />
                                            <input type="number" ng-model="page.model.txttoheightkey" style="width: 58px;float: left;height:32px;" />
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label style="color: maroon; font-weight: bold; font-size: 14px;">Enter Query</label>
                                    </div>
                                    <div class="col-lg-12 pull-left">
                                        <textarea id="txtallsearch" ng-model="page.model.txtallkeywordsearh" rows="3" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="text-center row">
                                <button style="display:initial;margin-left: 2%;" class="button_custom" ng-click="page.model.keywordlikesearch(1,10,'grid');">Search</button>
                                <button style="display:initial;margin-left: 2%;" class="button_custom button_custom_reset" ng-click="page.model.reset();">Reset</button>
                                <button style="display:initial;margin-left: 2%;" class="button_custom" ng-click="page.model.keywordlikesearch(1,10,'slide');">Slideshow</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div ng-show="page.model.btnbacktosearch">
        <a class="excelshow slideImg" ng-if="page.model.grid.data.length>0" ng-click="page.model.bindSlide();" title="Slideshow" href="javascript:void(0)">
            <img style="width: 32px;height: 29px;" src="src/images/slideshowimg.png"></img>
        </a>
        <div class="col-lg-12" ng-hide="true"><button class="btn btn-danger col-lg-offset-7" ng-click="page.model.keywordcontrols=true;page.model.btnbacktosearch=true;">BacktoSearch</button></div>
        <complex-grid-new gid="'id1'" ng-if="page.model.grid.columns" config="page.model.grid" model="page.model.grid"></complex-grid-new>
    </div>
    <script type="text/ng-template" id="keywordlikesearch.html">
        <div class="modal-body">
            <complex-slide config="page.model.slide.config" model="page.model.slide"></complex-slide>
            <div class="clearfix"></div>
        </div>
    </script>
    <script type="text/ng-template" id="market.html">
        <div class="modal-body">
            <market-tickethistory ticketid="page.model.marketingTicketid"></market-tickethistory>
        </div>
    </script>
</div>
<style type="text/css">
    .datepicker3 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
    }
    
    .datepicker4 {
        background: url(src/images/date_icon.png) no-repeat 98% 44% !important;
        background-color: #f0f0cc !important;
    }
    
    .headerStyles {
        font-size: 16px;
    }
    
    .AllLinks {
        width: 480px !important;
    }
    
    .modelpayment .pane-vScroll {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 120px !important;
    }
</style>